Repository GoogleCloudPlatform/click-to-deploy, pull requests merged in 2019-07, with the labels that each got.

#584 Add KALM support to cassandra; elasticsearch; mariadb; memcached; nginx apps.
  k8s/cassandra/Makefile
  k8s/cassandra/chart/cassandra/templates/application.yaml.template
  k8s/cassandra/chart/cassandra/templates/manifests.yaml.template
  k8s/cassandra/chart/cassandra/values.yaml
  k8s/cassandra/schema.yaml
  k8s/elasticsearch/Makefile
  k8s/elasticsearch/chart/elasticsearch/templates/application.yaml.template
  k8s/elasticsearch/chart/elasticsearch/templates/manifests.yaml.template
  k8s/elasticsearch/chart/elasticsearch/values.yaml
  k8s/elasticsearch/schema.yaml
  k8s/grafana/Makefile
  k8s/grafana/schema.yaml
  k8s/influxdb/Makefile
  k8s/mariadb/Makefile
  k8s/mariadb/chart/mariadb/templates/application.yaml
  k8s/mariadb/chart/mariadb/templates/manifests.yaml
  k8s/mariadb/chart/mariadb/values.yaml
  k8s/mariadb/schema.yaml
  k8s/memcached/Makefile
  k8s/memcached/chart/memcached/templates/application.yaml.template
  k8s/memcached/chart/memcached/templates/manifests.yaml.template
  k8s/memcached/chart/memcached/values.yaml
  k8s/memcached/schema.yaml
  k8s/nginx/Makefile
  k8s/nginx/chart/nginx/templates/application.yaml
  k8s/nginx/chart/nginx/templates/manifests.yaml
  k8s/nginx/chart/nginx/values.yaml
  k8s/nginx/schema.yaml
  k8s/wordpress/Makefile
Labels: cla: yes, kind/k8s

#594 Added Prometheus exporter and Stackdriver integration for MariaDB
  k8s/mariadb/Makefile
  k8s/mariadb/README.md
  k8s/mariadb/apptest/tester/Dockerfile
  k8s/mariadb/apptest/tester/tests/exporter-suite.yaml
  k8s/mariadb/chart/mariadb/templates/manifests.yaml
  k8s/mariadb/chart/mariadb/templates/mariadb-secrets.yaml
  k8s/mariadb/chart/mariadb/templates/mariadb-svc.yaml
  k8s/mariadb/chart/mariadb/values.yaml
  k8s/mariadb/schema.yaml
Labels: cla: yes

#610 Update Ubuntu gcr.io
  k8s/elastic-gke-logging/Makefile
  k8s/elasticsearch/Makefile
Labels: cla: yes, kind/k8s

#597 Migrate PostgreSQL Deployment to StatefulSet
  k8s/postgresql/README.md
  k8s/postgresql/chart/postgresql/templates/application.yaml
  k8s/postgresql/chart/postgresql/templates/manifests.yaml
  k8s/postgresql/schema.yaml
Labels: cla: yes

#617 PostgreSQL TLS_CERTIFICATE support
  k8s/postgresql/README.md
  k8s/postgresql/chart/postgresql/templates/manifests.yaml
  k8s/postgresql/chart/postgresql/values.yaml
  k8s/postgresql/deployer/Dockerfile
  k8s/postgresql/deployer/deploy.sh
  k8s/postgresql/deployer/deploy_with_tests.sh
  k8s/postgresql/schema.yaml
Labels: cla: yes

#601 Grafana - metrics exporter as a sidecar
  k8s/grafana/chart/grafana/templates/application.yaml
  k8s/grafana/chart/grafana/templates/prometheus-to-sd.yaml
  k8s/grafana/chart/grafana/templates/statefulset.yaml
Labels: cla: yes

#619 Sonarqube TLS_CERTIFICATE
  k8s/sonarqube/README.md
  k8s/sonarqube/chart/sonarqube/templates/postgresql-tls.yaml
  k8s/sonarqube/chart/sonarqube/values.yaml
  k8s/sonarqube/deployer/Dockerfile
  k8s/sonarqube/deployer/deploy.sh
  k8s/sonarqube/deployer/deploy_with_tests.sh
  k8s/sonarqube/schema.yaml
Labels: cla: yes

#618 Jenkins: use TLS_CERTIFICATE
  k8s/jenkins/README.md
  k8s/jenkins/chart/jenkins/templates/manifests.yaml
  k8s/jenkins/chart/jenkins/values.yaml
  k8s/jenkins/deployer/Dockerfile
  k8s/jenkins/deployer/entrypoint.sh
  k8s/jenkins/schema.yaml
Labels: cla: yes

#623 Update Managed-Updates-Alpha with master updates
  k8s/grafana/chart/grafana/templates/application.yaml
  k8s/grafana/chart/grafana/templates/prometheus-to-sd.yaml
  k8s/grafana/chart/grafana/templates/statefulset.yaml
  k8s/jenkins/README.md
  k8s/jenkins/chart/jenkins/templates/manifests.yaml
  k8s/jenkins/chart/jenkins/values.yaml
  k8s/jenkins/deployer/Dockerfile
  k8s/jenkins/deployer/entrypoint.sh
  k8s/jenkins/schema.yaml
  k8s/mariadb/Makefile
  k8s/postgresql/README.md
  k8s/postgresql/chart/postgresql/templates/manifests.yaml
  k8s/postgresql/chart/postgresql/values.yaml
  k8s/postgresql/deployer/Dockerfile
  k8s/postgresql/deployer/deploy.sh
  k8s/postgresql/deployer/deploy_with_tests.sh
  k8s/postgresql/schema.yaml
  k8s/sonarqube/README.md
  k8s/sonarqube/chart/sonarqube/templates/postgresql-tls.yaml
  k8s/sonarqube/chart/sonarqube/values.yaml
  k8s/sonarqube/deployer/Dockerfile
  k8s/sonarqube/deployer/deploy.sh
  k8s/sonarqube/deployer/deploy_with_tests.sh
  k8s/sonarqube/schema.yaml
Labels: cla: yes

#608 Add missed values.yaml file
  k8s/mariadb/apptest/deployer/mariadb/templates/tester.yaml
  k8s/mariadb/apptest/deployer/mariadb/values.yaml
Labels: cla: yes, kind/k8s

#624 MariaDB TLS_CERTIFICATE
  k8s/mariadb/README.md
  k8s/mariadb/chart/mariadb/templates/manifests.yaml
  k8s/mariadb/chart/mariadb/templates/mariadb-configmap.yaml
  k8s/mariadb/chart/mariadb/templates/mariadb-secrets.yaml
  k8s/mariadb/chart/mariadb/values.yaml
  k8s/mariadb/deployer/Dockerfile
  k8s/mariadb/deployer/common.sh
  k8s/mariadb/deployer/deploy.sh
  k8s/mariadb/deployer/deploy_with_tests.sh
  k8s/mariadb/schema.yaml
Labels: cla: yes

#598 Jenkins K8s Deployment -> StatefulSet
  k8s/jenkins/README.md
  k8s/jenkins/apptest/tester/tester.sh
  k8s/jenkins/chart/jenkins/templates/application.yaml
  k8s/jenkins/chart/jenkins/templates/manifests.yaml
Labels: cla: yes

#630 Add descriptor to Sonar's Application YAML
  k8s/sonarqube/chart/sonarqube/templates/application.yaml
Labels: cla: yes, kind/k8s

#631 Merge branch 'master' into Managed-Updates-Alpha
  k8s/jenkins/README.md
  k8s/jenkins/apptest/tester/tester.sh
  k8s/jenkins/chart/jenkins/templates/application.yaml
  k8s/jenkins/chart/jenkins/templates/manifests.yaml
  k8s/mariadb/README.md
  k8s/mariadb/apptest/deployer/mariadb/values.yaml
  k8s/mariadb/chart/mariadb/templates/manifests.yaml
  k8s/mariadb/chart/mariadb/templates/mariadb-configmap.yaml
  k8s/mariadb/chart/mariadb/templates/mariadb-secrets.yaml
  k8s/mariadb/chart/mariadb/values.yaml
  k8s/mariadb/deployer/Dockerfile
  k8s/mariadb/deployer/common.sh
  k8s/mariadb/deployer/deploy.sh
  k8s/mariadb/deployer/deploy_with_tests.sh
  k8s/mariadb/schema.yaml
  k8s/sonarqube/chart/sonarqube/templates/application.yaml
Labels: cla: yes

#602 Sonarqube metrics sidecars
  k8s/sonarqube/chart/sonarqube/templates/application.yaml
  k8s/sonarqube/chart/sonarqube/templates/postgresql-sts.yaml
  k8s/sonarqube/chart/sonarqube/templates/prometheus-to-sd.yaml
  k8s/sonarqube/chart/sonarqube/templates/sonarqube-sts.yaml
Labels: cla: yes

#636 Migrated logos to separate files
  k8s/cassandra/chart/cassandra/logo.png
  k8s/cassandra/chart/cassandra/templates/application.yaml
  k8s/elastic-gke-logging/chart/elastic-gke-logging/logo.png
  k8s/elastic-gke-logging/chart/elastic-gke-logging/templates/application.yaml
  k8s/elasticsearch/chart/elasticsearch/logo.png
  k8s/elasticsearch/chart/elasticsearch/templates/application.yaml
  k8s/grafana/chart/grafana/logo.png
  k8s/grafana/chart/grafana/templates/application.yaml
  k8s/influxdb/chart/influxdb/logo.png
  k8s/influxdb/chart/influxdb/templates/application.yaml
  k8s/jenkins/chart/jenkins/logo.png
  k8s/jenkins/chart/jenkins/templates/application.yaml
  k8s/mariadb/chart/mariadb/templates/application.yaml
  k8s/memcached/chart/memcached/logo.png
  k8s/memcached/chart/memcached/templates/application.yaml
  k8s/nginx/chart/nginx/logo.png
  k8s/nginx/chart/nginx/templates/application.yaml
  k8s/postgresql/chart/postgresql/logo.png
  k8s/postgresql/chart/postgresql/templates/application.yaml
  k8s/rabbitmq/chart/rabbitmq/logo.png
  k8s/rabbitmq/chart/rabbitmq/templates/application.yaml
  k8s/sonarqube/chart/sonarqube/logo.png
  k8s/sonarqube/chart/sonarqube/templates/application.yaml
  k8s/wordpress/chart/wordpress/logo.png
Labels: cla: yes

#637 Update schema.yaml
  k8s/mariadb/schema.yaml
Labels: cla: yes, kind/k8s

#626 Adapt RabbitMQ to managed updates
  k8s/rabbitmq/Makefile
  k8s/rabbitmq/chart/rabbitmq/templates/application.yaml
  k8s/rabbitmq/chart/rabbitmq/templates/statefulset.yaml
  k8s/rabbitmq/chart/rabbitmq/values.yaml
  k8s/rabbitmq/schema.yaml
Labels: cla: yes, kind/k8s

#627 Migrate Jenkins to KALM
  k8s/jenkins/Makefile
  k8s/jenkins/chart/jenkins/templates/application.yaml
  k8s/jenkins/chart/jenkins/templates/manifests.yaml
  k8s/jenkins/chart/jenkins/values.yaml
  k8s/jenkins/schema.yaml
Labels: cla: yes, kind/k8s

#629 Migrate Elastic GKE Logging to KALM
  k8s/elastic-gke-logging/Makefile
  k8s/elastic-gke-logging/chart/elastic-gke-logging/templates/application.yaml
  k8s/elastic-gke-logging/chart/elastic-gke-logging/templates/elasticsearch-manifests.yaml
  k8s/elastic-gke-logging/chart/elastic-gke-logging/values.yaml
  k8s/elastic-gke-logging/schema.yaml
Labels: cla: yes, kind/k8s

#628 Migrate SonarQube to KALM
  k8s/sonarqube/Makefile
  k8s/sonarqube/chart/sonarqube/templates/application.yaml
  k8s/sonarqube/chart/sonarqube/templates/sonarqube-sts.yaml
  k8s/sonarqube/chart/sonarqube/values.yaml
  k8s/sonarqube/schema.yaml
Labels: cla: yes, kind/k8s

#638 Add descriptor to PostgreSQL's Application YAML
  k8s/postgresql/chart/postgresql/templates/application.yaml
Labels: cla: yes, kind/k8s

#635 InfluxDB - metrics sidecar refactoring
  k8s/influxdb/chart/influxdb/templates/application.yaml
  k8s/influxdb/chart/influxdb/templates/manifests.yaml
  k8s/influxdb/chart/influxdb/templates/prometheus-to-sd.yaml
Labels: cla: yes

#639 Merge branch 'master' into Managed-Updates-Alpha
  k8s/cassandra/chart/cassandra/logo.png
  k8s/elastic-gke-logging/chart/elastic-gke-logging/logo.png
  k8s/elasticsearch/chart/elasticsearch/logo.png
  k8s/grafana/chart/grafana/logo.png
  k8s/grafana/chart/grafana/templates/application.yaml
  k8s/influxdb/chart/influxdb/logo.png
  k8s/influxdb/chart/influxdb/templates/application.yaml
  k8s/jenkins/chart/jenkins/logo.png
  k8s/mariadb/chart/mariadb/templates/application.yaml
  k8s/memcached/chart/memcached/logo.png
  k8s/nginx/chart/nginx/logo.png
  k8s/nginx/chart/nginx/templates/application.yaml
  k8s/postgresql/chart/postgresql/logo.png
  k8s/postgresql/chart/postgresql/templates/application.yaml
  k8s/rabbitmq/chart/rabbitmq/logo.png
  k8s/rabbitmq/chart/rabbitmq/templates/application.yaml
  k8s/sonarqube/chart/sonarqube/logo.png
  k8s/sonarqube/chart/sonarqube/templates/application.yaml
  k8s/sonarqube/chart/sonarqube/templates/postgresql-sts.yaml
  k8s/sonarqube/chart/sonarqube/templates/prometheus-to-sd.yaml
  k8s/sonarqube/chart/sonarqube/templates/sonarqube-sts.yaml
  k8s/wordpress/chart/wordpress/logo.png
Labels: cla: yes, kind/k8s

#612 KALM for PostgreSQL
  k8s/postgresql/Makefile
  k8s/postgresql/chart/postgresql/templates/application.yaml
  k8s/postgresql/chart/postgresql/templates/manifests.yaml
  k8s/postgresql/chart/postgresql/values.yaml
  k8s/postgresql/schema.yaml
Labels: cla: yes, kind/k8s

#632 RabbitMQ - metrics as sidecar
  k8s/rabbitmq/chart/rabbitmq/templates/application.yaml
  k8s/rabbitmq/chart/rabbitmq/templates/prometheus-to-sd.yaml
  k8s/rabbitmq/chart/rabbitmq/templates/statefulset.yaml
Labels: cla: yes

#633 Cassandra - metrics sidecar refactoring
  k8s/cassandra/chart/cassandra/templates/manifests.yaml
Labels: cla: yes

#634 Elasticsearch & Elastic GKE Logging metrics sidecar refactoring
  k8s/elastic-gke-logging/chart/elastic-gke-logging/templates/elasticsearch-manifests.yaml
  k8s/elasticsearch/chart/elasticsearch/templates/manifests.yaml
Labels: cla: yes

#643 Add /gcbrun comment to PULL_REQUEST_TEMPLATE
  .github/PULL_REQUEST_TEMPLATE.md
Labels: cla: yes, kind/k8s

#607 Use make crd/install in CB configuration, so we make sure that the target works.
  scripts/cloudbuild_k8s_generator.py
  scripts/cloudbuild_k8s_generator_test.py
Labels: cla: yes, kind/k8s

#641 Generated Makefiles automatically (Managed-Updates-Alpha branch)
  k8s/cassandra/Makefile
  k8s/elasticsearch/Makefile
  k8s/grafana/Makefile
  k8s/influxdb/Makefile
  k8s/jenkins/Makefile
  k8s/mariadb/Makefile
  k8s/memcached/Makefile
  k8s/nginx/Makefile
  k8s/postgresql/Makefile
  k8s/rabbitmq/Makefile
  k8s/wordpress/Makefile
Labels: cla: yes, kind/k8s

#642 Formatting Makefiles (master branch)
  k8s/agones/Makefile
  k8s/airflow-operator/Makefile
  k8s/cassandra/Makefile
  k8s/elastic-gke-logging/Makefile
  k8s/elasticsearch/Makefile
  k8s/grafana/Makefile
  k8s/influxdb/Makefile
  k8s/jenkins/Makefile
  k8s/mariadb/Makefile
  k8s/memcached/Makefile
  k8s/nginx/Makefile
  k8s/postgresql/Makefile
  k8s/prometheus/Makefile
  k8s/rabbitmq/Makefile
  k8s/sample-app/Makefile
  k8s/sonarqube/Makefile
  k8s/spark-operator/Makefile
  k8s/wordpress/Makefile
Labels: cla: yes, kind/k8s

#648 Wordpress: fixed logo, removed .template extension
  k8s/wordpress/apptest/deployer/wordpress/templates/tester.yaml
  k8s/wordpress/chart/wordpress/templates/application.yaml
  k8s/wordpress/chart/wordpress/templates/application.yaml.template
  k8s/wordpress/chart/wordpress/templates/mysql-manifests.yaml
  k8s/wordpress/chart/wordpress/templates/wordpress-manifests.yaml
Labels: cla: yes

#647 Split tagging of docker images to the new line into the Makefiles.
  k8s/cassandra/Makefile
  k8s/elastic-gke-logging/Makefile
  k8s/elasticsearch/Makefile
  k8s/grafana/Makefile
  k8s/influxdb/Makefile
  k8s/jenkins/Makefile
  k8s/mariadb/Makefile
  k8s/memcached/Makefile
  k8s/nginx/Makefile
  k8s/postgresql/Makefile
  k8s/rabbitmq/Makefile
  k8s/sonarqube/Makefile
  k8s/wordpress/Makefile
Labels: cla: yes, kind/k8s

#581 Add postgres exporter image to README
  k8s/postgresql/README.md
Labels: cla: yes

#651 Merge branch 'master' into Managed-Updates-Alpha
  .github/PULL_REQUEST_TEMPLATE.md
  k8s/agones/Makefile
  k8s/airflow-operator/Makefile
  k8s/cassandra/chart/cassandra/templates/manifests.yaml
  k8s/elastic-gke-logging/chart/elastic-gke-logging/templates/elasticsearch-manifests.yaml
  k8s/elasticsearch/chart/elasticsearch/templates/manifests.yaml
  k8s/influxdb/chart/influxdb/templates/application.yaml
  k8s/influxdb/chart/influxdb/templates/manifests.yaml
  k8s/influxdb/chart/influxdb/templates/prometheus-to-sd.yaml
  k8s/mariadb/schema.yaml
  k8s/prometheus/Makefile
  k8s/rabbitmq/chart/rabbitmq/templates/application.yaml
  k8s/rabbitmq/chart/rabbitmq/templates/statefulset.yaml
  k8s/sample-app/Makefile
  k8s/spark-operator/Makefile
  k8s/wordpress/apptest/deployer/wordpress/templates/tester.yaml
  k8s/wordpress/chart/wordpress/templates/application.yaml
  k8s/wordpress/chart/wordpress/templates/mysql-manifests.yaml
  k8s/wordpress/chart/wordpress/templates/wordpress-manifests.yaml
  scripts/cloudbuild_k8s_generator.py
  scripts/cloudbuild_k8s_generator_test.py
Labels: cla: yes, kind/k8s

#652 Fix Managed-Updates-Alpha branch.
  k8s/cassandra/chart/cassandra/templates/application.yaml
  k8s/elastic-gke-logging/chart/elastic-gke-logging/templates/application.yaml
  k8s/elasticsearch/chart/elasticsearch/templates/application.yaml
  k8s/jenkins/chart/jenkins/templates/application.yaml
  k8s/mariadb/apptest/deployer/mariadb/templates/tester.yaml
  k8s/memcached/chart/memcached/templates/application.yaml
  k8s/rabbitmq/chart/rabbitmq/templates/prometheus-to-sd.yaml
  k8s/wordpress/chart/wordpress/templates/application.yaml
  k8s/wordpress/chart/wordpress/templates/application.yaml.template
Labels: cla: yes, kind/k8s

#653 Enabled/disabled kalm supported.
  k8s/cassandra/schema.yaml
  k8s/elasticsearch/schema.yaml
  k8s/jenkins/schema.yaml
  k8s/mariadb/schema.yaml
  k8s/postgresql/schema.yaml
  k8s/rabbitmq/schema.yaml
  k8s/sonarqube/schema.yaml
Labels: cla: yes

#657 Bump solr version to 7.7.2
  vm/chef/cookbooks/solr/attributes/default.rb
Labels: cla: yes

#655 nit: Kibana uses Deployment, not StatefulSet
  k8s/elastic-gke-logging/README.md
Labels: cla: yes

#654 Remove unused comment.
  k8s/elastic-gke-logging/chart/elastic-gke-logging/templates/fluentd-manifests.yaml
Labels: cla: yes, kind/k8s

#659 Update kalm tags suffix
  k8s/cassandra/Makefile
  k8s/elastic-gke-logging/Makefile
  k8s/elasticsearch/Makefile
  k8s/grafana/Makefile
  k8s/influxdb/Makefile
  k8s/jenkins/Makefile
  k8s/mariadb/Makefile
  k8s/memcached/Makefile
  k8s/nginx/Makefile
  k8s/postgresql/Makefile
  k8s/rabbitmq/Makefile
  k8s/sonarqube/Makefile
  k8s/wordpress/Makefile
Labels: cla: yes, kind/k8s

#656 Fixed wordpress installation
  k8s/wordpress/chart/wordpress/templates/wordpress-manifests.yaml
Labels: cla: yes

#662 Add dependencies for percona-toolkit
  vm/chef/cookbooks/percona/files/percona-setup
  vm/chef/cookbooks/percona/recipes/default.rb
Labels: cla: yes

#666 Update Managed-Updates-Alpha branch.
  k8s/elastic-gke-logging/README.md
  k8s/elastic-gke-logging/chart/elastic-gke-logging/templates/fluentd-manifests.yaml
  k8s/postgresql/README.md
  k8s/wordpress/chart/wordpress/templates/wordpress-manifests.yaml
  vm/chef/cookbooks/percona/files/percona-setup
  vm/chef/cookbooks/percona/recipes/default.rb
  vm/chef/cookbooks/solr/attributes/default.rb
Labels: cla: yes, kind/k8s

#668 Fix for https://github.com/GoogleCloudPlatform/marketplace-k8s-app-tools/issues/386
  k8s/cassandra/Makefile
  k8s/elastic-gke-logging/Makefile
  k8s/elasticsearch/Makefile
  k8s/grafana/Makefile
  k8s/influxdb/Makefile
  k8s/jenkins/Makefile
  k8s/mariadb/Makefile
  k8s/memcached/Makefile
  k8s/nginx/Makefile
  k8s/postgresql/Makefile
  k8s/rabbitmq/Makefile
  k8s/sonarqube/Makefile
  k8s/wordpress/Makefile
Labels: cla: yes

#669 Fix a typo
  docker/README.md
Labels: cla: yes

#649 Can not access /stub_status endpoint externally
  k8s/nginx/apptest/tester/tests/basic-suite.yaml
Labels: cla: yes, kind/k8s

#645 Nginx - metrics sidecar refactoring
  k8s/nginx/chart/nginx/templates/manifests.yaml
Labels: cla: yes, kind/k8s

#658 Readme edits
  k8s/sonarqube/README.md
Labels: cla: yes

#678 Patch 1
  vm/chef/cookbooks/jenkins/attributes/default.rb
  vm/chef/cookbooks/jenkins/recipes/default.rb
Labels: cla: yes

#672 Readme edits for MariaDB
  k8s/mariadb/README.md
  k8s/mariadb/chart/mariadb/templates/application.yaml
Labels: cla: yes

#378 RabbitMQ tests.
  k8s/rabbitmq/apptest/tester/Dockerfile
  k8s/rabbitmq/apptest/tester/tests/basic-suite.yaml
Labels: cla: yes, kind/k8s

#679 Small changes to Single FS
  vm/chef/cookbooks/singlefs/attributes/default.rb
  vm/chef/cookbooks/singlefs/files/apache2-graphite.conf
  vm/chef/cookbooks/singlefs/files/singlefs-install
  vm/chef/cookbooks/singlefs/files/singlefs-monitoring
  vm/chef/cookbooks/singlefs/files/singlefs-validate
  vm/chef/cookbooks/singlefs/metadata.rb
  vm/chef/cookbooks/singlefs/recipes/default.rb
Labels: cla: yes, kind/vm

#680 Changed percona version from 0.1-7 to latest
  vm/chef/cookbooks/percona/attributes/default.rb
Labels: cla: yes

#671 [Makefile] Add vm-generate-triggers target
  .travis.yml
  Makefile
  scripts/cloudbuild_k8s_generator.py
  scripts/cloudbuild_k8s_generator_test.py
  scripts/triggers_vm_generator.py
  scripts/triggers_vm_generator_test.py
Labels: cla: yes, kind/vm
