Repository GoogleCloudPlatform/click-to-deploy, pull requests merged in 2019-04, with the labels that each got.

#463 Fix a nit
  k8s/cassandra/README.md
Labels: cla: yes

#465 elasticsearch - added support for prometheus metrics
  k8s/elasticsearch/Makefile
  k8s/elasticsearch/README.md
  k8s/elasticsearch/apptest/tester/tests/basic-suite.yaml
  k8s/elasticsearch/chart/elasticsearch/templates/manifests.yaml.template
  k8s/elasticsearch/chart/elasticsearch/values.yaml
  k8s/elasticsearch/schema.yaml
Labels: cla: yes

#455 Readme edits
  k8s/grafana/README.md
Labels: cla: yes

#456 Jenkins exporter
  k8s/jenkins/Makefile
  k8s/jenkins/README.md
  k8s/jenkins/apptest/tester/Dockerfile
  k8s/jenkins/apptest/tester/tests/exporter-suite.yaml
  k8s/jenkins/chart/jenkins/templates/manifests.yaml.template
  k8s/jenkins/chart/jenkins/templates/prometheus-to-sd.yaml
  k8s/jenkins/chart/jenkins/values.yaml
  k8s/jenkins/schema.yaml
Labels: cla: yes

#464 Harnas nginx prometheus
  k8s/nginx/Makefile
  k8s/nginx/README.md
  k8s/nginx/apptest/tester/tests/basic-suite.yaml
  k8s/nginx/chart/nginx/templates/manifests.yaml
  k8s/nginx/chart/nginx/templates/nginx-config.yaml
  k8s/nginx/chart/nginx/values.yaml
  k8s/nginx/schema.yaml
Labels: cla: yes

#471 Bump cassandra version to 3.11.4
  vm/chef/cookbooks/cassandra/attributes/default.rb
Labels: cla: yes

#472 Bump kafka version to 2.1.1
  vm/chef/cookbooks/kafka/attributes/default.rb
Labels: cla: yes

#473 Fix Cloud Shell URL
  k8s/grafana/README.md
Labels: cla: yes

#467 Fix a nit
  k8s/memcached/README.md
Labels: cla: yes

#466 Fix a nit
  k8s/cassandra/README.md
Labels: cla: yes

#468 Add Elasticsearch exporter to Elastic GKE Logging
  k8s/elastic-gke-logging/Makefile
  k8s/elastic-gke-logging/README.md
  k8s/elastic-gke-logging/apptest/tester/Dockerfile
  k8s/elastic-gke-logging/apptest/tester/tests/exporter-suite.yaml
  k8s/elastic-gke-logging/chart/elastic-gke-logging/templates/elasticsearch-manifests.yaml.template
  k8s/elastic-gke-logging/chart/elastic-gke-logging/values.yaml
  k8s/elastic-gke-logging/schema.yaml
Labels: cla: yes

#457 Add Apache exporter to WordPress
  k8s/wordpress/Makefile
  k8s/wordpress/README.md
  k8s/wordpress/apptest/tester/tests/exporter-suite.yaml
  k8s/wordpress/chart/wordpress/templates/application.yaml.template
  k8s/wordpress/chart/wordpress/templates/prometheus-to-sd.yaml.template
  k8s/wordpress/chart/wordpress/templates/wordpress-manifests.yaml.template
  k8s/wordpress/chart/wordpress/values.yaml
  k8s/wordpress/schema.yaml
Labels: cla: yes

#470 Use INGRESS_AVAILABLE property
  k8s/MARKETPLACE_TOOLS_TAG
  k8s/nginx/Makefile
  k8s/nginx/apptest/deployer/nginx/templates/tester.yaml.template
  k8s/nginx/apptest/tester/tester.sh
  k8s/nginx/chart/nginx/templates/manifests.yaml
  k8s/nginx/chart/nginx/values.yaml
  k8s/nginx/schema.yaml
Labels: cla: yes

#484 Polishing Prometheus metrics
  k8s/cassandra/README.md
  k8s/elasticsearch/Makefile
  k8s/elasticsearch/README.md
  k8s/grafana/README.md
  k8s/grafana/chart/grafana/templates/application.yaml
  k8s/influxdb/README.md
  k8s/influxdb/chart/influxdb/templates/application.yaml
  k8s/jenkins/README.md
  k8s/jenkins/schema.yaml
  k8s/memcached/README.md
  k8s/nginx/Makefile
  k8s/nginx/README.md
  k8s/postgresql/Makefile
  k8s/postgresql/README.md
  k8s/rabbitmq/README.md
  k8s/rabbitmq/chart/rabbitmq/templates/application.yaml.template
Labels: cla: yes

#492 Split verification for make app/build and make app/verify itself
  cloudbuild-k8s-generator.py
  cloudbuild.yaml
Labels: cla: yes

#493 Build solutions synchronously
  cloudbuild-k8s-generator.py
  cloudbuild.yaml
Labels: cla: yes

#489 WordPress private option
  cloudbuild-k8s-generator.py
  cloudbuild.yaml
  k8s/wordpress/Makefile
  k8s/wordpress/README.md
  k8s/wordpress/apptest/deployer/wordpress/templates/tester.yaml.template
  k8s/wordpress/apptest/tester/Dockerfile
  k8s/wordpress/apptest/tester/tester.sh
  k8s/wordpress/apptest/tester/tests/basic-suite.yaml
  k8s/wordpress/apptest/tester/tests/common/db-suite.yaml
  k8s/wordpress/apptest/tester/tests/common/exporter-suite.yaml
  k8s/wordpress/apptest/tester/tests/common/wordpress-suite.yaml
  k8s/wordpress/apptest/tester/tests/external/exporter-external-suite.yaml
  k8s/wordpress/apptest/tester/tests/external/wordpress-external-suite.yaml
  k8s/wordpress/chart/wordpress/templates/application.yaml.template
  k8s/wordpress/chart/wordpress/templates/wordpress-manifests.yaml.template
  k8s/wordpress/chart/wordpress/values.yaml
  k8s/wordpress/schema.yaml
Labels: cla: yes

#491 Move installation script to Config Map
  k8s/wordpress/chart/wordpress/templates/wordpress-manifests.yaml.template
Labels: cla: yes

#469 PostgreSQL SD exporter -- pod reorganization.
  k8s/postgresql/chart/postgresql/templates/manifests.yaml
  k8s/postgresql/chart/postgresql/templates/prometheus-to-sd.yaml
Labels: cla: yes

#494 Testing WordPress with metrics exporter enabled
  cloudbuild-k8s-generator.py
  cloudbuild.yaml
Labels: cla: yes

#490 Add helm to the tools list
  k8s/cassandra/README.md
  k8s/elastic-gke-logging/README.md
  k8s/elasticsearch/README.md
  k8s/influxdb/README.md
  k8s/jenkins/README.md
  k8s/memcached/README.md
  k8s/nginx/README.md
  k8s/postgresql/README.md
  k8s/rabbitmq/README.md
  k8s/wordpress/README.md
Labels: cla: yes

#475 Fix incorrect Grafana version in description.
  k8s/grafana/chart/grafana/templates/application.yaml
Labels: cla: yes

#476 Mrak sonarqube app
  cloudbuild.yaml
  k8s/postgresql/chart/postgresql/templates/application.yaml
  k8s/sonarqube/Makefile
  k8s/sonarqube/apptest/deployer/schema.yaml
  k8s/sonarqube/apptest/deployer/sonarqube/templates/tester.yaml.template
  k8s/sonarqube/apptest/deployer/sonarqube/values.yaml
  k8s/sonarqube/apptest/tester/Dockerfile
  k8s/sonarqube/apptest/tester/tester.sh
  k8s/sonarqube/apptest/tester/tests/basic-suite.yaml
  k8s/sonarqube/apptest/tester/tests/exporter-suite.yaml
  k8s/sonarqube/chart/sonarqube/Chart.yaml
  k8s/sonarqube/chart/sonarqube/templates/application.yaml
  k8s/sonarqube/chart/sonarqube/templates/postgresql-deployment.yaml
  k8s/sonarqube/chart/sonarqube/templates/postgresql-pvc.yaml
  k8s/sonarqube/chart/sonarqube/templates/postgresql-service.yaml
  k8s/sonarqube/chart/sonarqube/templates/prometheus-to-sd.yaml
  k8s/sonarqube/chart/sonarqube/templates/sonarqube-deployment.yaml
  k8s/sonarqube/chart/sonarqube/templates/sonarqube-pvc.yaml
  k8s/sonarqube/chart/sonarqube/templates/sonarqube-secret.yaml
  k8s/sonarqube/chart/sonarqube/templates/sonarqube-service.yaml
  k8s/sonarqube/chart/sonarqube/values.yaml
  k8s/sonarqube/deployer/Dockerfile
  k8s/sonarqube/deployer/deploy.sh
  k8s/sonarqube/deployer/deploy_with_tests.sh
  k8s/sonarqube/schema.yaml
Labels: cla: yes, k8s

#498 Add templates for issues and pull requests
  .github/ISSUE_TEMPLATE/k8s_issue_template.md
  .github/ISSUE_TEMPLATE/vm_issue_template.md
  .github/PULL_REQUEST_TEMPLATE/k8s_pr_template.md
  .github/PULL_REQUEST_TEMPLATE/vm_pr_template.md
Labels: cla: yes

#478 Bump solr version to 7.7.1 and update tests
  vm/chef/cookbooks/solr/attributes/default.rb
  vm/tests/solutions/spec/solr/index_page_spec.rb
Labels: cla: yes, vm

#502 Readme cleanup and edits.
  k8s/agones/README.md
  k8s/airflow-operator/README.md
  k8s/cassandra/README.md
  k8s/elastic-gke-logging/README.md
  k8s/elasticsearch/README.md
  k8s/grafana/README.md
  k8s/influxdb/README.md
  k8s/jenkins/README.md
  k8s/memcached/README.md
  k8s/nginx/README.md
  k8s/prometheus/README.md
  k8s/rabbitmq/README.md
  k8s/wordpress/README.md
Labels: cla: yes

#507 Improve issue and PR templates
  .github/ISSUE_TEMPLATE/k8s_issue_template.md
  .github/ISSUE_TEMPLATE/vm_issue_template.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE/k8s_pr_template.md
  .github/PULL_REQUEST_TEMPLATE/vm_pr_template.md
Labels: cla: yes

#513 Harnas percona
  vm/chef/cookbooks/percona/files/percona-setup
Labels: cla: yes

#518 Remove SonarQube from testing
  cloudbuild-k8s-generator.py
  cloudbuild.yaml
Labels: cla: yes

#515 Added MariaDB kubernetes application
  cloudbuild.yaml
  k8s/mariadb/Makefile
  k8s/mariadb/README.md
  k8s/mariadb/apptest/deployer/mariadb/templates/tester.yaml.template
  k8s/mariadb/apptest/deployer/schema.yaml
  k8s/mariadb/apptest/tester/Dockerfile
  k8s/mariadb/apptest/tester/tester.sh
  k8s/mariadb/apptest/tester/tests/basic-suite.yaml
  k8s/mariadb/chart/mariadb/Chart.yaml
  k8s/mariadb/chart/mariadb/templates/application.yaml
  k8s/mariadb/chart/mariadb/templates/manifests.yaml
  k8s/mariadb/chart/mariadb/templates/mariadb-configmap.yaml
  k8s/mariadb/chart/mariadb/templates/mariadb-secrets.yaml
  k8s/mariadb/chart/mariadb/templates/mariadb-svc.yaml
  k8s/mariadb/chart/mariadb/values.yaml
  k8s/mariadb/deployer/Dockerfile
  k8s/mariadb/deployer/common.sh
  k8s/mariadb/deployer/deploy.sh
  k8s/mariadb/deployer/deploy_with_tests.sh
  k8s/mariadb/resources/mariadb-k8s-app-architecture.png
  k8s/mariadb/schema.yaml
  k8s/mariadb/scripts/backup.sh
  k8s/mariadb/scripts/restore.sh
Labels: cla: yes

#521 percona - put percona-toolkit on the image
  vm/chef/cookbooks/percona/files/percona-setup
  vm/chef/cookbooks/percona/recipes/default.rb
Labels: cla: yes

#524 Update opt-c2d-scripts-zabbix.erb
  vm/chef/cookbooks/zabbix/templates/default/opt-c2d-scripts-zabbix.erb
Labels: cla: yes

#514 K8s elasticsearch change prometheus 9108 => 9114
  k8s/elastic-gke-logging/README.md
  k8s/elastic-gke-logging/apptest/tester/tests/exporter-suite.yaml
  k8s/elastic-gke-logging/chart/elastic-gke-logging/templates/elasticsearch-manifests.yaml.template
  k8s/elasticsearch/README.md
  k8s/elasticsearch/apptest/tester/tests/basic-suite.yaml
  k8s/elasticsearch/chart/elasticsearch/templates/manifests.yaml.template
Labels: cla: yes

#525 [Kubernetes][Cassandra] Add cgroup memory limit support
  k8s/cassandra/Makefile
  k8s/cassandra/chart/cassandra/templates/manifests.yaml.template
  k8s/cassandra/deployer/Dockerfile
  k8s/cassandra/schema.yaml
Labels: cla: yes

#523 Fixed spark-operator app/verify
  cloudbuild-k8s-generator.py
  cloudbuild.yaml
  k8s/spark-operator/apptest/deployer/manifest/tester.yaml.template
  k8s/spark-operator/apptest/tester/spark-pi.yaml.template
  k8s/spark-operator/apptest/tester/tester.sh
  k8s/spark-operator/deployer/Dockerfile
Labels: cla: yes

#519 Sonarqube add more checks
  cloudbuild-k8s-generator.py
  cloudbuild.yaml
  k8s/sonarqube/Makefile
  k8s/sonarqube/apptest/tester/tests/exporter-suite.yaml
  k8s/sonarqube/chart/sonarqube/templates/application.yaml
  k8s/sonarqube/chart/sonarqube/templates/postgresql-deployment.yaml
  k8s/sonarqube/chart/sonarqube/templates/sonarqube-deployment.yaml
  k8s/sonarqube/chart/sonarqube/templates/sonarqube-pvc.yaml
  k8s/sonarqube/deployer/Dockerfile
  k8s/sonarqube/resources/sonarqube-k8s-app-architecture.png
Labels: cla: yes

#509 Use HTTPS protocol for Ingress in output
  k8s/jenkins/chart/jenkins/templates/application.yaml.template
  k8s/nginx/chart/nginx/templates/application.yaml
  k8s/wordpress/chart/wordpress/templates/application.yaml.template
Labels: cla: yes, k8s

#529 Improve prometheus-to-sd usage
  k8s/wordpress/README.md
  k8s/wordpress/chart/wordpress/templates/application.yaml.template
  k8s/wordpress/chart/wordpress/templates/mysql-manifests.yaml.template
  k8s/wordpress/chart/wordpress/templates/prometheus-to-sd.yaml.template
  k8s/wordpress/chart/wordpress/templates/wordpress-manifests.yaml.template
Labels: cla: yes

#531 Ignore flaky WordPress test
  cloudbuild-k8s-generator.py
  cloudbuild.yaml
Labels: cla: yes

#459 Postgres updates for non gke clusters
  k8s/postgresql/Makefile
  k8s/postgresql/README.md
  k8s/postgresql/apptest/tester/tests/basic-suite.yaml
  k8s/postgresql/chart/postgresql/templates/application.yaml
  k8s/postgresql/chart/postgresql/templates/manifests.yaml
  k8s/postgresql/chart/postgresql/values.yaml
  k8s/postgresql/deployer/deploy.sh
  k8s/postgresql/resources/postgresql-k8s-app-architecture.png
  k8s/postgresql/schema.yaml
Labels: cla: yes, k8s
