Repository GoogleCloudPlatform/click-to-deploy, pull requests merged in 2019-09, with the labels that each got.

#731 Deleted unneeded mariadb cluster service reference
  k8s/mariadb-galera/chart/mariadb-galera/templates/application.yaml
Labels: cla: yes

#725 fix name/namespace in app_v2.Makefile for app/uninstall
  k8s/app.Makefile
  k8s/app_v2.Makefile
Labels: cla: yes

#732 Add Cookstyle lint and execute lints into the Docker
  .travis.yml
  Makefile
  vm/README.md
  vm/chef/.rubocop.yml
  vm/chef/cookbooks/alfresco/attributes/default.rb
  vm/chef/cookbooks/alfresco/recipes/default.rb
  vm/chef/cookbooks/alfresco/recipes/download_source_code.rb
  vm/chef/cookbooks/ceph/attributes/default.rb
  vm/chef/cookbooks/drupal/recipes/default.rb
  vm/chef/cookbooks/ghost/recipes/default.rb
  vm/chef/cookbooks/joomla/recipes/default.rb
  vm/chef/cookbooks/magento/recipes/default.rb
  vm/chef/cookbooks/memcached/metadata.rb
  vm/chef/cookbooks/memcached/recipes/default.rb
  vm/chef/cookbooks/moodle/recipes/default.rb
  vm/chef/cookbooks/mysql/attributes/default.rb
  vm/chef/cookbooks/mysql/recipes/configure-apt-repo-version-5.7.rb
  vm/chef/cookbooks/mysql/recipes/install-and-configure-mysqld.rb
  vm/chef/cookbooks/mysql8-book/recipes/configure-apt-repo-version-8.0.rb
  vm/chef/cookbooks/nagios/attributes/default.rb
  vm/chef/cookbooks/nagios/recipes/default.rb
  vm/chef/cookbooks/percona/recipes/default.rb
  vm/chef/cookbooks/piwik/recipes/default.rb
  vm/chef/cookbooks/prestashop/recipes/default.rb
  vm/chef/cookbooks/redmine/recipes/default.rb
  vm/chef/cookbooks/wordpress-ha/recipes/default.rb
  vm/chef/cookbooks/wordpress/recipes/common.rb
  vm/tests/solutions/.rubocop.yml
  vm/tests/solutions/Rakefile
Labels: cla: yes

#734 Triger for zookeeper
  triggers/k8s/zookeeper.yaml
Labels: cla: yes

#737 K8s ZooKeeper application
  k8s/zookeeper/Makefile
  k8s/zookeeper/README.md
  k8s/zookeeper/apptest/deployer/schema.yaml
  k8s/zookeeper/apptest/deployer/zookeeper/templates/tester.yaml
  k8s/zookeeper/apptest/deployer/zookeeper/values.yaml
  k8s/zookeeper/apptest/tester/Dockerfile
  k8s/zookeeper/apptest/tester/tester.sh
  k8s/zookeeper/apptest/tester/tests/basic-suite.yaml
  k8s/zookeeper/chart/zookeeper/Chart.yaml
  k8s/zookeeper/chart/zookeeper/logo.png
  k8s/zookeeper/chart/zookeeper/templates/application.yaml
  k8s/zookeeper/chart/zookeeper/templates/poddisruptionbudget.yaml
  k8s/zookeeper/chart/zookeeper/templates/service.yaml
  k8s/zookeeper/chart/zookeeper/templates/statefulset.yaml
  k8s/zookeeper/chart/zookeeper/values.yaml
  k8s/zookeeper/deployer/Dockerfile
  k8s/zookeeper/resources/zookeper-k8s-app-architecture.png
  k8s/zookeeper/schema.yaml
Labels: cla: yes

#720 Adding [Pull Request Labeler] action
  .github/PULL_REQUEST_TEMPLATE.md
  .github/labeler.yml
  .github/workflows/label.yml
Labels: cla: yes

#740 Add a new presubmit that verify trigger status.
  cloudbuild-triggers-check.yaml
  scripts/triggers_check.sh
Labels: cla: yes, needs-triage

#745 Check Docker triggers
  cloudbuild-triggers-check.yaml
Labels: cla: yes

#742 Add trigger config for Triggers Check
  triggers/triggers-check.yaml
Labels: cla: yes, needs-triage

#744 Use local variable
  scripts/triggers_check.sh
Labels: cla: yes, needs-triage

#759 Release 13.09.2019
  k8s/cassandra/Makefile
  k8s/elastic-gke-logging/Makefile
  k8s/elasticsearch/Makefile
  k8s/grafana/Makefile
  k8s/influxdb/Makefile
  k8s/jenkins/Makefile
  k8s/mariadb/Makefile
  k8s/memcached/Makefile
  k8s/nginx/Makefile
  k8s/postgresql/Makefile
  k8s/rabbitmq/Makefile
  k8s/wordpress/Makefile
Labels: cla: yes

#760 fix README.md by Dominik
  k8s/zookeeper/README.md
Labels: cla: yes, documentation, kind/k8s, needs-triage

#763 Bump MongoDB to 4.2.0
  vm/chef/cookbooks/mongodb/attributes/default.rb
Labels: cla: yes

#764 Bump Elasticsearch to 7.3.2
  vm/chef/cookbooks/elasticsearch/attributes/default.rb
  vm/chef/cookbooks/elasticsearch/files/elasticsearch
  vm/chef/cookbooks/elasticsearch/recipes/default.rb
Labels: cla: yes

#762 fix on README.md by dkalgiewicz@
  k8s/zookeeper/README.md
Labels: cla: yes, documentation, kind/k8s, needs-triage

#767 Bumped ceph to nautilus
  vm/chef/cookbooks/ceph/attributes/default.rb
Labels: cla: yes

#758 Deprecating the Agones click-to-deploy Marketplace solution
  k8s/agones/Makefile
  k8s/agones/README.md
  k8s/agones/chart/agones-mp/Chart.yaml
  k8s/agones/chart/agones-mp/charts/agones-0.8.1.tgz
  k8s/agones/chart/agones-mp/requirements.lock
  k8s/agones/chart/agones-mp/requirements.yaml
  k8s/agones/chart/agones-mp/templates/application.yaml
  k8s/agones/chart/agones-mp/templates/installer.yaml
  k8s/agones/chart/agones-mp/values.yaml
  k8s/agones/deployer/Dockerfile
  k8s/agones/schema.yaml
  k8s/agones/scripts/agones-installer.sh
  triggers/k8s/agones.yaml
Labels: cla: yes

#766 updating haproxy-vm files
  vm/chef/cookbooks/haproxy/attributes/default.rb
  vm/chef/cookbooks/haproxy/metadata.rb
  vm/chef/cookbooks/haproxy/recipes/default.rb
  vm/chef/cookbooks/haproxy/templates/default/haproxy.cfg.erb
  vm/packer/templates/haproxy/packer.in.json
  vm/tests/solutions/spec/haproxy/c2d_startup_spec.rb
  vm/tests/solutions/spec/haproxy/packages_spec.rb
  vm/tests/solutions/spec/haproxy/ports_spec.rb
  vm/tests/solutions/spec/haproxy/services_spec.rb
  vm/tests/solutions/spec/haproxy/stackdriver_spec.rb
  vm/tests/solutions/spec/haproxy/users_spec.rb
Labels: cla: yes, kind/vm, needs-triage

#765 Fix a nit
  k8s/zookeeper/chart/zookeeper/templates/statefulset.yaml
Labels: cla: yes, kind/k8s

#757 Update application.yaml
  k8s/consul/chart/consul/templates/application.yaml
Labels: cla: yes, kind/k8s, needs-triage
