Repository GoogleCloudPlatform/click-to-deploy, pull requests merged in 2019-10, with the labels that each got.

#756 Update schema.yaml
  k8s/consul/schema.yaml
Labels: cla: yes, kind/k8s, needs-triage

#773 Added original Consul logo
  k8s/consul/chart/consul/logo.png
Labels: cla: yes, kind/k8s

#784 Fixed zookeeper-k8s-app-architecture.png name
  k8s/zookeeper/README.md
  k8s/zookeeper/resources/zookeeper-k8s-app-architecture.png
Labels: cla: yes, documentation, kind/k8s

#775 Fixes minor typo.
  vm/README.md
Labels: cla: yes, documentation, kind/vm

#768 Documented import/export commands and add triggers ID and name to configuration files.
  triggers/README.md
  triggers/k8s/airflow-operator.yaml
  triggers/k8s/cassandra.yaml
  triggers/k8s/consul.yaml
  triggers/k8s/elastic-gke-logging.yaml
  triggers/k8s/elasticsearch.yaml
  triggers/k8s/etcd.yaml
  triggers/k8s/grafana.yaml
  triggers/k8s/influxdb.yaml
  triggers/k8s/jenkins.yaml
  triggers/k8s/mariadb-galera.yaml
  triggers/k8s/mariadb.yaml
  triggers/k8s/memcached.yaml
  triggers/k8s/nginx.yaml
  triggers/k8s/postgresql.yaml
  triggers/k8s/prometheus.yaml
  triggers/k8s/rabbitmq.yaml
  triggers/k8s/sample-app.yaml
  triggers/k8s/sonarqube.yaml
  triggers/k8s/spark-operator.yaml
  triggers/k8s/wordpress.yaml
  triggers/k8s/zookeeper.yaml
Labels: cla: yes, documentation, kind/k8s

#746 Added backup/restore procedure
  k8s/mariadb-galera/README.md
Labels: cla: yes, documentation, kind/k8s, needs-triage

#778 Revert "Bump Elasticsearch to 7.3.2"
  vm/chef/cookbooks/elasticsearch/attributes/default.rb
  vm/chef/cookbooks/elasticsearch/files/elasticsearch
  vm/chef/cookbooks/elasticsearch/recipes/default.rb
Labels: cla: yes

#776 Revert "Bump MongoDB to 4.2.0"
  vm/chef/cookbooks/mongodb/attributes/default.rb
Labels: cla: yes

#786 Add more information to the output of the triggers check.
  scripts/triggers_check.sh
Labels: cla: yes

#755 Update README.md
  k8s/consul/README.md
Labels: cla: yes, documentation, kind/k8s, needs-triage

#788 Upgrade Jenkins version in k8s app
  k8s/jenkins/Makefile
Labels: cla: yes, kind/k8s

#789 Upgrade Jenkins version in k8s managed updates alpha to 2.190.1
  k8s/jenkins/Makefile
Labels: cla: yes, kind/k8s

#774 Update Makefiles
  k8s/app_v2.Makefile
  k8s/c2d_deployer.Makefile
  k8s/consul/Makefile
  k8s/mariadb-galera/Makefile
Labels: cla: yes, kind/k8s

#796 Synchronize Managed-Updates-Alpha with master
  k8s/app_v2.Makefile
  k8s/c2d_deployer.Makefile
  k8s/consul/Makefile
  k8s/consul/README.md
  k8s/consul/chart/consul/logo.png
  k8s/images.Makefile
  k8s/mariadb-galera/Makefile
  k8s/mariadb-galera/README.md
  k8s/zookeeper/README.md
  k8s/zookeeper/resources/zookeeper-k8s-app-architecture.png
  scripts/triggers_check.sh
  triggers/README.md
  triggers/k8s/airflow-operator.yaml
  triggers/k8s/cassandra.yaml
  triggers/k8s/consul.yaml
  triggers/k8s/elastic-gke-logging.yaml
  triggers/k8s/elasticsearch.yaml
  triggers/k8s/etcd.yaml
  triggers/k8s/grafana.yaml
  triggers/k8s/influxdb.yaml
  triggers/k8s/jenkins.yaml
  triggers/k8s/mariadb-galera.yaml
  triggers/k8s/mariadb.yaml
  triggers/k8s/memcached.yaml
  triggers/k8s/nginx.yaml
  triggers/k8s/postgresql.yaml
  triggers/k8s/prometheus.yaml
  triggers/k8s/rabbitmq.yaml
  triggers/k8s/sample-app.yaml
  triggers/k8s/sonarqube.yaml
  triggers/k8s/spark-operator.yaml
  triggers/k8s/wordpress.yaml
  triggers/k8s/zookeeper.yaml
  vm/README.md
Labels: cla: yes, documentation, kind/k8s

#793 Tech Writer review - MariaDB-Galera - Tier 1
  k8s/mariadb-galera/README.md
  k8s/mariadb-galera/chart/mariadb-galera/templates/application.yaml
  k8s/mariadb-galera/schema.yaml
Labels: cla: yes, documentation, kind/k8s
