Repository GoogleCloudPlatform/click-to-deploy, pull requests merged in 2019-08, with the labels that each got.

#681 Updated piwik to latest and removed unused vars
  vm/chef/cookbooks/piwik/attributes/default.rb
  vm/tests/solutions/spec/piwik/index_page_spec.rb
Labels: cla: yes

#684 Updated Django from 1.11.16 to latest
  vm/chef/cookbooks/django/attributes/default.rb
  vm/chef/cookbooks/django/recipes/default.rb
Labels: cla: yes

#685 Bump prestashop to 1.7.6.0
  vm/chef/cookbooks/prestashop/attributes/default.rb
Labels: cla: yes

#686 Bump Zabbix to 4.2
  vm/chef/cookbooks/zabbix/attributes/default.rb
Labels: cla: yes

#687 Bump solr to 8.2.0
  vm/chef/cookbooks/solr/attributes/default.rb
Labels: cla: yes

#688 Bump wordpress-ha to latest, wp-stateless to 2.2.7
  vm/chef/cookbooks/wordpress-ha/attributes/default.rb
Labels: cla: yes

#690 Bump nagios core to 4.4.4
  vm/chef/cookbooks/nagios/attributes/default.rb
Labels: cla: yes

#693 Fix a nit
  vm/chef/cookbooks/zabbix/attributes/default.rb
Labels: cla: yes

#694 Bump Joomla to 3.9.10
  vm/chef/cookbooks/joomla/attributes/default.rb
Labels: cla: yes

#689 Deleted php cookbook
  vm/chef/cookbooks/php/attributes/default.rb
  vm/chef/cookbooks/php/metadata.rb
  vm/chef/cookbooks/php/recipes/default.rb
  vm/chef/cookbooks/php/recipes/module_cgi.rb
  vm/chef/cookbooks/php/recipes/module_common.rb
  vm/chef/cookbooks/php/recipes/module_curl.rb
  vm/chef/cookbooks/php/recipes/module_gd.rb
  vm/chef/cookbooks/php/recipes/module_imap.rb
  vm/chef/cookbooks/php/recipes/module_intl.rb
  vm/chef/cookbooks/php/recipes/module_json.rb
  vm/chef/cookbooks/php/recipes/module_libapache2.rb
  vm/chef/cookbooks/php/recipes/module_mcrypt.rb
  vm/chef/cookbooks/php/recipes/module_mysql.rb
  vm/chef/cookbooks/php/recipes/module_xmlrpc.rb
  vm/chef/cookbooks/php/recipes/module_xsl.rb
Labels: cla: yes

#692 Added PHP7.3 cookbook
  vm/chef/cookbooks/php73/attributes/default.rb
  vm/chef/cookbooks/php73/metadata.rb
  vm/chef/cookbooks/php73/recipes/composer.rb
  vm/chef/cookbooks/php73/recipes/default.rb
  vm/chef/cookbooks/php73/recipes/module_cgi.rb
  vm/chef/cookbooks/php73/recipes/module_cli.rb
  vm/chef/cookbooks/php73/recipes/module_curl.rb
  vm/chef/cookbooks/php73/recipes/module_gd.rb
  vm/chef/cookbooks/php73/recipes/module_intl.rb
  vm/chef/cookbooks/php73/recipes/module_json.rb
  vm/chef/cookbooks/php73/recipes/module_libapache2.rb
  vm/chef/cookbooks/php73/recipes/module_mbstring.rb
  vm/chef/cookbooks/php73/recipes/module_mysql.rb
  vm/chef/cookbooks/php73/recipes/module_opcache.rb
  vm/chef/cookbooks/php73/recipes/module_readline.rb
  vm/chef/cookbooks/php73/recipes/module_soap.rb
  vm/chef/cookbooks/php73/recipes/module_xml.rb
  vm/chef/cookbooks/php73/recipes/module_xmlrpc.rb
  vm/chef/cookbooks/php73/recipes/module_xsl.rb
  vm/chef/cookbooks/php73/recipes/module_zip.rb
Labels: cla: yes

#696 Removing repo for Debian 8 from PHP 7.0.
  vm/chef/cookbooks/php7/recipes/apt.rb
  vm/chef/cookbooks/php7/recipes/default.rb
  vm/chef/cookbooks/php73/metadata.rb
  vm/chef/cookbooks/php73/recipes/composer.rb
  vm/chef/cookbooks/php73/recipes/default.rb
  vm/chef/cookbooks/php73/recipes/module_cli.rb
  vm/chef/cookbooks/php73/recipes/module_curl.rb
  vm/chef/cookbooks/php73/recipes/module_intl.rb
  vm/chef/cookbooks/php73/recipes/module_libapache2.rb
  vm/chef/cookbooks/php73/recipes/module_mbstring.rb
  vm/chef/cookbooks/php73/recipes/module_mysql.rb
  vm/chef/cookbooks/php73/recipes/module_readline.rb
  vm/chef/cookbooks/php73/recipes/module_soap.rb
  vm/chef/cookbooks/php73/recipes/module_xml.rb
  vm/chef/cookbooks/php73/recipes/module_xmlrpc.rb
  vm/chef/cookbooks/php73/recipes/module_xsl.rb
Labels: cla: yes, kind/vm

#702 add etcd
  k8s/etcd/Makefile
  k8s/etcd/README.md
  k8s/etcd/apptest/deployer/etcd/templates/tester.yaml
  k8s/etcd/apptest/deployer/etcd/values.yaml
  k8s/etcd/apptest/deployer/schema.yaml
  k8s/etcd/apptest/tester/Dockerfile
  k8s/etcd/apptest/tester/tester.sh
  k8s/etcd/apptest/tester/tests/nodes-number-suite.yaml
  k8s/etcd/apptest/tester/tests/store-get-message-suite.yaml
  k8s/etcd/apptest/tester/tests/validate-authentication-suite.yaml
  k8s/etcd/chart/etcd/Chart.yaml
  k8s/etcd/chart/etcd/logo.png
  k8s/etcd/chart/etcd/templates/application.yaml
  k8s/etcd/chart/etcd/templates/scripts-configmap.yaml
  k8s/etcd/chart/etcd/templates/secrets.yaml
  k8s/etcd/chart/etcd/templates/statefulset.yaml
  k8s/etcd/chart/etcd/templates/svc-headless.yaml
  k8s/etcd/chart/etcd/templates/svc.yaml
  k8s/etcd/chart/etcd/values.yaml
  k8s/etcd/deployer/Dockerfile
  k8s/etcd/resources/etcd-k8s-app-architecture.png
  k8s/etcd/schema.yaml
Labels: cla: yes

#699 Fix a typo
  vm/chef/cookbooks/stackdriver/README.md
Labels: cla: yes

#704 add etcd trigger yaml
  triggers/k8s/etcd.yaml
Labels: cla: yes

#703 Initial for Consul k8s app
  k8s/consul/Makefile
  k8s/consul/README.md
  k8s/consul/apptest/deployer/consul/templates/tester.yaml
  k8s/consul/apptest/deployer/schema.yaml
  k8s/consul/apptest/tester/Dockerfile
  k8s/consul/apptest/tester/tester.sh
  k8s/consul/apptest/tester/tests/basic-suite.yaml
  k8s/consul/chart/consul/Chart.yaml
  k8s/consul/chart/consul/logo.png
  k8s/consul/chart/consul/templates/_helpers.tpl
  k8s/consul/chart/consul/templates/application.yaml
  k8s/consul/chart/consul/templates/client-daemonset.yaml
  k8s/consul/chart/consul/templates/manifests.yaml
  k8s/consul/chart/consul/templates/secret-gossipkey.yaml
  k8s/consul/chart/consul/templates/server-statefulset.yaml
  k8s/consul/chart/consul/values.yaml
  k8s/consul/deployer/Dockerfile
  k8s/consul/resources/consul-k8s-app-architecture.png
  k8s/consul/resources/service-accounts.yaml
  k8s/consul/schema.yaml
Labels: cla: yes

#709 Added trigger for Consul
  triggers/k8s/consul.yaml
Labels: cla: yes

#710 Update instruction for triggers creation
  triggers/README.md
Labels: cla: yes

#711 Update container sha256 sums
  k8s/consul/Makefile
Labels: cla: yes

#712 Change digest of etcd image to production
  k8s/etcd/Makefile
Labels: cla: yes

#713 Consul sha updates
  k8s/consul/Makefile
Labels: cla: yes

#707 Bump tools to version 0.8.0
  k8s/MARKETPLACE_TOOLS_TAG
  k8s/app_v2.Makefile
  k8s/crd.Makefile
  k8s/gcloud.Makefile
Labels: cla: yes, kind/k8s

#698 Changed piwik to matomo
  vm/chef/cookbooks/piwik/attributes/default.rb
  vm/chef/cookbooks/piwik/recipes/default.rb
  vm/chef/cookbooks/piwik/templates/default/install-piwik.json.erb
  vm/chef/cookbooks/piwik/templates/default/piwik.erb
Labels: cla: yes

#717 Added trigger for mariadb-galera, updated docker repo list
  docker/README.md
  triggers/k8s/mariadb-galera.yaml
Labels: cla: yes

#718 Added MariaDB Galera Cluster kubernetes app
  k8s/mariadb-galera/Makefile
  k8s/mariadb-galera/README.md
  k8s/mariadb-galera/apptest/deployer/mariadb-galera/templates/tester.yaml
  k8s/mariadb-galera/apptest/deployer/schema.yaml
  k8s/mariadb-galera/apptest/tester/Dockerfile
  k8s/mariadb-galera/apptest/tester/tester.sh
  k8s/mariadb-galera/apptest/tester/tests/authentication-suite.yaml
  k8s/mariadb-galera/apptest/tester/tests/exporter-suite.yaml
  k8s/mariadb-galera/apptest/tester/tests/replication-suite.yaml
  k8s/mariadb-galera/chart/mariadb-galera/Chart.yaml
  k8s/mariadb-galera/chart/mariadb-galera/config/galera-recovery.sh
  k8s/mariadb-galera/chart/mariadb-galera/config/on-start.sh
  k8s/mariadb-galera/chart/mariadb-galera/logo.png
  k8s/mariadb-galera/chart/mariadb-galera/templates/application.yaml
  k8s/mariadb-galera/chart/mariadb-galera/templates/configmap.yaml
  k8s/mariadb-galera/chart/mariadb-galera/templates/secret.yaml
  k8s/mariadb-galera/chart/mariadb-galera/templates/service.yaml
  k8s/mariadb-galera/chart/mariadb-galera/templates/statefulset.yaml
  k8s/mariadb-galera/chart/mariadb-galera/values.yaml
  k8s/mariadb-galera/deployer/Dockerfile
  k8s/mariadb-galera/resources/mariadb-galera-k8s-app-architecture.png
  k8s/mariadb-galera/schema.yaml
Labels: cla: yes

#719 Fix mistypes, image TAG and Consul exorter image path at README file
  k8s/consul/README.md
Labels: cla: yes

#722 Fixed application.yaml
  k8s/mariadb-galera/chart/mariadb-galera/templates/application.yaml
Labels: cla: yes

#724 Fixed pattern and app name length
  k8s/mariadb-galera/schema.yaml
Labels: cla: yes

#727 Update README.md
  vm/README.md
Labels: cla: yes

#726 Update IMAGEBUILDER_TAG
  vm/IMAGEBUILDER_TAG
  vm/README.md
Labels: cla: yes, kind/vm

#730 Update IMAGEBUILDER_TAG
  vm/IMAGEBUILDER_TAG
  vm/README.md
Labels: cla: yes
