Repository GoogleCloudPlatform/click-to-deploy, pull requests merged in 2019-11, with the labels that each got.

#797 Update solutions Makefiles
  k8s/cassandra/Makefile
  k8s/consul/Makefile
  k8s/elastic-gke-logging/Makefile
  k8s/elasticsearch/Makefile
  k8s/etcd/Makefile
  k8s/grafana/Makefile
  k8s/influxdb/Makefile
  k8s/jenkins/Makefile
  k8s/mariadb-galera/Makefile
  k8s/mariadb/Makefile
  k8s/memcached/Makefile
  k8s/nginx/Makefile
  k8s/postgresql/Makefile
  k8s/rabbitmq/Makefile
  k8s/wordpress/Makefile
  k8s/zookeeper/Makefile
Labels: cla: yes, kind/k8s

#799 Add consul, etcd, mariadb-galera to kalm support
  k8s/consul/schema.yaml
  k8s/etcd/schema.yaml
  k8s/mariadb-galera/Makefile
  k8s/mariadb-galera/schema.yaml
Labels: cla: yes, kind/k8s

#801 Add magento and joomla
  docker/README.md
Labels: cla: yes, documentation, kind/docker

#792 Tech Writer review - Zookeeper - Tier 1
  k8s/zookeeper/README.md
  k8s/zookeeper/chart/zookeeper/templates/application.yaml
  k8s/zookeeper/schema.yaml
Labels: cla: yes, documentation, kind/k8s

#804 Add Magento 2 Trigger
  triggers/k8s/magento.yaml
Labels: cla: yes, kind/k8s

#805 Tier 2 ZooKeeper edits
  k8s/zookeeper/README.md
  k8s/zookeeper/chart/zookeeper/templates/application.yaml
  k8s/zookeeper/schema.yaml
Labels: cla: yes, documentation, kind/k8s

#803 Add Magento 2 Kubernetes Application
  k8s/magento/Makefile
  k8s/magento/README.md
  k8s/magento/apptest/deployer/magento/templates/tester.yaml
  k8s/magento/apptest/deployer/magento/values.yaml
  k8s/magento/apptest/deployer/schema.yaml
  k8s/magento/apptest/tester/Dockerfile
  k8s/magento/apptest/tester/tester.sh
  k8s/magento/apptest/tester/tests/db-suite.yaml
  k8s/magento/apptest/tester/tests/exporters-suite.yaml
  k8s/magento/apptest/tester/tests/magento-suite.yaml
  k8s/magento/apptest/tester/tests/redis-suite.yaml
  k8s/magento/chart/magento/Chart.yaml
  k8s/magento/chart/magento/files/redis_ping_liveness_local.sh
  k8s/magento/chart/magento/files/redis_ping_readiness_local.sh
  k8s/magento/chart/magento/logo.png
  k8s/magento/chart/magento/templates/_helpers.tpl
  k8s/magento/chart/magento/templates/application.yaml
  k8s/magento/chart/magento/templates/magento-ingress.yaml
  k8s/magento/chart/magento/templates/magento-secrets.yaml
  k8s/magento/chart/magento/templates/magento-services.yaml
  k8s/magento/chart/magento/templates/magento-statefulset.yaml
  k8s/magento/chart/magento/templates/mysql-secrets.yaml
  k8s/magento/chart/magento/templates/mysql-services.yaml
  k8s/magento/chart/magento/templates/mysql-statefulset.yaml
  k8s/magento/chart/magento/templates/redis-configmap.yaml
  k8s/magento/chart/magento/templates/redis-secrets.yaml
  k8s/magento/chart/magento/templates/redis-services.yaml
  k8s/magento/chart/magento/templates/redis-statefulset.yaml
  k8s/magento/chart/magento/values.yaml
  k8s/magento/deployer/Dockerfile
  k8s/magento/resources/magento-k8s-app-architecture.png
  k8s/magento/schema.yaml
Labels: cla: yes, documentation, kind/k8s

#806 Add Joomla! triger
  triggers/k8s/joomla.yaml
Labels: cla: yes

#808 Fixed magento app documentation
  k8s/magento/chart/magento/templates/application.yaml
Labels: cla: yes, kind/k8s

#807 Add Joomla! Kubernetes Application
  k8s/joomla/Makefile
  k8s/joomla/README.md
  k8s/joomla/apptest/deployer/joomla/templates/tester.yaml
  k8s/joomla/apptest/deployer/joomla/values.yaml
  k8s/joomla/apptest/deployer/schema.yaml
  k8s/joomla/apptest/tester/Dockerfile
  k8s/joomla/apptest/tester/tester.sh
  k8s/joomla/apptest/tester/tests/common/db-suite.yaml
  k8s/joomla/apptest/tester/tests/common/exporter-suite.yaml
  k8s/joomla/apptest/tester/tests/common/joomla-suite.yaml
  k8s/joomla/apptest/tester/tests/external/exporter-external-suite.yaml
  k8s/joomla/apptest/tester/tests/external/joomla-external-suite.yaml
  k8s/joomla/chart/joomla/Chart.yaml
  k8s/joomla/chart/joomla/logo.png
  k8s/joomla/chart/joomla/templates/application.yaml
  k8s/joomla/chart/joomla/templates/joomla-secret.yaml
  k8s/joomla/chart/joomla/templates/joomla-service.yaml
  k8s/joomla/chart/joomla/templates/joomla-statefulset.yaml
  k8s/joomla/chart/joomla/templates/mariadb-secret.yaml
  k8s/joomla/chart/joomla/templates/mariadb-service.yaml
  k8s/joomla/chart/joomla/templates/mariadb-statefulset.yaml
  k8s/joomla/chart/joomla/values.yaml
  k8s/joomla/deployer/Dockerfile
  k8s/joomla/resources/joomla-k8s-app-architecture.png
  k8s/joomla/schema.yaml
  k8s/joomla/scripts/backup.sh
  k8s/joomla/scripts/restore.sh
Labels: cla: yes

#812 Add Drupal triger
  triggers/k8s/drupal.yaml
Labels: cla: yes

#810 Release of Nuclio with trigger
  k8s/nuclio/Makefile
  k8s/nuclio/README.md
  k8s/nuclio/apptest/deployer/nuclio/templates/registry-service.yaml
  k8s/nuclio/apptest/deployer/nuclio/templates/registry.yaml
  k8s/nuclio/apptest/deployer/nuclio/templates/tester.yaml
  k8s/nuclio/apptest/deployer/schema.yaml
  k8s/nuclio/apptest/tester/Dockerfile
  k8s/nuclio/apptest/tester/helloworld.py
  k8s/nuclio/apptest/tester/tester.sh
  k8s/nuclio/apptest/tester/tests/basic-suite.yaml
  k8s/nuclio/chart/nuclio/Chart.yaml
  k8s/nuclio/chart/nuclio/files/crd/function-event.yaml
  k8s/nuclio/chart/nuclio/files/crd/function.yaml
  k8s/nuclio/chart/nuclio/files/crd/project.yaml
  k8s/nuclio/chart/nuclio/logo.png
  k8s/nuclio/chart/nuclio/templates/_helpers.tpl
  k8s/nuclio/chart/nuclio/templates/application.yaml
  k8s/nuclio/chart/nuclio/templates/configmap/crd.yaml
  k8s/nuclio/chart/nuclio/templates/configmap/registry-url.yaml
  k8s/nuclio/chart/nuclio/templates/deployment/controller.yaml
  k8s/nuclio/chart/nuclio/templates/deployment/dashboard.yaml
  k8s/nuclio/chart/nuclio/templates/job/crd-create.yaml
  k8s/nuclio/chart/nuclio/templates/service/dashboard.yaml
  k8s/nuclio/chart/nuclio/values.yaml
  k8s/nuclio/deployer/Dockerfile
  k8s/nuclio/resources/nuclio-k8s-app-architecture.png
  k8s/nuclio/resources/service-accounts.yaml
  k8s/nuclio/schema.yaml
  triggers/k8s/nuclio.yaml
Labels: cla: yes, documentation, kind/k8s

#813 Drupal K8s application
  k8s/drupal/Makefile
  k8s/drupal/README.md
  k8s/drupal/apptest/deployer/drupal/templates/tester.yaml
  k8s/drupal/apptest/deployer/drupal/values.yaml
  k8s/drupal/apptest/deployer/schema.yaml
  k8s/drupal/apptest/tester/Dockerfile
  k8s/drupal/apptest/tester/tester.sh
  k8s/drupal/apptest/tester/tests/common/db-suite.yaml
  k8s/drupal/apptest/tester/tests/common/drupal-suite.yaml
  k8s/drupal/apptest/tester/tests/common/exporter-suite.yaml
  k8s/drupal/apptest/tester/tests/external/drupal-external-suite.yaml
  k8s/drupal/apptest/tester/tests/external/exporter-external-suite.yaml
  k8s/drupal/chart/drupal/Chart.yaml
  k8s/drupal/chart/drupal/logo.png
  k8s/drupal/chart/drupal/templates/application.yaml
  k8s/drupal/chart/drupal/templates/drupal-secret.yaml
  k8s/drupal/chart/drupal/templates/drupal-service.yaml
  k8s/drupal/chart/drupal/templates/drupal-statefulset.yaml
  k8s/drupal/chart/drupal/templates/mariadb-secret.yaml
  k8s/drupal/chart/drupal/templates/mariadb-service.yaml
  k8s/drupal/chart/drupal/templates/mariadb-statefulset.yaml
  k8s/drupal/chart/drupal/values.yaml
  k8s/drupal/deployer/Dockerfile
  k8s/drupal/resources/drupal-k8s-app-architecture.png
  k8s/drupal/schema.yaml
Labels: cla: yes

#815 C2D Makefile update: pass-through additional build ARG to docker
  k8s/c2d_deployer.Makefile
Labels: cla: yes, kind/k8s

#809 added sysctl init-container
  k8s/sonarqube/chart/sonarqube/templates/sonarqube-sts.yaml
  k8s/sonarqube/chart/sonarqube/values.yaml
  k8s/sonarqube/schema.yaml
Labels: cla: yes, kind/k8s

#816 Fix description for Drupal storage
  k8s/drupal/schema.yaml
Labels: cla: yes

#818 Joomla Tier 1 review edits
  k8s/joomla/README.md
  k8s/joomla/chart/joomla/templates/application.yaml
  k8s/joomla/schema.yaml
Labels: cla: yes, documentation, kind/k8s

#819 Drupal Tier 1 review edits
  k8s/drupal/README.md
Labels: cla: yes, documentation, kind/k8s
