Repository GoogleCloudPlatform/click-to-deploy, pull requests merged in 2019-05, with the labels that each got.

#537 Add initial docker directory
  docker/README.md
Labels: cla: yes, k8s

#541 typo in the env variable name SERVICE_ACCOUNT
  k8s/airflow-operator/README.md
Labels: cla: yes

#546 Grafana issue
  k8s/grafana/apptest/tester/tests/basic-suite.yaml
Labels: cla: yes

#527 Use TLS_CERTIFICATE in WordPress app.
  k8s/MARKETPLACE_TOOLS_TAG
  k8s/wordpress/README.md
  k8s/wordpress/apptest/tester/tests/external/wordpress-external-suite.yaml
  k8s/wordpress/chart/wordpress/templates/application.yaml.template
  k8s/wordpress/chart/wordpress/templates/wordpress-manifests.yaml.template
  k8s/wordpress/chart/wordpress/values.yaml
  k8s/wordpress/deployer/Dockerfile
  k8s/wordpress/deployer/entrypoint.sh
  k8s/wordpress/schema.yaml
Labels: cla: yes, k8s

#520 Use TLS_CERTIFICATE in Nginx app.
  k8s/nginx/README.md
  k8s/nginx/chart/nginx/templates/application.yaml
  k8s/nginx/chart/nginx/templates/nginx-secrets.yaml
  k8s/nginx/chart/nginx/values.yaml
  k8s/nginx/schema.yaml
Labels: cla: yes, k8s

#535 Split GCB triggers for Kubernetes applications
  .gitignore
  .travis.yml
  Makefile
  README.md
  cloudbuild-k8s.yaml
  k8s.Dockerfile
  scripts/cloudbuild_k8s_generator.py
  scripts/cloudbuild_k8s_generator_test.py
  triggers/k8s/agones.yaml
  triggers/k8s/airflow-operator.yaml
  triggers/k8s/cassandra.yaml
  triggers/k8s/elastic-gke-logging.yaml
  triggers/k8s/elasticsearch.yaml
  triggers/k8s/grafana.yaml
  triggers/k8s/influxdb.yaml
  triggers/k8s/jenkins.yaml
  triggers/k8s/mariadb.yaml
  triggers/k8s/memcached.yaml
  triggers/k8s/nginx.yaml
  triggers/k8s/postgresql.yaml
  triggers/k8s/prometheus.yaml
  triggers/k8s/rabbitmq.yaml
  triggers/k8s/sample-app.yaml
  triggers/k8s/sonarqube.yaml
  triggers/k8s/spark-operator.yaml
  triggers/k8s/wordpress.yaml
Labels: cla: yes, k8s

#543 Create a CI pipeline that will build the Docker image.
  cloudbuild-docker.yaml
  docker.Dockerfile
  docker/.gitignore
  docker/README.md
Labels: cla: yes, docker

#553 Update cloudbuild-k8s.yaml
  cloudbuild-k8s.yaml
Labels: cla: yes, k8s

#504 Sonarqube readme
  k8s/sonarqube/Makefile
  k8s/sonarqube/README.md
  k8s/sonarqube/chart/sonarqube/templates/application.yaml
  k8s/sonarqube/schema.yaml
Labels: cla: yes

#549 Delete cloudbuild.yaml
  cloudbuild.yaml
Labels: cla: yes, k8s

#555 Fix a nit
  k8s/sonarqube/README.md
Labels: cla: yes, k8s

#550 Adding short readme for triggers
  triggers/README.md
Labels: cla: yes, k8s

#561 Update README.md
  docker/README.md
Labels: cla: yes

#508 Polishing PostgreSQL and Sample App
  k8s/airflow-operator/README.md
  k8s/cassandra/README.md
  k8s/elastic-gke-logging/README.md
  k8s/elasticsearch/README.md
  k8s/grafana/README.md
  k8s/influxdb/README.md
  k8s/jenkins/README.md
  k8s/memcached/README.md
  k8s/nginx/README.md
  k8s/postgresql/README.md
  k8s/prometheus/README.md
  k8s/rabbitmq/README.md
  k8s/sample-app/README.md
  k8s/spark-operator/README.md
  k8s/wordpress/README.md
Labels: cla: yes, k8s

#545 Add GH templates for docker
  .github/ISSUE_TEMPLATE/docker_issue_template.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: cla: yes, docker

#560 Use custom worker pool. CB Improvements
  cloudbuild-k8s.yaml
  scripts/cloudbuild_k8s_generator.py
  scripts/cloudbuild_k8s_generator_test.py
Labels: cla: yes, k8s

#564 Add "needs-triage" tag. Add "kind" prefix
  .github/ISSUE_TEMPLATE/docker_issue_template.md
  .github/ISSUE_TEMPLATE/k8s_issue_template.md
  .github/ISSUE_TEMPLATE/vm_issue_template.md
Labels: cla: yes, kind/docker, kind/k8s, kind/vm

#575 Fixed typo
  k8s/wordpress/chart/wordpress/templates/application.yaml.template
Labels: cla: yes

#568 Add help to Makefile
  Makefile
Labels: cla: yes, kind/k8s

#539 Set an env var to where openssl expects it.
  vm/chef/cookbooks/zabbix/templates/default/opt-c2d-scripts-zabbix.erb
Labels: cla: yes, kind/vm

#577 Jenkins, removed Stackdriver exporter.
  k8s/jenkins/README.md
  k8s/jenkins/apptest/tester/tests/exporter-suite.yaml
  k8s/jenkins/chart/jenkins/templates/manifests.yaml.template
  k8s/jenkins/chart/jenkins/templates/prometheus-to-sd.yaml
  k8s/jenkins/chart/jenkins/values.yaml
  k8s/jenkins/schema.yaml
Labels: cla: yes

#571 Remove .template extension from k8s manifests 3
  k8s/prometheus/apptest/deployer/manifest/tester.yaml
  k8s/rabbitmq/README.md
  k8s/rabbitmq/apptest/deployer/rabbitmq/templates/tester.yaml
  k8s/rabbitmq/chart/rabbitmq/templates/application.yaml
  k8s/rabbitmq/chart/rabbitmq/templates/configmap.yaml
  k8s/rabbitmq/chart/rabbitmq/templates/prometheus-to-sd.yaml
  k8s/rabbitmq/chart/rabbitmq/templates/secret.yaml
  k8s/rabbitmq/chart/rabbitmq/templates/service-discovery.yaml
  k8s/rabbitmq/chart/rabbitmq/templates/service.yaml
  k8s/rabbitmq/chart/rabbitmq/templates/statefulset.yaml
  k8s/rabbitmq/scripts/rbac.yaml
  k8s/sample-app/apptest/deployer/manifest/tester.yaml
  k8s/sample-app/manifest/application.yaml
  k8s/sample-app/manifest/manifests.yaml
  k8s/sonarqube/apptest/deployer/sonarqube/templates/tester.yaml
Labels: cla: yes

#562 Add main readme for k8s. Move GCB worker pool to main readme
  README.md
  docker/README.md
  k8s/README.md
  vm/README.md
Labels: cla: yes, documentation, kind/docker, kind/k8s, kind/vm

#557 prometheus: fix perms for ksm addon-resizer
  k8s/prometheus/resources/service-accounts.yaml
  k8s/prometheus/schema.yaml
Labels: cla: yes, kind/k8s

#572 Add a command that shows a trigger details
  triggers/README.md
Labels: cla: yes, kind/k8s
