Repository GoogleCloudPlatform/click-to-deploy, pull requests merged in 2019-12, with the labels that each got.

#748 Tech Writer review - etcd - Tier 1
  k8s/etcd/README.md
  k8s/etcd/chart/etcd/templates/application.yaml
  k8s/etcd/schema.yaml
Labels: cla: yes, documentation, kind/k8s, needs-triage

#800 Tier 2 edits
  k8s/mariadb-galera/README.md
  k8s/mariadb-galera/chart/mariadb-galera/templates/application.yaml
Labels: cla: yes, documentation, kind/k8s

#817 Typo fix for Nuclio app
  k8s/nuclio/chart/nuclio/templates/_helpers.tpl
Labels: cla: yes, kind/k8s

#821 Tier I Tech Writer edits - Magento
  k8s/magento/README.md
  k8s/magento/chart/magento/templates/application.yaml
  k8s/magento/schema.yaml
Labels: cla: yes, documentation, kind/k8s

#822 Add mediawiki trigger
  triggers/k8s/mediawiki.yaml
Labels: cla: yes, kind/k8s

#826 add trigger for activemq
  triggers/k8s/activemq.yaml
Labels: cla: yes, kind/k8s

#825 Add ActiveMQ k8s app
  k8s/activemq/Makefile
  k8s/activemq/README.md
  k8s/activemq/apptest/deployer/activemq/templates/tester.yaml
  k8s/activemq/apptest/deployer/activemq/values.yaml
  k8s/activemq/apptest/deployer/schema.yaml
  k8s/activemq/apptest/tester/Dockerfile
  k8s/activemq/apptest/tester/tester.sh
  k8s/activemq/apptest/tester/tests/basic-suite.yaml
  k8s/activemq/chart/activemq/Chart.yaml
  k8s/activemq/chart/activemq/logo.png
  k8s/activemq/chart/activemq/templates/activemq-deployment.yaml
  k8s/activemq/chart/activemq/templates/activemq-pvc.yaml
  k8s/activemq/chart/activemq/templates/activemq-secret.yaml
  k8s/activemq/chart/activemq/templates/activemq-svc.yaml
  k8s/activemq/chart/activemq/templates/application.yaml
  k8s/activemq/chart/activemq/values.yaml
  k8s/activemq/deployer/Dockerfile
  k8s/activemq/resources/activemq-k8s-app-architecture.png
  k8s/activemq/schema.yaml
Labels: cla: yes, documentation, kind/k8s

#824 Add mediawiki k8s
  k8s/mediawiki/Makefile
  k8s/mediawiki/README.md
  k8s/mediawiki/apptest/deployer/mediawiki/templates/tester.yaml
  k8s/mediawiki/apptest/deployer/mediawiki/values.yaml
  k8s/mediawiki/apptest/deployer/schema.yaml
  k8s/mediawiki/apptest/tester/Dockerfile
  k8s/mediawiki/apptest/tester/tester.sh
  k8s/mediawiki/apptest/tester/tests/db-suite.yaml
  k8s/mediawiki/apptest/tester/tests/exporters-suite.yaml
  k8s/mediawiki/apptest/tester/tests/mediawiki-suite.yaml
  k8s/mediawiki/chart/mediawiki/Chart.yaml
  k8s/mediawiki/chart/mediawiki/files/custom_settings.php
  k8s/mediawiki/chart/mediawiki/files/mysqld_exporter.sql
  k8s/mediawiki/chart/mediawiki/logo.png
  k8s/mediawiki/chart/mediawiki/templates/application.yaml
  k8s/mediawiki/chart/mediawiki/templates/mariadb-secrets.yaml
  k8s/mediawiki/chart/mediawiki/templates/mariadb-services.yaml
  k8s/mediawiki/chart/mediawiki/templates/mariadb-statefulset.yaml
  k8s/mediawiki/chart/mediawiki/templates/mediawiki-configmap.yaml
  k8s/mediawiki/chart/mediawiki/templates/mediawiki-ingress.yaml
  k8s/mediawiki/chart/mediawiki/templates/mediawiki-secrets.yaml
  k8s/mediawiki/chart/mediawiki/templates/mediawiki-services.yaml
  k8s/mediawiki/chart/mediawiki/templates/mediawiki-statefulset.yaml
  k8s/mediawiki/chart/mediawiki/values.yaml
  k8s/mediawiki/deployer/Dockerfile
  k8s/mediawiki/resources/mediawiki-k8s-app-architecture.png
  k8s/mediawiki/schema.yaml
  k8s/mediawiki/scripts/backup.sh
  k8s/mediawiki/scripts/restore.sh
Labels: cla: yes, documentation, kind/k8s

#723 Remove parameters from app/verify
  k8s/MARKETPLACE_TOOLS_TAG
  k8s/app.Makefile
  k8s/app_v2.Makefile
Labels: cla: yes, kind/k8s

#835 Fix MediaWiki schema labels
  k8s/mediawiki/schema.yaml
Labels: cla: yes, kind/k8s

#836 Fix MediaWiki application.yaml
  k8s/mediawiki/chart/mediawiki/templates/application.yaml
Labels: cla: yes, kind/k8s

#838 Revert VM update
  vm/chef/cookbooks/ceph/attributes/default.rb
  vm/chef/cookbooks/elasticsearch/attributes/default.rb
  vm/chef/cookbooks/elasticsearch/files/elasticsearch
  vm/chef/cookbooks/elasticsearch/recipes/default.rb
  vm/chef/cookbooks/mongodb/attributes/default.rb
Labels: cla: yes, kind/vm

#832 Release of prometheus operator with trigger
  k8s/prometheus-operator/Makefile
  k8s/prometheus-operator/README.md
  k8s/prometheus-operator/apptest/deployer/prometheus-operator/templates/test-instance.yaml
  k8s/prometheus-operator/apptest/deployer/prometheus-operator/templates/tester.yaml
  k8s/prometheus-operator/apptest/deployer/schema.yaml
  k8s/prometheus-operator/apptest/tester/Dockerfile
  k8s/prometheus-operator/apptest/tester/tester.sh
  k8s/prometheus-operator/apptest/tester/tests/basic-suite.yaml
  k8s/prometheus-operator/chart/prometheus-operator/Chart.yaml
  k8s/prometheus-operator/chart/prometheus-operator/logo.png
  k8s/prometheus-operator/chart/prometheus-operator/templates/_helpers.tpl
  k8s/prometheus-operator/chart/prometheus-operator/templates/application.yaml
  k8s/prometheus-operator/chart/prometheus-operator/templates/deployment/operator.yaml
  k8s/prometheus-operator/chart/prometheus-operator/values.yaml
  k8s/prometheus-operator/deployer/Dockerfile
  k8s/prometheus-operator/resources/prometheus-operator-k8s-app-architecture.png
  k8s/prometheus-operator/resources/sample/01-prometheus-cluster-role.yaml
  k8s/prometheus-operator/resources/sample/02-prometheus-service-account.yaml
  k8s/prometheus-operator/resources/sample/03-prometheus-cluster-role-binding.yaml
  k8s/prometheus-operator/resources/sample/04-kubelet-service-monitor.yaml
  k8s/prometheus-operator/resources/sample/05-prometheus.yaml
  k8s/prometheus-operator/resources/service-accounts.yaml
  k8s/prometheus-operator/schema.yaml
  triggers/k8s/prometheus-operator.yaml
Labels: cla: yes, documentation, kind/k8s

#831 Release of jaeger-operator with trigger
  k8s/jaeger-operator/Makefile
  k8s/jaeger-operator/README.md
  k8s/jaeger-operator/apptest/deployer/jaeger-operator/templates/tester.yaml
  k8s/jaeger-operator/apptest/deployer/schema.yaml
  k8s/jaeger-operator/apptest/tester/Dockerfile
  k8s/jaeger-operator/apptest/tester/tester.sh
  k8s/jaeger-operator/apptest/tester/tests/basic-suite.yaml
  k8s/jaeger-operator/chart/jaeger-operator/Chart.yaml
  k8s/jaeger-operator/chart/jaeger-operator/files/crd/jaegertracing.io_jaegers_crd.yaml
  k8s/jaeger-operator/chart/jaeger-operator/logo.png
  k8s/jaeger-operator/chart/jaeger-operator/templates/_helpers.tpl
  k8s/jaeger-operator/chart/jaeger-operator/templates/application.yaml
  k8s/jaeger-operator/chart/jaeger-operator/templates/configmap/crd.yaml
  k8s/jaeger-operator/chart/jaeger-operator/templates/deployment/operator.yaml
  k8s/jaeger-operator/chart/jaeger-operator/templates/job/crd-create.yaml
  k8s/jaeger-operator/chart/jaeger-operator/values.yaml
  k8s/jaeger-operator/deployer/Dockerfile
  k8s/jaeger-operator/resources/jaeger-operator-k8s-app-architecture.png
  k8s/jaeger-operator/resources/service-accounts.yaml
  k8s/jaeger-operator/schema.yaml
  triggers/k8s/jaeger-operator.yaml
Labels: cla: yes, documentation, kind/k8s

#840 Increase verify timeout for jaeger-operator and delete test instance after test
  k8s/jaeger-operator/Makefile
  k8s/jaeger-operator/apptest/tester/tests/basic-suite.yaml
Labels: cla: yes, kind/k8s

#841 Piwik fix
  vm/chef/cookbooks/piwik/templates/default/install-piwik.json.erb
Labels: cla: yes

#843 Fix types in application.yaml
  k8s/etcd/chart/etcd/templates/application.yaml
  k8s/mariadb-galera/chart/mariadb-galera/templates/application.yaml
Labels: cla: yes, kind/k8s

#842 Fix MediaWiki Ingress
  k8s/mediawiki/chart/mediawiki/templates/application.yaml
Labels: cla: yes, kind/k8s

#844 Add (Managed Updates) title to Consul
  k8s/consul/chart/consul/templates/application.yaml
Labels: cla: yes, kind/k8s

#848 Add TODO comments. Fix a nit
  k8s/memcached/Makefile
  k8s/postgresql/Makefile
  k8s/sonarqube/Makefile
  k8s/zookeeper/Makefile
Labels: cla: yes, kind/k8s

#852 Updated sonarqube and zookeeper Makefiles
  k8s/sonarqube/Makefile
  k8s/zookeeper/Makefile
Labels: cla: yes, kind/k8s

#851 add kalm/istio support to schema
  k8s/activemq/schema.yaml
  k8s/magento/schema.yaml
  k8s/nuclio/schema.yaml
  k8s/zookeeper/schema.yaml
Labels: cla: yes, kind/k8s

#857 Drupal 8.8
  k8s/drupal/Makefile
Labels: cla: yes
