Repository GoogleCloudPlatform/click-to-deploy, pull requests merged in 2019-03, with the labels that each got.

#400 Fix a typo.
  vm/README.md
Labels: cla: yes

#403 Moved imagebuilder tag to the file
  cloudbuild-vm.yaml
  vm/IMAGEBUILDER_TAG
Labels: cla: yes

#405 Fix license headers
  k8s/jenkins/deployer/entrypoint.sh
  k8s/postgresql/deployer/deploy.sh
  k8s/wordpress/deployer/entrypoint.sh
Labels: cla: yes

#379 Change sample app name.
  k8s/sample-app/manifest/application.yaml.template
Labels: cla: yes

#375 Add a button to run an environment in Cloud Shell
  k8s/airflow-operator/README.md
  k8s/cassandra/README.md
  k8s/elastic-gke-logging/README.md
  k8s/elasticsearch/README.md
  k8s/grafana/README.md
  k8s/influxdb/README.md
  k8s/jenkins/README.md
  k8s/memcached/README.md
  k8s/nginx/README.md
  k8s/postgresql/README.md
  k8s/prometheus/README.md
  k8s/rabbitmq/README.md
  k8s/sample-app/README.md
  k8s/spark-operator/README.md
  k8s/wordpress/README.md
Labels: cla: yes

#408 vm - general-purpose-cloud-vm initial commit
  vm/chef/cookbooks/general-purpose-cloud-vm/metadata.rb
  vm/chef/cookbooks/general-purpose-cloud-vm/recipes/default.rb
  vm/packer/templates/general-purpose-cloud-vm/packer.in.json
  vm/tests/solutions/spec/general-purpose-cloud-vm/c2d_startup_spec.rb
  vm/tests/solutions/spec/general-purpose-cloud-vm/ports_spec.rb
  vm/tests/solutions/spec/general-purpose-cloud-vm/stackdriver_installed.rb
Labels: cla: yes

#377 Updated README instructions
  k8s/elastic-gke-logging/README.md
Labels: cla: yes

#409 vm - general-purpose-cloud-vm created symlink to stackdriver test
  vm/tests/solutions/spec/general-purpose-cloud-vm/stackdriver_installed.rb
Labels: cla: yes

#407 Committer: Mykola Rak <mrak@google.com>
  vm/chef/cookbooks/redis/files/redis
  vm/chef/cookbooks/redis/files/redis-sentinel.service
  vm/chef/cookbooks/redis/files/redis-server.service
  vm/chef/cookbooks/redis/files/redis.conf
  vm/chef/cookbooks/redis/recipes/default.rb
  vm/tests/solutions/spec/redis/redis_spec.rb
Labels: cla: yes

#410 vm - mysql8-book added MySQL root password
  vm/chef/cookbooks/mysql8-book/files/mysql-book-customization
Labels: cla: yes

#411 Wordpress helm
  k8s/wordpress/Makefile
  k8s/wordpress/README.md
  k8s/wordpress/apptest/deployer/wordpress/templates/tester.yaml.template
  k8s/wordpress/apptest/deployer/wordpress/values.yaml
  k8s/wordpress/chart/wordpress/Chart.yaml
  k8s/wordpress/chart/wordpress/templates/application.yaml.template
  k8s/wordpress/chart/wordpress/templates/manifests.yaml.template
  k8s/wordpress/chart/wordpress/values.yaml
  k8s/wordpress/deployer/Dockerfile
  k8s/wordpress/deployer/entrypoint.sh
  k8s/wordpress/schema.yaml
Labels: cla: yes

#417 Migrate Grafana to helm
  k8s/grafana/Makefile
  k8s/grafana/README.md
  k8s/grafana/apptest/deployer/grafana/templates/tester.yaml.template
  k8s/grafana/apptest/deployer/grafana/values.yaml
  k8s/grafana/chart/grafana/Chart.yaml
  k8s/grafana/chart/grafana/templates/application.yaml
  k8s/grafana/chart/grafana/templates/configmap.yaml
  k8s/grafana/chart/grafana/templates/secret.yaml
  k8s/grafana/chart/grafana/templates/service.yaml
  k8s/grafana/chart/grafana/templates/statefulset.yaml
  k8s/grafana/chart/grafana/values.yaml
  k8s/grafana/deployer/Dockerfile
  k8s/grafana/manifest/secret.yaml
  k8s/grafana/schema.yaml
Labels: cla: yes

#415 Migrate InfluxDB to helm
  k8s/influxdb/Makefile
  k8s/influxdb/README.md
  k8s/influxdb/apptest/deployer/influxdb/templates/tester.yaml.template
  k8s/influxdb/apptest/deployer/influxdb/values.yaml
  k8s/influxdb/chart/influxdb/Chart.yaml
  k8s/influxdb/chart/influxdb/templates/application.yaml
  k8s/influxdb/chart/influxdb/templates/influxdb-secrets.yaml
  k8s/influxdb/chart/influxdb/templates/manifests.yaml
  k8s/influxdb/chart/influxdb/values.yaml
  k8s/influxdb/deployer/Dockerfile
  k8s/influxdb/manifest/influxdb-secrets.yaml
  k8s/influxdb/schema.yaml
Labels: cla: yes

#419 Migrate RabbitMQ to helm template
  k8s/rabbitmq/Makefile
  k8s/rabbitmq/README.md
  k8s/rabbitmq/apptest/deployer/rabbitmq/templates/tester.yaml.template
  k8s/rabbitmq/apptest/deployer/rabbitmq/values.yaml
  k8s/rabbitmq/chart/rabbitmq/Chart.yaml
  k8s/rabbitmq/chart/rabbitmq/templates/application.yaml.template
  k8s/rabbitmq/chart/rabbitmq/templates/configmap.yaml.template
  k8s/rabbitmq/chart/rabbitmq/templates/secret.yaml.template
  k8s/rabbitmq/chart/rabbitmq/templates/service-discovery.yaml.template
  k8s/rabbitmq/chart/rabbitmq/templates/service.yaml.template
  k8s/rabbitmq/chart/rabbitmq/templates/statefulset.yaml.template
  k8s/rabbitmq/chart/rabbitmq/values.yaml
  k8s/rabbitmq/deployer/Dockerfile
  k8s/rabbitmq/manifest/secret.yaml.template
  k8s/rabbitmq/schema.yaml
Labels: cla: yes, k8s

#404 Adding Agones to the list of supported services.
  cloudbuild.yaml
  k8s/agones/Makefile
  k8s/agones/README.md
  k8s/agones/chart/agones-mp/Chart.yaml
  k8s/agones/chart/agones-mp/charts/agones-0.8.1.tgz
  k8s/agones/chart/agones-mp/requirements.lock
  k8s/agones/chart/agones-mp/requirements.yaml
  k8s/agones/chart/agones-mp/templates/application.yaml
  k8s/agones/chart/agones-mp/templates/installer.yaml
  k8s/agones/chart/agones-mp/values.yaml
  k8s/agones/deployer/Dockerfile
  k8s/agones/schema.yaml
  k8s/agones/scripts/agones-installer.sh
Labels: cla: yes

#424 Auto migrate elasticsearch to helm template
  k8s/elasticsearch/Makefile
  k8s/elasticsearch/README.md
  k8s/elasticsearch/apptest/deployer/elasticsearch/templates/tester.yaml.template
  k8s/elasticsearch/apptest/deployer/elasticsearch/values.yaml
  k8s/elasticsearch/chart/elasticsearch/Chart.yaml
  k8s/elasticsearch/chart/elasticsearch/templates/application.yaml.template
  k8s/elasticsearch/chart/elasticsearch/templates/manifests.yaml.template
  k8s/elasticsearch/chart/elasticsearch/values.yaml
  k8s/elasticsearch/deployer/Dockerfile
  k8s/elasticsearch/schema.yaml
Labels: cla: yes, k8s

#426 Auto migrate elastic-gke-logging to helm template
  k8s/elastic-gke-logging/Makefile
  k8s/elastic-gke-logging/README.md
  k8s/elastic-gke-logging/apptest/deployer/elastic-gke-logging/templates/tester.yaml.template
  k8s/elastic-gke-logging/apptest/deployer/elastic-gke-logging/values.yaml
  k8s/elastic-gke-logging/chart/elastic-gke-logging/Chart.yaml
  k8s/elastic-gke-logging/chart/elastic-gke-logging/templates/application.yaml.template
  k8s/elastic-gke-logging/chart/elastic-gke-logging/templates/elasticsearch-manifests.yaml.template
  k8s/elastic-gke-logging/chart/elastic-gke-logging/templates/fluentd-manifests.yaml.template
  k8s/elastic-gke-logging/chart/elastic-gke-logging/templates/kibana-manifests.yaml.template
  k8s/elastic-gke-logging/chart/elastic-gke-logging/values.yaml
  k8s/elastic-gke-logging/deployer/Dockerfile
  k8s/elastic-gke-logging/schema.yaml
Labels: cla: yes, k8s

#430 Added missing env variables needed for envsubst
  k8s/elastic-gke-logging/scripts/create-backup-infra.sh
  k8s/elastic-gke-logging/scripts/patch-sts-for-backup.sh
Labels: cla: yes

#429 Mrak postgresql migration
  k8s/postgresql/Makefile
  k8s/postgresql/README.md
  k8s/postgresql/apptest/deployer/postgresql/templates/tester.yaml.template
  k8s/postgresql/apptest/deployer/postgresql/values.yaml
  k8s/postgresql/chart/postgresql/Chart.yaml
  k8s/postgresql/chart/postgresql/templates/application.yaml
  k8s/postgresql/chart/postgresql/templates/manifests.yaml
  k8s/postgresql/chart/postgresql/values.yaml
  k8s/postgresql/deployer/Dockerfile
  k8s/postgresql/schema.yaml
Labels: cla: yes

#335 Upgraded Spark Operator manifest
  k8s/spark-operator/Makefile
  k8s/spark-operator/README.md
  k8s/spark-operator/apptest/deployer/manifest/tester.yaml.template
  k8s/spark-operator/apptest/tester/spark-pi.yaml.template
  k8s/spark-operator/apptest/tester/tester.sh
  k8s/spark-operator/manifest/application.yaml.template
  k8s/spark-operator/manifest/manifests.yaml.template
  k8s/spark-operator/schema.yaml
Labels: cla: yes

#392 Replace hardcoded project in WorkerPool with env
  cloudbuild-vm.yaml
Labels: cla: yes, work in progress

#418 Update Makefile
  k8s/wordpress/Makefile
Labels: cla: yes, k8s

#425 Auto migrate cassandra to helm template
  k8s/cassandra/Makefile
  k8s/cassandra/README.md
  k8s/cassandra/apptest/deployer/cassandra/templates/tester.yaml.template
  k8s/cassandra/apptest/deployer/cassandra/values.yaml
  k8s/cassandra/chart/cassandra/Chart.yaml
  k8s/cassandra/chart/cassandra/templates/application.yaml.template
  k8s/cassandra/chart/cassandra/templates/manifests.yaml.template
  k8s/cassandra/chart/cassandra/values.yaml
  k8s/cassandra/deployer/Dockerfile
  k8s/cassandra/schema.yaml
Labels: cla: yes, k8s

#422 Auto migrate memcached to helm template
  k8s/memcached/Makefile
  k8s/memcached/README.md
  k8s/memcached/apptest/deployer/memcached/templates/tester.yaml.template
  k8s/memcached/apptest/deployer/memcached/values.yaml
  k8s/memcached/chart/memcached/Chart.yaml
  k8s/memcached/chart/memcached/templates/application.yaml.template
  k8s/memcached/chart/memcached/templates/manifests.yaml.template
  k8s/memcached/chart/memcached/values.yaml
  k8s/memcached/deployer/Dockerfile
  k8s/memcached/schema.yaml
Labels: cla: yes, k8s

#435 WordPress splitting manifest for two
  k8s/wordpress/chart/wordpress/templates/mysql-manifests.yaml.template
  k8s/wordpress/chart/wordpress/templates/wordpress-manifests.yaml.template
Labels: cla: yes

#421 Auto migrate nginx to helm template
  k8s/nginx/Makefile
  k8s/nginx/README.md
  k8s/nginx/apptest/deployer/nginx/templates/tester.yaml.template
  k8s/nginx/apptest/deployer/nginx/values.yaml
  k8s/nginx/chart/nginx/Chart.yaml
  k8s/nginx/chart/nginx/templates/application.yaml
  k8s/nginx/chart/nginx/templates/manifests.yaml
  k8s/nginx/chart/nginx/templates/nginx-config.yaml
  k8s/nginx/chart/nginx/templates/nginx-secrets.yaml
  k8s/nginx/chart/nginx/values.yaml
  k8s/nginx/deployer/Dockerfile
  k8s/nginx/schema.yaml
Labels: cla: yes, k8s

#439 Grafana readme for metrics
  k8s/grafana/README.md
Labels: cla: yes

#427 Add Stackdriver integration for Grafana
  k8s/grafana/Makefile
  k8s/grafana/README.md
  k8s/grafana/apptest/tester/tests/basic-suite.yaml
  k8s/grafana/chart/grafana/templates/application.yaml
  k8s/grafana/chart/grafana/templates/prometheus-to-sd.yaml
  k8s/grafana/chart/grafana/values.yaml
  k8s/grafana/schema.yaml
Labels: cla: yes, k8s, work in progress

#434 Add Stackdriver integration for InfluxDB
  k8s/influxdb/Makefile
  k8s/influxdb/README.md
  k8s/influxdb/apptest/tester/tests/basic-suite.yaml
  k8s/influxdb/chart/influxdb/templates/application.yaml
  k8s/influxdb/chart/influxdb/templates/prometheus-to-sd.yaml
  k8s/influxdb/chart/influxdb/values.yaml
  k8s/influxdb/schema.yaml
Labels: cla: yes, k8s, work in progress

#442 Rabbitmq metrics support
  k8s/rabbitmq/Makefile
  k8s/rabbitmq/README.md
  k8s/rabbitmq/apptest/tester/Dockerfile
  k8s/rabbitmq/apptest/tester/tests/basic-suite.yaml
  k8s/rabbitmq/chart/rabbitmq/templates/application.yaml.template
  k8s/rabbitmq/chart/rabbitmq/templates/configmap.yaml.template
  k8s/rabbitmq/chart/rabbitmq/templates/prometheus-to-sd.yaml.template
  k8s/rabbitmq/chart/rabbitmq/values.yaml
  k8s/rabbitmq/deployer/Dockerfile
  k8s/rabbitmq/schema.yaml
Labels: cla: yes

#443 Fix metrics endpoint
  k8s/rabbitmq/README.md
Labels: cla: yes

#370 Jenkins tests
  k8s/jenkins/Makefile
  k8s/jenkins/apptest/tester/Dockerfile
  k8s/jenkins/apptest/tester/tester.sh
  k8s/jenkins/apptest/tester/tests/basic-suite.yaml
  k8s/jenkins/deployer/Dockerfile
Labels: cla: yes

#450 Rename launcher to marketplace
  k8s/airflow-operator/apptest/tester/Dockerfile
  k8s/cassandra/Makefile
  k8s/cassandra/deployer/Dockerfile
  k8s/cassandra/scripts/controller.yaml
  k8s/elastic-gke-logging/Makefile
  k8s/elastic-gke-logging/deployer/Dockerfile
  k8s/elastic-gke-logging/scripts/backup-nfs.yaml.template
  k8s/elasticsearch/Makefile
  k8s/elasticsearch/deployer/Dockerfile
  k8s/elasticsearch/scripts/backup-nfs.yaml.template
  k8s/grafana/Makefile
  k8s/grafana/deployer/Dockerfile
  k8s/influxdb/Makefile
  k8s/influxdb/deployer/Dockerfile
  k8s/jenkins/Makefile
  k8s/memcached/Makefile
  k8s/memcached/deployer/Dockerfile
  k8s/nginx/Makefile
  k8s/nginx/deployer/Dockerfile
  k8s/postgresql/Makefile
  k8s/postgresql/README.md
  k8s/postgresql/deployer/Dockerfile
  k8s/prometheus/Makefile
  k8s/rabbitmq/Makefile
  k8s/rabbitmq/deployer/Dockerfile
  k8s/sample-app/Makefile
  k8s/spark-operator/apptest/tester/Dockerfile
  k8s/wordpress/Makefile
  k8s/wordpress/README.md
  k8s/wordpress/deployer/Dockerfile
Labels: cla: yes

#453 Add Cassandra Prometheus metrics
  k8s/cassandra/Makefile
  k8s/cassandra/README.md
  k8s/cassandra/apptest/tester/tests/basic-suite.yaml
  k8s/cassandra/chart/cassandra/templates/manifests.yaml.template
  k8s/cassandra/chart/cassandra/values.yaml
  k8s/cassandra/schema.yaml
Labels: cla: yes

#452 Add Prometheus metrics to Memcached
  k8s/memcached/Makefile
  k8s/memcached/README.md
  k8s/memcached/apptest/tester/tests/basic-suite.yaml
  k8s/memcached/chart/memcached/templates/application.yaml.template
  k8s/memcached/chart/memcached/templates/manifests.yaml.template
  k8s/memcached/chart/memcached/values.yaml
  k8s/memcached/schema.yaml
Labels: cla: yes

#448 Adding default imageTester in test schema/yaml to make the cloudbuild tests reproducible in verification pipeline
  k8s/agones/Makefile
  k8s/airflow-operator/Makefile
  k8s/airflow-operator/apptest/deployer/schema.yaml
  k8s/airflow-operator/deployer/Dockerfile
  k8s/app.Makefile
  k8s/cassandra/Makefile
  k8s/cassandra/apptest/deployer/schema.yaml
  k8s/cassandra/deployer/Dockerfile
  k8s/elastic-gke-logging/Makefile
  k8s/elastic-gke-logging/apptest/deployer/schema.yaml
  k8s/elastic-gke-logging/deployer/Dockerfile
  k8s/elasticsearch/Makefile
  k8s/elasticsearch/apptest/deployer/schema.yaml
  k8s/elasticsearch/deployer/Dockerfile
  k8s/grafana/Makefile
  k8s/grafana/apptest/deployer/schema.yaml
  k8s/grafana/deployer/Dockerfile
  k8s/influxdb/Makefile
  k8s/influxdb/apptest/deployer/schema.yaml
  k8s/influxdb/deployer/Dockerfile
  k8s/jenkins/Makefile
  k8s/jenkins/apptest/deployer/schema.yaml
  k8s/jenkins/deployer/Dockerfile
  k8s/memcached/Makefile
  k8s/memcached/apptest/deployer/schema.yaml
  k8s/memcached/deployer/Dockerfile
  k8s/nginx/Makefile
  k8s/nginx/apptest/deployer/schema.yaml
  k8s/nginx/deployer/Dockerfile
  k8s/postgresql/Makefile
  k8s/postgresql/apptest/deployer/schema.yaml
  k8s/postgresql/deployer/Dockerfile
  k8s/prometheus/Makefile
  k8s/prometheus/apptest/deployer/schema.yaml
  k8s/prometheus/deployer/Dockerfile
  k8s/rabbitmq/Makefile
  k8s/rabbitmq/apptest/deployer/schema.yaml
  k8s/rabbitmq/deployer/Dockerfile
  k8s/sample-app/Makefile
  k8s/sample-app/apptest/deployer/schema.yaml
  k8s/sample-app/deployer/Dockerfile
  k8s/spark-operator/Makefile
  k8s/spark-operator/apptest/deployer/schema.yaml
  k8s/spark-operator/deployer/Dockerfile
  k8s/wordpress/Makefile
  k8s/wordpress/apptest/deployer/schema.yaml
  k8s/wordpress/deployer/Dockerfile
Labels: cla: yes

#441 Add "Application metrics" section to InfluxDB readme and correct the Grafana readme
  k8s/grafana/README.md
  k8s/influxdb/README.md
Labels: cla: yes

#444 Add METRICS_EXPORTER_ENABLED to Makefile of Grafana and InfluxDB
  k8s/grafana/Makefile
  k8s/influxdb/Makefile
Labels: cla: yes

#454 Update exporter-suite.yaml
  k8s/postgresql/apptest/tester/tests/exporter-suite.yaml
Labels: cla: yes

#413 Grafana - Move reading of credentials env to k8s manifest
  k8s/grafana/apptest/deployer/grafana/templates/tester.yaml.template
  k8s/grafana/apptest/tester/tests/basic-suite.yaml
Labels: cla: yes, k8s

#446 Add Stackdriver integration for WordPress MySQL
  k8s/wordpress/Makefile
  k8s/wordpress/README.md
  k8s/wordpress/apptest/tester/Dockerfile
  k8s/wordpress/apptest/tester/tests/exporter-suite.yaml
  k8s/wordpress/chart/wordpress/templates/application.yaml.template
  k8s/wordpress/chart/wordpress/templates/mysql-manifests.yaml.template
  k8s/wordpress/chart/wordpress/templates/prometheus-to-sd.yaml.template
  k8s/wordpress/chart/wordpress/values.yaml
  k8s/wordpress/schema.yaml
Labels: cla: yes

#423 Auto migrate jenkins to helm template
  k8s/jenkins/Makefile
  k8s/jenkins/README.md
  k8s/jenkins/apptest/deployer/jenkins/templates/tester.yaml.template
  k8s/jenkins/apptest/deployer/jenkins/values.yaml
  k8s/jenkins/chart/jenkins/Chart.yaml
  k8s/jenkins/chart/jenkins/templates/application.yaml.template
  k8s/jenkins/chart/jenkins/templates/manifests.yaml.template
  k8s/jenkins/chart/jenkins/values.yaml
  k8s/jenkins/deployer/Dockerfile
  k8s/jenkins/schema.yaml
  k8s/rabbitmq/deployer/Dockerfile
Labels: cla: yes, k8s

#458 Fix conflict of PR https://github.com/GoogleCloudPlatform/click-to-deploy/pull/456
  k8s/jenkins/deployer/Dockerfile
  k8s/rabbitmq/deployer/Dockerfile
Labels: cla: yes

#451 Postgresql exporter
  k8s/postgresql/Makefile
  k8s/postgresql/README.md
  k8s/postgresql/apptest/tester/Dockerfile
  k8s/postgresql/apptest/tester/tests/exporter-suite.yaml
  k8s/postgresql/chart/postgresql/Chart.yaml
  k8s/postgresql/chart/postgresql/templates/manifests.yaml
  k8s/postgresql/chart/postgresql/templates/prometheus-to-sd.yaml
  k8s/postgresql/chart/postgresql/values.yaml
  k8s/postgresql/schema.yaml
Labels: cla: yes
