Repository GoogleCloudPlatform/click-to-deploy, pull requests merged in 2020-07, with the labels that each got.

#1002 Fixed apache exporter image references
  k8s/drupal/Makefile
  k8s/joomla/Makefile
  k8s/mediawiki/Makefile
  k8s/mediawiki/README.md
Labels: cla: yes, documentation, kind/k8s

#1003 upgrade etcd to 3.3 -> 3.4
  k8s/etcd/Makefile
  k8s/etcd/apptest/tester/Dockerfile
  k8s/etcd/apptest/tester/tests/nodes-number-suite.yaml
  k8s/etcd/chart/etcd/templates/scripts-configmap.yaml
Labels: cla: yes, kind/k8s

#1005 galera storageclass template
  k8s/mariadb-galera/README.md
  k8s/mariadb-galera/chart/mariadb-galera/templates/statefulset.yaml
  k8s/mariadb-galera/chart/mariadb-galera/values.yaml
  k8s/mariadb-galera/schema.yaml
Labels: cla: yes, documentation, kind/k8s

#1006 template storageclass for mediawiki
  k8s/mediawiki/README.md
  k8s/mediawiki/chart/mediawiki/templates/mariadb-statefulset.yaml
  k8s/mediawiki/chart/mediawiki/templates/mediawiki-statefulset.yaml
  k8s/mediawiki/chart/mediawiki/values.yaml
  k8s/mediawiki/schema.yaml
Labels: cla: yes, documentation, kind/k8s

#1010 Updated SonarQube track
  k8s/sonarqube/Makefile
Labels: cla: yes, kind/k8s

#1008 K8s Consul - Add dynamic storageClass provisioning
  k8s/consul/README.md
  k8s/consul/chart/consul/templates/server-statefulset.yaml
  k8s/consul/chart/consul/values.yaml
  k8s/consul/schema.yaml
Labels: cla: yes, documentation, kind/k8s

#1013 Update kafka 2.1.1 => 2.5.0
  vm/chef/cookbooks/kafka/attributes/default.rb
Labels: cla: yes, kind/vm

#1012 Set timeout for docker build
  cloudbuild-docker.yaml
Labels: cla: yes, kind/docker

#1011 [mediawiki] Docker images updates - 2020-07-06
  docker/mediawiki/1/debian9/1.33/Dockerfile
  docker/mediawiki/1/debian9/1.33/common_functions.sh
  docker/mediawiki/1/debian9/1.33/custom_settings.php
  docker/mediawiki/1/debian9/1.33/docker-entrypoint.sh
  docker/mediawiki/1/debian9/1.34/Dockerfile
  docker/mediawiki/1/debian9/1.34/common_functions.sh
  docker/mediawiki/1/debian9/1.34/custom_settings.php
  docker/mediawiki/1/debian9/1.34/docker-entrypoint.sh
  docker/mediawiki/templates/Dockerfile.template
  docker/mediawiki/templates/common_functions.sh
  docker/mediawiki/templates/custom_settings.php
  docker/mediawiki/templates/docker-entrypoint.sh
  docker/mediawiki/tests/functional_tests/apache_exporter_test.yaml
  docker/mediawiki/versions.yaml
Labels: cla: yes, kind/docker

#1009 K8s ZooKeeper - Add dynamic storageClass provisioning
  k8s/zookeeper/README.md
  k8s/zookeeper/chart/zookeeper/templates/statefulset.yaml
  k8s/zookeeper/chart/zookeeper/values.yaml
  k8s/zookeeper/schema.yaml
Labels: cla: yes, documentation, kind/k8s

#994 Docker - Add Drupal container
  docker/drupal/8/php7/debian9/8.8/apache/Dockerfile
  docker/drupal/8/php7/debian9/8.8/apache/docker-entrypoint.sh
  docker/drupal/8/php7/debian9/8.8/apache/makedb.php
  docker/drupal/8/php7/debian9/8.9/apache/Dockerfile
  docker/drupal/8/php7/debian9/8.9/apache/docker-entrypoint.sh
  docker/drupal/8/php7/debian9/8.9/apache/makedb.php
  docker/drupal/9/php7/debian9/9.0/apache/Dockerfile
  docker/drupal/9/php7/debian9/9.0/apache/docker-entrypoint.sh
  docker/drupal/9/php7/debian9/9.0/apache/makedb.php
  docker/drupal/CONTRIBUTING.md
  docker/drupal/LICENSE
  docker/drupal/README.md
  docker/drupal/templates/Dockerfile.template
  docker/drupal/templates/docker-entrypoint.sh
  docker/drupal/templates/makedb.php
  docker/drupal/tests/functional_tests/auto_install_test.yaml
  docker/drupal/tests/functional_tests/running_test.yaml
  docker/drupal/versions.yaml
Labels: cla: yes, documentation, kind/docker

#1016 update solr 8.2 => 8.5
  vm/chef/cookbooks/solr/attributes/default.rb
Labels: cla: yes, kind/vm

#1015 Initial release of Discourse VM with tests
  vm/chef/cookbooks/discourse/attributes/default.rb
  vm/chef/cookbooks/discourse/files/discourse-setup
  vm/chef/cookbooks/discourse/files/nginx-install
  vm/chef/cookbooks/discourse/files/puma.service
  vm/chef/cookbooks/discourse/metadata.rb
  vm/chef/cookbooks/discourse/recipes/default.rb
  vm/chef/cookbooks/rvm/attributes/default.rb
  vm/chef/cookbooks/rvm/metadata.rb
  vm/chef/cookbooks/rvm/recipes/default.rb
  vm/packer/templates/discourse/packer.in.json
  vm/tests/config/discourse
  vm/tests/solutions/spec/discourse/c2d_startup_spec.rb
  vm/tests/solutions/spec/discourse/configure_script_and_index_page_spec.rb
  vm/tests/solutions/spec/discourse/ports_spec.rb
  vm/tests/solutions/spec/discourse/services_spec.rb
  vm/tests/solutions/spec/discourse/stackdriver_spec.rb
  vm/tests/solutions/spec/discourse/users_spec.rb
Labels: cla: yes, kind/vm

#1014 update cassandra 3.11.5 => 3.11.6
  vm/chef/cookbooks/cassandra/attributes/default.rb
Labels: cla: yes, kind/vm

#1018 remove deployment-manager plugin
  vm/chef/cookbooks/jenkins/attributes/default.rb
Labels: cla: yes, kind/vm

#1017 Update Jenkins plugins
  vm/chef/cookbooks/jenkins/attributes/default.rb
Labels: cla: yes, kind/vm

#1020 Add Mattermost VM
  vm/chef/cookbooks/mattermost/attributes/default.rb
  vm/chef/cookbooks/mattermost/files/mattermost-nginx-domain.conf
  vm/chef/cookbooks/mattermost/files/mattermost-nginx-localhost.conf
  vm/chef/cookbooks/mattermost/files/mattermost-setup
  vm/chef/cookbooks/mattermost/files/mattermost-utils
  vm/chef/cookbooks/mattermost/files/mattermost.service
  vm/chef/cookbooks/mattermost/metadata.rb
  vm/chef/cookbooks/mattermost/recipes/default.rb
  vm/packer/templates/mattermost/packer.in.json
  vm/tests/config/mattermost
  vm/tests/solutions/spec/mattermost/c2d_startup_spec.rb
  vm/tests/solutions/spec/mattermost/index_page_spec.rb
  vm/tests/solutions/spec/mattermost/ports_spec.rb
  vm/tests/solutions/spec/mattermost/services_spec.rb
  vm/tests/solutions/spec/mattermost/stackdriver_spec.rb
  vm/tests/solutions/spec/mattermost/users_spec.rb
Labels: cla: yes, kind/vm

#1023 [drupal] Docker images updates - 2020-07-15
  docker/drupal/8/php7/debian9/8.9/apache/Dockerfile
  docker/drupal/9/php7/debian9/9.0/apache/Dockerfile
  docker/drupal/versions.yaml
Labels: cla: yes, kind/docker

#951 Updated CRD and operation image verion to be compatible
  k8s/flink-operator/README.md
  k8s/flink-operator/resources/crd/crd.yaml
Labels: cla: yes

#1024 K8s Grafana - Add service account reference to README
  k8s/grafana/README.md
Labels: cla: yes, documentation, kind/k8s

#1025 K8s - etcd - Fix Chart logo
  k8s/etcd/chart/etcd/templates/application.yaml
Labels: cla: yes, kind/k8s

#1026 [mediawiki] Docker images updates - 2020-07-21
  docker/mediawiki/1/debian9/1.33/Dockerfile
  docker/mediawiki/1/debian9/1.34/Dockerfile
  docker/mediawiki/versions.yaml
Labels: cla: yes, kind/docker

#1028 add multisite feature to wordpress-ha
  vm/chef/cookbooks/wordpress-ha/attributes/default.rb
  vm/chef/cookbooks/wordpress-ha/files/wordpress-ha-setup
  vm/chef/cookbooks/wordpress-ha/recipes/default.rb
  vm/docs/wordpress-ha/getting-started-guide.md
  vm/docs/wordpress-ha/images/multisite-feature-screenshot.png
Labels: cla: yes, documentation, kind/vm

#1027 K8s - Cassandra - Parallel pod management
  k8s/cassandra/chart/cassandra/templates/cassandra-service.yaml
  k8s/cassandra/chart/cassandra/templates/cassandra-statefulset.yaml
Labels: cla: yes, kind/k8s
