Repository GoogleCloudPlatform/click-to-deploy, pull requests merged in 2020-04, with the labels that each got.

#916 TW review - Cert Manager - Tier I
  k8s/cert-manager/README.md
  k8s/cert-manager/chart/cert-manager/templates/application.yaml
  k8s/cert-manager/schema.yaml
Labels: cla: yes, documentation, kind/k8s

#915 TW review - Hazelcast - Tier I
  k8s/hazelcast/README.md
  k8s/hazelcast/chart/hazelcast/templates/application.yaml
  k8s/hazelcast/schema.yaml
Labels: cla: yes, documentation, kind/k8s

#917 Add Neo4j trigger for Kubernetes Application
  triggers/k8s/neo4j-ce.yaml
Labels: cla: yes, kind/k8s

#914 Add Neo4j CE Kubernetes Application
  k8s/neo4j-ce/Makefile
  k8s/neo4j-ce/README.md
  k8s/neo4j-ce/apptest/deployer/neo4j-ce/templates/tester.yaml
  k8s/neo4j-ce/apptest/deployer/schema.yaml
  k8s/neo4j-ce/apptest/tester/Dockerfile
  k8s/neo4j-ce/apptest/tester/tester.sh
  k8s/neo4j-ce/apptest/tester/tests/cli-suite.yaml
  k8s/neo4j-ce/apptest/tester/tests/http-suite.yaml
  k8s/neo4j-ce/chart/neo4j-ce/Chart.yaml
  k8s/neo4j-ce/chart/neo4j-ce/logo.png
  k8s/neo4j-ce/chart/neo4j-ce/templates/application.yaml
  k8s/neo4j-ce/chart/neo4j-ce/templates/neo4j-pvc.yaml
  k8s/neo4j-ce/chart/neo4j-ce/templates/neo4j-secret.yaml
  k8s/neo4j-ce/chart/neo4j-ce/templates/neo4j-service.yaml
  k8s/neo4j-ce/chart/neo4j-ce/templates/neo4j-statefulset.yaml
  k8s/neo4j-ce/chart/neo4j-ce/values.yaml
  k8s/neo4j-ce/deployer/Dockerfile
  k8s/neo4j-ce/resources/neo4j-ce-k8s-app-architecture.png
  k8s/neo4j-ce/schema.yaml
Labels: cla: yes, documentation, kind/k8s

#918 Fix Neo4j K8s README.md
  k8s/neo4j-ce/README.md
Labels: cla: yes, documentation, kind/k8s

#927 adding VM sonarqube solution
  vm/chef/cookbooks/sonarqube/attributes/default.rb
  vm/chef/cookbooks/sonarqube/files/sonar-config-setup
  vm/chef/cookbooks/sonarqube/metadata.rb
  vm/chef/cookbooks/sonarqube/recipes/default.rb
  vm/chef/cookbooks/sonarqube/templates/99-sonarqube.conf.erb
  vm/chef/cookbooks/sonarqube/templates/sonar.conf.erb
  vm/chef/cookbooks/sonarqube/templates/sonar.service.erb
  vm/chef/cookbooks/sonarqube/templates/sysctl.conf.erb
  vm/packer/templates/sonarqube/packer.in.json
  vm/tests/solutions/spec/sonarqube/c2d_startup_spec.rb
Labels: cla: yes, kind/vm

#926 Upgrade Jenkins k8s app from 2.190 to 2.222
  k8s/jenkins/Makefile
Labels: cla: yes, kind/k8s

#928 Add Docker maintainers to CODEOWNERS
  .github/CODEOWNERS
Labels: cla: yes

#935 Include instructions to install envsubst in READMEs
  k8s/cassandra/README.md
  k8s/cert-manager/README.md
  k8s/consul/README.md
  k8s/flink-operator/README.md
  k8s/jaeger-operator/README.md
  k8s/nuclio/README.md
  k8s/prometheus-operator/README.md
  k8s/prometheus/README.md
  k8s/rabbitmq/README.md
  k8s/spark-operator/README.md
Labels: bug, cla: yes, documentation, kind/k8s
