Repository GoogleCloudPlatform/click-to-deploy, pull requests merged in 2020-02, with the labels that each got.

#863 Updated tag for marketplace tools to 0.9.10
  k8s/MARKETPLACE_TOOLS_TAG
Labels: cla: yes, kind/k8s

#872 Adding in minimum cpu and memory values for the K8s solutions
  k8s/activemq/chart/activemq/templates/activemq-deployment.yaml
  k8s/activemq/schema.yaml
  k8s/drupal/chart/drupal/templates/drupal-statefulset.yaml
  k8s/drupal/chart/drupal/templates/mariadb-statefulset.yaml
  k8s/drupal/schema.yaml
  k8s/etcd/chart/etcd/templates/statefulset.yaml
  k8s/influxdb/chart/influxdb/templates/manifests.yaml
  k8s/influxdb/schema.yaml
  k8s/jenkins/chart/jenkins/templates/manifests.yaml
  k8s/jenkins/schema.yaml
  k8s/joomla/chart/joomla/templates/joomla-statefulset.yaml
  k8s/joomla/chart/joomla/templates/mariadb-statefulset.yaml
  k8s/joomla/schema.yaml
  k8s/mariadb-galera/chart/mariadb-galera/templates/statefulset.yaml
  k8s/mariadb/chart/mariadb/templates/manifests.yaml
  k8s/mariadb/schema.yaml
  k8s/mediawiki/chart/mediawiki/templates/mariadb-statefulset.yaml
  k8s/mediawiki/chart/mediawiki/templates/mediawiki-statefulset.yaml
  k8s/mediawiki/schema.yaml
  k8s/memcached/chart/memcached/templates/manifests.yaml
  k8s/nginx/chart/nginx/templates/manifests.yaml
  k8s/nginx/schema.yaml
  k8s/postgresql/chart/postgresql/templates/manifests.yaml
  k8s/postgresql/schema.yaml
  k8s/rabbitmq/chart/rabbitmq/templates/statefulset.yaml
  k8s/rabbitmq/schema.yaml
  k8s/sonarqube/chart/sonarqube/templates/postgresql-sts.yaml
  k8s/sonarqube/chart/sonarqube/templates/sonarqube-sts.yaml
  k8s/sonarqube/schema.yaml
  k8s/wordpress/chart/wordpress/templates/wordpress-manifests.yaml
  k8s/wordpress/schema.yaml
Labels: cla: yes, kind/k8s

#873 Rabbitmq fix
  k8s/rabbitmq/Makefile
  k8s/rabbitmq/chart/rabbitmq/templates/statefulset.yaml
Labels: cla: yes, kind/k8s

#877 Added zookeeper logo
  k8s/zookeeper/chart/zookeeper/logo.png
Labels: cla: yes, kind/k8s

#747 Gatekeeper click to deploy
  k8s/gatekeeper/Makefile
  k8s/gatekeeper/README.md
  k8s/gatekeeper/apptest/deployer/gatekeeper/templates/tester.yaml
  k8s/gatekeeper/apptest/deployer/gatekeeper/values.yaml
  k8s/gatekeeper/apptest/deployer/schema.yaml
  k8s/gatekeeper/apptest/tester/Dockerfile
  k8s/gatekeeper/apptest/tester/tester.sh
  k8s/gatekeeper/apptest/tester/tests/basic-suite.yaml
  k8s/gatekeeper/chart/gatekeeper/Chart.yaml
  k8s/gatekeeper/chart/gatekeeper/logo.png
  k8s/gatekeeper/chart/gatekeeper/templates/application.yaml
  k8s/gatekeeper/chart/gatekeeper/templates/manifests.yaml
  k8s/gatekeeper/chart/gatekeeper/values.yaml
  k8s/gatekeeper/deployer/Dockerfile
  k8s/gatekeeper/licenses_for_manifest/LICENSE
  k8s/gatekeeper/schema.yaml
  triggers/k8s/gatekeeper.yaml
Labels: cla: yes

#886 updating prometheus Makefile
  k8s/prometheus/Makefile
  k8s/prometheus/manifest/prometheus-configmap.yaml
Labels: cla: yes, kind/k8s

#882 Added flink operator and trigger
  k8s/flink-operator/Makefile
  k8s/flink-operator/README.md
  k8s/flink-operator/apptest/deployer/manifest/tester.yaml
  k8s/flink-operator/apptest/deployer/schema.yaml
  k8s/flink-operator/apptest/tester/Dockerfile
  k8s/flink-operator/apptest/tester/flink-job-cluster.yaml
  k8s/flink-operator/apptest/tester/tester.sh
  k8s/flink-operator/deployer/Dockerfile
  k8s/flink-operator/manifest/application.yaml
  k8s/flink-operator/manifest/configmap-cert.yaml
  k8s/flink-operator/manifest/configmap-webhook.yaml
  k8s/flink-operator/manifest/configmap.yaml
  k8s/flink-operator/manifest/create-cert.yaml
  k8s/flink-operator/manifest/create-crd.yaml
  k8s/flink-operator/manifest/manifests.yaml
  k8s/flink-operator/resources/crd/crd.yaml
  k8s/flink-operator/resources/service-accounts.yaml
  k8s/flink-operator/schema.yaml
  triggers/k8s/flink-operator.yaml
Labels: cla: yes, documentation, kind/k8s

#887 fixing chef scripts for cassandra v_3.11.5
  vm/chef/cookbooks/cassandra/attributes/default.rb
  vm/chef/cookbooks/cassandra/files/cassandra
Labels: cla: yes, kind/vm

#880 [elasticsearch] Fix $BACKUP_CLAIM_NAME not found issue.
  k8s/elasticsearch/scripts/patch-sts-for-backup.sh
Labels: cla: yes, kind/k8s

#885 Update apiversion for removing deprecated items
  k8s/airflow-operator/manifest/application.yaml.template
  k8s/airflow-operator/manifest/manifests.yaml.template
  k8s/cassandra/chart/cassandra/templates/application.yaml
  k8s/cassandra/chart/cassandra/templates/manifests.yaml
  k8s/consul/chart/consul/templates/application.yaml
  k8s/elastic-gke-logging/chart/elastic-gke-logging/templates/application.yaml
  k8s/elastic-gke-logging/chart/elastic-gke-logging/templates/elasticsearch-manifests.yaml
  k8s/elastic-gke-logging/chart/elastic-gke-logging/templates/fluentd-manifests.yaml
  k8s/elastic-gke-logging/chart/elastic-gke-logging/templates/kibana-manifests.yaml
  k8s/elastic-gke-logging/scripts/backup-nfs.yaml
  k8s/elasticsearch/chart/elasticsearch/templates/application.yaml
  k8s/elasticsearch/chart/elasticsearch/templates/manifests.yaml
  k8s/elasticsearch/scripts/backup-nfs.yaml
  k8s/etcd/chart/etcd/templates/application.yaml
  k8s/etcd/chart/etcd/templates/statefulset.yaml
  k8s/grafana/chart/grafana/templates/application.yaml
  k8s/grafana/chart/grafana/templates/statefulset.yaml
  k8s/influxdb/chart/influxdb/templates/application.yaml
  k8s/influxdb/chart/influxdb/templates/manifests.yaml
  k8s/jenkins/chart/jenkins/templates/application.yaml
  k8s/jenkins/chart/jenkins/templates/manifests.yaml
  k8s/magento/apptest/deployer/magento/templates/tester.yaml
  k8s/magento/chart/magento/templates/application.yaml
  k8s/magento/chart/magento/templates/magento-statefulset.yaml
  k8s/magento/chart/magento/templates/mysql-statefulset.yaml
  k8s/magento/chart/magento/templates/redis-statefulset.yaml
  k8s/mariadb-galera/chart/mariadb-galera/templates/application.yaml
  k8s/mariadb-galera/chart/mariadb-galera/templates/statefulset.yaml
  k8s/mariadb/chart/mariadb/templates/application.yaml
  k8s/mariadb/chart/mariadb/templates/manifests.yaml
  k8s/mediawiki/chart/mediawiki/templates/application.yaml
  k8s/memcached/chart/memcached/templates/application.yaml
  k8s/memcached/chart/memcached/templates/manifests.yaml
  k8s/nginx/chart/nginx/templates/application.yaml
  k8s/nginx/chart/nginx/templates/manifests.yaml
  k8s/nuclio/chart/nuclio/templates/application.yaml
  k8s/nuclio/chart/nuclio/templates/deployment/controller.yaml
  k8s/nuclio/chart/nuclio/templates/deployment/dashboard.yaml
  k8s/postgresql/chart/postgresql/templates/application.yaml
  k8s/postgresql/chart/postgresql/templates/manifests.yaml
  k8s/prometheus/manifest/alertmanager-statefulset.yaml
  k8s/prometheus/manifest/application.yaml
  k8s/prometheus/manifest/grafana-statefulset.yaml
  k8s/prometheus/manifest/kube-state-metrics-deployment.yaml
  k8s/prometheus/manifest/node-exporter-ds.yaml
  k8s/prometheus/manifest/prometheus-statefulset.yaml
  k8s/rabbitmq/chart/rabbitmq/templates/application.yaml
  k8s/rabbitmq/chart/rabbitmq/templates/statefulset.yaml
  k8s/wordpress/chart/wordpress/templates/application.yaml
  k8s/wordpress/chart/wordpress/templates/mysql-manifests.yaml
  k8s/wordpress/chart/wordpress/templates/wordpress-manifests.yaml
Labels: cla: yes

#888 Add Hazelcast Kubernetes Trigger
  triggers/k8s/hazelcast.yaml
Labels: cla: yes, kind/k8s

#891 Cert Manager k8s app release with trigger
  k8s/cert-manager/Makefile
  k8s/cert-manager/README.md
  k8s/cert-manager/apptest/deployer/cert-manager/templates/tester.yaml
  k8s/cert-manager/apptest/deployer/schema.yaml
  k8s/cert-manager/apptest/tester/Dockerfile
  k8s/cert-manager/apptest/tester/tester.sh
  k8s/cert-manager/apptest/tester/tests/basic-suite.yaml
  k8s/cert-manager/chart/cert-manager/Chart.yaml
  k8s/cert-manager/chart/cert-manager/files/crd/certificaterequests.cert-manager.io.yaml
  k8s/cert-manager/chart/cert-manager/files/crd/certificates.cert-manager.io.yaml
  k8s/cert-manager/chart/cert-manager/files/crd/challenges.acme.cert-manager.io.yaml
  k8s/cert-manager/chart/cert-manager/files/crd/clusterissuers.cert-manager.io.yaml
  k8s/cert-manager/chart/cert-manager/files/crd/issuers.cert-manager.io.yaml
  k8s/cert-manager/chart/cert-manager/files/crd/orders.acme.cert-manager.io.yaml
  k8s/cert-manager/chart/cert-manager/files/webhook/webhook-mutating-webhook.yaml
  k8s/cert-manager/chart/cert-manager/files/webhook/webhook-validating-webhook.yaml
  k8s/cert-manager/chart/cert-manager/logo/LICENSE
  k8s/cert-manager/chart/cert-manager/logo/logo.png
  k8s/cert-manager/chart/cert-manager/templates/_helpers.tpl
  k8s/cert-manager/chart/cert-manager/templates/application.yaml
  k8s/cert-manager/chart/cert-manager/templates/configmap/crd.yaml
  k8s/cert-manager/chart/cert-manager/templates/configmap/webhook.yaml
  k8s/cert-manager/chart/cert-manager/templates/deployment/cainjector.yaml
  k8s/cert-manager/chart/cert-manager/templates/deployment/controller.yaml
  k8s/cert-manager/chart/cert-manager/templates/deployment/webhook.yaml
  k8s/cert-manager/chart/cert-manager/templates/job/crd-create.yaml
  k8s/cert-manager/chart/cert-manager/templates/service/webhook.yaml
  k8s/cert-manager/chart/cert-manager/values.yaml
  k8s/cert-manager/deployer/Dockerfile
  k8s/cert-manager/resources/cert-manager-k8s-app-architecture.png
  k8s/cert-manager/resources/service-accounts.yaml
  k8s/cert-manager/schema.yaml
  triggers/k8s/cert-manager.yaml
Labels: cla: yes, documentation, kind/k8s

#892 Add curated metrics exporter for NGINX.
  k8s/nginx/Makefile
  k8s/nginx/README.md
  k8s/nginx/chart/nginx/templates/manifests.yaml
  k8s/nginx/chart/nginx/values.yaml
  k8s/nginx/schema.yaml
Labels: cla: yes
