Repository GoogleCloudPlatform/click-to-deploy, pull requests merged in 2020-06, with the labels that each got.

#970 Fixed Magento deployer timeout
  k8s/magento/deployer/Dockerfile
Labels: cla: yes, kind/k8s

#967 Removed KALM support option from schema.yaml
  k8s/activemq/schema.yaml
  k8s/cassandra/schema.yaml
  k8s/cert-manager/schema.yaml
  k8s/consul/schema.yaml
  k8s/drupal/schema.yaml
  k8s/elastic-gke-logging/schema.yaml
  k8s/elasticsearch/schema.yaml
  k8s/etcd/schema.yaml
  k8s/grafana/schema.yaml
  k8s/hazelcast/schema.yaml
  k8s/influxdb/schema.yaml
  k8s/jaeger-operator/schema.yaml
  k8s/jenkins/schema.yaml
  k8s/joomla/schema.yaml
  k8s/magento/schema.yaml
  k8s/mariadb-galera/schema.yaml
  k8s/mariadb/schema.yaml
  k8s/mediawiki/schema.yaml
  k8s/memcached/schema.yaml
  k8s/neo4j-ce/schema.yaml
  k8s/nginx/schema.yaml
  k8s/nuclio/schema.yaml
  k8s/orientdb/schema.yaml
  k8s/postgresql/schema.yaml
  k8s/prometheus-operator/schema.yaml
  k8s/rabbitmq/schema.yaml
  k8s/redis-ha/schema.yaml
  k8s/sonarqube/schema.yaml
  k8s/wordpress/schema.yaml
  k8s/zookeeper/schema.yaml
Labels: cla: yes, kind/k8s

#966 K8s NGINX - Add dynamic storageClass provisioning
  k8s/nginx/README.md
  k8s/nginx/chart/nginx/templates/nginx-config.yaml
  k8s/nginx/chart/nginx/templates/nginx-secrets.yaml
  k8s/nginx/chart/nginx/templates/nginx-services.yaml
  k8s/nginx/chart/nginx/templates/nginx-statefulset.yaml
  k8s/nginx/chart/nginx/values.yaml
  k8s/nginx/schema.yaml
Labels: cla: yes, documentation, kind/k8s

#934 Check timeout should be less than check period
  k8s/prometheus/manifest/grafana-statefulset.yaml
Labels: cla: yes

#975 Added PHP 7.4 chef cookbook
  vm/chef/cookbooks/php74/attributes/default.rb
  vm/chef/cookbooks/php74/metadata.rb
  vm/chef/cookbooks/php74/recipes/composer.rb
  vm/chef/cookbooks/php74/recipes/default.rb
  vm/chef/cookbooks/php74/recipes/module_cgi.rb
  vm/chef/cookbooks/php74/recipes/module_cli.rb
  vm/chef/cookbooks/php74/recipes/module_curl.rb
  vm/chef/cookbooks/php74/recipes/module_gd.rb
  vm/chef/cookbooks/php74/recipes/module_intl.rb
  vm/chef/cookbooks/php74/recipes/module_json.rb
  vm/chef/cookbooks/php74/recipes/module_libapache2.rb
  vm/chef/cookbooks/php74/recipes/module_mbstring.rb
  vm/chef/cookbooks/php74/recipes/module_mysql.rb
  vm/chef/cookbooks/php74/recipes/module_opcache.rb
  vm/chef/cookbooks/php74/recipes/module_readline.rb
  vm/chef/cookbooks/php74/recipes/module_soap.rb
  vm/chef/cookbooks/php74/recipes/module_xml.rb
  vm/chef/cookbooks/php74/recipes/module_xmlrpc.rb
  vm/chef/cookbooks/php74/recipes/module_xsl.rb
  vm/chef/cookbooks/php74/recipes/module_zip.rb
Labels: cla: yes, kind/vm

#949 Add namespace and CR permissions to deployerServiceAccount
  k8s/gatekeeper/schema.yaml
Labels: cla: yes, kind/k8s

#977 Update PHP version for Wordpress and LAMP
  vm/chef/cookbooks/lamp/metadata.rb
  vm/chef/cookbooks/lamp/recipes/default.rb
  vm/chef/cookbooks/wordpress-ha/metadata.rb
  vm/chef/cookbooks/wordpress-ha/recipes/default.rb
  vm/chef/cookbooks/wordpress/metadata.rb
  vm/chef/cookbooks/wordpress/recipes/common.rb
  vm/tests/solutions/spec/lamp/php_config_spec.rb
  vm/tests/solutions/spec/wordpress-ha/packages_spec.rb
  vm/tests/solutions/spec/wordpress-ha/php_config_spec.rb
  vm/tests/solutions/spec/wordpress-ha/services_spec.rb
  vm/tests/solutions/spec/wordpress-multisite/php_config_spec.rb
  vm/tests/solutions/spec/wordpress/php_config_spec.rb
Labels: cla: yes, kind/vm

#979 OrientDB Tier I TW review
  k8s/orientdb/README.md
  k8s/orientdb/chart/orientdb/templates/application.yaml
  k8s/orientdb/schema.yaml
Labels: cla: yes, documentation, kind/k8s

#980 Change ingress api version to networking.k8s.io/v1beta1
  k8s/drupal/chart/drupal/templates/application.yaml
  k8s/drupal/chart/drupal/templates/drupal-service.yaml
  k8s/jenkins/chart/jenkins/templates/application.yaml
  k8s/jenkins/chart/jenkins/templates/manifests.yaml
  k8s/joomla/chart/joomla/templates/application.yaml
  k8s/joomla/chart/joomla/templates/joomla-service.yaml
  k8s/magento/chart/magento/templates/application.yaml
  k8s/magento/chart/magento/templates/magento-ingress.yaml
  k8s/mediawiki/chart/mediawiki/templates/application.yaml
  k8s/mediawiki/chart/mediawiki/templates/mediawiki-ingress.yaml
  k8s/wordpress/chart/wordpress/templates/application.yaml
  k8s/wordpress/chart/wordpress/templates/wordpress-ingress.yaml
Labels: cla: yes, kind/k8s

#972 Add Apache2 VM
  vm/chef/cookbooks/apache2/recipes/ipv6-listen.rb
  vm/chef/cookbooks/apache2/recipes/standalone.rb
  vm/packer/templates/apache2/packer.in.json
  vm/tests/solutions/spec/apache2/c2d_startup_spec.rb
  vm/tests/solutions/spec/apache2/index_page_spec.rb
  vm/tests/solutions/spec/apache2/ports_spec.rb
  vm/tests/solutions/spec/apache2/security_config_spec.rb
  vm/tests/solutions/spec/apache2/services_spec.rb
  vm/tests/solutions/spec/apache2/stackdriver_spec.rb
Labels: cla: yes, kind/vm

#981 template storageclass
  k8s/jenkins/README.md
  k8s/jenkins/chart/jenkins/templates/manifests.yaml
  k8s/jenkins/chart/jenkins/values.yaml
  k8s/jenkins/schema.yaml
Labels: cla: yes, documentation, kind/k8s

#988 VM - Drupal - Upgrade PHP from 7.0 to 7.4
  vm/chef/cookbooks/drupal/metadata.rb
  vm/chef/cookbooks/drupal/recipes/default.rb
  vm/tests/solutions/spec/drupal/php_config_spec.rb
Labels: cla: yes, kind/vm

#985 VM - Apache2 - Modify stackdriver test to use symlink
  vm/tests/solutions/spec/apache2/stackdriver_spec.rb
Labels: cla: yes, kind/vm

#986 K8s Drupal - Add dynamic storageClass provisioning
  k8s/drupal/README.md
  k8s/drupal/chart/drupal/templates/drupal-statefulset.yaml
  k8s/drupal/chart/drupal/templates/mariadb-statefulset.yaml
  k8s/drupal/chart/drupal/values.yaml
  k8s/drupal/schema.yaml
Labels: cla: yes, documentation, kind/k8s

#990 template storageclass for grafana
  k8s/grafana/README.md
  k8s/grafana/chart/grafana/templates/statefulset.yaml
  k8s/grafana/chart/grafana/values.yaml
  k8s/grafana/schema.yaml
Labels: cla: yes, documentation, kind/k8s

#989 template storageclass for influxdb
  k8s/influxdb/README.md
  k8s/influxdb/chart/influxdb/templates/manifests.yaml
  k8s/influxdb/chart/influxdb/values.yaml
  k8s/influxdb/schema.yaml
Labels: cla: yes, documentation, kind/k8s

#987 Gitlab backup restore
  k8s/gitlab/Makefile
  k8s/gitlab/README.md
  k8s/gitlab/schema.yaml
Labels: cla: yes, documentation, kind/k8s

#992 Adding missing spaces and fixed deprecated kubectl commands
  k8s/jenkins/chart/jenkins/templates/application.yaml
Labels: cla: yes

#991 Neo4j CE Tier I TW review
  k8s/neo4j-ce/README.md
  k8s/neo4j-ce/chart/neo4j-ce/templates/application.yaml
  k8s/neo4j-ce/schema.yaml
Labels: cla: yes, documentation, kind/k8s

#984 K8s Sonarqube - Add dynamic storageClass provisioning
  k8s/sonarqube/README.md
  k8s/sonarqube/chart/sonarqube/templates/postgresql-sts.yaml
  k8s/sonarqube/chart/sonarqube/templates/sonarqube-sts.yaml
  k8s/sonarqube/chart/sonarqube/values.yaml
  k8s/sonarqube/schema.yaml
Labels: cla: yes, documentation, kind/k8s

#996 Docker - Add Mediawiki containers
  docker/mediawiki/1/1.33/Dockerfile
  docker/mediawiki/1/1.33/common_functions.sh
  docker/mediawiki/1/1.33/custom_settings.php
  docker/mediawiki/1/1.33/docker-entrypoint.sh
  docker/mediawiki/CONTRIBUTING.md
  docker/mediawiki/LICENSE
  docker/mediawiki/README.md
  docker/mediawiki/templates/mediawiki/Dockerfile.template
  docker/mediawiki/templates/mediawiki/common_functions.sh
  docker/mediawiki/templates/mediawiki/custom_settings.php
  docker/mediawiki/templates/mediawiki/docker-entrypoint.sh
  docker/mediawiki/tests/functional_tests/apache_exporter_test.yaml
  docker/mediawiki/tests/functional_tests/running_test.yaml
  docker/mediawiki/versions.yaml
Labels: cla: yes, documentation, kind/docker

#995 Docker - Add Hazelcast containers
  docker/hazelcast/.gitignore
  docker/hazelcast/3/debian9/hazelcast-mc/3.12/Dockerfile
  docker/hazelcast/3/debian9/hazelcast-mc/3.12/mc-start.sh
  docker/hazelcast/3/debian9/hazelcast/3.12/Dockerfile
  docker/hazelcast/3/debian9/hazelcast/3.12/dependency-copy.xml
  docker/hazelcast/3/debian9/hazelcast/3.12/hazelcast.xml
  docker/hazelcast/3/debian9/hazelcast/3.12/jmx_agent_config.yaml
  docker/hazelcast/3/debian9/hazelcast/3.12/logging.properties
  docker/hazelcast/3/debian9/hazelcast/3.12/start-hazelcast.sh
  docker/hazelcast/CONTRIBUTING.md
  docker/hazelcast/LICENSE
  docker/hazelcast/README.md
  docker/hazelcast/templates/hazelcast-mc/Dockerfile.template
  docker/hazelcast/templates/hazelcast-mc/mc-start.sh
  docker/hazelcast/templates/hazelcast/Dockerfile.template
  docker/hazelcast/templates/hazelcast/dependency-copy.xml
  docker/hazelcast/templates/hazelcast/hazelcast.xml
  docker/hazelcast/templates/hazelcast/jmx_agent_config.yaml
  docker/hazelcast/templates/hazelcast/logging.properties
  docker/hazelcast/templates/hazelcast/start-hazelcast.sh
  docker/hazelcast/tests/functional_tests/hazelcast_mancenter_test.yaml
  docker/hazelcast/tests/functional_tests/hazelcast_test.yaml
  docker/hazelcast/versions.yaml
Labels: cla: yes, documentation, kind/docker

#993 Docker - Add ActiveMQ container
  docker/activemq/5/debian9/5.15/Dockerfile
  docker/activemq/5/debian9/5.15/docker-entrypoint.sh
  docker/activemq/CONTRIBUTING.md
  docker/activemq/LICENSE
  docker/activemq/README.md
  docker/activemq/templates/Dockerfile.template
  docker/activemq/templates/docker-entrypoint.sh
  docker/activemq/tests/functional_tests/functional_test.yaml
  docker/activemq/versions.yaml
Labels: cla: yes, documentation, kind/docker

#964 Fix Jenkins README
  k8s/jenkins/README.md
Labels: cla: yes

#999 K8s - InfluxDB - Change chart logo
  k8s/influxdb/chart/influxdb/logo.png
Labels: cla: yes, kind/k8s

#1001 VM - WordPress and LAMP - Upgrade phpMyAdmin
  vm/chef/cookbooks/phpmyadmin/attributes/default.rb
  vm/chef/cookbooks/phpmyadmin/files/phpmyadmin-setup
  vm/chef/cookbooks/phpmyadmin/recipes/default.rb
Labels: cla: yes, kind/vm
