Repository GoogleCloudPlatform/click-to-deploy, pull requests merged in 2020-09, with the labels that each got.

#1051 fix entrypoint for servers
  docker/zookeeper/3/debian10/3.5/docker-entrypoint.sh
  docker/zookeeper/3/debian10/3.6/docker-entrypoint.sh
  docker/zookeeper/templates/debian10/docker-entrypoint.sh
Labels: cla: yes, kind/docker

#1050 Zookeeper k8s 3.6
  k8s/zookeeper/Makefile
  k8s/zookeeper/README.md
  k8s/zookeeper/apptest/tester/Dockerfile
  k8s/zookeeper/apptest/tester/tests/basic-suite.yaml
  k8s/zookeeper/chart/zookeeper/templates/config-script.yaml
  k8s/zookeeper/chart/zookeeper/templates/service.yaml
  k8s/zookeeper/chart/zookeeper/templates/statefulset.yaml
Labels: cla: yes, documentation, kind/k8s

#1058 VM - Add openjdk11 cookbook
  vm/chef/cookbooks/openjdk11/attributes/default.rb
  vm/chef/cookbooks/openjdk11/metadata.rb
  vm/chef/cookbooks/openjdk11/recipes/default.rb
Labels: cla: yes, kind/vm

#1056 README changes for installation clarification. Adding ability to deploy from CLI.
  k8s/aditum/README.md
  k8s/aditum/cli_values_template.yaml
  k8s/aditum/images/custom-sa-cluster-1.png
  k8s/aditum/images/custom-sa-cluster-2.png
  k8s/aditum/images/custom-sa-cluster-3.png
  k8s/aditum/images/iap-access-error.png
  k8s/aditum/images/service-account-1.png
  k8s/aditum/images/service-account-2.png
  k8s/aditum/images/service-account-3.png
  k8s/aditum/images/service-account-4.png
  k8s/aditum/schema.yaml
Labels: cla: yes, documentation, kind/k8s

#1074 Rollback MariaDB to debian9 and test fix
  vm/chef/cookbooks/mariadb/attributes/default.rb
  vm/chef/cookbooks/mariadb/files/mariadb-setup
  vm/chef/cookbooks/mariadb/recipes/default.rb
  vm/packer/templates/mariadb/packer.in.json
  vm/tests/solutions/spec/mariadb/services_spec.rb
Labels: cla: yes, kind/vm

#1077 Typo fix for mariadb vm script
  vm/chef/cookbooks/mariadb/files/mariadb-setup
Labels: cla: yes, kind/vm

#1072 Fix VM lint errors
  vm/chef/.rubocop.yml
  vm/chef/cookbooks/apache2/recipes/default.rb
  vm/chef/cookbooks/c2d-config/metadata.rb
  vm/chef/cookbooks/c2d-config/recipes/packages-wishes.rb
  vm/chef/cookbooks/cassandra/attributes/default.rb
  vm/chef/cookbooks/ceph/recipes/common.rb
  vm/chef/cookbooks/couchdb/recipes/couchdb21.rb
  vm/chef/cookbooks/django/recipes/default.rb
  vm/chef/cookbooks/elasticsearch/recipes/default.rb
  vm/chef/cookbooks/general-purpose-cloud-vm/recipes/default.rb
  vm/chef/cookbooks/grafana/recipes/default.rb
  vm/chef/cookbooks/jenkins/recipes/default.rb
  vm/chef/cookbooks/mariadb/recipes/default.rb
  vm/chef/cookbooks/mattermost/recipes/default.rb
  vm/chef/cookbooks/memcached/recipes/default.rb
  vm/chef/cookbooks/mongodb/recipes/default.rb
  vm/chef/cookbooks/nagios/recipes/default.rb
  vm/chef/cookbooks/odoo/attributes/default.rb
  vm/chef/cookbooks/openjdk11/recipes/default.rb
  vm/chef/cookbooks/openjdk8/recipes/default.rb
  vm/chef/cookbooks/percona/recipes/default.rb
  vm/chef/cookbooks/phpmyadmin/recipes/default.rb
  vm/chef/cookbooks/postgresql/recipes/default.rb
  vm/chef/cookbooks/redis/recipes/default.rb
  vm/chef/cookbooks/ruby/recipes/default.rb
  vm/chef/cookbooks/solr/attributes/default.rb
  vm/chef/cookbooks/stackdriver/recipes/logging.rb
  vm/chef/cookbooks/stackdriver/recipes/monitoring.rb
  vm/chef/cookbooks/wordpress-ha/recipes/default.rb
  vm/tests/solutions/.rubocop.yml
  vm/tests/solutions/spec/mariadb/c2d_startup_spec.rb
Labels: cla: yes, kind/vm

#1071 Fixed PostgreSQL tag
  k8s/gitlab/Makefile
Labels: cla: yes, kind/k8s

#1070 [mediawiki] Docker images updates - 2020-09-21
  docker/mediawiki/1/debian9/1.33/Dockerfile
  docker/mediawiki/1/debian9/1.34/Dockerfile
  docker/mediawiki/versions.yaml
Labels: cla: yes, kind/docker

#1069 [drupal] Docker images updates - 2020-09-21
  docker/drupal/8/php7/debian9/8.8/apache/Dockerfile
  docker/drupal/8/php7/debian9/8.9/apache/Dockerfile
  docker/drupal/9/php7/debian9/9.0/apache/Dockerfile
  docker/drupal/versions.yaml
Labels: cla: yes, kind/docker

#1078 Bump the images version for P+G: 2.2->2.11
  k8s/prometheus/Makefile
  k8s/prometheus/README.md
Labels: cla: yes, kind/k8s

#1080 Change action trigger for label
  .github/workflows/label.yml
Labels: cla: yes

#1076 Update snapshot and restore scripts for elastic-*
  k8s/elastic-gke-logging/README.md
  k8s/elastic-gke-logging/scripts/backup-nfs.yaml
  k8s/elasticsearch/scripts/backup-nfs.yaml
  k8s/elasticsearch/scripts/create-backup-infra.sh
Labels: cla: yes, documentation, kind/k8s

#1075 Add storageclass env to sample-app
  k8s/sample-app/README.md
  k8s/sample-app/manifest/manifests.yaml
  k8s/sample-app/schema.yaml
Labels: cla: yes, documentation, kind/k8s
