Repository GoogleCloudPlatform/click-to-deploy, pull requests merged in 2020-03, with the labels that each got.

#895 Added ERPNext VM solution
  cloudbuild-vm.yaml
  vm/chef/cookbooks/erpnext/attributes/default.rb
  vm/chef/cookbooks/erpnext/files/erpnext-setup
  vm/chef/cookbooks/erpnext/metadata.rb
  vm/chef/cookbooks/erpnext/recipes/default.rb
  vm/chef/cookbooks/erpnext/templates/default/etc-sudoers.d-frappeuser.erb
  vm/packer/templates/erpnext/packer.in.json
  vm/tests/config/erpnext
  vm/tests/solutions/spec/erpnext/c2d_startup_spec.rb
  vm/tests/solutions/spec/erpnext/index_page_spec.rb
  vm/tests/solutions/spec/erpnext/ports_spec.rb
  vm/tests/solutions/spec/erpnext/security_spec.rb
  vm/tests/solutions/spec/erpnext/services_spec.rb
  vm/tests/solutions/spec/erpnext/stackdriver_spec.rb
  vm/tests/solutions/spec/erpnext/users_spec.rb
Labels: cla: yes, kind/vm

#898 Fix base64 encoding for influxdb
  k8s/influxdb/README.md
  k8s/influxdb/chart/influxdb/templates/influxdb-secrets.yaml
  k8s/influxdb/schema.yaml
Labels: cla: yes, documentation, kind/k8s

#899 Removing unnecessary images from Makefiles
  k8s/cert-manager/Makefile
  k8s/jaeger-operator/Makefile
  k8s/nuclio/Makefile
  k8s/prometheus-operator/Makefile
Labels: cla: yes, kind/k8s

#893 Q1 Click to Deploy mass doc revamp, part 1
  k8s/flink-operator/README.md
  k8s/flink-operator/manifest/application.yaml
  k8s/flink-operator/schema.yaml
Labels: cla: yes, documentation, kind/k8s

#900 Add hazelcast k8s app
  k8s/hazelcast/Makefile
  k8s/hazelcast/README.md
  k8s/hazelcast/apptest/deployer/hazelcast/templates/tester.yaml
  k8s/hazelcast/apptest/deployer/hazelcast/values.yaml
  k8s/hazelcast/apptest/deployer/schema.yaml
  k8s/hazelcast/apptest/tester/Dockerfile
  k8s/hazelcast/apptest/tester/tester.sh
  k8s/hazelcast/apptest/tester/tests/hazelcast-suite.yaml
  k8s/hazelcast/apptest/tester/tests/mancenter-suite.yaml
  k8s/hazelcast/apptest/tester/tests/nodes-number-suite.yaml
  k8s/hazelcast/chart/hazelcast/Chart.yaml
  k8s/hazelcast/chart/hazelcast/logo.png
  k8s/hazelcast/chart/hazelcast/templates/application.yaml
  k8s/hazelcast/chart/hazelcast/templates/hazelcast-configmap.yaml
  k8s/hazelcast/chart/hazelcast/templates/hazelcast-service.yaml
  k8s/hazelcast/chart/hazelcast/templates/hazelcast-statefulset.yaml
  k8s/hazelcast/chart/hazelcast/templates/mancenter-pvc.yaml
  k8s/hazelcast/chart/hazelcast/templates/mancenter-secret.yaml
  k8s/hazelcast/chart/hazelcast/templates/mancenter-service.yaml
  k8s/hazelcast/chart/hazelcast/templates/mancenter-statefulset.yaml
  k8s/hazelcast/chart/hazelcast/values.yaml
  k8s/hazelcast/deployer/Dockerfile
  k8s/hazelcast/resources/hazelcast-k8s-app-architecture.png
  k8s/hazelcast/schema.yaml
Labels: cla: yes, documentation, kind/k8s

#907 Fixed postgresql image reference
  k8s/postgresql/README.md
Labels: cla: yes, documentation, kind/k8s

#908 fix url for activemq binary on tester
  k8s/activemq/apptest/tester/Dockerfile
Labels: cla: yes, kind/k8s

#904 Update README.md ActiveMQ
  k8s/activemq/README.md
Labels: cla: yes, documentation, kind/k8s

#909 Fix image references in README's
  k8s/activemq/README.md
  k8s/cassandra/README.md
  k8s/cert-manager/README.md
  k8s/consul/README.md
  k8s/drupal/README.md
  k8s/elastic-gke-logging/README.md
  k8s/elasticsearch/README.md
  k8s/etcd/README.md
  k8s/hazelcast/README.md
  k8s/jaeger-operator/README.md
  k8s/joomla/README.md
  k8s/magento/README.md
  k8s/mariadb-galera/README.md
  k8s/mariadb/README.md
  k8s/mediawiki/README.md
  k8s/memcached/README.md
  k8s/nginx/README.md
  k8s/nuclio/README.md
  k8s/nuclio/chart/nuclio/templates/deployment/controller.yaml
  k8s/nuclio/chart/nuclio/templates/deployment/dashboard.yaml
  k8s/nuclio/chart/nuclio/values.yaml
  k8s/nuclio/schema.yaml
  k8s/postgresql/README.md
  k8s/prometheus-operator/README.md
  k8s/prometheus-operator/chart/prometheus-operator/templates/deployment/operator.yaml
  k8s/prometheus-operator/chart/prometheus-operator/values.yaml
  k8s/prometheus-operator/schema.yaml
  k8s/rabbitmq/README.md
  k8s/sonarqube/README.md
  k8s/wordpress/README.md
  k8s/zookeeper/README.md
  k8s/zookeeper/chart/zookeeper/templates/statefulset.yaml
  k8s/zookeeper/chart/zookeeper/values.yaml
  k8s/zookeeper/schema.yaml
Labels: cla: yes, documentation, kind/k8s
