Repository GoogleCloudPlatform/click-to-deploy, pull requests merged in 2020-01, with the labels that each got.

#853 Jaeger Operator - Tier I - Tech Writer review edits
  k8s/jaeger-operator/README.md
  k8s/jaeger-operator/chart/jaeger-operator/templates/application.yaml
Labels: cla: yes, documentation, kind/k8s

#849 Prometheus Operator - Tier I - Tech Writer review edits
  k8s/prometheus-operator/README.md
  k8s/prometheus-operator/chart/prometheus-operator/templates/application.yaml
  k8s/prometheus-operator/schema.yaml
Labels: cla: yes, documentation, kind/k8s

#862 Updated PostgreSQL Makefile
  k8s/postgresql/Makefile
Labels: cla: yes, kind/k8s

#828 Nuclio - Tier I - Tech Writer review edits
  k8s/nuclio/README.md
  k8s/nuclio/chart/nuclio/templates/application.yaml
  k8s/nuclio/schema.yaml
Labels: cla: yes, documentation, kind/k8s

#860 ActiveMQ - Tier I - Tech Writer review edits
  k8s/activemq/README.md
  k8s/activemq/schema.yaml
Labels: cla: yes, documentation, kind/k8s

#749 Jenkins - Tier I - Tech Writer review edits
  k8s/jenkins/README.md
  k8s/jenkins/chart/jenkins/templates/application.yaml
Labels: cla: yes, documentation, kind/k8s, needs-triage

#461 Allow FileInfo overrides for Wordpress directories.
  vm/chef/cookbooks/wordpress-ha/templates/wordpress.conf.erb
  vm/chef/cookbooks/wordpress/templates/wordpress.conf.erb
Labels: cla: yes, kind/vm, needs-triage

#864 Update Grafana k8s app to 6.5 Track
  k8s/grafana/Makefile
Labels: cla: yes, kind/k8s

#855 fix storageclass confusion on Readme
  k8s/activemq/README.md
Labels: cla: yes, documentation, kind/k8s

#854 fix storageclass confusion on Readme
  k8s/etcd/README.md
Labels: cla: yes, documentation, kind/k8s

#870 MediaWiki TW review - Tier I
  k8s/mediawiki/README.md
  k8s/mediawiki/chart/mediawiki/templates/application.yaml
  k8s/mediawiki/schema.yaml
Labels: cla: yes, documentation, kind/k8s
