Repository GoogleCloudPlatform/click-to-deploy, pull requests merged in 2020-08, with the labels that each got.

#1031 Update ELK versions
  k8s/elastic-gke-logging/Makefile
Labels: cla: yes, kind/k8s

#1035 VM - Solr - Upgrade version
  vm/chef/cookbooks/solr/attributes/default.rb
Labels: cla: yes, kind/vm

#1034 VM - ERPNext - Fix index page test
  vm/tests/solutions/spec/erpnext/index_page_spec.rb
Labels: cla: yes, kind/vm

#1029 VM - Add Elasticsearch 7
  vm/chef/cookbooks/elasticsearch/attributes/default.rb
  vm/chef/cookbooks/elasticsearch/files/elasticsearch
  vm/chef/cookbooks/elasticsearch/files/elasticsearch-utils
  vm/chef/cookbooks/elasticsearch/files/etc/default/elasticsearch.template
  vm/chef/cookbooks/elasticsearch/files/etc/elasticsearch/elasticsearch.yml.template
  vm/chef/cookbooks/elasticsearch/recipes/default.rb
Labels: cla: yes, kind/vm

#890 Initial commit for Aditum
  k8s/aditum/.gitignore
  k8s/aditum/Dockerfile
  k8s/aditum/README.md
  k8s/aditum/chart/aditum/.helmignore
  k8s/aditum/chart/aditum/Chart.yaml
  k8s/aditum/chart/aditum/logo.png
  k8s/aditum/chart/aditum/templates/application.yaml
  k8s/aditum/chart/aditum/templates/backend-config.yaml
  k8s/aditum/chart/aditum/templates/cron-create-report.yaml
  k8s/aditum/chart/aditum/templates/cron-deployment-status.yaml
  k8s/aditum/chart/aditum/templates/cron-sync-policies.yaml
  k8s/aditum/chart/aditum/templates/ingress.yaml
  k8s/aditum/chart/aditum/templates/managed-certificate.yaml
  k8s/aditum/chart/aditum/templates/oauth-secret.yaml
  k8s/aditum/chart/aditum/templates/web-deployment.yaml
  k8s/aditum/chart/aditum/templates/web-service.yaml
  k8s/aditum/chart/aditum/values.yaml
  k8s/aditum/cloudbuild-k8s.yaml
  k8s/aditum/images/IAM_IAP_user.png
  k8s/aditum/images/cluster_creation.png
  k8s/aditum/images/cluster_select.png
  k8s/aditum/images/deployment_configuration.png
  k8s/aditum/images/oauth_step1.png
  k8s/aditum/images/oauth_step2.png
  k8s/aditum/images/oauth_step3.png
  k8s/aditum/schema.yaml
  scripts/triggers_check.sh
  triggers/k8s/aditum.yaml
Labels: cla: yes, documentation, kind/docker, kind/k8s, kind/vm

#1038 [mediawiki] Docker images updates - 2020-08-05
  docker/mediawiki/1/debian9/1.33/Dockerfile
  docker/mediawiki/1/debian9/1.34/Dockerfile
  docker/mediawiki/versions.yaml
Labels: cla: yes, kind/docker

#1037 VM - Upgrade Cassandra to 3.11.7
  vm/chef/cookbooks/cassandra/attributes/default.rb
Labels: cla: yes, kind/vm

#1039 Add updated Zookeeper container files
  docker/zookeeper/3/debian10/3.5/Dockerfile
  docker/zookeeper/3/debian10/3.5/docker-entrypoint.sh
  docker/zookeeper/3/debian10/3.6/Dockerfile
  docker/zookeeper/3/debian10/3.6/docker-entrypoint.sh
  docker/zookeeper/3/debian9/3.4/Dockerfile
  docker/zookeeper/3/debian9/3.4/zkGenConfig.sh
  docker/zookeeper/3/debian9/3.4/zkMetrics.sh
  docker/zookeeper/3/debian9/3.4/zkOk.sh
  docker/zookeeper/CONTRIBUTING.md
  docker/zookeeper/LICENSE
  docker/zookeeper/README.md
  docker/zookeeper/exporter/Dockerfile
  docker/zookeeper/exporter/README.md
  docker/zookeeper/templates/debian10/Dockerfile.template
  docker/zookeeper/templates/debian10/docker-entrypoint.sh
  docker/zookeeper/templates/debian9/Dockerfile.template
  docker/zookeeper/templates/debian9/zkGenConfig.sh
  docker/zookeeper/templates/debian9/zkMetrics.sh
  docker/zookeeper/templates/debian9/zkOk.sh
  docker/zookeeper/templates/exporter/Dockerfile.template
  docker/zookeeper/templates/exporter/README.md
  docker/zookeeper/tests/functional_tests/exporter_test.yaml
  docker/zookeeper/tests/functional_tests/running_test.yaml
  docker/zookeeper/versions.yaml
Labels: cla: yes

#1033 VM - Update stackdriver installation in order to build debian10 images
  vm/chef/cookbooks/stackdriver/recipes/logging.rb
  vm/chef/cookbooks/stackdriver/recipes/monitoring.rb
Labels: cla: yes, kind/vm

#1043 VM - Elasticsearch 7 - Fix startup script for single-node deployment
  vm/chef/cookbooks/elasticsearch/files/elasticsearch
Labels: cla: yes, kind/vm

#1042 Added nuclio docker
  docker/nuclio/CONTRIBUTING.md
  docker/nuclio/LICENSE
  docker/nuclio/README.md
  docker/nuclio/nuclio_builder/Dockerfile
  docker/nuclio/nuclio_builder/docker-entrypoint.sh
  docker/nuclio/nuclio_builder/patch
  docker/nuclio/nuclio_builder/scripts/controller
  docker/nuclio/nuclio_builder/scripts/dashboard
  docker/nuclio/templates/nuclio_builder/Dockerfile.template
  docker/nuclio/versions.yaml
Labels: cla: yes, documentation, kind/docker

#1046 Add brackets to cloudbuild variables
  cloudbuild-k8s.yaml
Labels: cla: yes, kind/k8s

#1049 Update nuclio version
  k8s/nuclio/Makefile
  k8s/nuclio/apptest/tester/tests/basic-suite.yaml
Labels: cla: yes, kind/k8s
