Repository GoogleCloudPlatform/click-to-deploy, pull requests merged in 2020-10, with the labels that each got.

#1082 [mediawiki] Docker images updates - 2020-10-02
  docker/mediawiki/1/debian9/1.35/Dockerfile
  docker/mediawiki/1/debian9/1.35/common_functions.sh
  docker/mediawiki/1/debian9/1.35/custom_settings.php
  docker/mediawiki/1/debian9/1.35/docker-entrypoint.sh
  docker/mediawiki/versions.yaml
Labels: cla: yes, kind/docker

#1084 [drupal] Docker images updates - 2020-10-08
  docker/drupal/8/php7/debian9/8.9/apache/Dockerfile
  docker/drupal/9/php7/debian9/9.0/apache/Dockerfile
  docker/drupal/versions.yaml
Labels: cla: yes, kind/docker

#1079 [zookeeper] Fix zookeeper download link in tests
  k8s/zookeeper/apptest/tester/Dockerfile
Labels: cla: yes, kind/k8s

#1063 Solr dockerfile template
  docker/solr/8/debian10/8.6/Dockerfile
  docker/solr/8/debian10/8.6/scripts/docker-entrypoint.sh
  docker/solr/8/debian10/8.6/scripts/init-var-solr
  docker/solr/8/debian10/8.6/scripts/oom_solr.sh
  docker/solr/8/debian10/8.6/scripts/precreate-core
  docker/solr/8/debian10/8.6/scripts/run-initdb
  docker/solr/8/debian10/8.6/scripts/solr-create
  docker/solr/8/debian10/8.6/scripts/solr-demo
  docker/solr/8/debian10/8.6/scripts/solr-fg
  docker/solr/8/debian10/8.6/scripts/solr-foreground
  docker/solr/8/debian10/8.6/scripts/solr-precreate
  docker/solr/8/debian10/8.6/scripts/start-local-solr
  docker/solr/8/debian10/8.6/scripts/stop-local-solr
  docker/solr/8/debian10/8.6/scripts/wait-for-solr.sh
  docker/solr/8/debian10/8.6/scripts/wait-for-zookeeper.sh
  docker/solr/CONTRIBUTING.md
  docker/solr/LICENSE
  docker/solr/README.md
  docker/solr/templates/debian10/Dockerfile.template
  docker/solr/templates/debian10/scripts/docker-entrypoint.sh
  docker/solr/templates/debian10/scripts/init-var-solr
  docker/solr/templates/debian10/scripts/oom_solr.sh
  docker/solr/templates/debian10/scripts/precreate-core
  docker/solr/templates/debian10/scripts/run-initdb
  docker/solr/templates/debian10/scripts/solr-create
  docker/solr/templates/debian10/scripts/solr-demo
  docker/solr/templates/debian10/scripts/solr-fg
  docker/solr/templates/debian10/scripts/solr-foreground
  docker/solr/templates/debian10/scripts/solr-precreate
  docker/solr/templates/debian10/scripts/start-local-solr
  docker/solr/templates/debian10/scripts/stop-local-solr
  docker/solr/templates/debian10/scripts/wait-for-solr.sh
  docker/solr/templates/debian10/scripts/wait-for-zookeeper.sh
  docker/solr/tests/functional_tests/running_test.yaml
  docker/solr/versions.yaml
Labels: cla: yes, documentation, kind/docker

#1087 remove forgotten line
  docker/solr/versions.yaml
Labels: cla: yes, kind/docker

#1091 change in ZK data dir
  k8s/zookeeper/chart/zookeeper/templates/statefulset.yaml
Labels: cla: yes, kind/k8s

#1092 added curl to package list
  docker/solr/8/debian10/8.6/Dockerfile
  docker/solr/templates/debian10/Dockerfile.template
Labels: cla: yes, kind/docker

#1094 Docker - Zookeeper - Remove 3.4 and 3.5 versions
  docker/zookeeper/3/debian10/3.5/Dockerfile
  docker/zookeeper/3/debian10/3.5/docker-entrypoint.sh
  docker/zookeeper/3/debian9/3.4/Dockerfile
  docker/zookeeper/3/debian9/3.4/zkGenConfig.sh
  docker/zookeeper/3/debian9/3.4/zkMetrics.sh
  docker/zookeeper/3/debian9/3.4/zkOk.sh
  docker/zookeeper/versions.yaml
Labels: cla: yes, kind/docker

#1090 K8s - Magento - Add Elasticsearch
  k8s/magento/Makefile
  k8s/magento/README.md
  k8s/magento/apptest/tester/tests/elasticsearch-suite.yaml
  k8s/magento/chart/magento/templates/elasticsearch-configmap.yaml
  k8s/magento/chart/magento/templates/elasticsearch-services.yaml
  k8s/magento/chart/magento/templates/elasticsearch-statefulset.yaml
  k8s/magento/chart/magento/templates/magento-statefulset.yaml
  k8s/magento/chart/magento/values.yaml
  k8s/magento/schema.yaml
Labels: cla: yes, documentation, kind/k8s

#1086 [mediawiki] Docker images updates - 2020-10-16
  docker/mediawiki/1/debian9/1.33/Dockerfile
  docker/mediawiki/1/debian9/1.35/Dockerfile
  docker/mediawiki/versions.yaml
Labels: cla: yes, kind/docker

#1088 Merge AMP Packager docker and k8s directories for Marketplace Click-to-deploy
  docker/amppackager/1/debian10/1.0.1/Dockerfile
  docker/amppackager/1/debian10/1.0.1/docker-entrypoint.sh
  docker/amppackager/1/debian10/1.0.2/Dockerfile
  docker/amppackager/1/debian10/1.0.2/docker-entrypoint.sh
  docker/amppackager/1/debian10/1.0/.dockerignore
  docker/amppackager/1/debian10/1.0/Dockerfile
  docker/amppackager/1/debian10/1.0/docker-entrypoint.sh
  docker/amppackager/CONTRIBUTING.md
  docker/amppackager/LICENSE
  docker/amppackager/README.md
  docker/amppackager/init/Dockerfile
  docker/amppackager/init/amppkg_consumer_template.toml
  docker/amppackager/init/amppkg_renewer_template.toml
  docker/amppackager/init/deploy.sh
  docker/amppackager/init/san_template.cnf
  docker/amppackager/templates/debian10/Dockerfile.template
  docker/amppackager/templates/debian10/docker-entrypoint.sh
  docker/amppackager/templates/init/Dockerfile.template
  docker/amppackager/templates/init/amppkg_consumer_template.toml
  docker/amppackager/templates/init/amppkg_renewer_template.toml
  docker/amppackager/templates/init/deploy.sh
  docker/amppackager/templates/init/san_template.cnf
  docker/amppackager/tests/functional_tests/service_test.yaml
  docker/amppackager/versions.yaml
  k8s/amppackager/Makefile
  k8s/amppackager/README.md
  k8s/amppackager/apptest/deployer/amppackager/templates/tester.yaml
  k8s/amppackager/apptest/deployer/amppackager/values.yaml
  k8s/amppackager/apptest/deployer/schema.yaml
  k8s/amppackager/apptest/tester/Dockerfile
  k8s/amppackager/apptest/tester/tester.sh
  k8s/amppackager/apptest/tester/tests/basic-suite.yaml
  k8s/amppackager/chart/amppackager/.helmignore
  k8s/amppackager/chart/amppackager/Chart.yaml
  k8s/amppackager/chart/amppackager/logo/logo.png
  k8s/amppackager/chart/amppackager/templates/_helpers.tpl
  k8s/amppackager/chart/amppackager/templates/amppackager_cert_consumer_template.yaml
  k8s/amppackager/chart/amppackager/templates/amppackager_cert_renewer_template.yaml
  k8s/amppackager/chart/amppackager/templates/amppackager_service.yaml
  k8s/amppackager/chart/amppackager/templates/application.yaml
  k8s/amppackager/chart/amppackager/templates/nfs_clusterip_service.yaml
  k8s/amppackager/chart/amppackager/templates/nfs_consumer_pvc.yaml
  k8s/amppackager/chart/amppackager/templates/nfs_renewer_pvc.yaml
  k8s/amppackager/chart/amppackager/templates/nfs_server_deployment.yaml
  k8s/amppackager/chart/amppackager/templates/nfs_server_pvc.yaml
  k8s/amppackager/chart/amppackager/values.yaml
  k8s/amppackager/deployer/Dockerfile
  k8s/amppackager/resources/amppackager-k8s-app-architecture.png
  k8s/amppackager/schema.yaml
  k8s/amppackager/verify.sh
Labels: cla: yes, documentation, kind/docker, kind/k8s

#1103 Update Readme for Custom Governance
  k8s/custom-governance/README.md
Labels: cla: yes, documentation, kind/k8s

#1100 Docker - Add Gitlab Container to repo and upgrade version to 13.5
  docker/gitlab/12/debian9/12.9/Dockerfile
  docker/gitlab/12/debian9/12.9/assets/generate-release
  docker/gitlab/12/debian9/12.9/assets/gitlab.rb
  docker/gitlab/12/debian9/12.9/assets/gitlab_sysctl.rb
  docker/gitlab/12/debian9/12.9/assets/setup
  docker/gitlab/12/debian9/12.9/assets/sshd_config
  docker/gitlab/12/debian9/12.9/assets/update-permissions
  docker/gitlab/12/debian9/12.9/assets/wrapper
  docker/gitlab/13/debian10/13.5/Dockerfile
  docker/gitlab/13/debian10/13.5/assets/generate-release
  docker/gitlab/13/debian10/13.5/assets/gitlab.rb
  docker/gitlab/13/debian10/13.5/assets/gitlab_sysctl.rb
  docker/gitlab/13/debian10/13.5/assets/setup
  docker/gitlab/13/debian10/13.5/assets/sshd_config
  docker/gitlab/13/debian10/13.5/assets/update-permissions
  docker/gitlab/13/debian10/13.5/assets/wrapper
  docker/gitlab/CONTRIBUTING.md
  docker/gitlab/LICENSE
  docker/gitlab/README.md
  docker/gitlab/templates/Dockerfile.template
  docker/gitlab/templates/assets/generate-release
  docker/gitlab/templates/assets/gitlab.rb
  docker/gitlab/templates/assets/gitlab_sysctl.rb
  docker/gitlab/templates/assets/setup
  docker/gitlab/templates/assets/sshd_config
  docker/gitlab/templates/assets/update-permissions
  docker/gitlab/templates/assets/wrapper
  docker/gitlab/tests/functional_tests/health_test.yaml
  docker/gitlab/versions.yaml
Labels: cla: yes, documentation, kind/docker

#1099 VM - Add Debian 10 version checking to VM tests
  vm/tests/common/101_root_dir_checksum_test.sh
Labels: cla: yes, kind/vm

#1102 Fix wrong schema type int, should be integer. Also make default port 60000.
  k8s/amppackager/schema.yaml
Labels: cla: yes, kind/k8s

#1101 K8s - Gitlab - Upgrade app to 13.5 version
  k8s/gitlab/Makefile
Labels: cla: yes, kind/k8s
