Repository GoogleCloudPlatform/click-to-deploy, pull requests merged in 2020-05, with the labels that each got.

#936 Remove step which gets from container repo in order to use the click-…
  cloudbuild-docker.yaml
Labels: cla: yes, kind/docker

#911 Add Neo4j CE - Container
  docker/neo4j/4/debian9/4.0/Dockerfile
  docker/neo4j/4/debian9/4.0/docker-entrypoint.sh
  docker/neo4j/CONTRIBUTING
  docker/neo4j/LICENSE
  docker/neo4j/README.md
  docker/neo4j/templates/Dockerfile.template
  docker/neo4j/templates/docker-entrypoint.sh
  docker/neo4j/tests/functional_tests/service_test.yaml
  docker/neo4j/versions.yaml
Labels: cla: yes, documentation, kind/docker

#937 IMAGEBUILDER_TAG version 0.1.3
  vm/IMAGEBUILDER_TAG
Labels: cla: yes, kind/vm

#939 add orientdb-docker to the list
  docker/README.md
Labels: cla: yes, documentation, kind/docker

#940 add trigger for OrientDB k8s app
  triggers/k8s/orientdb.yaml
Labels: cla: yes, kind/k8s

#942 Release of Redis HA k8s app with trigger
  k8s/redis-ha/Makefile
  k8s/redis-ha/README.md
  k8s/redis-ha/apptest/deployer/redis-ha/templates/tester.yaml
  k8s/redis-ha/apptest/deployer/schema.yaml
  k8s/redis-ha/apptest/tester/Dockerfile
  k8s/redis-ha/apptest/tester/tester.sh
  k8s/redis-ha/apptest/tester/tests/basic-suite.yaml
  k8s/redis-ha/chart/redis-ha/Chart.yaml
  k8s/redis-ha/chart/redis-ha/files/configs/haproxy.cfg
  k8s/redis-ha/chart/redis-ha/files/configs/haproxy_init.sh
  k8s/redis-ha/chart/redis-ha/files/configs/init.sh
  k8s/redis-ha/chart/redis-ha/files/configs/redis.conf
  k8s/redis-ha/chart/redis-ha/files/configs/sentinel.conf
  k8s/redis-ha/chart/redis-ha/logo.png
  k8s/redis-ha/chart/redis-ha/templates/_helpers.tpl
  k8s/redis-ha/chart/redis-ha/templates/application.yaml
  k8s/redis-ha/chart/redis-ha/templates/common-auth-secret.yaml
  k8s/redis-ha/chart/redis-ha/templates/common-configmap.yaml
  k8s/redis-ha/chart/redis-ha/templates/haproxy-deployment.yaml
  k8s/redis-ha/chart/redis-ha/templates/haproxy-service.yaml
  k8s/redis-ha/chart/redis-ha/templates/redis-announce-service.yaml
  k8s/redis-ha/chart/redis-ha/templates/redis-service.yaml
  k8s/redis-ha/chart/redis-ha/templates/redis-statefulset.yaml
  k8s/redis-ha/chart/redis-ha/values.yaml
  k8s/redis-ha/deployer/Dockerfile
  k8s/redis-ha/resources/redis-ha-k8s-app-architecture.png
  k8s/redis-ha/schema.yaml
  k8s/redis-ha/scripts/backup.sh
  k8s/redis-ha/scripts/restore.sh
  triggers/k8s/redis-ha.yaml
Labels: cla: yes, documentation, kind/k8s

#941 Add OrientDB k8s app content
  k8s/orientdb/Makefile
  k8s/orientdb/README.md
  k8s/orientdb/apptest/deployer/orientdb/templates/tester.yaml
  k8s/orientdb/apptest/deployer/orientdb/values.yaml
  k8s/orientdb/apptest/deployer/schema.yaml
  k8s/orientdb/apptest/tester/Dockerfile
  k8s/orientdb/apptest/tester/tester.sh
  k8s/orientdb/apptest/tester/tests/basic-suite.yaml
  k8s/orientdb/chart/orientdb/Chart.yaml
  k8s/orientdb/chart/orientdb/logo.png
  k8s/orientdb/chart/orientdb/templates/application.yaml
  k8s/orientdb/chart/orientdb/templates/config.yaml
  k8s/orientdb/chart/orientdb/templates/secret.yaml
  k8s/orientdb/chart/orientdb/templates/service.yaml
  k8s/orientdb/chart/orientdb/templates/statefulset.yaml
  k8s/orientdb/chart/orientdb/values.yaml
  k8s/orientdb/deployer/Dockerfile
  k8s/orientdb/resources/OrientDB-k8s-app-architecture.jpeg
  k8s/orientdb/schema.yaml
  k8s/orientdb/scripts/create_backup_manifest.sh
  k8s/orientdb/scripts/create_restore_manifest.sh
  k8s/orientdb/scripts/templates/backup-job.template
  k8s/orientdb/scripts/templates/restore-job.template
Labels: cla: yes, documentation, kind/k8s

#945 K8s Redis HA - Rollback logo to generic one
  k8s/redis-ha/chart/redis-ha/logo.png
Labels: cla: yes, kind/k8s

#944 Wordpress K8s fixes for storageClass and some refactorings
  k8s/wordpress/README.md
  k8s/wordpress/chart/wordpress/templates/application.yaml
  k8s/wordpress/chart/wordpress/templates/mysql-secrets.yaml
  k8s/wordpress/chart/wordpress/templates/mysql-services.yaml
  k8s/wordpress/chart/wordpress/templates/mysql-statefulset.yaml
  k8s/wordpress/chart/wordpress/templates/wordpress-configmap.yaml
  k8s/wordpress/chart/wordpress/templates/wordpress-ingress.yaml
  k8s/wordpress/chart/wordpress/templates/wordpress-secrets.yaml
  k8s/wordpress/chart/wordpress/templates/wordpress-services.yaml
  k8s/wordpress/chart/wordpress/templates/wordpress-statefulset.yaml
  k8s/wordpress/chart/wordpress/values.yaml
  k8s/wordpress/schema.yaml
Labels: cla: yes, documentation, kind/k8s

#905 Q1 Click to Deploy mass doc revamp, part 2
  k8s/mariadb-galera/README.md
Labels: cla: yes, documentation, kind/k8s

#919 Update MARKETPLACE_TOOLS_TAG to 0.10.1
  k8s/MARKETPLACE_TOOLS_TAG
  scripts/cloudbuild_k8s_generator.py
  scripts/cloudbuild_k8s_generator_test.py
Labels: cla: yes, kind/k8s

#947 Update OrientDB to 3.0.x track
  k8s/orientdb/Makefile
Labels: cla: yes, kind/k8s

#948 K8s - Wordpress - Fix for schema and helm change
  k8s/wordpress/chart/wordpress/templates/mysql-secrets.yaml
  k8s/wordpress/chart/wordpress/templates/mysql-statefulset.yaml
  k8s/wordpress/schema.yaml
Labels: cla: yes, kind/k8s

#906 Q1 Click to Deploy mass doc revamp, part 3
  k8s/activemq/README.md
Labels: cla: yes, documentation, kind/k8s

#953 Add storageclass templating for Elasticsearch
  k8s/elasticsearch/README.md
  k8s/elasticsearch/chart/elasticsearch/templates/manifests.yaml
  k8s/elasticsearch/chart/elasticsearch/values.yaml
  k8s/elasticsearch/schema.yaml
Labels: cla: yes, documentation, kind/k8s

#952 fix storageclass hardcode for Prometheus
  k8s/prometheus/README.md
  k8s/prometheus/manifest/alertmanager-statefulset.yaml
  k8s/prometheus/manifest/grafana-statefulset.yaml
  k8s/prometheus/manifest/prometheus-statefulset.yaml
  k8s/prometheus/schema.yaml
Labels: cla: yes, documentation, kind/k8s

#960 templating storageclass for RabbitMQ
  k8s/rabbitmq/README.md
  k8s/rabbitmq/chart/rabbitmq/templates/statefulset.yaml
  k8s/rabbitmq/chart/rabbitmq/values.yaml
  k8s/rabbitmq/schema.yaml
Labels: cla: yes, documentation, kind/k8s

#959 templating storageclass for elastic-gke-logging
  k8s/elastic-gke-logging/README.md
  k8s/elastic-gke-logging/chart/elastic-gke-logging/templates/elasticsearch-manifests.yaml
  k8s/elastic-gke-logging/chart/elastic-gke-logging/values.yaml
  k8s/elastic-gke-logging/schema.yaml
Labels: cla: yes, documentation, kind/k8s

#958 add storageclass templating for Cassandra k8s app
  k8s/cassandra/README.md
  k8s/cassandra/chart/cassandra/templates/manifests.yaml
  k8s/cassandra/chart/cassandra/values.yaml
  k8s/cassandra/schema.yaml
Labels: cla: yes, documentation, kind/k8s

#961 Added trigger for GitLab k8s app
  triggers/k8s/gitlab.yaml
Labels: cla: yes, kind/k8s

#963 Added GitLab kubernetes solution
  k8s/gitlab/Makefile
  k8s/gitlab/README.md
  k8s/gitlab/apptest/deployer/gitlab/templates/tester.yaml
  k8s/gitlab/apptest/deployer/gitlab/values.yaml
  k8s/gitlab/apptest/deployer/schema.yaml
  k8s/gitlab/apptest/tester/Dockerfile
  k8s/gitlab/apptest/tester/tester.sh
  k8s/gitlab/apptest/tester/tests/gitlab-exporter-suite.yaml
  k8s/gitlab/apptest/tester/tests/gitlab-suite.yaml
  k8s/gitlab/apptest/tester/tests/postgresql-exporter-suite.yaml
  k8s/gitlab/apptest/tester/tests/postgresql-suite.yaml
  k8s/gitlab/apptest/tester/tests/redis-exporter-suite.yaml
  k8s/gitlab/apptest/tester/tests/redis-suite.yaml
  k8s/gitlab/chart/gitlab/Chart.yaml
  k8s/gitlab/chart/gitlab/files/redis_ping_liveness_local.sh
  k8s/gitlab/chart/gitlab/files/redis_ping_readiness_local.sh
  k8s/gitlab/chart/gitlab/logo.png
  k8s/gitlab/chart/gitlab/templates/application.yaml
  k8s/gitlab/chart/gitlab/templates/gitlab-configmap.yaml
  k8s/gitlab/chart/gitlab/templates/gitlab-secrets.yaml
  k8s/gitlab/chart/gitlab/templates/gitlab-services.yaml
  k8s/gitlab/chart/gitlab/templates/gitlab-statefulset.yaml
  k8s/gitlab/chart/gitlab/templates/postgresql-secrets.yaml
  k8s/gitlab/chart/gitlab/templates/postgresql-services.yaml
  k8s/gitlab/chart/gitlab/templates/postgresql-statefulset.yaml
  k8s/gitlab/chart/gitlab/templates/redis-configmap.yaml
  k8s/gitlab/chart/gitlab/templates/redis-secrets.yaml
  k8s/gitlab/chart/gitlab/templates/redis-services.yaml
  k8s/gitlab/chart/gitlab/templates/redis-statefulset.yaml
  k8s/gitlab/chart/gitlab/values.yaml
  k8s/gitlab/deployer/Dockerfile
  k8s/gitlab/resources/gitlab-k8s-app-architecture.png
  k8s/gitlab/schema.yaml
Labels: cla: yes, documentation, kind/k8s
