Repository GoogleCloudPlatform/click-to-deploy, pull requests merged in 2020-11, with the labels that each got.

#1107 add trigger for solr k8s app
  triggers/k8s/solr.yaml
Labels: cla: yes, kind/k8s

#1110 [mediawiki] Docker images updates - 2020-10-30
  docker/mediawiki/1/debian9/1.33/Dockerfile
  docker/mediawiki/1/debian9/1.35/Dockerfile
  docker/mediawiki/versions.yaml
Labels: cla: yes, kind/docker

#1105 remove duplicate command and instruction in README
  k8s/prometheus/README.md
Labels: cla: yes, documentation, kind/k8s

#1114 VM - Bump imagebuilder version to 0.1.4
  vm/IMAGEBUILDER_TAG
Labels: cla: yes, kind/vm

#1112 K8s - Drupal - Upgrade to version 9.0.x
  k8s/drupal/Makefile
Labels: cla: yes, kind/k8s

#1115 K8s - Sonarqube - Upgrade to version 8.5.x
  k8s/sonarqube/Makefile
Labels: cla: yes, kind/k8s

#1116 K8s - Grafana - Upgrade to version 7.3.x
  k8s/grafana/Makefile
Labels: cla: yes, kind/k8s

#1106 Solr k8s app
  k8s/solr/Makefile
  k8s/solr/README.md
  k8s/solr/apptest/deployer/schema.yaml
  k8s/solr/apptest/deployer/solr/templates/tester.yaml
  k8s/solr/apptest/deployer/solr/values.yaml
  k8s/solr/apptest/tester/Dockerfile
  k8s/solr/apptest/tester/tester.sh
  k8s/solr/apptest/tester/tests/solr-exporter-test.yaml
  k8s/solr/apptest/tester/tests/solrCloud-test.yaml
  k8s/solr/chart/solr/Chart.yaml
  k8s/solr/chart/solr/logo.png
  k8s/solr/chart/solr/templates/_helpers.tpl
  k8s/solr/chart/solr/templates/application.yaml
  k8s/solr/chart/solr/templates/exporter-basic-auth-secret.yaml
  k8s/solr/chart/solr/templates/exporter-deployment.yaml
  k8s/solr/chart/solr/templates/poddisruptionbudget.yaml
  k8s/solr/chart/solr/templates/service-headless.yaml
  k8s/solr/chart/solr/templates/service.yaml
  k8s/solr/chart/solr/templates/solr-auth-job.yaml
  k8s/solr/chart/solr/templates/solr-secrets.yaml
  k8s/solr/chart/solr/templates/solr-xml-configmap.yaml
  k8s/solr/chart/solr/templates/statefulset.yaml
  k8s/solr/chart/solr/templates/zk-config-scripts.yaml
  k8s/solr/chart/solr/templates/zk-pdb.yaml
  k8s/solr/chart/solr/templates/zk-services.yaml
  k8s/solr/chart/solr/templates/zk-statefulset.yaml
  k8s/solr/chart/solr/values.yaml
  k8s/solr/deployer/Dockerfile
  k8s/solr/resources/apache-solr-k8s-app-architecture.png
  k8s/solr/schema.yaml
Labels: cla: yes, documentation, kind/k8s

#1113 VM - MariaDB - Unpin build and pin minor version, Debian 10 upgrade
  vm/chef/cookbooks/mariadb/attributes/default.rb
  vm/packer/templates/mariadb/packer.in.json
Labels: cla: yes, kind/vm

#1117 [drupal] Docker images updates - 2020-11-06
  docker/drupal/8/php7/debian9/8.9/apache/Dockerfile
  docker/drupal/versions.yaml
Labels: cla: yes, kind/docker

#1109 add README documentation for p+g onprem
  k8s/prometheus-operator/README.md
Labels: cla: yes, documentation, kind/k8s

#1122 migrate jaeger-operator from gerrit
  docker/jaeger-operator/1/1.20/Dockerfile
  docker/jaeger-operator/CONTRIBUTING.md
  docker/jaeger-operator/LICENSE
  docker/jaeger-operator/README.md
  docker/jaeger-operator/templates/Dockerfile.template
  docker/jaeger-operator/versions.yaml
Labels: cla: yes, documentation, kind/docker

#1119 K8s - Voucher First Release
  k8s/voucher/Makefile
  k8s/voucher/apptest/deployer/manifest/tester.yaml.template
  k8s/voucher/apptest/deployer/schema.yaml
  k8s/voucher/apptest/tester/Dockerfile
  k8s/voucher/apptest/tester/tester.sh
  k8s/voucher/deployer/Dockerfile
  k8s/voucher/manifest/application.yaml.template
  k8s/voucher/manifest/manifests.yaml.template
  k8s/voucher/schema.yaml
Labels: cla: yes, kind/k8s

#1118 Update Custom Governance's prerequisites part in README.md
  k8s/custom-governance/README.md
  k8s/custom-governance/schema.yaml
Labels: cla: yes, documentation, kind/k8s

#1126 [mediawiki] Docker images updates - 2020-11-20
  docker/mediawiki/1/debian9/1.33/Dockerfile
  docker/mediawiki/1/debian9/1.35/Dockerfile
  docker/mediawiki/versions.yaml
Labels: cla: yes, kind/docker

#1125 [drupal] Docker images updates - 2020-11-20
  docker/drupal/8/php7/debian9/8.8/apache/Dockerfile
  docker/drupal/8/php7/debian9/8.9/apache/Dockerfile
  docker/drupal/9/php7/debian9/9.0/apache/Dockerfile
  docker/drupal/versions.yaml
Labels: cla: yes, kind/docker

#1127 VM - Bump imagebuilder version to 0.1.5
  vm/IMAGEBUILDER_TAG
Labels: cla: yes, kind/vm

#1124 VM - MariaDB - Refactor and Fix Replication
  vm/chef/cookbooks/mariadb/files/mariadb-setup
  vm/chef/cookbooks/mariadb/files/mariadb-utils
  vm/chef/cookbooks/mariadb/files/patch-master-replication
  vm/chef/cookbooks/mariadb/files/patch-pam-ssh
  vm/chef/cookbooks/mariadb/files/patch-replica-replication
  vm/chef/cookbooks/mariadb/files/patch-replication
  vm/chef/cookbooks/mariadb/files/patch-ssh
  vm/chef/cookbooks/mariadb/recipes/default.rb
Labels: cla: yes, kind/vm

#1123 jaeger k8s - upgrade track 1.15 -> 1.20
  k8s/jaeger-operator/Makefile
Labels: cla: yes, kind/k8s

#1128 [drupal] Docker images updates - 2020-11-30
  docker/drupal/8/php7/debian9/8.8/apache/Dockerfile
  docker/drupal/8/php7/debian9/8.9/apache/Dockerfile
  docker/drupal/9/php7/debian9/9.0/apache/Dockerfile
  docker/drupal/versions.yaml
Labels: cla: yes, kind/docker
