Repository GoogleCloudPlatform/click-to-deploy, pull requests merged in 2020-12, with the labels that each got.

#1059 VM - Add Logstash
  vm/chef/cookbooks/logstash/attributes/default.rb
  vm/chef/cookbooks/logstash/files/logstash
  vm/chef/cookbooks/logstash/files/logstash-utils
  vm/chef/cookbooks/logstash/files/syslog.http.conf.template
  vm/chef/cookbooks/logstash/files/syslog.https.conf.template
  vm/chef/cookbooks/logstash/metadata.rb
  vm/chef/cookbooks/logstash/recipes/default.rb
  vm/packer/templates/logstash/packer.in.json
  vm/tests/solutions/spec/logstash/c2d_startup_spec.rb
  vm/tests/solutions/spec/logstash/packages_spec.rb
  vm/tests/solutions/spec/logstash/ports_spec.rb
  vm/tests/solutions/spec/logstash/services_spec.rb
  vm/tests/solutions/spec/logstash/stackdriver_spec.rb
Labels: cla: yes, kind/vm

#1065 VM - Elasticsearch - Add HTTPS feature and features for ELK integration
  vm/chef/cookbooks/elasticsearch/attributes/default.rb
  vm/chef/cookbooks/elasticsearch/files/certshare.service
  vm/chef/cookbooks/elasticsearch/files/elasticsearch
  vm/chef/cookbooks/elasticsearch/files/elasticsearch-utils
  vm/chef/cookbooks/elasticsearch/files/patch-ssl
  vm/chef/cookbooks/elasticsearch/metadata.rb
  vm/chef/cookbooks/elasticsearch/recipes/default.rb
  vm/packer/templates/elasticsearch/packer.in.json
Labels: cla: yes, kind/vm

#1060 VM - Add Kibana
  vm/chef/cookbooks/kibana/attributes/default.rb
  vm/chef/cookbooks/kibana/files/kibana
  vm/chef/cookbooks/kibana/files/kibana-utils
  vm/chef/cookbooks/kibana/files/kibana.yml.template
  vm/chef/cookbooks/kibana/files/patch-ssl
  vm/chef/cookbooks/kibana/metadata.rb
  vm/chef/cookbooks/kibana/recipes/default.rb
  vm/packer/templates/kibana/packer.in.json
  vm/tests/solutions/spec/kibana/c2d_startup_spec.rb
  vm/tests/solutions/spec/kibana/packages_spec.rb
  vm/tests/solutions/spec/kibana/ports_spec.rb
  vm/tests/solutions/spec/kibana/services_spec.rb
  vm/tests/solutions/spec/kibana/stackdriver_spec.rb
Labels: cla: yes, kind/vm

#1129 Migrate from Travis CI to Github Actions
  .github/workflows/ci-tests.yaml
  .travis.yml
  Makefile
  scripts/cloudbuild_k8s_generator_test.py
  scripts/triggers_vm_generator.py
  scripts/triggers_vm_generator_test.py
Labels: cla: yes

#1130 VM - Kibana - Fix License
  vm/packer/templates/kibana/packer.in.json
Labels: cla: yes, kind/vm

#1134 Docker - Drupal - Await for MySQL be up before installing app
  docker/drupal/8/php7/debian9/8.8/apache/docker-entrypoint.sh
  docker/drupal/8/php7/debian9/8.9/apache/docker-entrypoint.sh
  docker/drupal/9/php7/debian9/9.0/apache/docker-entrypoint.sh
  docker/drupal/templates/docker-entrypoint.sh
Labels: cla: yes, kind/docker

#1132 VM - Kibana - Fix license to be used in solution
  vm/packer/templates/kibana/packer.in.json
Labels: cla: yes, kind/vm

#1135 VM - Cassandra - Fix latest patch from 3.11 version
  vm/chef/cookbooks/cassandra/attributes/default.rb
Labels: cla: yes, kind/vm

#1054 VM - Bump CouchDB from 2.x to latest (3.1) and Debian 10
  vm/chef/cookbooks/couchdb/attributes/default.rb
  vm/chef/cookbooks/couchdb/files/couchdb
  vm/chef/cookbooks/couchdb/metadata.rb
  vm/chef/cookbooks/couchdb/recipes/default.rb
  vm/packer/templates/couchdb/packer.in.json
  vm/tests/solutions/spec/couchdb/ports_spec.rb
  vm/tests/solutions/spec/couchdb/services_spec.rb
Labels: cla: yes, kind/vm

#1133 K8s - Drupal - Await less time after deploy
  k8s/drupal/Makefile
  k8s/drupal/chart/drupal/templates/drupal-statefulset.yaml
Labels: cla: yes, kind/k8s

#1143 [activemq] Docker images updates - 2020-12-11
  docker/activemq/5/debian9/5.15/Dockerfile
  docker/activemq/versions.yaml
Labels: cla: yes, kind/docker

#1145 Increase liveness probe initial delay for kibana
  k8s/elastic-gke-logging/chart/elastic-gke-logging/templates/kibana-manifests.yaml
  k8s/elastic-gke-logging/deployer/Dockerfile
Labels: cla: yes, kind/k8s

#1147 K8s - Elasticsearch - Update track
  k8s/elasticsearch/Makefile
Labels: cla: yes, kind/k8s

#1146 [drupal] Docker images updates - 2020-12-16
  docker/drupal/8/php7/debian9/8.8/apache/Dockerfile
  docker/drupal/8/php7/debian9/8.8/apache/docker-entrypoint.sh
  docker/drupal/8/php7/debian9/8.8/apache/makedb.php
  docker/drupal/9/php7/debian9/9.0/apache/Dockerfile
  docker/drupal/versions.yaml
Labels: cla: yes, kind/docker

#1150 K8s - Fixed Service Account missing descriptions
  k8s/cert-manager/schema.yaml
  k8s/consul/schema.yaml
  k8s/elastic-gke-logging/schema.yaml
  k8s/gitlab/schema.yaml
  k8s/grafana/schema.yaml
  k8s/hazelcast/schema.yaml
  k8s/jaeger-operator/schema.yaml
  k8s/nuclio/schema.yaml
  k8s/postgresql/schema.yaml
  k8s/prometheus-operator/schema.yaml
  k8s/prometheus/schema.yaml
  k8s/rabbitmq/schema.yaml
Labels: cla: yes, kind/k8s

#1120 Solr refactoring and fix logo issues in applications
  k8s/consul/chart/consul/templates/application.yaml
  k8s/etcd/chart/etcd/templates/application.yaml
  k8s/jaeger-operator/chart/jaeger-operator/templates/application.yaml
  k8s/mariadb-galera/chart/mariadb-galera/templates/application.yaml
  k8s/mariadb/chart/mariadb/templates/application.yaml
  k8s/nuclio/chart/nuclio/templates/application.yaml
  k8s/prometheus-operator/chart/prometheus-operator/templates/application.yaml
  k8s/solr/chart/solr/logo.png
  k8s/solr/chart/solr/templates/application.yaml
  k8s/zookeeper/chart/zookeeper/templates/application.yaml
Labels: cla: yes, kind/k8s
