Repository GoogleCloudPlatform/click-to-deploy, pull requests merged in 2021-04, with the labels that each got.

#1214 Docker - Nuclio - Fix tag
  docker/nuclio/versions.yaml
Labels: cla: yes, kind/docker

#1220 K8s - Neo4j - Bump version to 4.1
  k8s/neo4j-ce/Makefile
Labels: cla: yes, kind/k8s

#1218 K8s - OrientDB - Bump version to 3.1
  k8s/orientdb/Makefile
Labels: cla: yes, kind/k8s

#1217 K8s - Memcached - Bump version to 1.6
  k8s/memcached/Makefile
Labels: cla: yes, kind/k8s

#1215 K8s - Grafana - Bump version to 7.4.x
  k8s/grafana/Makefile
Labels: cla: yes, kind/k8s

#1224 K8s - RabbitMQ - Add Helm 3 instructions
  k8s/rabbitmq/README.md
Labels: cla: yes, documentation, kind/k8s

#1222 VM - OpenCart - Fix nit
  vm/chef/cookbooks/opencart/files/opencart-utils
Labels: cla: yes, kind/vm

#1216 K8s - MediaWiki - Bump version to 1.35.x
  k8s/mediawiki/Makefile
  k8s/mediawiki/apptest/tester/tests/exporters-suite.yaml
  k8s/mediawiki/apptest/tester/tests/mediawiki-suite.yaml
Labels: cla: yes, kind/k8s

#1225 update helm examples to v3
  k8s/activemq/README.md
  k8s/cert-manager/README.md
  k8s/consul/README.md
  k8s/drupal/README.md
  k8s/elastic-gke-logging/README.md
  k8s/etcd/README.md
  k8s/grafana/README.md
  k8s/hazelcast/README.md
  k8s/jaeger-operator/README.md
  k8s/jenkins/README.md
  k8s/joomla/README.md
  k8s/mariadb/README.md
  k8s/memcached/README.md
  k8s/neo4j-ce/README.md
  k8s/nginx/README.md
  k8s/postgresql/README.md
  k8s/prometheus-operator/README.md
  k8s/sonarqube/README.md
  k8s/wordpress/README.md
  k8s/zookeeper/README.md
Labels: cla: yes, documentation, kind/k8s

#1213 K8s - Upgrade Elasticsearch track to 7.10
  k8s/elasticsearch/Makefile
  k8s/elasticsearch/chart/elasticsearch/templates/manifests.yaml
Labels: cla: yes, kind/k8s

#1227 VM - Kafka - Add cluster feature
  vm/chef/cookbooks/kafka/files/c2d-service.sh
  vm/chef/cookbooks/kafka/files/kafka
  vm/chef/cookbooks/kafka/files/kafka-startup.service
  vm/chef/cookbooks/kafka/recipes/default.rb
Labels: cla: yes, kind/vm

#1229 [mediawiki] Docker images updates - 2021-04-09
  docker/mediawiki/1/debian9/1.35/Dockerfile
  docker/mediawiki/versions.yaml
Labels: cla: yes, kind/docker

#1228 [drupal] Docker images updates - 2021-04-09
  docker/drupal/9/php7/debian9/9.1/apache/Dockerfile
  docker/drupal/versions.yaml
Labels: cla: yes, kind/docker

#1231 [mediawiki] Docker images updates - 2021-04-14
  docker/mediawiki/1/debian9/1.33/Dockerfile
  docker/mediawiki/1/debian9/1.33/common_functions.sh
  docker/mediawiki/1/debian9/1.33/custom_settings.php
  docker/mediawiki/1/debian9/1.33/docker-entrypoint.sh
  docker/mediawiki/versions.yaml
Labels: cla: yes, kind/docker

#1232 K8s - Jenkins - Bump version and fix test
  k8s/jenkins/Makefile
  k8s/jenkins/apptest/tester/tests/basic-suite.yaml
Labels: cla: yes, kind/k8s

#1234 K8s - Elasticsearch - Updated elasticsearch version in readme file
  k8s/elasticsearch/README.md
Labels: cla: yes, documentation, kind/k8s

#1237 K8s - Prometheus - Upgrade and fix sa roles
  k8s/prometheus/Makefile
  k8s/prometheus/schema.yaml
Labels: cla: yes, kind/k8s
