Repository GoogleCloudPlatform/click-to-deploy, pull requests merged in 2021-11, with the labels that each got.

#1453 VM - Add ConcreteCMS Image
  vm/chef/cookbooks/concretecms/attributes/default.rb
  vm/chef/cookbooks/concretecms/files/apache-concretecms.conf
  vm/chef/cookbooks/concretecms/files/concretecms
  vm/chef/cookbooks/concretecms/files/concretecms-utils
  vm/chef/cookbooks/concretecms/metadata.rb
  vm/chef/cookbooks/concretecms/recipes/default.rb
  vm/chef/cookbooks/php74/recipes/module_mcrypt.rb
  vm/packer/templates/concretecms/packer.in.json
  vm/tests/solutions/spec/concretecms/c2d_startup_spec.rb
  vm/tests/solutions/spec/concretecms/php_config_spec.rb
  vm/tests/solutions/spec/concretecms/ports_spec.rb
  vm/tests/solutions/spec/concretecms/security_config_spec.rb
  vm/tests/solutions/spec/concretecms/services_spec.rb
  vm/tests/solutions/spec/concretecms/stackdriver_spec.rb
Labels: cla: yes, kind/vm

#1458 [drupal] Docker images updates - 2021-11-05
  docker/drupal/9/php7/debian9/9.2/apache/Dockerfile
  docker/drupal/versions.yaml
Labels: cla: yes, kind/docker

#1461 [joomla] k8s solution updates - 2021-11-05
  k8s/joomla/Makefile
Labels: cla: yes, kind/k8s

#1464 [mariadb-galera] k8s solution updates - 2021-11-05
  k8s/mariadb-galera/Makefile
Labels: cla: yes, kind/k8s

#1463 [mediawiki] k8s solution updates - 2021-11-05
  k8s/mediawiki/Makefile
Labels: cla: yes, kind/k8s

#1466 [orientdb] k8s solution updates - 2021-11-05
  k8s/orientdb/Makefile
Labels: cla: yes, kind/k8s

#1467 [rabbitmq] k8s solution updates - 2021-11-05
  k8s/rabbitmq/Makefile
Labels: cla: yes, kind/k8s

#1468 [solr] k8s solution updates - 2021-11-05
  k8s/solr/Makefile
Labels: cla: yes, kind/k8s

#1469 [wordpress] k8s solution updates - 2021-11-05
  k8s/wordpress/Makefile
Labels: cla: yes, kind/k8s

#1470 [zookeeper] k8s solution updates - 2021-11-05
  k8s/zookeeper/Makefile
Labels: cla: yes, kind/k8s

#1454 VM - Add TestLink image
  vm/chef/cookbooks/testlink/attributes/default.rb
  vm/chef/cookbooks/testlink/files/nginx-testlink.conf
  vm/chef/cookbooks/testlink/files/testlink
  vm/chef/cookbooks/testlink/files/testlink-utils
  vm/chef/cookbooks/testlink/metadata.rb
  vm/chef/cookbooks/testlink/recipes/default.rb
  vm/packer/templates/testlink/packer.in.json
  vm/tests/solutions/spec/testlink/c2d_startup_spec.rb
  vm/tests/solutions/spec/testlink/ports_spec.rb
  vm/tests/solutions/spec/testlink/services_spec.rb
  vm/tests/solutions/spec/testlink/stackdriver_spec.rb
Labels: cla: yes, kind/vm

#1430 [activemq] Docker images updates - 2021-10-12
  docker/activemq/tests/functional_tests/activemq_start_test.yaml
  docker/activemq/versions.yaml
Labels: cla: yes, kind/docker

#1462 [mariadb] k8s solution updates - 2021-11-05
  k8s/mariadb/Makefile
Labels: cla: yes, kind/k8s

#1457 K8s - Kakfa - Add Zookeeper Replica Configurable Variable
  k8s/kafka/chart/kafka/templates/zk-statefulset.yaml
  k8s/kafka/chart/kafka/values.yaml
Labels: cla: yes, kind/k8s

#1472 OroCRM - add Supervisor, MB warning fix
  vm/chef/cookbooks/orocrm/attributes/default.rb
  vm/chef/cookbooks/orocrm/files/orocrm
  vm/chef/cookbooks/orocrm/files/supervisor.conf
  vm/chef/cookbooks/orocrm/recipes/default.rb
Labels: cla: yes, kind/vm

#1456 VM - Add Kubernetes Sandbox image
  vm/chef/cookbooks/kubernetessandbox/attributes/default.rb
  vm/chef/cookbooks/kubernetessandbox/files/kubernetes-setup
  vm/chef/cookbooks/kubernetessandbox/metadata.rb
  vm/chef/cookbooks/kubernetessandbox/recipes/default.rb
  vm/packer/templates/kubernetessandbox/packer.in.json
  vm/tests/solutions/spec/kubernetessandbox/c2d_startup_spec.rb
  vm/tests/solutions/spec/kubernetessandbox/packages_spec.rb
  vm/tests/solutions/spec/kubernetessandbox/ports_spec.rb
  vm/tests/solutions/spec/kubernetessandbox/services_spec.rb
  vm/tests/solutions/spec/kubernetessandbox/stackdriver_spec.rb
Labels: cla: yes, kind/vm

#1459 [gitlab] Docker images updates - 2021-11-05
  docker/gitlab/13/debian10/13.12/Dockerfile
  docker/gitlab/14/debian10/14.4/Dockerfile
  docker/gitlab/versions.yaml
Labels: cla: yes, kind/docker

#1465 [nginx] k8s solution updates - 2021-11-05
  k8s/nginx/Makefile
  k8s/nginx/chart/nginx/templates/nginx-statefulset.yaml
  k8s/nginx/chart/nginx/values.yaml
  k8s/nginx/schema.yaml
Labels: cla: yes, kind/k8s

#1460 [solr] Docker images updates - 2021-11-05
  docker/solr/8/debian10/8.10/Dockerfile
  docker/solr/versions.yaml
Labels: cla: yes, kind/docker

#1476 Docker - ActiveMQ - Remove 5.15 version
  docker/activemq/5/debian9/5.15/Dockerfile
  docker/activemq/5/debian9/5.15/docker-entrypoint.sh
  docker/activemq/versions.yaml
Labels: cla: yes, kind/docker

#1475 Add variable to bind or not the admin panel on all hosts
  docker/activemq/5/debian9/5.16/docker-entrypoint.sh
  docker/activemq/templates/docker-entrypoint.sh
Labels: cla: yes, kind/docker

#1378 [activemq] k8s solution updates - 2021-09-06
  k8s/activemq/Makefile
  k8s/activemq/README.md
  k8s/activemq/apptest/deployer/activemq/values.yaml
  k8s/activemq/apptest/deployer/schema.yaml
  k8s/activemq/chart/activemq/templates/activemq-deployment.yaml
  k8s/activemq/chart/activemq/values.yaml
  k8s/activemq/schema.yaml
Labels: cla: yes, kind/k8s, documentation

#1474 VM - EspoCRM - Test if app is ready via localhost instead of external/internal IP
  vm/chef/cookbooks/espocrm/files/espocrm
  vm/chef/cookbooks/espocrm/files/espocrm-utils
Labels: cla: yes, kind/vm

#1477 Sonarqube - Test if app is ready via localhost instead of external/internal IP
  vm/chef/cookbooks/sonarqube/files/sonar-config-setup
Labels: cla: yes, kind/vm

#1478 Magento - Test if app is ready via localhost instead of external/internal IP
  vm/chef/cookbooks/magento/files/magento-setup
Labels: cla: yes, kind/vm

#1480 VM - Sonarqube - syntax fix
  vm/chef/cookbooks/sonarqube/files/sonar-config-setup
Labels: cla: yes, kind/vm

#1481 VM - Grafana - version update
  vm/chef/cookbooks/grafana/attributes/default.rb
Labels: cla: yes, kind/vm

#1487 Docker - Hazelcast - Clean old versions
  docker/hazelcast/3/debian9/hazelcast-mc/3.12/Dockerfile
  docker/hazelcast/3/debian9/hazelcast-mc/3.12/mc-start.sh
  docker/hazelcast/3/debian9/hazelcast/3.12/Dockerfile
  docker/hazelcast/3/debian9/hazelcast/3.12/dependency-copy.xml
  docker/hazelcast/3/debian9/hazelcast/3.12/hazelcast.xml
  docker/hazelcast/3/debian9/hazelcast/3.12/jmx_agent_config.yaml
  docker/hazelcast/3/debian9/hazelcast/3.12/logging.properties
  docker/hazelcast/3/debian9/hazelcast/3.12/start-hazelcast.sh
  docker/hazelcast/versions.yaml
Labels: cla: yes, kind/docker

#1471 Updated CODEOWNERS for k8s tracks updates
  .github/CODEOWNERS
Labels: cla: yes

#1489 Docker - Hazelcast - Fix versions and use sha256 instead of sha1 to validate jar
  docker/hazelcast/4/debian10/hazelcast/4.2/Dockerfile
  docker/hazelcast/templates/hazelcast-mc/Dockerfile.template
  docker/hazelcast/templates/hazelcast-mc/mc-start.sh
  docker/hazelcast/templates/hazelcast/Dockerfile.template
  docker/hazelcast/templates/hazelcast/dependency-copy.xml
  docker/hazelcast/templates/hazelcast/hazelcast.xml
  docker/hazelcast/templates/hazelcast/jmx_agent_config.yaml
  docker/hazelcast/templates/hazelcast/logging.properties
  docker/hazelcast/templates/hazelcast/start-hazelcast.sh
  docker/hazelcast/templates/hazelcast4/Dockerfile.template
  docker/hazelcast/versions.yaml
Labels: cla: yes, kind/docker

#1486 VM - Sonarqube - upgrade to version 9.1.0.47736
  vm/chef/cookbooks/sonarqube/attributes/default.rb
Labels: cla: yes, kind/vm

#1483 VM - Erpnext - update to version 13.14.1
  vm/chef/cookbooks/erpnext/attributes/default.rb
Labels: cla: yes, kind/vm

#1484 VM - Joomla - update to version 4.0.4
  vm/chef/cookbooks/joomla/attributes/default.rb
  vm/chef/cookbooks/joomla/files/joomla
  vm/chef/cookbooks/joomla/files/joomla-utils
  vm/chef/cookbooks/joomla/files/php-joomla.ini
  vm/chef/cookbooks/joomla/metadata.rb
  vm/chef/cookbooks/joomla/recipes/default.rb
  vm/chef/cookbooks/joomla/templates/default/joomla.conf.erb
  vm/chef/cookbooks/mysql/recipes/install-and-configure-mysqld8.rb
  vm/chef/cookbooks/mysql/templates/default/mysqld8.cnf.erb
  vm/tests/solutions/spec/joomla/c2d_startup_spec.rb
  vm/tests/solutions/spec/joomla/index_page_spec.rb
Labels: cla: yes, kind/vm

#1494 Added haproxy to docker containers list
  docker/README.md
Labels: cla: yes, kind/docker, documentation

#1493 VM - Mattermost - upgrade to version 6.1.0
  vm/chef/cookbooks/mattermost/attributes/default.rb
  vm/chef/cookbooks/mattermost/files/mattermost-setup
  vm/chef/cookbooks/mattermost/files/mattermost-utils
  vm/chef/cookbooks/mattermost/recipes/default.rb
  vm/packer/templates/mattermost/packer.in.json
Labels: cla: yes, kind/vm

#1497 Docker - Migrate prometheus-operator from Gerrit
  docker/prometheus-operator/0/0.34/Dockerfile
  docker/prometheus-operator/CONTRIBUTING.md
  docker/prometheus-operator/LICENSE
  docker/prometheus-operator/README.md
  docker/prometheus-operator/templates/Dockerfile.template
  docker/prometheus-operator/versions.yaml
Labels: cla: yes, kind/docker, documentation

#1501 [K8s] Update testrunner image tag
  k8s/activemq/apptest/tester/Dockerfile
  k8s/cassandra/apptest/tester/Dockerfile
  k8s/cert-manager/apptest/tester/Dockerfile
  k8s/consul/apptest/tester/Dockerfile
  k8s/drupal/apptest/tester/Dockerfile
  k8s/elastic-gke-logging/apptest/tester/Dockerfile
  k8s/elasticsearch/apptest/tester/Dockerfile
  k8s/etcd/apptest/tester/Dockerfile
  k8s/gitlab/apptest/tester/Dockerfile
  k8s/grafana/apptest/tester/Dockerfile
  k8s/hazelcast/apptest/tester/Dockerfile
  k8s/influxdb/apptest/tester/Dockerfile
  k8s/jaeger-operator/apptest/tester/Dockerfile
  k8s/jenkins/apptest/tester/Dockerfile
  k8s/joomla/apptest/tester/Dockerfile
  k8s/kafka/apptest/tester/Dockerfile
  k8s/magento/apptest/tester/Dockerfile
  k8s/mariadb-galera/apptest/tester/Dockerfile
  k8s/mariadb/apptest/tester/Dockerfile
  k8s/mediawiki/apptest/tester/Dockerfile
  k8s/memcached/apptest/tester/Dockerfile
  k8s/neo4j-ce/apptest/tester/Dockerfile
  k8s/nginx/apptest/tester/Dockerfile
  k8s/nuclio/apptest/tester/Dockerfile
  k8s/orientdb/apptest/tester/Dockerfile
  k8s/postgresql/apptest/tester/Dockerfile
  k8s/prometheus-operator/apptest/tester/Dockerfile
  k8s/prometheus/apptest/tester/Dockerfile
  k8s/rabbitmq/apptest/tester/Dockerfile
  k8s/redis-ha/apptest/tester/Dockerfile
  k8s/sample-app/apptest/tester/Dockerfile
  k8s/solr/apptest/tester/Dockerfile
  k8s/sonarqube/apptest/tester/Dockerfile
  k8s/wordpress/apptest/tester/Dockerfile
  k8s/zookeeper/apptest/tester/Dockerfile
Labels: cla: yes, kind/k8s

#1496 K8s - Jenkins - Upgrade, refactor and add metrics exporter
  k8s/jenkins/Makefile
  k8s/jenkins/apptest/tester/tests/exporter-suite.yaml
  k8s/jenkins/chart/jenkins/templates/jenkins-secrets.yaml
  k8s/jenkins/chart/jenkins/templates/jenkins-services.yaml
  k8s/jenkins/chart/jenkins/templates/jenkins-statefulset.yaml
  k8s/jenkins/chart/jenkins/values.yaml
  k8s/jenkins/schema.yaml
Labels: cla: yes, kind/k8s
