Repository GoogleCloudPlatform/click-to-deploy, pull requests merged in 2021-06, with the labels that each got.

#1206 Remove Editor dependency in Custom Governance Readme
  k8s/custom-governance/README.md
  k8s/custom-governance/images/service-account-3.png
Labels: cla: yes, documentation, kind/k8s

#1270 Jaeger-operator - update to version 1.23.0
  docker/jaeger-operator/1/1.23/Dockerfile
  docker/jaeger-operator/versions.yaml
Labels: cla: yes, kind/docker

#1277 Solr - update to version 8.9.0
  docker/solr/8/debian10/8.9/Dockerfile
  docker/solr/8/debian10/8.9/scripts/docker-entrypoint.sh
  docker/solr/8/debian10/8.9/scripts/init-var-solr
  docker/solr/8/debian10/8.9/scripts/oom_solr.sh
  docker/solr/8/debian10/8.9/scripts/precreate-core
  docker/solr/8/debian10/8.9/scripts/run-initdb
  docker/solr/8/debian10/8.9/scripts/solr-create
  docker/solr/8/debian10/8.9/scripts/solr-demo
  docker/solr/8/debian10/8.9/scripts/solr-fg
  docker/solr/8/debian10/8.9/scripts/solr-foreground
  docker/solr/8/debian10/8.9/scripts/solr-precreate
  docker/solr/8/debian10/8.9/scripts/start-local-solr
  docker/solr/8/debian10/8.9/scripts/stop-local-solr
  docker/solr/8/debian10/8.9/scripts/wait-for-solr.sh
  docker/solr/8/debian10/8.9/scripts/wait-for-zookeeper.sh
  docker/solr/versions.yaml
Labels: cla: yes, kind/docker

#1265 Neo4j - update to version 4.3.0
  docker/neo4j/4/debian9/4.3/Dockerfile
  docker/neo4j/4/debian9/4.3/docker-entrypoint.sh
  docker/neo4j/templates/Dockerfile.template
  docker/neo4j/versions.yaml
Labels: cla: yes, kind/docker

#1279 VM - Redmine - Upgrade to 4.2.1
  vm/chef/cookbooks/redmine/attributes/default.rb
  vm/chef/cookbooks/redmine/files/redmine-startup
  vm/chef/cookbooks/redmine/recipes/default.rb
  vm/chef/cookbooks/redmine/templates/ruby-version.erb
Labels: cla: yes, kind/vm

#1276 VM - Add Redash solution
  vm/chef/cookbooks/docker/attributes/default.rb
  vm/chef/cookbooks/docker/metadata.rb
  vm/chef/cookbooks/docker/recipes/compose.rb
  vm/chef/cookbooks/docker/recipes/default.rb
  vm/chef/cookbooks/redash/attributes/default.rb
  vm/chef/cookbooks/redash/files/redash-setup
  vm/chef/cookbooks/redash/metadata.rb
  vm/chef/cookbooks/redash/recipes/default.rb
  vm/packer/templates/redash/packer.in.json
  vm/tests/solutions/spec/redash/c2d_startup_spec.rb
  vm/tests/solutions/spec/redash/docker_compose_spec.rb
  vm/tests/solutions/spec/redash/services_spec.rb
  vm/tests/solutions/spec/redash/stackdriver_spec.rb
Labels: cla: yes, kind/vm

#1261 VM - Add Digital Asset Management Solution
  vm/chef/cookbooks/php74/recipes/module_dev.rb
  vm/chef/cookbooks/php74/recipes/module_ldap.rb
  vm/chef/cookbooks/resourcespace/attributes/default.rb
  vm/chef/cookbooks/resourcespace/files/resourcespace
  vm/chef/cookbooks/resourcespace/files/resourcespace-utils
  vm/chef/cookbooks/resourcespace/files/resourcespace.cron
  vm/chef/cookbooks/resourcespace/metadata.rb
  vm/chef/cookbooks/resourcespace/recipes/default.rb
  vm/packer/templates/resourcespace/packer.in.json
  vm/tests/solutions/spec/resourcespace/c2d_startup_spec.rb
  vm/tests/solutions/spec/resourcespace/php_config_spec.rb
  vm/tests/solutions/spec/resourcespace/ports_spec.rb
  vm/tests/solutions/spec/resourcespace/security_config_spec.rb
  vm/tests/solutions/spec/resourcespace/services_spec.rb
  vm/tests/solutions/spec/resourcespace/stackdriver_spec.rb
Labels: cla: yes, kind/vm
