Repository GoogleCloudPlatform/click-to-deploy, pull requests merged in 2021-03, with the labels that each got.

#1183 VM - Joomla - Bump to 3.9.24
  vm/chef/cookbooks/joomla/attributes/default.rb
Labels: cla: yes, kind/vm

#1178 VM - NGINX - Update NGINX from 1.10 to 1.14
  vm/chef/cookbooks/nginx/recipes/stretch-backports.rb
Labels: cla: yes, kind/vm

#1189 VM - Piwik/Matomo - Fix tests
  vm/tests/solutions/spec/piwik/ports_spec.rb
Labels: cla: yes, kind/vm

#1187 VM - DokuWiki - Fix tests
  vm/tests/solutions/spec/dokuwiki/ports_spec.rb
Labels: cla: yes, kind/vm

#1191 VM - Zabbix - Fix tests
  vm/tests/solutions/spec/zabbix/ports_spec.rb
Labels: cla: yes, kind/vm

#1192 VM - Alfresco - Fix tests
  vm/tests/solutions/spec/alfresco/ports_spec.rb
Labels: cla: yes, kind/vm

#1186 VM - Apache2 - Add allow override resource
  vm/chef/cookbooks/apache2/resources/allow_override.rb
Labels: cla: yes, kind/vm

#1184 VM - Add Opencart solution
  vm/chef/cookbooks/opencart/attributes/default.rb
  vm/chef/cookbooks/opencart/files/opencart
  vm/chef/cookbooks/opencart/files/opencart-utils
  vm/chef/cookbooks/opencart/metadata.rb
  vm/chef/cookbooks/opencart/recipes/default.rb
  vm/packer/templates/opencart/packer.in.json
  vm/tests/solutions/spec/opencart/c2d_startup_spec.rb
  vm/tests/solutions/spec/opencart/php_config_spec.rb
  vm/tests/solutions/spec/opencart/ports_spec.rb
  vm/tests/solutions/spec/opencart/security_config_spec.rb
  vm/tests/solutions/spec/opencart/services_spec.rb
  vm/tests/solutions/spec/opencart/stackdriver_spec.rb
Labels: cla: yes, kind/vm

#1177 VM - Fix Lint errors
  vm/chef/cookbooks/couchdb/recipes/default.rb
  vm/chef/cookbooks/elasticsearch/recipes/default.rb
Labels: cla: yes, kind/vm

#1195 VM - Solr - Bump to 8.8.1
  vm/chef/cookbooks/solr/attributes/default.rb
  vm/chef/cookbooks/solr/recipes/default.rb
Labels: cla: yes, kind/vm

#1200 [drupal] Docker images updates - 2021-03-12
  docker/drupal/9/php7/debian9/9.1/apache/Dockerfile
  docker/drupal/versions.yaml
Labels: cla: yes, kind/docker

#1201 [mediawiki] Docker images updates - 2021-03-12
  docker/mediawiki/1/debian9/1.33/Dockerfile
  docker/mediawiki/1/debian9/1.35/Dockerfile
  docker/mediawiki/versions.yaml
Labels: cla: yes, kind/docker

#1204 Made storage class variable name consistent
  k8s/neo4j-ce/README.md
Labels: cla: yes, documentation, kind/k8s

#1205 VM - RabbitMQ - Upgrade to 3.8 track and fix clustering
  vm/chef/cookbooks/rabbitmq/attributes/default.rb
  vm/chef/cookbooks/rabbitmq/files/rabbitmq
  vm/chef/cookbooks/rabbitmq/recipes/default.rb
  vm/packer/templates/rabbitmq/packer.in.json
Labels: cla: yes, kind/vm

#1203 VM - Kafka - Fix repo and bump version to 2.7.0
  vm/chef/cookbooks/kafka/attributes/default.rb
  vm/chef/cookbooks/kafka/recipes/default.rb
Labels: cla: yes, kind/vm

#1202 VM - Fix Magento Composer
  vm/chef/cookbooks/magento/recipes/default.rb
  vm/tests/solutions/spec/magento/ports_spec.rb
Labels: cla: yes, kind/vm

#1199 VM - Fix tests for MySQL8, RubyStack and Nagios
  vm/tests/solutions/spec/mysql8-book/ports_spec.rb
  vm/tests/solutions/spec/nagios/ports_spec.rb
  vm/tests/solutions/spec/rubystack/ports_spec.rb
Labels: cla: yes, kind/vm

#1207 VM - Jenkins - Fixes for new version
  vm/chef/cookbooks/jenkins/attributes/default.rb
  vm/chef/cookbooks/jenkins/files/jenkins
  vm/chef/cookbooks/jenkins/metadata.rb
  vm/chef/cookbooks/jenkins/recipes/default.rb
  vm/packer/templates/jenkins/packer.in.json
  vm/tests/solutions/spec/jenkins/ports_spec.rb
Labels: cla: yes, kind/vm

#1208 Fixed erpnext VM cookbook
  vm/chef/cookbooks/erpnext/attributes/default.rb
  vm/chef/cookbooks/erpnext/files/erpnext-setup
  vm/chef/cookbooks/erpnext/files/frappe.cnf
  vm/chef/cookbooks/erpnext/recipes/default.rb
  vm/packer/templates/erpnext/packer.in.json
Labels: cla: yes, kind/vm

#1209 VM - ERPNext - fixed mariadb package version attribute
  vm/chef/cookbooks/erpnext/attributes/default.rb
  vm/chef/cookbooks/erpnext/recipes/default.rb
Labels: cla: yes, kind/vm
