Repository GoogleCloudPlatform/click-to-deploy, pull requests merged in 2021-07, with the labels that each got.

#1280 Redash - added missing dep package and removed comments
  vm/chef/cookbooks/redash/attributes/default.rb
  vm/chef/cookbooks/redash/recipes/default.rb
Labels: cla: yes, kind/vm

#1269 Gitlab - update to version 14.0.0
  docker/gitlab/14/debian9/14.0/Dockerfile
  docker/gitlab/14/debian9/14.0/assets/generate-release
  docker/gitlab/14/debian9/14.0/assets/gitlab.rb
  docker/gitlab/14/debian9/14.0/assets/gitlab_sysctl.rb
  docker/gitlab/14/debian9/14.0/assets/setup
  docker/gitlab/14/debian9/14.0/assets/sshd_config
  docker/gitlab/14/debian9/14.0/assets/update-permissions
  docker/gitlab/14/debian9/14.0/assets/wrapper
  docker/gitlab/versions.yaml
Labels: cla: yes, kind/docker

#1283 Docker - Cert-Manager - Added docker definitions
  docker/cert-manager/0/debian9/0.13/Dockerfile
  docker/cert-manager/1/debian9/1.4/Dockerfile
  docker/cert-manager/CONTRIBUTING.md
  docker/cert-manager/LICENSE
  docker/cert-manager/README.md
  docker/cert-manager/templates/cert-manager0/Dockerfile.template
  docker/cert-manager/templates/cert-manager1/Dockerfile.template
  docker/cert-manager/versions.yaml
Labels: cla: yes, documentation, kind/docker

#1282 Hazelcast - update to version 4.2.1
  docker/hazelcast/3/debian9/hazelcast-mc/3.12/Dockerfile
  docker/hazelcast/3/debian9/hazelcast/3.12/Dockerfile
  docker/hazelcast/3/debian9/hazelcast/3.12/start-hazelcast.sh
  docker/hazelcast/4/debian10/hazelcast-mc/4.2021/Dockerfile
  docker/hazelcast/4/debian10/hazelcast-mc/4.2021/mc-start.sh
  docker/hazelcast/4/debian10/hazelcast/4.2/Dockerfile
  docker/hazelcast/4/debian10/hazelcast/4.2/get-hz-all-url.sh
  docker/hazelcast/4/debian10/hazelcast/4.2/jmx_agent_config.yaml
  docker/hazelcast/4/debian10/hazelcast/4.2/log4j2.properties
  docker/hazelcast/4/debian10/hazelcast/4.2/start-hazelcast.sh
  docker/hazelcast/templates/hazelcast-mc4/Dockerfile.template
  docker/hazelcast/templates/hazelcast-mc4/mc-start.sh
  docker/hazelcast/templates/hazelcast/start-hazelcast.sh
  docker/hazelcast/templates/hazelcast4/Dockerfile.template
  docker/hazelcast/templates/hazelcast4/get-hz-all-url.sh
  docker/hazelcast/templates/hazelcast4/jmx_agent_config.yaml
  docker/hazelcast/templates/hazelcast4/log4j2.properties
  docker/hazelcast/templates/hazelcast4/start-hazelcast.sh
  docker/hazelcast/tests/functional_tests/hazelcast_mancenter_test.yaml
  docker/hazelcast/tests/functional_tests/hazelcast_test.yaml
  docker/hazelcast/versions.yaml
Labels: cla: yes, kind/docker

#1259 Bump Custom Governance's version to 1.4.2
  k8s/custom-governance/cli_values_template.yaml
  k8s/custom-governance/schema.yaml
Labels: cla: yes, kind/k8s

#1254 Docker - Neo4j - Expanding README information
  docker/activemq/README.md
  docker/drupal/README.md
  docker/mediawiki/README.md
  docker/neo4j/README.md
Labels: cla: yes, documentation, kind/docker

#1288 K8s - Hazelcast - Upgrade to 4.2
  k8s/hazelcast/Makefile
  k8s/hazelcast/chart/hazelcast/templates/hazelcast-configmap.yaml
Labels: cla: yes, kind/k8s

#1292 Docker - ActiveMQ - Expanding README.md information
  docker/activemq/README.md
Labels: cla: yes, documentation, kind/docker

#1291 Docker - Mediawiki - Expanding README.md information
  docker/mediawiki/README.md
Labels: cla: yes, documentation, kind/docker

#1294 ActiveMQ readme fixes
  docker/activemq/README.md
Labels: cla: yes, documentation, kind/docker

#1285 [mediawiki] Docker images updates - 2021-07-12
  docker/mediawiki/1/debian9/1.35/Dockerfile
  docker/mediawiki/1/debian9/1.36/Dockerfile
  docker/mediawiki/versions.yaml
Labels: cla: yes, kind/docker

#1284 [drupal] Docker images updates - 2021-07-12
  docker/drupal/9/php7/debian9/9.2/apache/Dockerfile
  docker/drupal/versions.yaml
Labels: cla: yes, kind/docker

#1287 VM - Add Subversion solution
  vm/chef/cookbooks/subversion/attributes/default.rb
  vm/chef/cookbooks/subversion/files/dav_svn.conf
  vm/chef/cookbooks/subversion/files/subversion
  vm/chef/cookbooks/subversion/metadata.rb
  vm/chef/cookbooks/subversion/recipes/default.rb
  vm/packer/templates/subversion/packer.in.json
  vm/tests/solutions/spec/subversion/c2d_startup_spec.rb
  vm/tests/solutions/spec/subversion/index_page_spec.rb
  vm/tests/solutions/spec/subversion/ports_spec.rb
  vm/tests/solutions/spec/subversion/security_config_spec.rb
  vm/tests/solutions/spec/subversion/services_spec.rb
  vm/tests/solutions/spec/subversion/stackdriver_spec.rb
Labels: cla: yes, kind/vm

#1298 Jaeger-operator - update to version 1.24.0
  docker/jaeger-operator/1/1.24/Dockerfile
  docker/jaeger-operator/versions.yaml
Labels: cla: yes, kind/docker

#1302 Peer-finder - migrate to click-to-deploy
  docker/peer-finder/0/debian9/0.1/Dockerfile
  docker/peer-finder/0/debian9/0.1/LICENSE
  docker/peer-finder/0/debian9/0.1/peer-finder.go
  docker/peer-finder/CONTRIBUTING.md
  docker/peer-finder/LICENSE
  docker/peer-finder/README.md
  docker/peer-finder/templates/Dockerfile.template
  docker/peer-finder/templates/LICENSE
  docker/peer-finder/templates/peer-finder.go
  docker/peer-finder/versions.yaml
Labels: cla: yes, documentation, kind/docker

#1305 K8s - Solr fix tests
  k8s/solr/Makefile
  k8s/solr/apptest/tester/tests/solr-exporter-test.yaml
  k8s/solr/apptest/tester/tests/solrCloud-test.yaml
  k8s/solr/chart/solr/templates/exporter-deployment.yaml
Labels: cla: yes, kind/k8s

#1307 K8s - EFK - Upgrade Fluentd
  k8s/elastic-gke-logging/Makefile
Labels: cla: yes, kind/k8s

#1304 K8s - Cassandra - Fix service
  k8s/cassandra/chart/cassandra/templates/cassandra-service.yaml
Labels: cla: yes, kind/k8s

#1306 VM - RabbitMQ - Fix source repo
  vm/chef/cookbooks/rabbitmq/attributes/default.rb
  vm/chef/cookbooks/rabbitmq/files/rabbitmq
  vm/chef/cookbooks/rabbitmq/recipes/default.rb
Labels: cla: yes, kind/vm

#1300 Gitlab - update to version 14.0.5
  docker/gitlab/14/debian9/14.0/Dockerfile
  docker/gitlab/versions.yaml
Labels: cla: yes, kind/docker

#1313 [mediawiki] Docker images updates - 2021-07-27
  docker/mediawiki/1/debian9/1.35/Dockerfile
  docker/mediawiki/1/debian9/1.36/Dockerfile
  docker/mediawiki/versions.yaml
Labels: cla: yes, kind/docker

#1303 Vm kong cookbook
  vm/chef/cookbooks/kong/attributes/default.rb
  vm/chef/cookbooks/kong/files/kong-db-setup
  vm/chef/cookbooks/kong/files/kong-setup
  vm/chef/cookbooks/kong/metadata.rb
  vm/chef/cookbooks/kong/recipes/default.rb
  vm/packer/templates/kong/packer.in.json
  vm/tests/solutions/spec/kong/c2d_startup_spec.rb
  vm/tests/solutions/spec/kong/kong_config_spec.rb
  vm/tests/solutions/spec/kong/ports_spec.rb
  vm/tests/solutions/spec/kong/services_spec.rb
  vm/tests/solutions/spec/kong/stackdriver_spec.rb
Labels: cla: yes, kind/vm

#1311 Wordpress - makefile fix
  k8s/wordpress/Makefile
Labels: cla: yes, kind/k8s

#1312 [drupal] Docker images updates - 2021-07-27
  docker/drupal/8/php7/debian9/8.9/apache/Dockerfile
  docker/drupal/8/php7/debian9/8.9/apache/docker-entrypoint.sh
  docker/drupal/8/php7/debian9/8.9/apache/makedb.php
  docker/drupal/9/php7/debian9/9.1/apache/Dockerfile
  docker/drupal/9/php7/debian9/9.2/apache/Dockerfile
  docker/drupal/tests/functional_tests/auto_install_test.yaml
  docker/drupal/tests/functional_tests/running_test.yaml
  docker/drupal/versions.yaml
Labels: cla: yes, kind/docker

#1310 Noguera k8s magento fix test
  k8s/magento/apptest/tester/tests/elasticsearch-suite.yaml
  k8s/magento/apptest/tester/tests/magento-suite.yaml
Labels: cla: yes, kind/k8s

#1316 VM - Add nodenvm cookbook doc
  vm/chef/cookbooks/nodenvm/README.md
Labels: cla: yes, documentation, kind/vm
