Repository GoogleCloudPlatform/click-to-deploy, pull requests merged in 2021-12, with the labels that each got.

#1498 VM - Sonarqube, Odoo - upgrade to Debian 10
  vm/chef/cookbooks/odoo/attributes/default.rb
  vm/chef/cookbooks/odoo/recipes/default.rb
  vm/chef/cookbooks/sonarqube/recipes/default.rb
  vm/packer/templates/odoo/packer.in.json
  vm/packer/templates/sonarqube/packer.in.json
Labels: cla: yes, kind/vm

#1503 VM - Odoo - upgrade to version 15
  vm/chef/cookbooks/odoo/attributes/default.rb
  vm/chef/cookbooks/odoo/recipes/default.rb
Labels: cla: yes, kind/vm

#1485 VM - Kong - update version to 2.6.0 and Debian 10
  vm/chef/cookbooks/kong/attributes/default.rb
  vm/chef/cookbooks/kong/files/kong-db-setup
  vm/chef/cookbooks/kong/files/kong-setup
  vm/chef/cookbooks/kong/recipes/default.rb
  vm/packer/templates/kong/packer.in.json
Labels: cla: yes, kind/vm

#1506 VM - Erpnext - startup fixes
  vm/chef/cookbooks/erpnext/attributes/default.rb
  vm/chef/cookbooks/erpnext/files/erpnext-setup
  vm/chef/cookbooks/erpnext/recipes/default.rb
Labels: kind/vm

#1504 VM - Redis - Fix Replication adding Authentication
  vm/chef/cookbooks/redis/files/redis
Labels: cla: yes, kind/vm

#1513 VM - Jenkins - Fix for CVE-2021-44228
  vm/chef/cookbooks/jenkins/recipes/default.rb
Labels: kind/vm

#1510 VM - ElasticSearch/ELKStack/Magento - Fix for CVE-2021-44228
  vm/chef/cookbooks/elasticsearch/attributes/default.rb
  vm/chef/cookbooks/elasticsearch/files/etc/default/elasticsearch.template
  vm/chef/cookbooks/kibana/attributes/default.rb
  vm/chef/cookbooks/kibana/files/kibana
  vm/chef/cookbooks/logstash/attributes/default.rb
  vm/chef/cookbooks/logstash/files/logstash
Labels: kind/vm

#1508 VM - Neo4J - Fix for CVE-2021-44228
  vm/chef/cookbooks/neo4j/files/neo4j
Labels: kind/vm

#1509 VM - Sonarqube - fix for CVE-2021-44228
  vm/chef/cookbooks/sonarqube/attributes/default.rb
  vm/chef/cookbooks/sonarqube/files/sonar-config-setup
Labels: kind/vm

#1511 VM - Solr - fix for CVE-2021-44228
  vm/chef/cookbooks/solr/attributes/default.rb
  vm/chef/cookbooks/solr/templates/solr.erb
Labels: kind/vm

#1525 VM - Liferay - fix for CVE-2021-44228
  vm/chef/cookbooks/liferay/files/liferay-service
Labels: kind/vm

#1479 Magento - wait_for_app test fix
  vm/chef/cookbooks/magento/files/magento-post-setup
  vm/chef/cookbooks/magento/files/magento-setup
Labels: cla: yes, kind/vm

#1529 Use same bazel version as runtime-commons
  docker.Dockerfile
Labels: kind/docker

#1520 K8s - Neo4j - Fix for CVE-2021-44228
  k8s/neo4j-ce/chart/neo4j-ce/templates/neo4j-statefulset.yaml
Labels: kind/k8s

#1515 K8s - Jenkins - Fix for CVE-2021-44228
  k8s/jenkins/chart/jenkins/templates/jenkins-statefulset.yaml
Labels: kind/k8s

#1522 K8s - RabbitMQ - Fix for CVE-2021-44228
  k8s/rabbitmq/chart/rabbitmq/templates/statefulset.yaml
Labels: kind/k8s

#1521 K8s - Sonarqube - Fix for CVE-2021-44228
  k8s/sonarqube/chart/sonarqube/templates/sonarqube-sts.yaml
Labels: kind/k8s

#1517 K8s - Elasticsearch - Fix for CVE-2021-44228
  k8s/elasticsearch/chart/elasticsearch/templates/manifests.yaml
Labels: kind/k8s

#1516 K8s - Kafka - Fix for CVE-2021-44228
  k8s/kafka/chart/kafka/templates/kafka-statefulset.yaml
  k8s/kafka/chart/kafka/templates/zk-statefulset.yaml
Labels: kind/k8s

#1527 Docker - Neo4j - Fix for CVE-2021-44228
  docker/neo4j/4/debian9/4.3/Dockerfile
  docker/neo4j/templates/Dockerfile.template
Labels: kind/docker

#1526 Docker - Hazelcast - Fix for CVE-2021-44228
  docker/hazelcast/4/debian10/hazelcast-mc/4.2021/Dockerfile
  docker/hazelcast/4/debian10/hazelcast/4.2/Dockerfile
  docker/hazelcast/templates/hazelcast-mc4/Dockerfile.template
  docker/hazelcast/templates/hazelcast4/Dockerfile.template
Labels: kind/docker

#1528 Docker - Solr - Fix for CVE-2021-44228
  docker/solr/8/debian10/8.10/Dockerfile
  docker/solr/8/debian10/8.9/Dockerfile
  docker/solr/templates/Dockerfile.template
Labels: kind/docker

#1519 K8s - Magento - Fix for CVE-2021-44228
  k8s/magento/apptest/tester/tests/db-suite.yaml
  k8s/magento/chart/magento/templates/elasticsearch-statefulset.yaml
Labels: kind/k8s

#1530 VM - Magento - Fix setup and add Redis auth
  vm/chef/cookbooks/magento/files/magento-config-redis
  vm/chef/cookbooks/magento/files/magento-post-setup
  vm/chef/cookbooks/magento/files/magento-setup
  vm/chef/cookbooks/magento/metadata.rb
  vm/chef/cookbooks/magento/recipes/default.rb
  vm/tests/solutions/spec/magento/c2d_startup_spec.rb
Labels: kind/vm

#1533 VM - Wildfly - update to version 26.0.0
  vm/chef/cookbooks/wildfly/attributes/default.rb
  vm/chef/cookbooks/wildfly/recipes/default.rb
Labels: kind/vm

#1545 Docker - Neoj4 - Upgrade to 4.3.9
  docker/neo4j/4/debian9/4.3/Dockerfile
  docker/neo4j/versions.yaml
Labels: kind/docker

#1543 Docker - Solr - Upgrade to 8.11.1
  docker/solr/8/debian10/8.11/Dockerfile
  docker/solr/8/debian10/8.11/scripts/docker-entrypoint.sh
  docker/solr/8/debian10/8.11/scripts/init-var-solr
  docker/solr/8/debian10/8.11/scripts/oom_solr.sh
  docker/solr/8/debian10/8.11/scripts/precreate-core
  docker/solr/8/debian10/8.11/scripts/run-initdb
  docker/solr/8/debian10/8.11/scripts/solr-create
  docker/solr/8/debian10/8.11/scripts/solr-demo
  docker/solr/8/debian10/8.11/scripts/solr-fg
  docker/solr/8/debian10/8.11/scripts/solr-foreground
  docker/solr/8/debian10/8.11/scripts/solr-precreate
  docker/solr/8/debian10/8.11/scripts/start-local-solr
  docker/solr/8/debian10/8.11/scripts/stop-local-solr
  docker/solr/8/debian10/8.11/scripts/wait-for-solr.sh
  docker/solr/8/debian10/8.11/scripts/wait-for-zookeeper.sh
  docker/solr/8/debian10/8.9/Dockerfile
  docker/solr/8/debian10/8.9/scripts/docker-entrypoint.sh
  docker/solr/8/debian10/8.9/scripts/init-var-solr
  docker/solr/8/debian10/8.9/scripts/oom_solr.sh
  docker/solr/8/debian10/8.9/scripts/precreate-core
  docker/solr/8/debian10/8.9/scripts/run-initdb
  docker/solr/8/debian10/8.9/scripts/solr-create
  docker/solr/8/debian10/8.9/scripts/solr-demo
  docker/solr/8/debian10/8.9/scripts/solr-fg
  docker/solr/8/debian10/8.9/scripts/solr-foreground
  docker/solr/8/debian10/8.9/scripts/solr-precreate
  docker/solr/8/debian10/8.9/scripts/start-local-solr
  docker/solr/8/debian10/8.9/scripts/stop-local-solr
  docker/solr/8/debian10/8.9/scripts/wait-for-solr.sh
  docker/solr/8/debian10/8.9/scripts/wait-for-zookeeper.sh
  docker/solr/versions.yaml
Labels: kind/docker

#1542 Docker - Hazelcast - Upgrade hazelcast-mc and hazelcast
  docker/hazelcast/4/debian10/hazelcast-mc/4.2021.12-1/Dockerfile
  docker/hazelcast/4/debian10/hazelcast-mc/4.2021.12-1/mc-start.sh
  docker/hazelcast/4/debian10/hazelcast/4.2/Dockerfile
  docker/hazelcast/templates/hazelcast4/Dockerfile.template
  docker/hazelcast/versions.yaml
Labels: kind/docker

#1547 VM - Neo4j - update to version 4.4.2
  vm/chef/cookbooks/neo4j/attributes/default.rb
Labels: kind/vm

#1546 VM - Solr - update to version 8.11.1
  vm/chef/cookbooks/solr/attributes/default.rb
Labels: kind/vm

#1548 VM - Jenkins - Do not install optional dependencies for groovy package
  vm/chef/cookbooks/jenkins/attributes/default.rb
  vm/chef/cookbooks/jenkins/recipes/default.rb
Labels: kind/vm

#1551 K8s - Solr - Upgrade solr track to 8.11
  k8s/solr/Makefile
Labels: kind/k8s

#1550 VM - Kafka - update version to 3.0.0
  vm/chef/cookbooks/kafka/attributes/default.rb
  vm/packer/templates/kafka/packer.in.json
Labels: kind/vm

#1549 VM -HAproxy - upgrade to version 2.5
  vm/chef/cookbooks/haproxy/attributes/default.rb
  vm/chef/cookbooks/haproxy/recipes/default.rb
  vm/chef/cookbooks/haproxy/templates/default/haproxy.cfg.erb
  vm/packer/templates/haproxy/packer.in.json
Labels: kind/vm

#1554 Docker - Kafka - Upgrade to 3.0.0
  docker/kafka/3/debian10/3.0/Dockerfile
  docker/kafka/3/debian10/3.0/scripts/create-message-topic-test.sh
  docker/kafka/3/debian10/3.0/scripts/create-topics.sh
  docker/kafka/3/debian10/3.0/scripts/docker-entrypoint.sh
  docker/kafka/3/debian10/3.0/scripts/overrides/0.9.0.1.sh
  docker/kafka/3/debian10/3.0/scripts/start-kafka.sh
  docker/kafka/3/debian10/3.0/scripts/versions.sh
  docker/kafka/tests/functional_tests/running_test.yaml
  docker/kafka/versions.yaml
Labels: kind/docker

#1555 Docker - Kafka - fix kafka3 container repo
  docker/kafka/versions.yaml
Labels: kind/docker

#1556 Docker - Hazelcast - upgrade to 4.2.4
  docker/hazelcast/4/debian10/hazelcast-mc/4.2021.12/Dockerfile
  docker/hazelcast/4/debian10/hazelcast-mc/4.2021.12/mc-start.sh
  docker/hazelcast/4/debian10/hazelcast/4.2/Dockerfile
  docker/hazelcast/versions.yaml
Labels: kind/docker

#1553 VM - Kafka - zookeeper config fix
  vm/chef/cookbooks/kafka/files/kafka
Labels: kind/vm

#1559 VM - Moodle - update to version 3.11.x
  vm/chef/cookbooks/moodle/attributes/default.rb
  vm/packer/templates/moodle/packer.in.json
Labels: kind/vm

#1558 VM - Node.js - upgrade to version 16.x
  vm/chef/cookbooks/nodejs/recipes/default.rb
  vm/packer/templates/nodejs/packer.in.json
Labels: kind/vm

#1557 VM - Ruby - upgrade to version 3.0.x
  vm/chef/cookbooks/ruby/attributes/default.rb
  vm/chef/cookbooks/ruby/recipes/default.rb
  vm/packer/templates/rubystack/packer.in.json
Labels: kind/vm

#1572 [neo4j] Docker images updates - 2021-12-30
  docker/neo4j/4/debian9/4.4/Dockerfile
  docker/neo4j/4/debian9/4.4/docker-entrypoint.sh
  docker/neo4j/versions.yaml
Labels: kind/docker

#1570 [mediawiki] Docker images updates - 2021-12-30
  docker/mediawiki/1/debian9/1.36/Dockerfile
  docker/mediawiki/1/debian9/1.37/Dockerfile
  docker/mediawiki/1/debian9/1.37/common_functions.sh
  docker/mediawiki/1/debian9/1.37/custom_settings.php
  docker/mediawiki/1/debian9/1.37/docker-entrypoint.sh
  docker/mediawiki/versions.yaml
Labels: kind/docker

#1566 [activemq] Docker images updates - 2021-12-30
  docker/activemq/versions.yaml
Labels: kind/docker

#1564 [zookeeper] Docker images updates - 2021-12-30
  docker/zookeeper/3/debian10/3.6/Dockerfile
  docker/zookeeper/3/debian10/3.6/docker-entrypoint.sh
  docker/zookeeper/versions.yaml
Labels: kind/docker
