Repository GoogleCloudPlatform/click-to-deploy, pull requests merged in 2021-08, with the labels that each got.

#1315 CouchDB - recipes update
  vm/chef/cookbooks/couchdb/recipes/couchdb21.rb
  vm/chef/cookbooks/couchdb/recipes/default.rb
Labels: cla: yes, kind/vm

#1319 VM - Discourse - Fix application
  vm/chef/cookbooks/discourse/attributes/default.rb
  vm/chef/cookbooks/discourse/files/discourse-setup
  vm/chef/cookbooks/discourse/files/puma.service
  vm/chef/cookbooks/discourse/metadata.rb
  vm/chef/cookbooks/discourse/recipes/default.rb
Labels: cla: yes, kind/vm

#1314 Gitlab - update to version 14.1.0
  docker/gitlab/12/debian9/12.9/Dockerfile
  docker/gitlab/14/debian9/14.0/assets/generate-release
  docker/gitlab/14/debian9/14.0/assets/gitlab.rb
  docker/gitlab/14/debian9/14.0/assets/gitlab_sysctl.rb
  docker/gitlab/14/debian9/14.0/assets/setup
  docker/gitlab/14/debian9/14.0/assets/sshd_config
  docker/gitlab/14/debian9/14.0/assets/update-permissions
  docker/gitlab/14/debian9/14.0/assets/wrapper
  docker/gitlab/14/debian9/14.1/Dockerfile
  docker/gitlab/14/debian9/14.1/assets/generate-release
  docker/gitlab/14/debian9/14.1/assets/gitlab.rb
  docker/gitlab/14/debian9/14.1/assets/gitlab_sysctl.rb
  docker/gitlab/14/debian9/14.1/assets/setup
  docker/gitlab/14/debian9/14.1/assets/sshd_config
  docker/gitlab/14/debian9/14.1/assets/update-permissions
  docker/gitlab/14/debian9/14.1/assets/wrapper
  docker/gitlab/versions.yaml
Labels: cla: yes, kind/docker

#1318 Piwik - Update on test spec
  vm/tests/solutions/spec/piwik/index_page_spec.rb
Labels: cla: yes, kind/vm

#1317 VM - Add LimeSurvey solution
  vm/chef/cookbooks/limesurvey/attributes/default.rb
  vm/chef/cookbooks/limesurvey/files/config.php
  vm/chef/cookbooks/limesurvey/files/limesurvey
  vm/chef/cookbooks/limesurvey/files/limesurvey-utils
  vm/chef/cookbooks/limesurvey/metadata.rb
  vm/chef/cookbooks/limesurvey/recipes/default.rb
  vm/chef/cookbooks/php74/recipes/module_imap.rb
  vm/packer/templates/limesurvey/packer.in.json
  vm/tests/solutions/spec/limesurvey/c2d_startup_spec.rb
  vm/tests/solutions/spec/limesurvey/php_config_spec.rb
  vm/tests/solutions/spec/limesurvey/ports_spec.rb
  vm/tests/solutions/spec/limesurvey/security_config_spec.rb
  vm/tests/solutions/spec/limesurvey/services_spec.rb
  vm/tests/solutions/spec/limesurvey/stackdriver_spec.rb
Labels: cla: yes, kind/vm

#1326 [cert-manager] Docker images updates - 2021-08-09
  docker/cert-manager/versions.yaml
Labels: cla: yes, kind/docker

#1327 [gitlab] Docker images updates - 2021-08-09
  docker/gitlab/14/debian9/14.1/Dockerfile
  docker/gitlab/versions.yaml
Labels: cla: yes, kind/docker

#1320 Mattermost - update to version 5.37.0
  vm/chef/cookbooks/mattermost/attributes/default.rb
  vm/chef/cookbooks/mattermost/files/mattermost-setup
  vm/chef/cookbooks/mattermost/files/mattermost-utils
Labels: cla: yes, kind/vm

#1322 Opencart - Debian10 upgrade
  vm/chef/cookbooks/mysql/attributes/default.rb
  vm/chef/cookbooks/mysql/recipes/install-mysql-apt-config.rb
  vm/chef/cookbooks/php74/recipes/default.rb
  vm/packer/templates/opencart/packer.in.json
Labels: cla: yes, kind/vm

#1323 Vm - Add Liferay solution
  vm/chef/cookbooks/liferay/attributes/default.rb
  vm/chef/cookbooks/liferay/files/liferay-db-setup
  vm/chef/cookbooks/liferay/files/liferay-service
  vm/chef/cookbooks/liferay/files/liferay-setup
  vm/chef/cookbooks/liferay/metadata.rb
  vm/chef/cookbooks/liferay/recipes/default.rb
  vm/packer/templates/liferay/packer.in.json
  vm/tests/config/liferay
  vm/tests/solutions/spec/liferay/c2d_startup_spec.rb
  vm/tests/solutions/spec/liferay/liferay_spec.rb
  vm/tests/solutions/spec/liferay/packages_spec.rb
  vm/tests/solutions/spec/liferay/ports_spec.rb
  vm/tests/solutions/spec/liferay/services_spec.rb
  vm/tests/solutions/spec/liferay/stackdriver_spec.rb
  vm/tests/solutions/spec/liferay/users_spec.rb
Labels: cla: yes, kind/vm

#1324 [drupal] Docker images updates - 2021-08-09
  docker/drupal/9/php7/debian9/9.2/apache/Dockerfile
  docker/drupal/versions.yaml
Labels: cla: yes, kind/docker

#1338 Joomla - Debian10 upgrade
  vm/packer/templates/joomla/packer.in.json
Labels: cla: yes, kind/vm

#1335 Piwik - Debian10 upgrade
  vm/packer/templates/piwik/packer.in.json
Labels: cla: yes, kind/vm

#1340 Prestashop - Debian10 upgrade
  vm/chef/cookbooks/php72/recipes/default.rb
  vm/packer/templates/prestashop/packer.in.json
Labels: cla: yes, kind/vm

#1339 Drupal - Debian10 upgrade
  vm/packer/templates/drupal/packer.in.json
Labels: cla: yes, kind/vm

#1332 Limesurvey - Debian10 upgrade
  vm/packer/templates/limesurvey/packer.in.json
Labels: cla: yes, kind/vm

#1336 Wordpress Debian10 upgrade
  vm/packer/templates/wordpress/packer.in.json
Labels: cla: yes, kind/vm

#1334 Resourcespace - Debian 10 upgrade
  vm/packer/templates/resourcespace/packer.in.json
Labels: cla: yes, kind/vm

#1331 Mautic - Debian10 upgrade
  vm/chef/cookbooks/php74/recipes/default_debian10.rb
  vm/packer/templates/mautic/packer.in.json
Labels: cla: yes, kind/vm

#1329 dolibarr - debian10 upgrade
  vm/packer/templates/dolibarr/packer.in.json
Labels: cla: yes, kind/vm

#1337 Lamp - Debian 10 upgrade
  vm/packer/templates/lamp/packer.in.json
Labels: cla: yes, kind/vm

#1344 VM - Discourse - Revert setup script change
  vm/chef/cookbooks/discourse/files/discourse-setup
Labels: cla: yes, kind/vm

#1345 [cert-manager] Fix package version
  docker/cert-manager/1/debian9/1.4/Dockerfile
  docker/cert-manager/versions.yaml
Labels: cla: yes, kind/docker

#1346 [activemq] Docker images updates - 2021-08-19
  docker/activemq/5/debian9/5.16/Dockerfile
  docker/activemq/versions.yaml
Labels: cla: yes, kind/docker

#1348 [cert-manager] Docker images updates - 2021-08-19
  docker/cert-manager/1/debian9/1.5/Dockerfile
  docker/cert-manager/versions.yaml
Labels: cla: yes, kind/docker

#1350 [hazelcast] Docker images updates - 2021-08-19
  docker/hazelcast/4/debian10/hazelcast/4.2/Dockerfile
  docker/hazelcast/versions.yaml
Labels: cla: yes, kind/docker

#1352 [neo4j] Docker images updates - 2021-08-19
  docker/neo4j/4/debian9/4.3/Dockerfile
  docker/neo4j/versions.yaml
Labels: cla: yes, kind/docker

#1349 [gitlab] Docker images updates - 2021-08-19
  docker/gitlab/14/debian10/14.1/Dockerfile
  docker/gitlab/14/debian10/14.1/assets/generate-release
  docker/gitlab/14/debian10/14.1/assets/gitlab.rb
  docker/gitlab/14/debian10/14.1/assets/gitlab_sysctl.rb
  docker/gitlab/14/debian10/14.1/assets/setup
  docker/gitlab/14/debian10/14.1/assets/sshd_config
  docker/gitlab/14/debian10/14.1/assets/update-permissions
  docker/gitlab/14/debian10/14.1/assets/wrapper
  docker/gitlab/versions.yaml
Labels: cla: yes, kind/docker

#1351 [jaeger-operator] Docker images updates - 2021-08-19
  docker/jaeger-operator/1/1.25/Dockerfile
  docker/jaeger-operator/versions.yaml
Labels: cla: yes, kind/docker

#1342 Kong - VM - added info banner
  vm/chef/cookbooks/kong/attributes/default.rb
  vm/chef/cookbooks/kong/files/kong-setup
  vm/chef/cookbooks/kong/recipes/default.rb
  vm/tests/solutions/spec/kong/kong_config_spec.rb
Labels: cla: yes, kind/vm

#1364 K8s - Bump Marketplace Tools to 10.15.0 and Fix tests
  k8s/MARKETPLACE_TOOLS_TAG
  k8s/flink-operator/schema.yaml
  k8s/grafana/schema.yaml
  k8s/neo4j-ce/apptest/tester/Dockerfile
  k8s/nuclio/schema.yaml
  k8s/prometheus/schema.yaml
  k8s/spark-operator/manifest/manifests.yaml.template
  k8s/spark-operator/schema.yaml
  scripts/triggers_check.sh
Labels: cla: yes, kind/k8s, documentation

#1365 Triggers check - Fix parse when .triggers is not available
  scripts/triggers_check.sh
Labels: cla: yes

#1219 K8s - PostgreSQL - Bump major version to 13.4
  k8s/postgresql/Makefile
  k8s/postgresql/README.md
  k8s/postgresql/chart/postgresql/files/pg_hba.conf
  k8s/postgresql/chart/postgresql/files/postgresql.conf
  k8s/postgresql/chart/postgresql/templates/postgresql-configmaps.yaml
  k8s/postgresql/chart/postgresql/templates/postgresql-statefulset.yaml
Labels: cla: yes, kind/k8s, documentation
