Repository GoogleCloudPlatform/click-to-deploy, pull requests merged in 2021-02, with the labels that each got.

#1165 [mediawiki] Docker images updates - 2021-02-03
  docker/mediawiki/1/debian9/1.33/Dockerfile
  docker/mediawiki/1/debian9/1.35/Dockerfile
  docker/mediawiki/versions.yaml
Labels: cla: yes, kind/docker

#1166 [N1 to E2] - VM - Updated worker pool to use e2 machine type
  cloudbuild-vm.yaml
Labels: cla: yes, kind/vm

#1163 Fix grafana.ini config syntax structure
  k8s/grafana/apptest/tester/tests/basic-suite.yaml
  k8s/grafana/chart/grafana/templates/configmap.yaml
Labels: cla: yes, kind/k8s

#1168 VM - Skip checking for gcloud and gsutil config folders
  vm/tests/common/101_root_dir_checksum_test.sh
Labels: cla: yes, kind/vm

#1169 VM - Bump imagebuilder version to 0.1.6
  vm/IMAGEBUILDER_TAG
  vm/README.md
Labels: cla: yes, documentation, kind/vm

#1171 Make k8s cloudbuild into a single build
  cloudbuild-k8s.yaml
  scripts/cloudbuild_k8s_generator.py
  scripts/cloudbuild_k8s_generator_test.py
  scripts/extra_configs.json
Labels: cla: yes, kind/k8s

#1175 [drupal] Docker images updates - 2021-02-10
  docker/drupal/9/php7/debian9/9.1/apache/Dockerfile
  docker/drupal/versions.yaml
Labels: cla: yes, kind/docker

#1179 Docker - Gitlab - Fix timeout for version 13.5
  cloudbuild-docker.yaml
  docker/gitlab/tests/functional_tests/health_test.yaml
Labels: cla: yes, kind/docker

#1162 Update Custom Governance Readme and CLI installation Version
  k8s/custom-governance/README.md
  k8s/custom-governance/cli_values_template.yaml
Labels: cla: yes, documentation, kind/k8s

#1180 Updated worker-pools info in README
  README.md
Labels: cla: yes, documentation

#1181 Rabbitmq upgrade
  k8s/rabbitmq/Makefile
  k8s/rabbitmq/README.md
  k8s/rabbitmq/apptest/deployer/rabbitmq/templates/tester.yaml
  k8s/rabbitmq/apptest/tester/Dockerfile
  k8s/rabbitmq/apptest/tester/tests/basic-suite.yaml
  k8s/rabbitmq/chart/rabbitmq/templates/application.yaml
  k8s/rabbitmq/chart/rabbitmq/templates/configmap.yaml
  k8s/rabbitmq/chart/rabbitmq/templates/service-discovery.yaml
  k8s/rabbitmq/chart/rabbitmq/templates/service.yaml
  k8s/rabbitmq/chart/rabbitmq/templates/statefulset.yaml
Labels: cla: yes, documentation, kind/k8s

#1176 VM - Add Neo4j Solution
  vm/chef/cookbooks/neo4j/attributes/default.rb
  vm/chef/cookbooks/neo4j/files/neo4j
  vm/chef/cookbooks/neo4j/metadata.rb
  vm/chef/cookbooks/neo4j/recipes/default.rb
  vm/packer/templates/neo4j/packer.in.json
  vm/tests/solutions/spec/neo4j/c2d_startup_spec.rb
  vm/tests/solutions/spec/neo4j/index_page_spec.rb
  vm/tests/solutions/spec/neo4j/packages_spec.rb
  vm/tests/solutions/spec/neo4j/ports_spec.rb
  vm/tests/solutions/spec/neo4j/services_spec.rb
  vm/tests/solutions/spec/neo4j/stackdriver_spec.rb
Labels: cla: yes, kind/vm

#1151 Tier I/Tier II TW review of GitLab documentation
  k8s/gitlab/README.md
  k8s/gitlab/chart/gitlab/templates/application.yaml
  k8s/gitlab/schema.yaml
Labels: cla: yes, documentation, kind/k8s
