Repository GoogleCloudPlatform/click-to-deploy, pull requests merged in 2021-09, with the labels that each got.

#1362 [consul] k8s solution updates - 2021-08-27
  k8s/consul/Makefile
Labels: cla: yes, kind/k8s

#1367 K8s - Redis - Update version
  k8s/redis-ha/Makefile
  k8s/redis-ha/README.md
Labels: cla: yes, kind/k8s, documentation

#1328 alfresco - debian10 upgrade
  vm/chef/cookbooks/alfresco/metadata.rb
  vm/chef/cookbooks/alfresco/recipes/default.rb
  vm/chef/cookbooks/postgresql/attributes/default.rb
  vm/chef/cookbooks/postgresql/recipes/standalone.rb
  vm/packer/templates/alfresco/packer.in.json
  vm/tests/solutions/spec/alfresco/packages_spec.rb
Labels: cla: yes, kind/vm

#1371 Triggers check - Improve format checking
  scripts/triggers_check.sh
Labels: cla: yes

#1372 K8s - Redis - Add custom storage class
  k8s/redis-ha/README.md
  k8s/redis-ha/chart/redis-ha/templates/redis-statefulset.yaml
  k8s/redis-ha/chart/redis-ha/values.yaml
  k8s/redis-ha/schema.yaml
Labels: cla: yes, kind/k8s, documentation

#1368 [solr] Docker images updates - 2021-09-01
  docker/solr/8/debian10/8.6/Dockerfile
  docker/solr/templates/Dockerfile.template
  docker/solr/templates/scripts/docker-entrypoint.sh
  docker/solr/templates/scripts/init-var-solr
  docker/solr/templates/scripts/oom_solr.sh
  docker/solr/templates/scripts/precreate-core
  docker/solr/templates/scripts/run-initdb
  docker/solr/templates/scripts/solr-create
  docker/solr/templates/scripts/solr-demo
  docker/solr/templates/scripts/solr-fg
  docker/solr/templates/scripts/solr-foreground
  docker/solr/templates/scripts/solr-precreate
  docker/solr/templates/scripts/start-local-solr
  docker/solr/templates/scripts/stop-local-solr
  docker/solr/templates/scripts/wait-for-solr.sh
  docker/solr/templates/scripts/wait-for-zookeeper.sh
  docker/solr/versions.yaml
Labels: cla: yes, kind/docker

#1375 [mediawiki] Docker images updates - 2021-09-03
  docker/mediawiki/1/debian9/1.35/Dockerfile
  docker/mediawiki/1/debian9/1.36/Dockerfile
  docker/mediawiki/versions.yaml
Labels: cla: yes, kind/docker

#1373 [drupal] Docker images updates - 2021-09-03
  docker/drupal/9/php7/debian9/9.2/apache/Dockerfile
  docker/drupal/versions.yaml
Labels: cla: yes, kind/docker

#1374 [gitlab] Docker images updates - 2021-09-03
  docker/gitlab/13/debian10/13.12/Dockerfile
  docker/gitlab/14/debian10/14.2/Dockerfile
  docker/gitlab/versions.yaml
Labels: cla: yes, kind/docker

#1363 Jenkins - Fix tests
  vm/chef/cookbooks/jenkins/recipes/default.rb
Labels: cla: yes, kind/vm

#1377 [gitlab] k8s solution updates - 2021-09-06
  k8s/gitlab/Makefile
  k8s/gitlab/README.md
Labels: cla: yes, kind/k8s, documentation

#1381 [jaeger-operator] k8s solution updates - 2021-09-06
  k8s/jaeger-operator/Makefile
  k8s/jaeger-operator/README.md
Labels: cla: yes, kind/k8s, documentation

#1379 [drupal] k8s solution updates - 2021-09-06
  k8s/drupal/Makefile
  k8s/drupal/README.md
Labels: cla: yes, kind/k8s, documentation

#1383 [neo4j-ce] k8s solution updates - 2021-09-06
  k8s/neo4j-ce/Makefile
  k8s/neo4j-ce/README.md
Labels: cla: yes, kind/k8s, documentation

#1384 [solr] k8s solution updates - 2021-09-06
  k8s/solr/Makefile
  k8s/solr/README.md
Labels: cla: yes, kind/k8s, documentation

#1385 [sonarqube] k8s solution updates - 2021-09-06
  k8s/sonarqube/Makefile
  k8s/sonarqube/README.md
Labels: cla: yes, kind/k8s, documentation

#1387 K8s - Redis - Readme file update
  k8s/redis-ha/README.md
Labels: cla: yes, kind/k8s, documentation

#1386 Docker - Kafka - Dockerfile template solution
  docker/kafka/2/debian10/2.8/Dockerfile
  docker/kafka/2/debian10/2.8/scripts/create-message-topic-test.sh
  docker/kafka/2/debian10/2.8/scripts/create-topics.sh
  docker/kafka/2/debian10/2.8/scripts/docker-entrypoint.sh
  docker/kafka/2/debian10/2.8/scripts/overrides/0.9.0.1.sh
  docker/kafka/2/debian10/2.8/scripts/start-kafka.sh
  docker/kafka/2/debian10/2.8/scripts/versions.sh
  docker/kafka/CONTRIBUTING.md
  docker/kafka/LICENSE
  docker/kafka/README.md
  docker/kafka/templates/debian10/Dockerfile.template
  docker/kafka/templates/debian10/scripts/create-message-topic-test.sh
  docker/kafka/templates/debian10/scripts/create-topics.sh
  docker/kafka/templates/debian10/scripts/docker-entrypoint.sh
  docker/kafka/templates/debian10/scripts/overrides/0.9.0.1.sh
  docker/kafka/templates/debian10/scripts/start-kafka.sh
  docker/kafka/templates/debian10/scripts/versions.sh
  docker/kafka/tests/functional_tests/running_test.yaml
  docker/kafka/versions.yaml
Labels: cla: yes, kind/k8s, kind/docker, documentation

#1388 VM - Add Weblate solution
  vm/chef/cookbooks/redis/files/redis-standalone
  vm/chef/cookbooks/redis/recipes/standalone.rb
  vm/chef/cookbooks/weblate/attributes/default.rb
  vm/chef/cookbooks/weblate/files/settings.py
  vm/chef/cookbooks/weblate/files/weblate
  vm/chef/cookbooks/weblate/files/weblate-utils
  vm/chef/cookbooks/weblate/files/weblate.nginx
  vm/chef/cookbooks/weblate/files/weblate.uwsgi.ini
  vm/chef/cookbooks/weblate/metadata.rb
  vm/chef/cookbooks/weblate/recipes/default.rb
  vm/packer/templates/weblate/packer.in.json
  vm/tests/solutions/spec/weblate/c2d_startup_spec.rb
  vm/tests/solutions/spec/weblate/ports_spec.rb
  vm/tests/solutions/spec/weblate/services_spec.rb
  vm/tests/solutions/spec/weblate/stackdriver_spec.rb
  vm/tests/solutions/spec/weblate/weblate_config_spec.rb
Labels: cla: yes, kind/vm

#1369 K8s - InfluxDB - Update to version 1.8
  k8s/influxdb/Makefile
  k8s/influxdb/README.md
Labels: cla: yes, kind/k8s, documentation

#1391 [neo4j] Docker images updates - 2021-09-22
  docker/neo4j/4/debian9/4.1/Dockerfile
  docker/neo4j/4/debian9/4.1/docker-entrypoint.sh
  docker/neo4j/4/debian9/4.3/Dockerfile
  docker/neo4j/tests/functional_tests/service_test.yaml
  docker/neo4j/versions.yaml
Labels: cla: yes, kind/docker

#1389 [vm]Sonarqube - update admin password
  vm/chef/cookbooks/sonarqube/files/sonar-config-setup
  vm/chef/cookbooks/sonarqube/recipes/default.rb
Labels: cla: yes, kind/vm

#1398 [mediawiki] Docker images updates - 2021-09-27
  docker/mediawiki/1/debian9/1.35/Dockerfile
  docker/mediawiki/1/debian9/1.36/Dockerfile
  docker/mediawiki/versions.yaml
Labels: cla: yes, kind/docker

#1394 [drupal] Docker images updates - 2021-09-27
  docker/drupal/8/php7/debian9/8.9/apache/Dockerfile
  docker/drupal/9/php7/debian9/9.1/apache/Dockerfile
  docker/drupal/9/php7/debian9/9.1/apache/docker-entrypoint.sh
  docker/drupal/9/php7/debian9/9.1/apache/makedb.php
  docker/drupal/9/php7/debian9/9.2/apache/Dockerfile
  docker/drupal/versions.yaml
Labels: cla: yes, kind/docker

#1397 [jaeger-operator] Docker images updates - 2021-09-27
  docker/jaeger-operator/1/debian10/1.20/Dockerfile
  docker/jaeger-operator/versions.yaml
Labels: cla: yes, kind/docker

#1396 [activemq] Docker images updates - 2021-09-27
  docker/activemq/versions.yaml
Labels: cla: yes, kind/docker

#1395 [gitlab] Docker images updates - 2021-09-27
  docker/gitlab/13/debian10/13.12/Dockerfile
  docker/gitlab/13/debian10/13.5/Dockerfile
  docker/gitlab/14/debian10/14.2/assets/generate-release
  docker/gitlab/14/debian10/14.2/assets/gitlab.rb
  docker/gitlab/14/debian10/14.2/assets/gitlab_sysctl.rb
  docker/gitlab/14/debian10/14.2/assets/setup
  docker/gitlab/14/debian10/14.2/assets/sshd_config
  docker/gitlab/14/debian10/14.2/assets/update-permissions
  docker/gitlab/14/debian10/14.2/assets/wrapper
  docker/gitlab/14/debian10/14.3/Dockerfile
  docker/gitlab/14/debian10/14.3/assets/generate-release
  docker/gitlab/14/debian10/14.3/assets/gitlab.rb
  docker/gitlab/14/debian10/14.3/assets/gitlab_sysctl.rb
  docker/gitlab/14/debian10/14.3/assets/setup
  docker/gitlab/14/debian10/14.3/assets/sshd_config
  docker/gitlab/14/debian10/14.3/assets/update-permissions
  docker/gitlab/14/debian10/14.3/assets/wrapper
  docker/gitlab/versions.yaml
Labels: cla: yes, kind/docker

#1400 Docker kafka exporter
  docker/kafka/exporter/Dockerfile
  docker/kafka/exporter/README.md
  docker/kafka/templates/exporter/Dockerfile.template
  docker/kafka/templates/exporter/README.md
  docker/kafka/tests/functional_tests/exporter_test.yaml
  docker/kafka/versions.yaml
Labels: cla: yes, kind/docker, documentation

#1399 [neo4j]Docker images updates - 2021-09-28
  docker/neo4j/4/debian9/4.3/Dockerfile
  docker/neo4j/versions.yaml
Labels: cla: yes, kind/docker

#1393 VM - Weblate - Fix unstable startup errors
  vm/chef/cookbooks/weblate/attributes/default.rb
  vm/chef/cookbooks/weblate/files/settings.py
  vm/chef/cookbooks/weblate/files/weblate
  vm/chef/cookbooks/weblate/files/weblate-utils
  vm/chef/cookbooks/weblate/files/weblate.service
  vm/chef/cookbooks/weblate/files/weblate.uwsgi.ini
  vm/chef/cookbooks/weblate/recipes/default.rb
Labels: cla: yes, kind/vm
