Repository GoogleCloudPlatform/click-to-deploy, pull requests merged in 2021-05, with the labels that each got.

#1239 VM - Grafana - Rollback image to latest 7.4 version due licensing
  vm/chef/cookbooks/grafana/attributes/default.rb
  vm/chef/cookbooks/grafana/recipes/default.rb
Labels: cla: yes, kind/vm

#1240 VM - WordPress - Use default WP theme instead of a fixed one.
  vm/chef/cookbooks/wordpress/files/wordpress-setup
Labels: cla: yes, kind/vm

#1238 Add jenkins dockerbuild pipelines doc
  k8s/jenkins/README.md
  k8s/jenkins/docs/CONFIGURE_K8S_PLUGIN_IN_JENKINS.md
  k8s/jenkins/docs/resources/configure-jenkins-k8s-plugin1.png
  k8s/jenkins/docs/resources/configure-jenkins-k8s-plugin2.png
  k8s/jenkins/docs/resources/configure-jenkins-k8s-plugin3.png
  k8s/jenkins/docs/resources/jenkins-build-docker-image-kaniko-pipeline.png
  k8s/jenkins/docs/resources/jenkins-k8s-app-architecture-with-k8s-plugin.png
Labels: cla: yes, documentation, kind/k8s, kind/vm

#1243 [drupal] Docker images updates - 2021-05-11
  docker/drupal/8/php7/debian9/8.9/apache/Dockerfile
  docker/drupal/9/php7/debian9/9.1/apache/Dockerfile
  docker/drupal/versions.yaml
Labels: cla: yes, kind/docker

#1241 VM - Add Wildfly Solution
  vm/chef/cookbooks/wildfly/attributes/default.rb
  vm/chef/cookbooks/wildfly/files/wildfly
  vm/chef/cookbooks/wildfly/files/wildfly.service
  vm/chef/cookbooks/wildfly/metadata.rb
  vm/chef/cookbooks/wildfly/recipes/default.rb
  vm/packer/templates/wildfly/packer.in.json
  vm/tests/solutions/spec/wildfly/c2d_startup_spec.rb
  vm/tests/solutions/spec/wildfly/ports_spec.rb
  vm/tests/solutions/spec/wildfly/services_spec.rb
  vm/tests/solutions/spec/wildfly/stackdriver_spec.rb
Labels: cla: yes, kind/vm
