Repository GoogleCloudPlatform/click-to-deploy, pull requests merged in 2022-01, with the labels that each got.

#1571 [gitlab] Docker images updates - 2021-12-30
  docker/gitlab/14/debian10/14.6/Dockerfile
  docker/gitlab/14/debian10/14.6/assets/generate-release
  docker/gitlab/14/debian10/14.6/assets/gitlab.rb
  docker/gitlab/14/debian10/14.6/assets/gitlab_sysctl.rb
  docker/gitlab/14/debian10/14.6/assets/setup
  docker/gitlab/14/debian10/14.6/assets/sshd_config
  docker/gitlab/14/debian10/14.6/assets/update-permissions
  docker/gitlab/14/debian10/14.6/assets/wrapper
  docker/gitlab/versions.yaml
Labels: kind/docker

#1562 Docker - Cert-manager - Upgrade to 1.6.1
  docker/cert-manager/0/debian9/0.13/Dockerfile
  docker/cert-manager/1/debian10/1.6/Dockerfile
  docker/cert-manager/1/debian9/1.4/Dockerfile
  docker/cert-manager/templates/cert-manager0/Dockerfile.template
  docker/cert-manager/templates/cert-manager1/Dockerfile.template
  docker/cert-manager/versions.yaml
Labels: kind/docker

#1576 K8s - Drupal - Functional db test fix
  k8s/drupal/apptest/tester/tests/common/db-suite.yaml
Labels: kind/k8s

#1561 VM - Kafka - ACL security fix
  vm/chef/cookbooks/kafka/files/zk-acls
  vm/chef/cookbooks/kafka/recipes/default.rb
Labels: kind/vm

#1560 K8s - Kafka - Upgrade to 3.0.0
  k8s/kafka/Makefile
  k8s/kafka/chart/kafka/templates/kafka-statefulset.yaml
Labels: kind/k8s

#1580 K8s - Mariadb - Functional db test fix
  k8s/mariadb/apptest/tester/tests/basic-suite.yaml
Labels: kind/k8s

#1577 K8s - Joomla - Functional db test fix
  k8s/joomla/apptest/tester/tests/common/db-suite.yaml
Labels: kind/k8s

#1578 K8s - Wordpress - Functional db test fix
  k8s/wordpress/apptest/tester/tests/common/db-suite.yaml
Labels: kind/k8s

#1579 K8s - Mediawiki - Functional db test fix
  k8s/mediawiki/apptest/tester/tests/db-suite.yaml
Labels: kind/k8s

#1575 Docker updates nuclio 2021 12 30
  docker/nuclio/nuclio_builder/Dockerfile
  docker/nuclio/nuclio_builder/patch
  docker/nuclio/templates/nuclio_builder/Dockerfile.template
  docker/nuclio/templates/nuclio_builder/patch
  docker/nuclio/versions.yaml
Labels: kind/docker

#1601 Docker - Neo4j - update to version 4.4.3
  docker/neo4j/4/debian9/4.4/Dockerfile
  docker/neo4j/versions.yaml
Labels: kind/docker

#1584 VM - Dolibarr - upgrade to version 14.0.5
  vm/chef/cookbooks/dolibarr/attributes/default.rb
Labels: kind/vm

#1587 VM - Dreamfactory - update to version 4.10.0
  vm/chef/cookbooks/dreamfactory/attributes/default.rb
  vm/chef/cookbooks/dreamfactory/files/dreamfactory
Labels: kind/vm

#1585 VM - ConcreteCMS - upgrade to version 9.0.1
  vm/chef/cookbooks/concretecms/attributes/default.rb
  vm/chef/cookbooks/concretecms/files/concretecms
  vm/chef/cookbooks/concretecms/recipes/default.rb
Labels: kind/vm

#1588 VM - EspoCRM - update to version 7.0.8
  vm/chef/cookbooks/espocrm/attributes/default.rb
Labels: kind/vm

#1590 VM - Joomla - update to version 4.0.5
  vm/chef/cookbooks/joomla/attributes/default.rb
Labels: kind/vm

#1592 VM - Mautic - upgrade to version 4.1.1
  vm/chef/cookbooks/mautic/attributes/default.rb
Labels: kind/vm

#1591 VM - Mattermost - update to version 6.2.1
  vm/chef/cookbooks/mattermost/attributes/default.rb
Labels: kind/vm

#1594 VM - Nagios - update to version 4.4.6
  vm/chef/cookbooks/nagios/attributes/default.rb
Labels: kind/vm

#1595 VM - Opencart - update to version 3.0.3.8
  vm/chef/cookbooks/opencart/attributes/default.rb
Labels: kind/vm

#1589 VM - Ghost - update to version 4.32.2
  vm/chef/cookbooks/ghost/attributes/default.rb
Labels: kind/vm

#1603 Docker - Cert-manager - add cert-manager-ctl util
  docker/cert-manager/1/debian10/1.6/Dockerfile
  docker/cert-manager/templates/cert-manager1/Dockerfile.template
Labels: kind/docker

#1605 VM - Liferay - upgrade to 7.4.3.8-ga8
  vm/chef/cookbooks/liferay/attributes/default.rb
Labels: kind/vm

#1606 VM - Wildfly - upgrade to 26.0.1
  vm/chef/cookbooks/wildfly/attributes/default.rb
Labels: kind/vm

#1604 VM - Kafka - upgrade to 3.1.0
  vm/chef/cookbooks/kafka/attributes/default.rb
Labels: kind/vm

#1607 Docker - Kafka - upgrade to 3.1.0
  docker/kafka/3/debian10/3.1/Dockerfile
  docker/kafka/3/debian10/3.1/scripts/create-message-topic-test.sh
  docker/kafka/3/debian10/3.1/scripts/create-topics.sh
  docker/kafka/3/debian10/3.1/scripts/docker-entrypoint.sh
  docker/kafka/3/debian10/3.1/scripts/overrides/0.9.0.1.sh
  docker/kafka/3/debian10/3.1/scripts/start-kafka.sh
  docker/kafka/3/debian10/3.1/scripts/versions.sh
  docker/kafka/versions.yaml
Labels: kind/docker

#1599 VM - Prestashop - udpate to version 1.7.8.2
  vm/chef/cookbooks/prestashop/attributes/default.rb
Labels: kind/vm

#1596 VM - Pimcore - update to version 10.2.8
  vm/chef/cookbooks/pimcore/attributes/default.rb
Labels: kind/vm
