Repository GoogleCloudPlatform/click-to-deploy, pull requests merged in 2022-12, with the labels that each got.

#1978 Docker - Add Django Container
  docker/django/4/debian11/4.1/Dockerfile
  docker/django/4/debian11/4.1/docker-entrypoint.sh
  docker/django/CONTRIBUTING.md
  docker/django/LICENSE
  docker/django/README.md
  docker/django/exporter/Dockerfile
  docker/django/templates/Dockerfile.template
  docker/django/templates/docker-entrypoint.sh
  docker/django/templates/exporter/Dockerfile.template
  docker/django/tests/functional_tests/basic_test.yaml
  docker/django/versions.yaml
Labels: kind/docker, documentation

#1982 K8S - Cassandra - Fix restore script
  k8s/cassandra/scripts/restore.sh
Labels: kind/k8s

#1977 K8S - Keycloak - Fix ingress part
  k8s/keycloak/Makefile
  k8s/keycloak/README.md
  k8s/keycloak/chart/keycloak/templates/webserver/keycloak-ingress.yaml
  k8s/keycloak/chart/keycloak/templates/webserver/keycloak-tls.yaml
  k8s/keycloak/chart/keycloak/values.yaml
  k8s/keycloak/schema.yaml
Labels: kind/k8s, documentation

#1984 Docker - Gitea - Update Dockerfile to have C2D env
  docker/gitea/1/debian11/1.16/Dockerfile
  docker/gitea/templates/Dockerfile.template
Labels: kind/docker

#1985 Gitea - Docker - Delete docker/gitea/1/debian11/1.16/gitea directory
  docker/gitea/1/debian11/1.16/gitea/Dockerfile
Labels: kind/docker

#1986 Docker - Gitea - Update C2D_RELEASE env
  docker/gitea/1/debian11/1.16/Dockerfile
  docker/gitea/templates/Dockerfile.template
Labels: kind/docker

#1980 Dmitriig k8s add crate
  k8s/crate/Makefile
  k8s/crate/README.md
  k8s/crate/apptest/deployer/crate/templates/tester.yaml
  k8s/crate/apptest/deployer/schema.yaml
  k8s/crate/apptest/tester/Dockerfile
  k8s/crate/apptest/tester/tester.sh
  k8s/crate/apptest/tester/tests/basic-suite.yaml
  k8s/crate/chart/crate/Chart.yaml
  k8s/crate/chart/crate/logo.png
  k8s/crate/chart/crate/templates/application.yaml
  k8s/crate/chart/crate/templates/crate-tls.yaml
  k8s/crate/chart/crate/templates/ingress.yaml
  k8s/crate/chart/crate/templates/service.yaml
  k8s/crate/chart/crate/templates/statefulset.yaml
  k8s/crate/chart/crate/values.yaml
  k8s/crate/deployer.yaml
  k8s/crate/deployer/Dockerfile
  k8s/crate/resources/crate-k8s-app-architecture.png
  k8s/crate/schema.yaml
  k8s/crate/scripts/backup.sh
  k8s/crate/scripts/restore.sh
Labels: kind/k8s, documentation

#1988 Docker- Solr - Update version
  docker/solr/8/debian11/8.11/scripts/docker-entrypoint.sh
  docker/solr/8/debian11/8.11/scripts/init-var-solr
  docker/solr/8/debian11/8.11/scripts/oom_solr.sh
  docker/solr/8/debian11/8.11/scripts/precreate-core
  docker/solr/8/debian11/8.11/scripts/run-initdb
  docker/solr/8/debian11/8.11/scripts/solr-create
  docker/solr/8/debian11/8.11/scripts/solr-demo
  docker/solr/8/debian11/8.11/scripts/solr-fg
  docker/solr/8/debian11/8.11/scripts/solr-foreground
  docker/solr/8/debian11/8.11/scripts/solr-precreate
  docker/solr/8/debian11/8.11/scripts/start-local-solr
  docker/solr/8/debian11/8.11/scripts/stop-local-solr
  docker/solr/8/debian11/8.11/scripts/wait-for-solr.sh
  docker/solr/8/debian11/8.11/scripts/wait-for-zookeeper.sh
  docker/solr/9/debian11/9.1/Dockerfile
  docker/solr/README.md
  docker/solr/templates/Dockerfile.template
  docker/solr/templates/scripts/docker-entrypoint.sh
  docker/solr/templates/scripts/init-var-solr
  docker/solr/templates/scripts/oom_solr.sh
  docker/solr/templates/scripts/precreate-core
  docker/solr/templates/scripts/run-initdb
  docker/solr/templates/scripts/solr-create
  docker/solr/templates/scripts/solr-demo
  docker/solr/templates/scripts/solr-fg
  docker/solr/templates/scripts/solr-foreground
  docker/solr/templates/scripts/solr-precreate
  docker/solr/templates/scripts/start-local-solr
  docker/solr/templates/scripts/stop-local-solr
  docker/solr/templates/scripts/wait-for-solr.sh
  docker/solr/templates/scripts/wait-for-zookeeper.sh
  docker/solr/versions.yaml
Labels: kind/docker, documentation

#1987 K8s - Gitea - Create solution
  k8s/gitea/Makefile
  k8s/gitea/README.md
  k8s/gitea/apptest/deployer/gitea/templates/tester.yaml
  k8s/gitea/apptest/deployer/gitea/values.yaml
  k8s/gitea/apptest/deployer/schema.yaml
  k8s/gitea/apptest/tester/Dockerfile
  k8s/gitea/apptest/tester/tester.sh
  k8s/gitea/apptest/tester/tests/gitea-suite.yaml
  k8s/gitea/apptest/tester/tests/postgresql-suite.yaml
  k8s/gitea/chart/gitea/Chart.yaml
  k8s/gitea/chart/gitea/logo.png
  k8s/gitea/chart/gitea/templates/_helpers.tpl
  k8s/gitea/chart/gitea/templates/application.yaml
  k8s/gitea/chart/gitea/templates/gitea-ingress.yaml
  k8s/gitea/chart/gitea/templates/gitea-secrets.yaml
  k8s/gitea/chart/gitea/templates/gitea-services.yaml
  k8s/gitea/chart/gitea/templates/gitea-statefulset.yaml
  k8s/gitea/chart/gitea/templates/posgresql-secrets.yaml
  k8s/gitea/chart/gitea/templates/postgresql-services.yaml
  k8s/gitea/chart/gitea/templates/postgresql-statefulset.yaml
  k8s/gitea/chart/gitea/values.yaml
  k8s/gitea/deployer/Dockerfile
  k8s/gitea/resources/gitea-k8s-app-architecture.png
  k8s/gitea/schema.yaml
Labels: kind/k8s, kind/docker, documentation

#1991 K8S - Solr - Update version
  k8s/solr/Makefile
  k8s/solr/README.md
  k8s/solr/chart/solr/templates/exporter-deployment.yaml
Labels: kind/k8s, documentation

#1994 K8S - Solr - Update components
  k8s/solr/Makefile
  k8s/solr/apptest/tester/Dockerfile
  k8s/solr/chart/solr/templates/poddisruptionbudget.yaml
  k8s/solr/chart/solr/templates/zk-pdb.yaml
Labels: kind/k8s

#1995 K8S - Keycloak - Fix host resolving
  k8s/keycloak/chart/keycloak/templates/_helpers/pods.tpl
Labels: kind/k8s

#1992 VM - rubystack - update snapshot-ruby from 3.0 to 3.1
  vm/chef/cookbooks/ruby/recipes/default.rb
Labels: kind/vm

#2000 Docker - Crate - Update version
  docker/crate/5/debian11/5.1/Dockerfile
  docker/crate/versions.yaml
Labels: kind/docker, documentation

#2002 docker - neo4j4 - version updated to 4.4.16 and 5.3.0/ added libtasn1-6
  docker/neo4j/4/debian11/4.4/Dockerfile
  docker/neo4j/5/debian11/5.3/Dockerfile
  docker/neo4j/5/debian11/5.3/docker-entrypoint.sh
  docker/neo4j/templates/neo4j4/Dockerfile.template
  docker/neo4j/versions.yaml
Labels: kind/docker

#2003 Docker - Dragonfly -Update version, use anchors
  docker/dragonfly/2/debian11/2.0/dragonfly-dfget2/Dockerfile
  docker/dragonfly/2/debian11/2.0/dragonfly-manager2/Dockerfile
  docker/dragonfly/2/debian11/2.0/dragonfly-scheduler2/Dockerfile
  docker/dragonfly/2/debian11/2.0/dragonfly-seed-peer2/Dockerfile
  docker/dragonfly/versions.yaml
Labels: kind/docker, documentation

#1979 Django - Add K8s application
  k8s/django/Makefile
  k8s/django/README.md
  k8s/django/apptest/deployer/django/templates/tester.yaml
  k8s/django/apptest/deployer/django/values.yaml
  k8s/django/apptest/deployer/schema.yaml
  k8s/django/apptest/tester/Dockerfile
  k8s/django/apptest/tester/tester.sh
  k8s/django/apptest/tester/tests/basic-suite.yaml
  k8s/django/chart/django/Chart.yaml
  k8s/django/chart/django/logo.png
  k8s/django/chart/django/templates/application.yaml
  k8s/django/chart/django/templates/django-services.yaml
  k8s/django/chart/django/templates/django-statefulset.yaml
  k8s/django/chart/django/templates/nfs-deployment.yaml
  k8s/django/chart/django/templates/nfs-pvc.yaml
  k8s/django/chart/django/templates/nfs-service.yaml
  k8s/django/chart/django/templates/nginx-config.yaml
  k8s/django/chart/django/templates/nginx-secrets.yaml
  k8s/django/chart/django/templates/nginx-services.yaml
  k8s/django/chart/django/templates/nginx-statefulset.yaml
  k8s/django/chart/django/templates/postgresql-secrets.yaml
  k8s/django/chart/django/templates/postgresql-services.yaml
  k8s/django/chart/django/templates/postgresql-statefulset.yaml
  k8s/django/chart/django/values.yaml
  k8s/django/deployer/Dockerfile
  k8s/django/resources/django-k8s-app-architecture.png
  k8s/django/schema.yaml
Labels: kind/k8s, kind/docker, documentation

#1996 VM - cloudsql - Debian version updated from 9 to 11
  vm/packer/templates/cloudsql/packer.in.json
Labels: kind/vm

#2001 VM - ceph-data-node - Debian version updated from 9 to 11
  vm/packer/templates/ceph-data-node/packer.in.json
Labels: kind/vm

#2004 K8S - Dragonfly - Fix init containers
  k8s/dragonfly/chart/dragonfly/templates/_helpers/pods.tpl
  k8s/dragonfly/chart/dragonfly/templates/dfget-daemonset.yaml
  k8s/dragonfly/chart/dragonfly/templates/manager-deployment.yml
  k8s/dragonfly/chart/dragonfly/templates/scheduler-statefulset.yaml
  k8s/dragonfly/chart/dragonfly/templates/seed-peer-statefulset.yaml
Labels: kind/k8s

#2005 K8S -Prometheus - Update version
  k8s/prometheus/Makefile
Labels: kind/k8s

#2007 Django - Fix Vulnerabilities
  docker/django/4/debian11/4.1/Dockerfile
  docker/django/templates/Dockerfile.template
Labels: kind/docker

#2006 K8S - Cassandra - Update version
  k8s/cassandra/Makefile
  k8s/cassandra/README.md
  k8s/cassandra/apptest/tester/Dockerfile
  k8s/cassandra/apptest/tester/tests/basic-suite.yaml
  k8s/cassandra/chart/cassandra/templates/cassandra-statefulset.yaml
Labels: kind/k8s, documentation

#2008 Docker - jaeger operator - Version updated from 1.38 to 1.40
  docker/jaeger-operator/1/debian11/1.40/Dockerfile
  docker/jaeger-operator/versions.yaml
Labels: kind/docker

#2009 docker - gitlab - Version updated to 15.6.3
  docker/gitlab/15/debian11/15.6/Dockerfile
  docker/gitlab/15/debian11/15.6/assets/generate-release
  docker/gitlab/15/debian11/15.6/assets/gitlab.rb
  docker/gitlab/15/debian11/15.6/assets/gitlab_sysctl.rb
  docker/gitlab/15/debian11/15.6/assets/setup
  docker/gitlab/15/debian11/15.6/assets/sshd_config
  docker/gitlab/15/debian11/15.6/assets/update-permissions
  docker/gitlab/15/debian11/15.6/assets/wrapper
  docker/gitlab/versions.yaml
Labels: kind/docker

#2011 Docker - Update Hazelcast 5.2.1
  docker/hazelcast/5/debian11/hazelcast-mc/5.1/Dockerfile
  docker/hazelcast/5/debian11/hazelcast-mc/5.1/mc-start.sh
  docker/hazelcast/5/debian11/hazelcast-mc/5.2/Dockerfile
  docker/hazelcast/5/debian11/hazelcast-mc/5.2/mc-start.sh
  docker/hazelcast/5/debian11/hazelcast/5.1/jmx_agent_config.yaml
  docker/hazelcast/5/debian11/hazelcast/5.2/Dockerfile
  docker/hazelcast/5/debian11/hazelcast/5.2/get-hz-all-url.sh
  docker/hazelcast/5/debian11/hazelcast/5.2/jmx_agent_config.yaml
  docker/hazelcast/5/debian11/hazelcast/5.2/log4j2.properties
  docker/hazelcast/templates/hazelcast4/Dockerfile.template
  docker/hazelcast/templates/hazelcast4/get-hz-all-url.sh
  docker/hazelcast/templates/hazelcast4/log4j2.properties
  docker/hazelcast/templates/hazelcast4/start-hazelcast.sh
  docker/hazelcast/versions.yaml
Labels: kind/docker

#2015 Docker - spark - Version updated 3.3.0 to 3.3.1
  docker/spark/3/debian11/3.3/Dockerfile
  docker/spark/versions.yaml
Labels: kind/docker
