Repository GoogleCloudPlatform/click-to-deploy, pull requests merged in 2022-05, with the labels that each got.

#1742 [activemq] Docker images updates - 2022-05-02
  docker/activemq/5/debian10/5.17/Dockerfile
  docker/activemq/versions.yaml
Labels: kind/docker

#1746 [neo4j] Docker images updates - 2022-05-02
  docker/neo4j/4/debian9/4.4/Dockerfile
  docker/neo4j/versions.yaml
Labels: kind/docker

#1704 K8s - Gitlab - Upgrade to 14.8
  k8s/gitlab/Makefile
  k8s/gitlab/chart/gitlab/templates/gitlab-configmap.yaml
Labels: kind/k8s

#1747 Docker - prometheus-operator - Remove non-buildable version
  docker/prometheus-operator/0/0.34/Dockerfile
  docker/prometheus-operator/versions.yaml
Labels: kind/docker

#1749 VM - InfluxDB - added API token installation parameter
  vm/chef/cookbooks/influxdb/files/influxdb
Labels: kind/vm

#1748 K8s - prometheus-operator - Upgrade to 0.54
  k8s/prometheus-operator/Makefile
  k8s/prometheus-operator/chart/prometheus-operator/templates/deployment/operator.yaml
  k8s/prometheus-operator/chart/prometheus-operator/values.yaml
  k8s/prometheus-operator/deployer/Dockerfile
  k8s/prometheus-operator/deployer/apply_crds.sh
  k8s/prometheus-operator/schema.yaml
Labels: kind/k8s

#1631 VM - Postgresql - update to Debian 10
  vm/chef/cookbooks/postgresql/attributes/default.rb
  vm/packer/templates/postgresql/packer.in.json
Labels: kind/vm

#1752 K8s - redis-ha - Remove the deprecated 'http-use-htx' option
  k8s/redis-ha/chart/redis-ha/files/configs/haproxy.cfg
Labels: kind/k8s

#1760 [zookeeper] Docker images updates - 2022-05-16
  docker/zookeeper/3/debian10/3.7/Dockerfile
  docker/zookeeper/versions.yaml
Labels: kind/docker

#1756 [drupal] Docker images updates - 2022-05-16
  docker/drupal/9/php8/debian11/9.3/apache/Dockerfile
  docker/drupal/9/php8/debian11/9.3/apache/docker-entrypoint.sh
  docker/drupal/9/php8/debian11/9.3/apache/makedb.php
  docker/drupal/9/php8/debian9/9.3/apache/Dockerfile
  docker/drupal/9/php8/debian9/9.3/apache/docker-entrypoint.sh
  docker/drupal/9/php8/debian9/9.3/apache/makedb.php
  docker/drupal/versions.yaml
Labels: kind/docker

#1736 Docker - Airflow - Add container
  docker/airflow/2/debian11/2.2/Dockerfile
  docker/airflow/2/debian11/2.2/scripts/docker/install_airflow.sh
  docker/airflow/2/debian11/2.2/scripts/docker/install_mssql.sh
  docker/airflow/2/debian11/2.2/scripts/docker/install_mysql.sh
  docker/airflow/2/debian11/2.2/scripts/docker/install_pip_version.sh
  docker/airflow/2/debian11/2.2/scripts/prod/clean-logs.sh
  docker/airflow/2/debian11/2.2/scripts/prod/entrypoint_prod.sh
  docker/airflow/CONTRIBUTING.md
  docker/airflow/LICENSE
  docker/airflow/README.md
  docker/airflow/templates/Dockerfile.template
  docker/airflow/templates/scripts/docker/install_airflow.sh
  docker/airflow/templates/scripts/docker/install_mssql.sh
  docker/airflow/templates/scripts/docker/install_mysql.sh
  docker/airflow/templates/scripts/docker/install_pip_version.sh
  docker/airflow/templates/scripts/prod/clean-logs.sh
  docker/airflow/templates/scripts/prod/entrypoint_prod.sh
  docker/airflow/tests/functional_tests/running_test.yaml
  docker/airflow/versions.yaml
Labels: kind/docker, documentation

#1754 K8S - Nuclio - Fix solution
  k8s/nuclio/README.md
  k8s/nuclio/apptest/deployer/nuclio/templates/registry-service.yaml
  k8s/nuclio/apptest/deployer/nuclio/templates/registry.yaml
  k8s/nuclio/apptest/deployer/nuclio/templates/tester.yaml
  k8s/nuclio/apptest/tester/Dockerfile
  k8s/nuclio/apptest/tester/tests/basic-suite.yaml
  k8s/nuclio/chart/nuclio/files/crd/function-event.yaml
  k8s/nuclio/chart/nuclio/files/crd/function.yaml
  k8s/nuclio/chart/nuclio/files/crd/project.yaml
  k8s/nuclio/chart/nuclio/templates/deployment/controller.yaml
  k8s/nuclio/chart/nuclio/templates/deployment/dashboard.yaml
  k8s/nuclio/chart/nuclio/values.yaml
  k8s/nuclio/resources/service-accounts.yaml
  k8s/nuclio/schema.yaml
Labels: kind/k8s, documentation

#1762 K8S - Jaeger - Fix old CRDs and ingress permissions
  k8s/jaeger-operator/chart/jaeger-operator/files/crd/jaegertracing.io_jaegers_crd.yaml
  k8s/jaeger-operator/resources/service-accounts.yaml
  k8s/jaeger-operator/schema.yaml
Labels: kind/k8s

#1763 Docker - Falco - Create falco app
  docker/falco/0/debian11/0.31/Dockerfile
  docker/falco/0/debian11/0.31/docker-entrypoint.sh
  docker/falco/CONTRIBUTING.md
  docker/falco/LICENSE
  docker/falco/README.md
  docker/falco/exporter/Dockerfile
  docker/falco/templates/Dockerfile.template
  docker/falco/templates/docker-entrypoint.sh
  docker/falco/templates/exporter/Dockerfile.template
  docker/falco/versions.yaml
Labels: kind/docker, documentation

#1769 [neo4j] Docker images updates - 2022-05-23
  docker/neo4j/4/debian9/4.4/Dockerfile
  docker/neo4j/versions.yaml
Labels: kind/docker

#1772 Docker - falco - Update versions.yaml
  docker/falco/versions.yaml
Labels: kind/docker

#1774 [nuclio] Docker images updates - 2022-05-23
  docker/nuclio/nuclio_builder/Dockerfile
  docker/nuclio/versions.yaml
Labels: kind/docker

#1773 [hazelcast] Docker images updates - 2022-05-23
  docker/hazelcast/5/debian10/hazelcast/5.1/Dockerfile
  docker/hazelcast/5/debian10/hazelcast/5.1/get-hz-all-url.sh
  docker/hazelcast/5/debian10/hazelcast/5.1/jmx_agent_config.yaml
  docker/hazelcast/5/debian10/hazelcast/5.1/log4j2.properties
  docker/hazelcast/versions.yaml
Labels: kind/docker

#1776 Docker - Airflow - Add prometheus exporter
  docker/airflow/2/debian11/2.2/scripts/docker/install_airflow.sh
  docker/airflow/templates/scripts/docker/install_airflow.sh
Labels: kind/docker

#1779 Update Dockerfile.template
  docker/falco/exporter/Dockerfile
  docker/falco/templates/exporter/Dockerfile.template
Labels: kind/docker

#1750 K8S - Apache airflow - Add solution
  k8s/airflow/Makefile
  k8s/airflow/README.md
  k8s/airflow/apptest/deployer/airflow/templates/tester.yaml
  k8s/airflow/apptest/deployer/schema.yaml
  k8s/airflow/apptest/tester/Dockerfile
  k8s/airflow/apptest/tester/tester.sh
  k8s/airflow/apptest/tester/tests/apache-airflow.yaml
  k8s/airflow/chart/airflow/.helmignore
  k8s/airflow/chart/airflow/Chart.yaml
  k8s/airflow/chart/airflow/ci/default-values.yaml
  k8s/airflow/chart/airflow/ci/legacy-values.yaml
  k8s/airflow/chart/airflow/files/pg_hba.conf
  k8s/airflow/chart/airflow/files/pod_template.kubernetes-helm-yaml
  k8s/airflow/chart/airflow/files/postgresql.conf
  k8s/airflow/chart/airflow/files/webserver_config.py
  k8s/airflow/chart/airflow/logo.png
  k8s/airflow/chart/airflow/templates/NOTES.txt
  k8s/airflow/chart/airflow/templates/_helpers/common.tpl
  k8s/airflow/chart/airflow/templates/_helpers/pods.tpl
  k8s/airflow/chart/airflow/templates/_helpers/validate-values.tpl
  k8s/airflow/chart/airflow/templates/application.yaml
  k8s/airflow/chart/airflow/templates/config/configmap-pod-template.yaml
  k8s/airflow/chart/airflow/templates/config/secret-config-envs.yaml
  k8s/airflow/chart/airflow/templates/config/secret-webserver-config.yaml
  k8s/airflow/chart/airflow/templates/db-migrations/_helpers/code.tpl
  k8s/airflow/chart/airflow/templates/db-migrations/db-migrations-deployment.yaml
  k8s/airflow/chart/airflow/templates/db-migrations/db-migrations-secret.yaml
  k8s/airflow/chart/airflow/templates/nfs/nfs_clusterip_service.yaml
  k8s/airflow/chart/airflow/templates/nfs/nfs_server_deployment.yaml
  k8s/airflow/chart/airflow/templates/nfs/nfs_server_pvc.yaml
  k8s/airflow/chart/airflow/templates/postgresql/postgresql-configmaps.yaml
  k8s/airflow/chart/airflow/templates/postgresql/postgresql-services.yaml
  k8s/airflow/chart/airflow/templates/postgresql/postgresql-statefulset.yaml
  k8s/airflow/chart/airflow/templates/rbac/airflow-role.yaml
  k8s/airflow/chart/airflow/templates/rbac/airflow-rolebinding.yaml
  k8s/airflow/chart/airflow/templates/rbac/airflow-serviceaccount.yaml
  k8s/airflow/chart/airflow/templates/scheduler/scheduler-deployment.yaml
  k8s/airflow/chart/airflow/templates/triggerer/triggerer-deployment.yaml
  k8s/airflow/chart/airflow/templates/webserver/webserver-deployment.yaml
  k8s/airflow/chart/airflow/templates/webserver/webserver-ingress.yaml
  k8s/airflow/chart/airflow/templates/webserver/webserver-service.yaml
  k8s/airflow/chart/airflow/values.yaml
  k8s/airflow/deployer/Dockerfile
  k8s/airflow/resources/airflow-k8s-app-architecture.png
  k8s/airflow/schema.yaml
Labels: kind/k8s, documentation

#1780 VM - kubernetessandbox - update to version 1.24.1
  vm/chef/cookbooks/kubernetessandbox/attributes/default.rb
Labels: kind/vm

#1777 K8s - Falco - Create GCB trigger
  triggers/k8s/falco.yaml
Labels: kind/k8s

#1778 Create Falco K8s solution
  k8s/falco/Makefile
  k8s/falco/README.md
  k8s/falco/apptest/deployer/falco/templates/tester.yaml
  k8s/falco/apptest/deployer/falco/values.yaml
  k8s/falco/apptest/deployer/schema.yaml
  k8s/falco/apptest/tester/Dockerfile
  k8s/falco/apptest/tester/tester.sh
  k8s/falco/apptest/tester/tests/basic-suite.yaml
  k8s/falco/chart/falco/Chart.yaml
  k8s/falco/chart/falco/logo.png
  k8s/falco/chart/falco/rules/falco_rules.yaml
  k8s/falco/chart/falco/templates/_helpers.tpl
  k8s/falco/chart/falco/templates/application.yaml
  k8s/falco/chart/falco/templates/clusterrole.yaml
  k8s/falco/chart/falco/templates/clusterrolebinding.yaml
  k8s/falco/chart/falco/templates/configmap.yaml
  k8s/falco/chart/falco/templates/daemonset.yaml
  k8s/falco/chart/falco/templates/service.yaml
  k8s/falco/chart/falco/templates/serviceaccount.yaml
  k8s/falco/chart/falco/values.yaml
  k8s/falco/deployer/Dockerfile
  k8s/falco/resources/falco-k8s-app-architecture.png
  k8s/falco/schema.yaml
Labels: kind/k8s, documentation
