Repository GoogleCloudPlatform/click-to-deploy, pull requests merged in 2022-07, with the labels that each got.

#1812 K8s - Hydra - Add solution
  k8s/hydra/Makefile
  k8s/hydra/README.md
  k8s/hydra/apptest/deployer/hydra/templates/tester.yaml
  k8s/hydra/apptest/deployer/hydra/values.yaml
  k8s/hydra/apptest/deployer/schema.yaml
  k8s/hydra/apptest/tester/Dockerfile
  k8s/hydra/apptest/tester/tester.sh
  k8s/hydra/apptest/tester/tests/basic-suite.yaml
  k8s/hydra/apptest/tester/tests/postgresql-exporter-suite.yaml
  k8s/hydra/apptest/tester/tests/postgresql-suite.yaml
  k8s/hydra/chart/hydra/Chart.yaml
  k8s/hydra/chart/hydra/logo.png
  k8s/hydra/chart/hydra/templates/_helpers.tpl
  k8s/hydra/chart/hydra/templates/application.yaml
  k8s/hydra/chart/hydra/templates/backend-configs.yaml
  k8s/hydra/chart/hydra/templates/configmap.yaml
  k8s/hydra/chart/hydra/templates/deployment.yaml
  k8s/hydra/chart/hydra/templates/hpa.yaml
  k8s/hydra/chart/hydra/templates/ingress-admin.yaml
  k8s/hydra/chart/hydra/templates/ingress-public.yaml
  k8s/hydra/chart/hydra/templates/job-migration.yaml
  k8s/hydra/chart/hydra/templates/postgresql-secrets.yaml
  k8s/hydra/chart/hydra/templates/postgresql-services.yaml
  k8s/hydra/chart/hydra/templates/postgresql-statefulset.yaml
  k8s/hydra/chart/hydra/templates/rbac.yaml
  k8s/hydra/chart/hydra/templates/secrets.yaml
  k8s/hydra/chart/hydra/templates/service-admin.yaml
  k8s/hydra/chart/hydra/templates/service-public.yaml
  k8s/hydra/chart/hydra/values.yaml
  k8s/hydra/deployer/Dockerfile
  k8s/hydra/docs/ORY_HYDRA_QUICK_SETUP.md
  k8s/hydra/docs/resources/access_token.png
  k8s/hydra/docs/resources/allow_access.png
  k8s/hydra/docs/resources/authorize_application.png
  k8s/hydra/docs/resources/log_in.png
  k8s/hydra/resources/hydra-k8s-app-architecture.png
  k8s/hydra/schema.yaml
Labels: kind/k8s, documentation

#1816 K8s - Kafka - Upgrade solution to 3.2
  k8s/kafka/Makefile
Labels: kind/k8s

#1834 VM - ConcreteCMS - installation fix
  vm/chef/cookbooks/concretecms/attributes/default.rb
  vm/chef/cookbooks/concretecms/files/concretecms
  vm/chef/cookbooks/concretecms/recipes/default.rb
Labels: kind/vm

#1832 K8S - Superset - ingress port fix
  k8s/superset/chart/superset/templates/superset-service.yaml
  k8s/superset/chart/superset/values.yaml
Labels: kind/k8s

#1835 VM -Dreamfactory - installation fix
  vm/chef/cookbooks/dreamfactory/files/dreamfactory
  vm/chef/cookbooks/dreamfactory/recipes/default.rb
Labels: kind/vm

#1836 Weblate - fixed libffi error during setup
  vm/chef/cookbooks/weblate/files/weblate
Labels: kind/vm

#1837 VM - Wordpress - fixed cashing issue
  vm/chef/cookbooks/wordpress/files/wordpress-multisite-setup
  vm/chef/cookbooks/wordpress/files/wordpress-setup
Labels: kind/vm

#1844 [kafka] Docker images updates - 2022-07-18
  docker/kafka/3/debian11/3.1/Dockerfile
  docker/kafka/3/debian11/3.1/scripts/create-message-topic-test.sh
  docker/kafka/3/debian11/3.1/scripts/create-topics.sh
  docker/kafka/3/debian11/3.1/scripts/docker-entrypoint.sh
  docker/kafka/3/debian11/3.1/scripts/overrides/0.9.0.1.sh
  docker/kafka/3/debian11/3.1/scripts/start-kafka.sh
  docker/kafka/3/debian11/3.1/scripts/versions.sh
  docker/kafka/versions.yaml
Labels: kind/docker

#1838 K8S - Superset - fixes
  k8s/superset/chart/superset/templates/application.yaml
  k8s/superset/chart/superset/templates/redis-statefulset.yaml
  k8s/superset/chart/superset/templates/superset-secret.yaml
  k8s/superset/chart/superset/templates/superset-statefulset.yaml
  k8s/superset/chart/superset/values.yaml
  k8s/superset/schema.yaml
Labels: kind/k8s

#1855 Docker - Kafka - Fix exporter openssl
  docker/kafka/exporter/Dockerfile
  docker/kafka/templates/exporter/Dockerfile.template
Labels: kind/docker

#1854 K8s - PostgreSQL - Upgrade to 14.4 and fix tester
  k8s/postgresql/Makefile
  k8s/postgresql/apptest/tester/Dockerfile
  k8s/postgresql/apptest/tester/tests/basic-suite.yaml
Labels: kind/k8s

#1857 K8s - Redis - Upgrade to 7.0
  k8s/redis-ha/Makefile
Labels: kind/k8s

#1858 Docker - Superset - openssl fix
  docker/superset/1/debian11/1.5/Dockerfile
  docker/superset/templates/Dockerfile.template
Labels: kind/docker

#1833 Docker - Harbor - Add container
  docker/harbor/2/debian11/2.5/Dockerfile
  docker/harbor/CONTRIBUTING.md
  docker/harbor/LICENSE
  docker/harbor/README.md
  docker/harbor/templates/Dockerfile.template
  docker/harbor/versions.yaml
Labels: kind/docker, documentation

#1856 K8S-Superset - ongoing fixes
  k8s/superset/chart/superset/templates/superset-secret.yaml
  k8s/superset/chart/superset/templates/superset-service.yaml
  k8s/superset/chart/superset/templates/superset-statefulset.yaml
Labels: kind/k8s
