Repository GoogleCloudPlatform/click-to-deploy, pull requests merged in 2022-04, with the labels that each got.

#1695 [neo4j] Docker images updates - 2022-03-29
  docker/neo4j/4/debian9/4.4/Dockerfile
  docker/neo4j/versions.yaml
Labels: kind/docker

#1699 VM - Fix chefdk and foodcritic deprecation
  .github/workflows/ci-tests.yaml
  Makefile
  vm/chef/.rubocop.yml
  vm/chef/cookbooks/apache2/resources/allow_override.rb
  vm/chef/cookbooks/c2d-config/resources/c2d_startup_script.rb
  vm/chef/cookbooks/mysql/recipes/install-and-configure-mysqld.rb
  vm/chef/cookbooks/mysql/recipes/install-and-configure-mysqld8.rb
  vm/chef/cookbooks/nginx/recipes/stretch-backports.rb
  vm/chef/cookbooks/nodenvm/resources/npm.rb
  vm/chef/cookbooks/nodenvm/resources/run.rb
  vm/chef/cookbooks/openjdk11/recipes/default.rb
  vm/tests/solutions/.rubocop.yml
Labels: kind/vm

#1691 [drupal] Docker images updates - 2022-03-29
  docker/drupal/9/php7/debian9/9.2/apache/Dockerfile
  docker/drupal/9/php7/debian9/9.3/apache/Dockerfile
  docker/drupal/versions.yaml
Labels: kind/docker

#1694 [mediawiki] Docker images updates - 2022-03-29
  docker/mediawiki/1/debian9/1.36/Dockerfile
  docker/mediawiki/1/debian9/1.37/Dockerfile
  docker/mediawiki/versions.yaml
Labels: kind/docker

#1647 Docker - Kafka - Improve README
  docker/kafka/README.md
Labels: kind/docker, documentation

#1648 Docker - Zookeeper - Improve README
  docker/zookeeper/README.md
Labels: kind/docker, documentation

#1642 Docker - Gitlab - Improve README
  docker/gitlab/README.md
Labels: kind/docker, documentation

#1659 Docker- Apache Solr - Improve README
  docker/solr/README.md
Labels: kind/docker, documentation

#1652 Docker - Nuclio - Improve README
  docker/nuclio/README.md
Labels: kind/docker, documentation

#1650 Docker - Hazelcast - Improve README
  docker/hazelcast/README.md
Labels: kind/docker, documentation

#1703 VM - Logstash - Change license
  vm/packer/templates/logstash/packer.in.json
Labels: kind/vm

#1706 K8S - Hazelcast - upgrade to verson 5.0.x
  k8s/hazelcast/Makefile
Labels: kind/k8s

#1668 Docker - Jaeger Operator - Improve README
  docker/jaeger-operator/README.md
Labels: kind/docker, documentation

#1707 Docker - Drupal - Upgrade PHP version from 7.3 to 8.0/8.1
  docker/drupal/8/php7/debian9/8.9/apache/Dockerfile
  docker/drupal/9/php7/debian9/9.3/apache/docker-entrypoint.sh
  docker/drupal/9/php7/debian9/9.3/apache/makedb.php
  docker/drupal/9/php8/debian11/9.2/apache/Dockerfile
  docker/drupal/9/php8/debian11/9.2/apache/docker-entrypoint.sh
  docker/drupal/9/php8/debian11/9.2/apache/makedb.php
  docker/drupal/9/php8/debian11/9.3/apache/Dockerfile
  docker/drupal/9/php8/debian11/9.3/apache/docker-entrypoint.sh
  docker/drupal/9/php8/debian11/9.3/apache/makedb.php
  docker/drupal/templates/Dockerfile.template
  docker/drupal/versions.yaml
Labels: kind/docker

#1698 K8S - Knative - Add solution
  k8s/knative/Makefile
  k8s/knative/README.md
  k8s/knative/apptest/deployer/knative/templates/tester.yaml
  k8s/knative/apptest/deployer/schema.yaml
  k8s/knative/apptest/tester/Dockerfile
  k8s/knative/apptest/tester/tester.sh
  k8s/knative/apptest/tester/tests/cert-manager.yaml
  k8s/knative/apptest/tester/tests/istio-gateway.yaml
  k8s/knative/apptest/tester/tests/knative-serving.yaml
  k8s/knative/chart/knative/Chart.yaml
  k8s/knative/chart/knative/files/net-istio-configmap.yaml
  k8s/knative/chart/knative/files/sidecar-injector-configmap.yaml
  k8s/knative/chart/knative/logo.png
  k8s/knative/chart/knative/templates/application.yaml
  k8s/knative/chart/knative/templates/cert-manager/cainjector.yaml
  k8s/knative/chart/knative/templates/cert-manager/cert-manager.yaml
  k8s/knative/chart/knative/templates/cert-manager/webhook.yaml
  k8s/knative/chart/knative/templates/crds/cert-manager-crd.yaml
  k8s/knative/chart/knative/templates/crds/eventing-crds.yaml
  k8s/knative/chart/knative/templates/crds/istio-crd.yaml
  k8s/knative/chart/knative/templates/crds/serving-crds.yaml
  k8s/knative/chart/knative/templates/istio/envoyfilters.yaml
  k8s/knative/chart/knative/templates/istio/ingressgateway.yaml
  k8s/knative/chart/knative/templates/istio/istio-configmap.yaml
  k8s/knative/chart/knative/templates/istio/istiod.yaml
  k8s/knative/chart/knative/templates/istio/roles.yaml
  k8s/knative/chart/knative/templates/istio/serviceaccounts.yaml
  k8s/knative/chart/knative/templates/istio/sidecar-injector-configmap.yaml
  k8s/knative/chart/knative/templates/istio/webhook.yaml
  k8s/knative/chart/knative/templates/knative/eventing/controller.yaml
  k8s/knative/chart/knative/templates/knative/eventing/knative-eventing-configmap.yaml
  k8s/knative/chart/knative/templates/knative/eventing/mtping.yaml
  k8s/knative/chart/knative/templates/knative/eventing/roles.yaml
  k8s/knative/chart/knative/templates/knative/eventing/serviceaccounts.yaml
  k8s/knative/chart/knative/templates/knative/eventing/webhook.yaml
  k8s/knative/chart/knative/templates/knative/serving/activator.yaml
  k8s/knative/chart/knative/templates/knative/serving/autoscaler.yaml
  k8s/knative/chart/knative/templates/knative/serving/controller.yaml
  k8s/knative/chart/knative/templates/knative/serving/domain-mapping.yaml
  k8s/knative/chart/knative/templates/knative/serving/knative-serving-configmap.yaml
  k8s/knative/chart/knative/templates/knative/serving/net-certmanager.yaml
  k8s/knative/chart/knative/templates/knative/serving/net-istio-configmap.yaml
  k8s/knative/chart/knative/templates/knative/serving/net-istio.yaml
  k8s/knative/chart/knative/templates/knative/serving/queue-proxy.yaml
  k8s/knative/chart/knative/templates/knative/serving/roles.yaml
  k8s/knative/chart/knative/templates/knative/serving/serviceaccounts.yaml
  k8s/knative/chart/knative/templates/knative/serving/webhook.yaml
  k8s/knative/chart/knative/values.yaml
  k8s/knative/deployer/Dockerfile
  k8s/knative/resources/knative-k8s-app-architecture.png
  k8s/knative/schema.yaml
Labels: kind/k8s, documentation

#1696 VM - InfluxDB - upgrade to version 2.1.1
  vm/chef/cookbooks/influxdb/files/influxdb
  vm/chef/cookbooks/influxdb/files/influxdb-utils
  vm/chef/cookbooks/influxdb/recipes/default.rb
  vm/packer/templates/influxdb/packer.in.json
  vm/tests/solutions/spec/influxdb/ops_agent_spec.rb
  vm/tests/solutions/spec/influxdb/packages_spec.rb
  vm/tests/solutions/spec/influxdb/stackdriver_spec.rb
Labels: kind/vm

#1674 K8S - Cert-manager - Upgrade
  k8s/cert-manager/Makefile
  k8s/cert-manager/README.md
  k8s/cert-manager/apptest/deployer/cert-manager/templates/tester.yaml
  k8s/cert-manager/apptest/tester/Dockerfile
  k8s/cert-manager/apptest/tester/tests/basic-suite.yaml
  k8s/cert-manager/chart/LICENSE
  k8s/cert-manager/chart/README.md
  k8s/cert-manager/chart/cert-manager/files/crd/certificaterequests.cert-manager.io.yaml
  k8s/cert-manager/chart/cert-manager/files/crd/certificates.cert-manager.io.yaml
  k8s/cert-manager/chart/cert-manager/files/crd/challenges.acme.cert-manager.io.yaml
  k8s/cert-manager/chart/cert-manager/files/crd/clusterissuers.cert-manager.io.yaml
  k8s/cert-manager/chart/cert-manager/files/crd/issuers.cert-manager.io.yaml
  k8s/cert-manager/chart/cert-manager/files/crd/orders.acme.cert-manager.io.yaml
  k8s/cert-manager/chart/cert-manager/files/webhook/webhook-mutating-webhook.yaml
  k8s/cert-manager/chart/cert-manager/files/webhook/webhook-validating-webhook.yaml
  k8s/cert-manager/chart/cert-manager/templates/_helpers.tpl
  k8s/cert-manager/chart/cert-manager/templates/application.yaml
  k8s/cert-manager/chart/cert-manager/templates/cainjector.yaml
  k8s/cert-manager/chart/cert-manager/templates/cert-manager.yaml
  k8s/cert-manager/chart/cert-manager/templates/configmap/crd.yaml
  k8s/cert-manager/chart/cert-manager/templates/configmap/webhook.yaml
  k8s/cert-manager/chart/cert-manager/templates/crds/crd-certificaterequests.yaml
  k8s/cert-manager/chart/cert-manager/templates/crds/crd-certificates.yaml
  k8s/cert-manager/chart/cert-manager/templates/crds/crd-challenges.yaml
  k8s/cert-manager/chart/cert-manager/templates/crds/crd-clusterissuers.yaml
  k8s/cert-manager/chart/cert-manager/templates/crds/crd-issuers.yaml
  k8s/cert-manager/chart/cert-manager/templates/crds/crd-orders.yaml
  k8s/cert-manager/chart/cert-manager/templates/deployment/cainjector.yaml
  k8s/cert-manager/chart/cert-manager/templates/deployment/controller.yaml
  k8s/cert-manager/chart/cert-manager/templates/deployment/webhook.yaml
  k8s/cert-manager/chart/cert-manager/templates/job/crd-create.yaml
  k8s/cert-manager/chart/cert-manager/templates/service/webhook.yaml
  k8s/cert-manager/chart/cert-manager/templates/webhook.yaml
  k8s/cert-manager/chart/cert-manager/values.yaml
  k8s/cert-manager/resources/service-accounts.yaml
  k8s/cert-manager/schema.yaml
Labels: kind/k8s, kind/docker, documentation

#1711 K8s - RabbitMQ - Modify the liveness/readiness probes frequency
  k8s/rabbitmq/chart/rabbitmq/templates/statefulset.yaml
Labels: kind/k8s

#1712 [activemq] k8s solution updates - 2022-04-22
  k8s/activemq/Makefile
Labels: kind/k8s

#1713 [consul] k8s solution updates - 2022-04-22
  k8s/consul/Makefile
Labels: kind/k8s

#1718 K8S - Mediawiki - update to version 1.37 and PHP7.4
  k8s/mediawiki/Makefile
Labels: kind/k8s

#1717 K8S - Joomla - update to version 4.1 and PHP8
  k8s/joomla/Makefile
Labels: kind/k8s

#1719 K8S - Wordpress - update to version 5.9 and PHP7.4
  k8s/wordpress/Makefile
Labels: kind/k8s

#1728 [activemq] Docker images updates - 2022-04-25
  docker/activemq/5/debian10/5.16/Dockerfile
  docker/activemq/5/debian10/5.16/docker-entrypoint.sh
  docker/activemq/versions.yaml
Labels: kind/docker

#1730 [mediawiki] Docker images updates - 2022-04-25
  docker/mediawiki/1/debian11/1.36/Dockerfile
  docker/mediawiki/1/debian11/1.36/common_functions.sh
  docker/mediawiki/1/debian11/1.36/custom_settings.php
  docker/mediawiki/1/debian11/1.36/docker-entrypoint.sh
  docker/mediawiki/1/debian11/1.37/Dockerfile
  docker/mediawiki/versions.yaml
Labels: kind/docker

#1735 Docker - Knative- Improve README.md
  docker/knative/README.md
Labels: kind/docker, documentation

#1710 VM - Kubernetessandbox - Disable the read-only port 10255
  vm/chef/cookbooks/kubernetessandbox/files/kubernetes-setup
Labels: kind/vm

#1733 VM - Erpnext - startup script fixes
  vm/chef/cookbooks/erpnext/files/erpnext-setup
Labels: kind/vm

#1734 VM - CouchDB - build fix
  vm/chef/cookbooks/couchdb/attributes/default.rb
  vm/chef/cookbooks/couchdb/recipes/default.rb
Labels: kind/vm

#1737 K8s - Hazelcast - Add permissions for deployer run the tests
  k8s/hazelcast/apptest/deployer/schema.yaml
  k8s/hazelcast/apptest/tester/tests/hazelcast-suite.yaml
Labels: kind/k8s

#1740 K8s - Jenkins - Support for 1.22
  k8s/jenkins/chart/jenkins/templates/jenkins-services.yaml
Labels: kind/k8s
