Repository GoogleCloudPlatform/click-to-deploy, pull requests merged in 2022-02, with the labels that each got.

#1612 VM - Tomcat - repo path fix and version update
  vm/chef/cookbooks/tomcat/attributes/default.rb
  vm/chef/cookbooks/tomcat/recipes/default.rb
Labels: kind/vm

#1611 VM - Wordpress-HA - update to Debian 10
  vm/packer/templates/wordpress-ha/packer.in.json
Labels: kind/vm

#1597 VM - OroCRM - update to version 4.2.9
  vm/chef/cookbooks/orocrm/attributes/default.rb
Labels: kind/vm

#1610 VM - Mysql8-book - update to Debian 10
  vm/packer/templates/mysql8-book/packer.in.json
Labels: kind/vm

#1619 VM -Solr - update to Debian 10
  vm/chef/cookbooks/solr/metadata.rb
  vm/chef/cookbooks/solr/recipes/default.rb
  vm/packer/templates/solr/packer.in.json
Labels: kind/vm

#1617 VM - Sonarqube - downgrade to 8.7.1 as per license restriction
  vm/chef/cookbooks/sonarqube/attributes/default.rb
Labels: kind/vm

#1614 VM - Resourcespace - update to version 9.7
  vm/chef/cookbooks/resourcespace/attributes/default.rb
Labels: kind/vm

#1613 VM - Redmine - update to version 4.2.3
  vm/chef/cookbooks/redmine/attributes/default.rb
Labels: kind/vm

#1624 [gitlab] Docker images updates - 2022-02-03
  docker/gitlab/14/debian10/14.7/Dockerfile
  docker/gitlab/14/debian10/14.7/assets/generate-release
  docker/gitlab/14/debian10/14.7/assets/gitlab.rb
  docker/gitlab/14/debian10/14.7/assets/gitlab_sysctl.rb
  docker/gitlab/14/debian10/14.7/assets/setup
  docker/gitlab/14/debian10/14.7/assets/sshd_config
  docker/gitlab/14/debian10/14.7/assets/update-permissions
  docker/gitlab/14/debian10/14.7/assets/wrapper
  docker/gitlab/versions.yaml
Labels: kind/docker

#1625 [drupal] Docker images updates - 2022-02-03
  docker/drupal/8/php7/debian9/8.9/apache/Dockerfile
  docker/drupal/9/php7/debian9/9.2/apache/Dockerfile
  docker/drupal/9/php7/debian9/9.3/apache/Dockerfile
  docker/drupal/templates/Dockerfile.template
  docker/drupal/versions.yaml
Labels: kind/docker

#1628 [prometheus-operator] Docker images updates - 2022-02-03
  docker/prometheus-operator/0/0.54/Dockerfile
  docker/prometheus-operator/versions.yaml
Labels: kind/docker

#1629 [nuclio] Docker images updates - 2022-02-03
  docker/nuclio/nuclio_builder/Dockerfile
  docker/nuclio/versions.yaml
Labels: kind/docker

#1626 [mediawiki] Docker images updates - 2022-02-03
  docker/mediawiki/1/debian9/1.36/Dockerfile
  docker/mediawiki/1/debian9/1.37/Dockerfile
  docker/mediawiki/versions.yaml
Labels: kind/docker

#1627 [cert-manager] Docker images updates - 2022-02-03
  docker/cert-manager/1/debian10/1.7/Dockerfile
  docker/cert-manager/versions.yaml
Labels: kind/docker

#1621 VM - Schema-conversion-tool - update to Debian 10
  vm/packer/templates/schema-conversion-tool/packer.in.json
Labels: kind/vm

#1622 VM - Redis - update to Debian 10
  vm/chef/cookbooks/redis/attributes/default.rb
  vm/packer/templates/redis/packer.in.json
Labels: kind/vm

#1630 VM - ConcreteCMS - update to version 9.0.2
  vm/chef/cookbooks/concretecms/attributes/default.rb
Labels: kind/vm

#1632 VM - Redis - update to version 6.2.6
  vm/chef/cookbooks/redis/attributes/default.rb
  vm/chef/cookbooks/redis/recipes/default.rb
Labels: kind/vm

#1633 VM - Redis - sentinel config fix
  vm/chef/cookbooks/redis/files/sentinel.conf.template
Labels: kind/vm

#1634 VM - Liferay - updated to version 7.4.3.10-ga10
  vm/chef/cookbooks/liferay/attributes/default.rb
Labels: kind/vm

#1608 K8s - Kafka - upgrade to 3.1.0
  k8s/kafka/Makefile
  k8s/kafka/apptest/tester/tests/kafka-exporter-test.yaml
Labels: kind/k8s

#1635 VM - Cassandra - cassandra-env fix
  vm/chef/cookbooks/cassandra/files/cassandra
  vm/chef/cookbooks/cassandra/recipes/default.rb
Labels: kind/vm

#1637 VM - Kafka - Add Auth
  vm/chef/cookbooks/kafka/attributes/default.rb
  vm/chef/cookbooks/kafka/files/c2d-service.sh
  vm/chef/cookbooks/kafka/files/kafka
  vm/chef/cookbooks/kafka/files/kafka-startup.service
  vm/chef/cookbooks/kafka/files/zk-acls
  vm/chef/cookbooks/kafka/recipes/default.rb
  vm/tests/solutions/spec/kafka/c2d_startup_spec.rb
  vm/tests/solutions/spec/kafka/ports_spec.rb
Labels: kind/vm

#1636 VM - MongoDB - arbiter config fix
  vm/chef/cookbooks/mongodb/attributes/default.rb
  vm/chef/cookbooks/mongodb/files/conf/mongod.arb.conf
  vm/chef/cookbooks/mongodb/files/startup/mongodb-server
Labels: kind/vm
