Repository GoogleCloudPlatform/click-to-deploy, pull requests merged in 2022-11, with the labels that each got.

#1949 Enable Falco+gVisor only if runsc supports it
  k8s/falco/chart/falco/templates/daemonset.yaml
Labels: kind/k8s

#1954 Docker - Nuclio - Update docker cli
  docker/nuclio/1/debian11/nuclio-dashboard/1.10/Dockerfile
  docker/nuclio/templates/nuclio_dashboard/Dockerfile.template
  docker/nuclio/versions.yaml
Labels: kind/docker

#1943 Docker - Add Argo Workflows solution
  docker/argo-workflow/3/debian11/3.4/Dockerfile
  docker/argo-workflow/3/debian11/3.4/docker-entrypoint.sh
  docker/argo-workflow/CONTRIBUTING.md
  docker/argo-workflow/LICENSE
  docker/argo-workflow/README.md
  docker/argo-workflow/templates/Dockerfile.template
  docker/argo-workflow/templates/docker-entrypoint.sh
  docker/argo-workflow/tests/functional_tests/tests.yaml
  docker/argo-workflow/versions.yaml
Labels: kind/docker, documentation

#1955 Docker - Argo Workflows - Move folder
  docker/argo-workflows/3/debian11/3.4/Dockerfile
  docker/argo-workflows/3/debian11/3.4/docker-entrypoint.sh
  docker/argo-workflows/CONTRIBUTING.md
  docker/argo-workflows/LICENSE
  docker/argo-workflows/README.md
  docker/argo-workflows/templates/Dockerfile.template
  docker/argo-workflows/templates/docker-entrypoint.sh
  docker/argo-workflows/tests/functional_tests/tests.yaml
  docker/argo-workflows/versions.yaml
Labels: kind/docker, documentation

#1950 K8S - Nuclio - Update Nuclio and nuctl to the latest stable
  k8s/nuclio/Makefile
  k8s/nuclio/apptest/tester/Dockerfile
  k8s/nuclio/chart/nuclio/files/crd/api-gateway.yaml
  k8s/nuclio/resources/service-accounts.yaml
  k8s/nuclio/schema.yaml
Labels: kind/k8s

#1959 K8s - Dragonfly - Create solution
  k8s/dragonfly/Makefile
  k8s/dragonfly/README.md
  k8s/dragonfly/apptest/deployer/dragonfly/templates/tester.yaml
  k8s/dragonfly/apptest/deployer/dragonfly/values.yaml
  k8s/dragonfly/apptest/deployer/schema.yaml
  k8s/dragonfly/apptest/tester/Dockerfile
  k8s/dragonfly/apptest/tester/tester.sh
  k8s/dragonfly/apptest/tester/tests/db-suite.yaml
  k8s/dragonfly/apptest/tester/tests/exporters-suite.yaml
  k8s/dragonfly/apptest/tester/tests/manager-suite.yaml
  k8s/dragonfly/apptest/tester/tests/redis-suite.yaml
  k8s/dragonfly/chart/dragonfly/Chart.yaml
  k8s/dragonfly/chart/dragonfly/files/redis_ping_liveness_local.sh
  k8s/dragonfly/chart/dragonfly/files/redis_ping_readiness_local.sh
  k8s/dragonfly/chart/dragonfly/logo.png
  k8s/dragonfly/chart/dragonfly/templates/application.yaml
  k8s/dragonfly/chart/dragonfly/templates/dfget-daemonset.yaml
  k8s/dragonfly/chart/dragonfly/templates/manager-deployment.yml
  k8s/dragonfly/chart/dragonfly/templates/manager-services.yaml
  k8s/dragonfly/chart/dragonfly/templates/mysql-secrets.yaml
  k8s/dragonfly/chart/dragonfly/templates/mysql-services.yaml
  k8s/dragonfly/chart/dragonfly/templates/mysql-statefulset.yaml
  k8s/dragonfly/chart/dragonfly/templates/redis-configmap.yaml
  k8s/dragonfly/chart/dragonfly/templates/redis-secrets.yaml
  k8s/dragonfly/chart/dragonfly/templates/redis-services.yaml
  k8s/dragonfly/chart/dragonfly/templates/redis-statefulset.yaml
  k8s/dragonfly/chart/dragonfly/templates/scheduler-services.yaml
  k8s/dragonfly/chart/dragonfly/templates/scheduler-statefulset.yaml
  k8s/dragonfly/chart/dragonfly/templates/seed-peer-statefulset.yaml
  k8s/dragonfly/chart/dragonfly/values.yaml
  k8s/dragonfly/deployer/Dockerfile
  k8s/dragonfly/resources/dragonfly-k8s-app-architecture.png
  k8s/dragonfly/schema.yaml
  triggers/k8s/dragonfly.yaml
Labels: kind/k8s, kind/docker, documentation

#1969 K8s - Dragonfly - Update Redis version
  k8s/dragonfly/Makefile
Labels: kind/k8s

#1972 K8s-gitlab-manikowski-23112022- Versions updated from 14.8 to 15.4.2
  k8s/gitlab/Makefile
Labels: kind/k8s, kind/docker

#1974 dokcer-jaeger-manikowski-23112022- Dockerfiles govendor updated
  docker/jaeger-operator/1/debian11/1.38/Dockerfile
  docker/jaeger-operator/templates/Dockerfile.template
Labels: kind/k8s, kind/docker

#1976 Docker - Gitea - Create solution
  docker/gitea/1/debian11/1.16/Dockerfile
  docker/gitea/1/debian11/1.16/gitea/Dockerfile
  docker/gitea/README.md
  docker/gitea/templates/Dockerfile.template
  docker/gitea/tests/functional_tests/gitea_test.yaml
  docker/gitea/versions.yaml
Labels: kind/k8s, kind/docker, documentation

#1981 VM - Fix net-ssh gem version
  vm/tests/common/200_solution_test.sh
Labels: kind/vm
