Repository GoogleCloudPlatform/click-to-deploy, pull requests merged in 2022-06, with the labels that each got.

#1782 VM - Redis - upgrade to version 7.0.0
  vm/chef/cookbooks/redis/attributes/default.rb
Labels: kind/vm

#1786 K8S - Cassandra - tests fixes
  k8s/cassandra/apptest/tester/tests/basic-suite.yaml
  k8s/cassandra/chart/cassandra/templates/cassandra-statefulset.yaml
Labels: kind/k8s

#1787 K8S - Magento - elasticsearch update
  k8s/magento/Makefile
Labels: kind/k8s

#1770 Docker - Add Spark Container
  docker/spark/3/debian11/3.3/Dockerfile
  docker/spark/3/debian11/3.3/metrics.properties
  docker/spark/3/debian11/3.3/start-spark.sh
  docker/spark/3/debian11/3.3/supervisor.conf
  docker/spark/3/debian11/3.3/test_job.py
  docker/spark/CONTRIBUTING.md
  docker/spark/LICENSE
  docker/spark/README.md
  docker/spark/templates/3/Dockerfile.template
  docker/spark/templates/3/metrics.properties
  docker/spark/templates/3/start-spark.sh
  docker/spark/templates/3/supervisor.conf
  docker/spark/templates/3/test_job.py
  docker/spark/tests/functional_tests/running_test.yaml
  docker/spark/versions.yaml
Labels: kind/docker, documentation

#1784 Docker - Keycloak - Add container
  docker/keycloak/18/debian11/18.0/Dockerfile
  docker/keycloak/CONTRIBUTING.md
  docker/keycloak/LICENSE
  docker/keycloak/README.md
  docker/keycloak/templates/Dockerfile.template
  docker/keycloak/tests/functional_tests/running_test.yaml
  docker/keycloak/versions.yaml
Labels: kind/docker, documentation

#1789 K8s - Spark - Add solution
  k8s/spark/Makefile
  k8s/spark/README.md
  k8s/spark/apptest/deployer/schema.yaml
  k8s/spark/apptest/deployer/spark/templates/tester.yaml
  k8s/spark/apptest/deployer/spark/values.yaml
  k8s/spark/apptest/tester/Dockerfile
  k8s/spark/apptest/tester/tester.sh
  k8s/spark/apptest/tester/tests/spark-tests.yaml
  k8s/spark/chart/spark/Chart.yaml
  k8s/spark/chart/spark/logo.png
  k8s/spark/chart/spark/templates/application.yaml
  k8s/spark/chart/spark/templates/spark-configmap.yaml
  k8s/spark/chart/spark/templates/spark-master-services.yaml
  k8s/spark/chart/spark/templates/spark-master-statefulset.yaml
  k8s/spark/chart/spark/templates/spark-worker-deployment.yaml
  k8s/spark/chart/spark/templates/spark-worker-services.yaml
  k8s/spark/chart/spark/values.yaml
  k8s/spark/deployer/Dockerfile
  k8s/spark/resources/spark-k8s-app-architecture.png
  k8s/spark/schema.yaml
Labels: kind/k8s, documentation

#1785 VM - Jenkins - removed API token generation to avoid UI error
  vm/chef/cookbooks/jenkins/files/jenkins
Labels: kind/vm

#1791 K8s - Bump marketplace-tools to 0.11.0
  cloudbuild-k8s.yaml
  k8s/MARKETPLACE_TOOLS_TAG
Labels: kind/k8s

#1801 Docker - Keycloak - patch h2database
  docker/keycloak/18/debian11/18.0/Dockerfile
  docker/keycloak/templates/Dockerfile.template
  docker/keycloak/versions.yaml
Labels: kind/docker

#1803 Docker - Knative - Update baseimage
  docker/knative/1/debian10/1.3/Dockerfile
  docker/knative/1/debian11/1.3/Dockerfile
  docker/knative/templates/debian11/Dockerfile.template
  docker/knative/versions.yaml
Labels: kind/docker

#1790 Docker - Superset - Add container
  docker/superset/1/debian11/1.5/Dockerfile
  docker/superset/1/debian11/1.5/docker-entrypoint.sh
  docker/superset/CONTRIBUTING.md
  docker/superset/LICENSE
  docker/superset/README.md
  docker/superset/templates/Dockerfile.template
  docker/superset/templates/docker-entrypoint.sh
  docker/superset/tests/functional_tests/running_test.yaml
  docker/superset/versions.yaml
Labels: kind/docker, documentation

#1806 Docker - Hydra - Add container
  docker/hydra/1/debian11/1.11/Dockerfile
  docker/hydra/CONTRIBUTING.md
  docker/hydra/LICENSE
  docker/hydra/README.md
  docker/hydra/templates/Dockerfile.template
  docker/hydra/tests/functional_tests/functional_test.yaml
  docker/hydra/versions.yaml
Labels: kind/docker, documentation

#1810 Docker - Spark - Update source to stable releases
  docker/spark/3/debian11/3.3/Dockerfile
  docker/spark/templates/3/Dockerfile.template
  docker/spark/versions.yaml
Labels: kind/docker

#1808 K8S - Airflow - small test improvements
  k8s/airflow/apptest/tester/tests/apache-airflow.yaml
  k8s/airflow/chart/airflow/templates/webserver/webserver-deployment.yaml
Labels: kind/k8s

#1811 Docker - Superset- added StatsD exporter
  docker/superset/1/debian11/1.5/Dockerfile
  docker/superset/exporter/Dockerfile
  docker/superset/templates/Dockerfile.template
  docker/superset/templates/exporter/Dockerfile.template
  docker/superset/versions.yaml
Labels: kind/docker

#1814 Docker - Statsd-exporter - fixed binary file
  docker/superset/exporter/Dockerfile
  docker/superset/templates/exporter/Dockerfile.template
Labels: kind/docker

#1817 Docker - Zookeeper - Debian11 upgrade and upgrade to 3.8
  docker/zookeeper/3/debian11/3.7/Dockerfile
  docker/zookeeper/3/debian11/3.7/docker-entrypoint.sh
  docker/zookeeper/3/debian11/3.8/Dockerfile
  docker/zookeeper/3/debian11/3.8/docker-entrypoint.sh
  docker/zookeeper/exporter/Dockerfile
  docker/zookeeper/templates/debian11/Dockerfile.template
  docker/zookeeper/templates/debian11/docker-entrypoint.sh
  docker/zookeeper/versions.yaml
Labels: kind/docker

#1804 K8s - Superset - Add solution
  k8s/superset/Makefile
  k8s/superset/README.md
  k8s/superset/apptest/deployer/schema.yaml
  k8s/superset/apptest/deployer/superset/templates/tester.yaml
  k8s/superset/apptest/deployer/superset/values.yaml
  k8s/superset/apptest/tester/Dockerfile
  k8s/superset/apptest/tester/tester.sh
  k8s/superset/apptest/tester/tests/postgresql-tests.yaml
  k8s/superset/apptest/tester/tests/redis-tests.yaml
  k8s/superset/apptest/tester/tests/superset-tests.yaml
  k8s/superset/chart/superset/Chart.yaml
  k8s/superset/chart/superset/files/redis_ping_liveness_local.sh
  k8s/superset/chart/superset/files/redis_ping_readiness_local.sh
  k8s/superset/chart/superset/logo.png
  k8s/superset/chart/superset/templates/application.yaml
  k8s/superset/chart/superset/templates/configmap.yaml
  k8s/superset/chart/superset/templates/postgresql-service.yaml
  k8s/superset/chart/superset/templates/postgresql-sts.yaml
  k8s/superset/chart/superset/templates/postgresql-tls.yaml
  k8s/superset/chart/superset/templates/redis-configmap.yaml
  k8s/superset/chart/superset/templates/redis-secrets.yaml
  k8s/superset/chart/superset/templates/redis-services.yaml
  k8s/superset/chart/superset/templates/redis-statefulset.yaml
  k8s/superset/chart/superset/templates/superset-secret.yaml
  k8s/superset/chart/superset/templates/superset-service.yaml
  k8s/superset/chart/superset/templates/superset-statefulset.yaml
  k8s/superset/chart/superset/values.yaml
  k8s/superset/deployer/Dockerfile
  k8s/superset/schema.yaml
Labels: kind/k8s, documentation
