Repository GoogleCloudPlatform/click-to-deploy, pull requests merged in 2022-03, with the labels that each got.

#1643 [gitlab] Docker images updates - 2022-02-28
  docker/gitlab/14/debian10/14.8/Dockerfile
  docker/gitlab/14/debian10/14.8/assets/generate-release
  docker/gitlab/14/debian10/14.8/assets/gitlab.rb
  docker/gitlab/14/debian10/14.8/assets/gitlab_sysctl.rb
  docker/gitlab/14/debian10/14.8/assets/setup
  docker/gitlab/14/debian10/14.8/assets/sshd_config
  docker/gitlab/14/debian10/14.8/assets/update-permissions
  docker/gitlab/14/debian10/14.8/assets/wrapper
  docker/gitlab/tests/functional_tests/health_test.yaml
  docker/gitlab/versions.yaml
Labels: kind/docker

#1644 [mediawiki] Docker images updates - 2022-02-28
  docker/mediawiki/1/debian9/1.36/Dockerfile
  docker/mediawiki/1/debian9/1.37/Dockerfile
  docker/mediawiki/versions.yaml
Labels: kind/docker

#1662 VM - Tomcat - Upgrade to 10.0.17
  vm/chef/cookbooks/tomcat/attributes/default.rb
  vm/chef/cookbooks/tomcat/recipes/default.rb
Labels: kind/vm

#1661 VM - Resourcespace - Upgrade to 9.8
  vm/chef/cookbooks/resourcespace/attributes/default.rb
Labels: kind/vm

#1660 VM - Redmine - Upgrade to 4.2.4
  vm/chef/cookbooks/redmine/attributes/default.rb
Labels: kind/vm

#1658 VM - Prestashop - Upgrade to 1.7.8.4
  vm/chef/cookbooks/prestashop/attributes/default.rb
Labels: kind/vm

#1656 VM - Kubernetes Sandbox - Upgrade to 1.22.4
  vm/chef/cookbooks/kubernetessandbox/attributes/default.rb
Labels: kind/vm

#1654 VM - Grafana - Upgrade to 8.4.2
  vm/chef/cookbooks/grafana/attributes/default.rb
Labels: kind/vm

#1653 VM - EspoCRM - Upgrade to 7.0.9
  vm/chef/cookbooks/espocrm/attributes/default.rb
Labels: kind/vm

#1666 VM - Jenkins update to 2.332.1
  vm/tests/solutions/spec/jenkins/ports_spec.rb
Labels: kind/vm

#1664 VM - Nodejs - update to version 17.x
  vm/chef/cookbooks/nodejs/attributes/default.rb
  vm/chef/cookbooks/nodejs/recipes/default.rb
Labels: kind/vm

#1663 VM - Pimcore - update to version 10.3.2
  vm/chef/cookbooks/pimcore/attributes/default.rb
Labels: kind/vm

#1675 Docker - Knative - Docker dummy file
  docker/knative/1/debian10/1.3/Dockerfile
  docker/knative/CONTRIBUTING.md
  docker/knative/LICENSE
  docker/knative/README.md
  docker/knative/templates/debian10/Dockerfile.template
  docker/knative/versions.yaml
Labels: kind/docker, documentation

#1682 K8s - Bump marketplace-tools to 0.10.19
  k8s/MARKETPLACE_TOOLS_TAG
Labels: kind/k8s

#1685 VM - Kafka - Upgrade to 3.1.0 and fix authentication
  vm/chef/cookbooks/kafka/files/c2d-service.sh
  vm/chef/cookbooks/kafka/files/kafka
  vm/chef/cookbooks/kafka/files/kafka-utils
  vm/chef/cookbooks/kafka/files/zk-acls
  vm/chef/cookbooks/kafka/recipes/default.rb
  vm/tests/solutions/spec/kafka/c2d_startup_spec.rb
Labels: kind/vm

#1681 VM - MariaDB - update to version 10.7.x
  vm/chef/cookbooks/mariadb/attributes/default.rb
Labels: kind/vm

#1680 VM - Mattermost - upgrade to version 6.5.0
  vm/chef/cookbooks/mattermost/attributes/default.rb
  vm/chef/cookbooks/mattermost/files/mattermost-utils
Labels: kind/vm

#1679 VM - Mautic - update to version 4.2.0
  vm/chef/cookbooks/mautic/attributes/default.rb
  vm/chef/cookbooks/mautic/recipes/default.rb
Labels: kind/vm

#1649 Vm - Zabbix - upgrade to version 6.0.1
  vm/chef/cookbooks/zabbix/attributes/default.rb
  vm/chef/cookbooks/zabbix/metadata.rb
  vm/chef/cookbooks/zabbix/recipes/default.rb
  vm/chef/cookbooks/zabbix/templates/default/opt-c2d-scripts-zabbix.erb
  vm/chef/cookbooks/zabbix/templates/default/zabbix-utils
  vm/tests/solutions/spec/zabbix/c2d_startup_spec.rb
  vm/tests/solutions/spec/zabbix/ports_spec.rb
Labels: kind/vm

#1688 VM - Dolibarr - upgrade to version 15.0.1
  vm/chef/cookbooks/dolibarr/attributes/default.rb
  vm/chef/cookbooks/dolibarr/recipes/default.rb
Labels: kind/vm

#1683 VM - Limesurvey - upgrade to veresion 5.3.5
  vm/chef/cookbooks/limesurvey/attributes/default.rb
  vm/chef/cookbooks/limesurvey/files/limesurvey
  vm/chef/cookbooks/limesurvey/metadata.rb
  vm/chef/cookbooks/limesurvey/recipes/default.rb
Labels: kind/vm

#1687 VM - Piwik - update to version 4.8.0
  vm/chef/cookbooks/piwik/recipes/default.rb
  vm/chef/cookbooks/piwik/templates/default/install-piwik.json.erb
  vm/chef/cookbooks/piwik/templates/default/install-piwik.php.erb
  vm/chef/cookbooks/piwik/templates/default/piwik.erb
  vm/tests/solutions/spec/piwik/index_page_spec.rb
Labels: kind/vm

#1697 VMs - Test fix for Stackdriver logging and ops-agent
  vm/tests/solutions/spec/__common__/stackdriver_installed.rb
  vm/tests/solutions/spec/memcached/ops_agent_spec.rb
  vm/tests/solutions/spec/memcached/stackdriver_spec.rb
Labels: kind/vm

#1686 VM - General Purpose - Update Debian and Ops Agent
  vm/packer/templates/general-purpose-cloud-vm/packer.in.json
  vm/tests/solutions/spec/general-purpose-cloud-vm/ops_agent_spec.rb
  vm/tests/solutions/spec/general-purpose-cloud-vm/stackdriver_installed.rb
Labels: kind/vm
