Repository GoogleCloudPlatform/click-to-deploy, pull requests merged in 2022-10, with the labels that each got.

#1880 Docker - Conjur - Add solution
  docker/conjur/1/debian11/1.18/Dockerfile
  docker/conjur/1/debian11/1.18/entrypoint.sh
  docker/conjur/1/debian11/1.18/run_test.sh
  docker/conjur/1/debian11/1.18/sample_policy.yaml
  docker/conjur/CONTRIBUTING.md
  docker/conjur/LICENSE
  docker/conjur/README.md
  docker/conjur/templates/Dockerfile.template
  docker/conjur/templates/entrypoint.sh
  docker/conjur/templates/run_test.sh
  docker/conjur/templates/sample_policy.yaml
  docker/conjur/tests/functional_tests/running_test.yaml
  docker/conjur/versions.yaml
Labels: kind/docker, documentation

#1909 Do not use Service Account Key for Packer
  cloudbuild-vm.yaml
  vm/IMAGEBUILDER_TAG
Labels: kind/vm

#1910 Docker - Conjur - Fix security issues
  docker/conjur/1/debian11/1.18/Dockerfile
  docker/conjur/templates/Dockerfile.template
Labels: kind/docker, documentation

#1893 [mediawiki] Docker images updates - 2022-08-30
  docker/mediawiki/1/debian11/1.37/Dockerfile
  docker/mediawiki/1/debian11/1.38/Dockerfile
  docker/mediawiki/versions.yaml
Labels: kind/docker

#1898 Docker - Falco - added openssl package
  docker/falco/0/debian11/0.32/Dockerfile
  docker/falco/templates/Dockerfile.template
Labels: kind/docker

#1849 K8S - TiKV - Add solution
  k8s/tikv/Makefile
  k8s/tikv/README.md
  k8s/tikv/apptest/deployer/schema.yaml
  k8s/tikv/apptest/deployer/tikv/templates/tester.yaml
  k8s/tikv/apptest/tester/Dockerfile
  k8s/tikv/apptest/tester/tester.sh
  k8s/tikv/apptest/tester/tests/basic-suite.yaml
  k8s/tikv/chart/tikv/Chart.yaml
  k8s/tikv/chart/tikv/logo.png
  k8s/tikv/chart/tikv/templates/application.yaml
  k8s/tikv/chart/tikv/templates/pd-statefulset.yaml
  k8s/tikv/chart/tikv/templates/pd-svc.yaml
  k8s/tikv/chart/tikv/templates/tikv-config.yaml
  k8s/tikv/chart/tikv/templates/tikv-statefulset.yaml
  k8s/tikv/chart/tikv/templates/tikv-svc.yaml
  k8s/tikv/chart/tikv/values.yaml
  k8s/tikv/deployer/Dockerfile
  k8s/tikv/resources/tikv-k8s-app-architecture.png
  k8s/tikv/schema.yaml
  k8s/tikv/scripts/backup.sh
  k8s/tikv/scripts/restore.sh
Labels: kind/k8s, documentation

#1914 K8s - Falco - Upgrade to 0.32
  k8s/falco/Makefile
Labels: kind/k8s

#1915 Docker - neo4j - Upgrade to 4.4.11
  docker/neo4j/4/debian11/4.4/Dockerfile
  docker/neo4j/versions.yaml
Labels: kind/docker

#1906 Docker - Gogs - Add solution
  docker/gogs/0/debian11/0.12/Dockerfile
  docker/gogs/0/debian11/0.12/app.ini.env
  docker/gogs/0/debian11/0.12/entrypoint.sh
  docker/gogs/0/debian11/0.12/run_test.sh
  docker/gogs/README.md
  docker/gogs/templates/Dockerfile.template
  docker/gogs/templates/app.ini.env
  docker/gogs/templates/entrypoint.sh
  docker/gogs/templates/run_test.sh
  docker/gogs/tests/functional_tests/running_test.yaml
  docker/gogs/versions.yaml
Labels: kind/docker, documentation

#1921 Docker - Gogs - Fix entrypoint
  docker/gogs/0/debian11/0.12/entrypoint.sh
  docker/gogs/0/debian11/0.12/run_test.sh
  docker/gogs/README.md
  docker/gogs/templates/entrypoint.sh
  docker/gogs/templates/run_test.sh
Labels: kind/docker, documentation

#1926 Docker - Solr - Update to Debian11
  docker/solr/8/debian11/8.11/Dockerfile
  docker/solr/8/debian11/8.11/scripts/docker-entrypoint.sh
  docker/solr/8/debian11/8.11/scripts/init-var-solr
  docker/solr/8/debian11/8.11/scripts/oom_solr.sh
  docker/solr/8/debian11/8.11/scripts/precreate-core
  docker/solr/8/debian11/8.11/scripts/run-initdb
  docker/solr/8/debian11/8.11/scripts/solr-create
  docker/solr/8/debian11/8.11/scripts/solr-demo
  docker/solr/8/debian11/8.11/scripts/solr-fg
  docker/solr/8/debian11/8.11/scripts/solr-foreground
  docker/solr/8/debian11/8.11/scripts/solr-precreate
  docker/solr/8/debian11/8.11/scripts/start-local-solr
  docker/solr/8/debian11/8.11/scripts/stop-local-solr
  docker/solr/8/debian11/8.11/scripts/wait-for-solr.sh
  docker/solr/8/debian11/8.11/scripts/wait-for-zookeeper.sh
  docker/solr/README.md
  docker/solr/versions.yaml
Labels: kind/docker, documentation

#1934 Docker - jaeger-operator - Update version jaeger to 1.38.0 and GO to 1.19
  docker/jaeger-operator/1/debian11/1.38/Dockerfile
  docker/jaeger-operator/versions.yaml
Labels: kind/docker

#1918 Docker - Hazelcast - Upgrade to Debian 11 and Cleanup Hazelcast 4.x v…
  docker/hazelcast/4/debian10/hazelcast/4.2/Dockerfile
  docker/hazelcast/4/debian10/hazelcast/4.2/get-hz-all-url.sh
  docker/hazelcast/4/debian10/hazelcast/4.2/log4j2.properties
  docker/hazelcast/4/debian10/hazelcast/4.2/start-hazelcast.sh
  docker/hazelcast/5/debian10/hazelcast-mc/5.1/Dockerfile
  docker/hazelcast/5/debian10/hazelcast-mc/5.1/mc-start.sh
  docker/hazelcast/5/debian10/hazelcast/5.1/jmx_agent_config.yaml
  docker/hazelcast/5/debian11/hazelcast-mc/5.1/Dockerfile
  docker/hazelcast/5/debian11/hazelcast-mc/5.1/mc-start.sh
  docker/hazelcast/5/debian11/hazelcast/5.1/Dockerfile
  docker/hazelcast/5/debian11/hazelcast/5.1/get-hz-all-url.sh
  docker/hazelcast/5/debian11/hazelcast/5.1/jmx_agent_config.yaml
  docker/hazelcast/5/debian11/hazelcast/5.1/log4j2.properties
  docker/hazelcast/README.md
  docker/hazelcast/versions.yaml
Labels: kind/docker, documentation

#1932 [mediawiki] Docker images updates - 2022-10-17
  docker/mediawiki/1/debian11/1.37/Dockerfile
  docker/mediawiki/1/debian11/1.38/Dockerfile
  docker/mediawiki/versions.yaml
Labels: kind/docker

#1928 [drupal] Docker images updates - 2022-10-17
  docker/drupal/9/php8/debian9/9.3/apache/Dockerfile
  docker/drupal/9/php8/debian9/9.4/apache/Dockerfile
  docker/drupal/README.md
  docker/drupal/versions.yaml
Labels: kind/docker, documentation

#1929 [gitlab] Docker images updates - 2022-10-17
  docker/gitlab/14/debian11/14.10/Dockerfile
  docker/gitlab/15/debian11/15.4/Dockerfile
  docker/gitlab/15/debian11/15.4/assets/generate-release
  docker/gitlab/15/debian11/15.4/assets/gitlab.rb
  docker/gitlab/15/debian11/15.4/assets/gitlab_sysctl.rb
  docker/gitlab/15/debian11/15.4/assets/setup
  docker/gitlab/15/debian11/15.4/assets/sshd_config
  docker/gitlab/15/debian11/15.4/assets/update-permissions
  docker/gitlab/15/debian11/15.4/assets/wrapper
  docker/gitlab/versions.yaml
Labels: kind/docker

#1900 K8S - Conjur - Add solution
  k8s/conjur/Makefile
  k8s/conjur/README.md
  k8s/conjur/apptest/deployer/conjur/templates/tester.yaml
  k8s/conjur/apptest/deployer/schema.yaml
  k8s/conjur/apptest/tester/Dockerfile
  k8s/conjur/apptest/tester/tester.sh
  k8s/conjur/apptest/tester/tests/conjur.yaml
  k8s/conjur/chart/conjur/Chart.yaml
  k8s/conjur/chart/conjur/files/pg_hba.conf
  k8s/conjur/chart/conjur/files/postgresql.conf
  k8s/conjur/chart/conjur/logo.png
  k8s/conjur/chart/conjur/templates/_helpers/pods.tpl
  k8s/conjur/chart/conjur/templates/application.yaml
  k8s/conjur/chart/conjur/templates/config/secret-config-envs.yaml
  k8s/conjur/chart/conjur/templates/conjur/conjur-deployment.yaml
  k8s/conjur/chart/conjur/templates/conjur/conjur-ingress.yaml
  k8s/conjur/chart/conjur/templates/conjur/conjur-service.yaml
  k8s/conjur/chart/conjur/templates/postgresql/postgresql-configmaps.yaml
  k8s/conjur/chart/conjur/templates/postgresql/postgresql-services.yaml
  k8s/conjur/chart/conjur/templates/postgresql/postgresql-statefulset.yaml
  k8s/conjur/chart/conjur/values.yaml
  k8s/conjur/deployer/Dockerfile
  k8s/conjur/resources/conjur-k8s-app-architecture.png
  k8s/conjur/resources/service-accounts.yaml
  k8s/conjur/schema.yaml
Labels: kind/k8s, documentation

#1920 K8S - Gogs - Add solution
  k8s/gogs/Makefile
  k8s/gogs/README.md
  k8s/gogs/apptest/deployer/gogs/templates/tester.yaml
  k8s/gogs/apptest/deployer/schema.yaml
  k8s/gogs/apptest/tester/Dockerfile
  k8s/gogs/apptest/tester/tester.sh
  k8s/gogs/apptest/tester/tests/gogs.yaml
  k8s/gogs/chart/gogs/Chart.yaml
  k8s/gogs/chart/gogs/files/pg_hba.conf
  k8s/gogs/chart/gogs/files/postgresql.conf
  k8s/gogs/chart/gogs/logo.png
  k8s/gogs/chart/gogs/templates/_helpers/pods.tpl
  k8s/gogs/chart/gogs/templates/application.yaml
  k8s/gogs/chart/gogs/templates/config/secret-config-envs.yaml
  k8s/gogs/chart/gogs/templates/gogs/gogs-deployment.yaml
  k8s/gogs/chart/gogs/templates/gogs/gogs-ingress.yaml
  k8s/gogs/chart/gogs/templates/gogs/gogs-service.yaml
  k8s/gogs/chart/gogs/templates/nfs/nfs_clusterip_service.yaml
  k8s/gogs/chart/gogs/templates/nfs/nfs_server_deployment.yaml
  k8s/gogs/chart/gogs/templates/nfs/nfs_server_pvc.yaml
  k8s/gogs/chart/gogs/templates/postgresql/postgresql-configmaps.yaml
  k8s/gogs/chart/gogs/templates/postgresql/postgresql-services.yaml
  k8s/gogs/chart/gogs/templates/postgresql/postgresql-statefulset.yaml
  k8s/gogs/chart/gogs/values.yaml
  k8s/gogs/deployer/Dockerfile
  k8s/gogs/resources/gogs-k8s-app-architecture.png
  k8s/gogs/schema.yaml
Labels: kind/k8s, documentation

#1942 Docker - prometheus-operator - update to version 0.60.1
  docker/prometheus-operator/0/0.60/Dockerfile
  docker/prometheus-operator/versions.yaml
Labels: kind/docker

#1941 Docker - Dragonfly2 - Create solution
  docker/dragonfly/2/debian11/2.0/dragonfly-dfget2/Dockerfile
  docker/dragonfly/2/debian11/2.0/dragonfly-dfget2/config/dfget.yaml
  docker/dragonfly/2/debian11/2.0/dragonfly-dfget2/docker-entrypoint.sh
  docker/dragonfly/2/debian11/2.0/dragonfly-manager2/Dockerfile
  docker/dragonfly/2/debian11/2.0/dragonfly-manager2/config/manager.yaml
  docker/dragonfly/2/debian11/2.0/dragonfly-manager2/docker-entrypoint.sh
  docker/dragonfly/2/debian11/2.0/dragonfly-scheduler2/Dockerfile
  docker/dragonfly/2/debian11/2.0/dragonfly-scheduler2/config/scheduler.yaml
  docker/dragonfly/2/debian11/2.0/dragonfly-scheduler2/docker-entrypoint.sh
  docker/dragonfly/2/debian11/2.0/dragonfly-seed-peer2/Dockerfile
  docker/dragonfly/2/debian11/2.0/dragonfly-seed-peer2/config/seed-peer.yaml
  docker/dragonfly/2/debian11/2.0/dragonfly-seed-peer2/docker-entrypoint.sh
  docker/dragonfly/README.md
  docker/dragonfly/templates/dragonfly-dfget2/Dockerfile.template
  docker/dragonfly/templates/dragonfly-dfget2/config/dfget.yaml
  docker/dragonfly/templates/dragonfly-dfget2/docker-entrypoint.sh
  docker/dragonfly/templates/dragonfly-manager2/Dockerfile.template
  docker/dragonfly/templates/dragonfly-manager2/config/manager.yaml
  docker/dragonfly/templates/dragonfly-manager2/docker-entrypoint.sh
  docker/dragonfly/templates/dragonfly-scheduler2/Dockerfile.template
  docker/dragonfly/templates/dragonfly-scheduler2/config/scheduler.yaml
  docker/dragonfly/templates/dragonfly-scheduler2/docker-entrypoint.sh
  docker/dragonfly/templates/dragonfly-seed-peer2/Dockerfile.template
  docker/dragonfly/templates/dragonfly-seed-peer2/config/seed-peer.yaml
  docker/dragonfly/templates/dragonfly-seed-peer2/docker-entrypoint.sh
  docker/dragonfly/tests/functional_tests/dfget_test.yaml
  docker/dragonfly/tests/functional_tests/manager_test.yaml
  docker/dragonfly/tests/functional_tests/scheduler_test.yaml
  docker/dragonfly/tests/functional_tests/seed-peer_test.yaml
  docker/dragonfly/versions.yaml
Labels: kind/docker, documentation

#1916 Configure Falco to work with GKE Sandbox
  k8s/falco/chart/falco/Chart.yaml
  k8s/falco/chart/falco/templates/daemonset.yaml
  k8s/falco/chart/falco/values.yaml
Labels: kind/k8s

#1945 Docker - neo4j - Update to 4.4.12
  docker/neo4j/4/debian11/4.4/Dockerfile
  docker/neo4j/versions.yaml
Labels: kind/docker

#1947 Docker - Dragonfly - Create solution.
  docker/dragonfly/tests/functional_tests/dfget_test.yaml
  docker/dragonfly/tests/functional_tests/scheduler_test.yaml
  docker/dragonfly/tests/functional_tests/seed-peer_test.yaml
Labels: kind/docker

#1948 Docker - Nuclio - Update version and fix envs
  docker/nuclio/1/debian11/nuclio-controller/1.10/Dockerfile
  docker/nuclio/1/debian11/nuclio-dashboard/1.10/Dockerfile
  docker/nuclio/nuclio_builder/Dockerfile
  docker/nuclio/nuclio_builder/docker-entrypoint.sh
  docker/nuclio/nuclio_builder/patch
  docker/nuclio/nuclio_builder/scripts/controller
  docker/nuclio/nuclio_builder/scripts/dashboard
  docker/nuclio/templates/nuclio_builder/Dockerfile.template
  docker/nuclio/templates/nuclio_builder/docker-entrypoint.sh
  docker/nuclio/templates/nuclio_builder/patch
  docker/nuclio/templates/nuclio_builder/scripts/controller
  docker/nuclio/templates/nuclio_builder/scripts/dashboard
  docker/nuclio/templates/nuclio_controller/Dockerfile.template
  docker/nuclio/templates/nuclio_dashboard/Dockerfile.template
  docker/nuclio/versions.yaml
Labels: kind/docker

#1951 Docker - Nuclio - Fix security issues
  docker/nuclio/1/debian11/nuclio-controller/1.10/Dockerfile
  docker/nuclio/1/debian11/nuclio-dashboard/1.10/Dockerfile
  docker/nuclio/templates/nuclio_controller/Dockerfile.template
  docker/nuclio/templates/nuclio_dashboard/Dockerfile.template
  docker/nuclio/versions.yaml
Labels: kind/docker

#1952 Docker - Nuclio - Update expat library
  docker/nuclio/1/debian11/nuclio-dashboard/1.10/Dockerfile
  docker/nuclio/templates/nuclio_dashboard/Dockerfile.template
Labels: kind/docker
