Repository GoogleCloudPlatform/click-to-deploy, pull requests merged in 2022-08, with the labels that each got.

#1847 [solr] Docker images updates - 2022-07-18
  docker/solr/8/debian10/8.11/Dockerfile
  docker/solr/versions.yaml
Labels: kind/docker

#1861 [neo4j] Docker images updates - 2022-08-01
  docker/neo4j/4/debian9/4.4/Dockerfile
  docker/neo4j/versions.yaml
Labels: kind/docker

#1865 [hazelcast] Docker images updates - 2022-08-02
  docker/hazelcast/5/debian10/hazelcast-mc/5.1/Dockerfile
  docker/hazelcast/5/debian10/hazelcast/5.1/Dockerfile
  docker/hazelcast/versions.yaml
Labels: kind/docker

#1866 [nuclio] Docker images updates - 2022-08-02
  docker/nuclio/nuclio_builder/Dockerfile
  docker/nuclio/nuclio_builder/patch
  docker/nuclio/templates/nuclio_builder/patch
  docker/nuclio/versions.yaml
Labels: kind/docker

#1867 [prometheus-operator] Docker images updates - 2022-08-02
  docker/prometheus-operator/0/0.58/Dockerfile
  docker/prometheus-operator/templates/Dockerfile.template
  docker/prometheus-operator/versions.yaml
Labels: kind/docker

#1859 K8S - Superset - application.yaml updates
  k8s/superset/chart/superset/templates/application.yaml
Labels: kind/k8s

#1783 K8S - Cassandra - update to 4.0.x
  k8s/cassandra/Makefile
  k8s/cassandra/README.md
  k8s/cassandra/apptest/tester/tests/basic-suite.yaml
  k8s/cassandra/chart/cassandra/templates/application.yaml
Labels: kind/k8s, documentation

#1870 VM - Apache 2 - Upgrade Debian and add ops-agent
  vm/packer/templates/apache2/packer.in.json
  vm/tests/solutions/spec/apache2/ops_agent_spec.rb
  vm/tests/solutions/spec/apache2/stackdriver_spec.rb
Labels: kind/vm

#1873 VM - Redash - Upgrade Debian
  vm/packer/templates/redash/packer.in.json
  vm/tests/solutions/spec/redash/ops_agent_spec.rb
  vm/tests/solutions/spec/redash/stackdriver_spec.rb
Labels: kind/vm

#1871 VM - DokuWiki - Upgrade Debian and fix tests
  vm/packer/templates/dokuwiki/packer.in.json
  vm/tests/solutions/spec/dokuwiki/index_page_spec.rb
  vm/tests/solutions/spec/dokuwiki/ops_agent_spec.rb
  vm/tests/solutions/spec/dokuwiki/stackdriver_spec.rb
Labels: kind/vm

#1872 VM - ERP Next - Upgrade Debian and fix build
  vm/chef/cookbooks/erpnext/attributes/default.rb
  vm/packer/templates/erpnext/packer.in.json
  vm/tests/solutions/spec/erpnext/ops_agent_spec.rb
  vm/tests/solutions/spec/erpnext/stackdriver_spec.rb
Labels: kind/vm

#1869 VM - WordPress-HA - Upgrade and Avoid exposing WP without setup
  vm/chef/cookbooks/c2d-config/attributes/default.rb
  vm/chef/cookbooks/c2d-config/files/c2d-utils
  vm/chef/cookbooks/wordpress-ha/attributes/default.rb
  vm/chef/cookbooks/wordpress-ha/files/wordpress-ha-setup
  vm/chef/cookbooks/wordpress-ha/recipes/default.rb
Labels: kind/vm

#1877 K8S - Superset - README fixes
  k8s/superset/README.md
Labels: kind/k8s, documentation

#1879 Docker - Superset - added Bigquery support
  docker/superset/1/debian11/1.5/Dockerfile
  docker/superset/templates/Dockerfile.template
Labels: kind/docker

#1885 [drupal] Docker images updates - 2022-08-22
  docker/drupal/9/php8/debian9/9.3/apache/Dockerfile
  docker/drupal/9/php8/debian9/9.4/apache/Dockerfile
  docker/drupal/versions.yaml
Labels: kind/docker

#1888 Docker - Jaeger-operator - update to Debian 11 and latest version
  docker/jaeger-operator/1/debian11/1.37/Dockerfile
  docker/jaeger-operator/versions.yaml
Labels: kind/docker

#1887 Docker - neo4j - Upgrade Debian and neo4j to 4.4.10
  docker/neo4j/4/debian11/4.4/Dockerfile
  docker/neo4j/4/debian11/4.4/docker-entrypoint.sh
  docker/neo4j/templates/Dockerfile.template
  docker/neo4j/versions.yaml
Labels: kind/docker

#1868 Add dockertools
  docker.Dockerfile
  tools/WORKSPACE
  tools/cloudbuild-dockertools.yaml
  tools/dockertools.Dockerfile
  tools/dockerversioning/README.md
  tools/dockerversioning/scripts/cloudbuild/BUILD.bazel
  tools/dockerversioning/scripts/cloudbuild/main.go
  tools/dockerversioning/scripts/dockerfiles/BUILD.bazel
  tools/dockerversioning/scripts/dockerfiles/main.go
  tools/dockerversioning/versions/BUILD.bazel
  tools/dockerversioning/versions/versions.go
Labels: kind/docker, documentation

#1890 Docker - Change machineType for Gitlab solution
  docker/gitlab/tests/functional_tests/health_test.yaml
  docker/gitlab/versions.yaml
Labels: kind/docker

#1891 [falco] Docker images updates - 2022-08-30
  docker/falco/0/debian11/0.32/Dockerfile
  docker/falco/versions.yaml
Labels: kind/docker
