Repository GoogleCloudPlatform/click-to-deploy, pull requests merged in 2023-02, with the labels that each got.

#2096 VM - kafka - Version updated from 3.1.0 to 3.3.1/ Debian version updated from 10 to 11/ added google-cloud-ops-agent
  vm/chef/cookbooks/kafka/attributes/default.rb
  vm/packer/templates/kafka/packer.in.json
  vm/tests/solutions/spec/kafka/ops_agent_spec.rb
  vm/tests/solutions/spec/kafka/stackdriver_spec.rb
Labels: kind/vm

#2092 VM - espocrm - Version updated from 7.0.9 to 7.2.7/ Debian updated from 10 to 11/ added google-cloud-ops-agent
  vm/chef/cookbooks/espocrm/attributes/default.rb
  vm/packer/templates/espocrm/packer.in.json
  vm/tests/solutions/spec/espocrm/ops_agent_spec.rb
  vm/tests/solutions/spec/espocrm/stackdriver_spec.rb
Labels: kind/vm

#2094 VM - wildfly - Version updated from 26.0.1 to 27.0.1/ Debian version updated from 10 to 11/ added google-cloud -ops-agent
  vm/chef/cookbooks/wildfly/attributes/default.rb
  vm/packer/templates/wildfly/packer.in.json
  vm/tests/solutions/spec/wildfly/ops_agent_spec.rb
  vm/tests/solutions/spec/wildfly/stackdriver_spec.rb
Labels: kind/vm

#2097 K8S - Mediawiki - use fresh apache exporter
  k8s/mediawiki/Makefile
Labels: kind/k8s

#2098 K8S - Wordpress - update version
  k8s/wordpress/Makefile
  k8s/wordpress/README.md
  k8s/wordpress/apptest/tester/tests/common/wordpress-suite.yaml
  k8s/wordpress/chart/wordpress/templates/_helpers/pods.tpl
  k8s/wordpress/chart/wordpress/templates/wordpress-statefulset.yaml
Labels: kind/k8s, documentation

#2099 VM - grafana - Version updated from 8.4.2 to 9.3.2/ Debian version updated from 10 to 11/ added google-cloud-ops-agent
  vm/chef/cookbooks/grafana/attributes/default.rb
  vm/packer/templates/grafana/packer.in.json
  vm/tests/solutions/spec/grafana/ops_agent_spec.rb
  vm/tests/solutions/spec/grafana/stackdriver_spec.rb
Labels: kind/vm

#2102 VM - opencart - Upgrade from 3.0.3.8 to 4.0.1.1
  vm/chef/cookbooks/opencart/attributes/default.rb
Labels: kind/vm

#2104 VM - redash - Version upgrade from 8.0.0 to 10.1.0
  vm/chef/cookbooks/redash/attributes/default.rb
Labels: kind/vm

#2106 Docker - Nuclio - update version
  docker/nuclio/1/debian11/nuclio-controller/1.11/Dockerfile
  docker/nuclio/1/debian11/nuclio-dashboard/1.10/Dockerfile
  docker/nuclio/1/debian11/nuclio-dashboard/1.11/Dockerfile
  docker/nuclio/templates/nuclio_controller/Dockerfile.template
  docker/nuclio/templates/nuclio_dashboard/Dockerfile.template
  docker/nuclio/versions.yaml
Labels: kind/docker

#2107 K8S - Nuclio - update version
  k8s/nuclio/Makefile
Labels: kind/k8s

#2109 Docker - Airflow - update pip version
  docker/airflow/2/debian11/2.5/Dockerfile
  docker/airflow/versions.yaml
Labels: kind/k8s, kind/docker

#2105 k8s - Airflow - Update version to 2.5.0
  k8s/airflow/Makefile
  k8s/airflow/apptest/tester/tests/apache-airflow.yaml
  k8s/airflow/chart/airflow/templates/config/secret-config-envs.yaml
  k8s/airflow/deployer/Dockerfile
Labels: kind/k8s

#2111 Docker - Airflow - Update README.md
  docker/airflow/README.md
Labels: kind/docker, documentation

#2113 Docker - C2D Debian 11 - add image
  docker/c2d-debian/11/debian11/Dockerfile
  docker/c2d-debian/README.md
  docker/c2d-debian/templates/Dockerfile.template
  docker/c2d-debian/versions.yaml
Labels: kind/docker, documentation

#2114 Docker - Conjur - Change baseimage, update version
  docker/conjur/1/debian11/1.19/Dockerfile
  docker/conjur/templates/Dockerfile.template
  docker/conjur/versions.yaml
Labels: kind/docker

#2115 Docker - Crate - Change baseimage, update version
  docker/crate/5/debian11/5.2/Dockerfile
  docker/crate/templates/Dockerfile.template
  docker/crate/versions.yaml
Labels: kind/docker

#2116 Docker - Gogs - Change baseimage
  docker/gogs/0/debian11/0.12/Dockerfile
  docker/gogs/templates/Dockerfile.template
  docker/gogs/versions.yaml
Labels: kind/docker

#2117 Docker - Harbor - update baseimage
  docker/harbor/2/debian11/2.7/Dockerfile
  docker/harbor/versions.yaml
Labels: kind/docker

#2119 Docker - Gitea - update baseimage
  docker/gitea/1/debian11/1.18/Dockerfile
  docker/gitea/templates/Dockerfile.template
  docker/gitea/versions.yaml
Labels: kind/docker

#2118 K8S - Harbor - update version
  k8s/harbor/Makefile
Labels: kind/k8s

#2121 Docker - Hydra - Update baseimage.
  docker/hydra/2/debian11/2.0/Dockerfile
  docker/hydra/templates/Dockerfile.template
  docker/hydra/versions.yaml
Labels: kind/docker

#2122 K8S -Crate - update version
  k8s/crate/Makefile
Labels: kind/k8s

#2123 K8S - Gogs - fix vulnerabilities
  k8s/gogs/Makefile
Labels: kind/k8s

#2120 K8s - Drupal - Upgrade to 9.4
  k8s/drupal/Makefile
  k8s/drupal/apptest/tester/Dockerfile
  k8s/drupal/apptest/tester/tests/common/drupal-suite.yaml
  k8s/drupal/apptest/tester/tests/external/drupal-external-suite.yaml
Labels: kind/k8s

#2124 Docker - Activemq, Airflow, Argo - update version
  docker/activemq/5/debian11/5.17/Dockerfile
  docker/activemq/templates/Dockerfile.template
  docker/activemq/versions.yaml
  docker/airflow/2/debian11/2.5/Dockerfile
  docker/airflow/versions.yaml
  docker/argo-workflows/3/debian11/3.4/Dockerfile
  docker/argo-workflows/templates/Dockerfile.template
  docker/argo-workflows/versions.yaml
Labels: kind/docker

#2125 Docker - Superset - Upgrade to 1.5.3 and use c2d-debian11
  docker/superset/1/debian11/1.5/Dockerfile
  docker/superset/exporter/Dockerfile
  docker/superset/templates/Dockerfile.template
  docker/superset/versions.yaml
Labels: kind/docker

#2126 Docker - Cert-manager, Django - update baseimages
  docker/cert-manager/1/debian11/1.11/Dockerfile
  docker/cert-manager/templates/cert-manager1/Dockerfile.template
  docker/cert-manager/versions.yaml
  docker/django/4/debian11/4.1/Dockerfile
  docker/django/exporter/Dockerfile
  docker/django/templates/exporter/Dockerfile.template
  docker/django/versions.yaml
Labels: kind/docker

#2127 K8S - Airflow, Drupal, Superset - fix vulnerabilities
  k8s/airflow/Makefile
  k8s/drupal/Makefile
  k8s/superset/Makefile
Labels: kind/k8s

#2128 Docker - prometheus-operator - Upgrade to 0.63
  docker/prometheus-operator/0/0.63/Dockerfile
  docker/prometheus-operator/versions.yaml
Labels: kind/docker

#2131 Docker - Kafka, Falco - update baseimage and version
  docker/falco/0/debian11/0.34/Dockerfile
  docker/falco/0/debian11/0.34/docker-entrypoint.sh
  docker/falco/exporter/Dockerfile
  docker/falco/templates/Dockerfile.template
  docker/falco/templates/exporter/Dockerfile.template
  docker/falco/versions.yaml
  docker/kafka/3/debian11/3.4/Dockerfile
  docker/kafka/3/debian11/3.4/scripts/create-message-topic-test.sh
  docker/kafka/3/debian11/3.4/scripts/create-topics.sh
  docker/kafka/3/debian11/3.4/scripts/docker-entrypoint.sh
  docker/kafka/3/debian11/3.4/scripts/overrides/0.9.0.1.sh
  docker/kafka/3/debian11/3.4/scripts/start-kafka.sh
  docker/kafka/3/debian11/3.4/scripts/versions.sh
  docker/kafka/exporter/Dockerfile
  docker/kafka/templates/debian11/Dockerfile.template
  docker/kafka/templates/exporter/Dockerfile.template
  docker/kafka/versions.yaml
Labels: kind/docker

#2136 [keycloak] Docker images updates - 2023-02-21-115602
  docker/keycloak/18/debian11/18.0/Dockerfile
  docker/keycloak/19/debian11/19.0/Dockerfile
  docker/keycloak/20/debian11/20.0/Dockerfile
  docker/keycloak/versions.yaml
Labels: kind/docker

#2138 [harbor] Docker images updates - 2023-02-21-120846
  docker/harbor/2/debian11/2.7/Dockerfile
  docker/harbor/versions.yaml
Labels: kind/docker

#2140 [mediawiki] Docker images updates - 2023-02-21-121225
  docker/mediawiki/1/debian11/1.39/Dockerfile
  docker/mediawiki/versions.yaml
Labels: kind/docker

#2144 [gitea] Docker images updates - 2023-02-21-120758
  docker/gitea/versions.yaml
Labels: kind/docker

#2142 [drupal] Docker images updates - 2023-02-21-120638
  docker/drupal/10/php8/debian11/10.0/apache/Dockerfile
  docker/drupal/10/php8/debian11/10.0/apache/docker-entrypoint.sh
  docker/drupal/10/php8/debian11/10.0/apache/makedb.php
  docker/drupal/9/php8/debian11/9.4/apache/Dockerfile
  docker/drupal/9/php8/debian11/9.4/apache/docker-entrypoint.sh
  docker/drupal/9/php8/debian11/9.4/apache/makedb.php
  docker/drupal/9/php8/debian11/9.5/apache/Dockerfile
  docker/drupal/9/php8/debian11/9.5/apache/docker-entrypoint.sh
  docker/drupal/9/php8/debian11/9.5/apache/makedb.php
  docker/drupal/versions.yaml
Labels: kind/docker

#2141 [nuclio] Docker images updates - 2023-02-21-121404
  docker/nuclio/1/debian11/nuclio-controller/1.11/Dockerfile
  docker/nuclio/1/debian11/nuclio-dashboard/1.11/Dockerfile
  docker/nuclio/versions.yaml
Labels: kind/docker

#2134 K8S - Kafka, Consul, Knative, Zookeeper - update deprecated apis
  k8s/consul/chart/consul/templates/application.yaml
  k8s/consul/chart/consul/templates/manifests.yaml
  k8s/kafka/chart/kafka/templates/application.yaml
  k8s/kafka/chart/kafka/templates/zk-pdb.yaml
  k8s/knative/chart/knative/templates/application.yaml
  k8s/knative/chart/knative/templates/istio/ingressgateway.yaml
  k8s/knative/chart/knative/templates/istio/istiod.yaml
  k8s/knative/chart/knative/templates/knative/eventing/webhook.yaml
  k8s/solr/chart/solr/templates/application.yaml
  k8s/zookeeper/chart/zookeeper/templates/application.yaml
  k8s/zookeeper/chart/zookeeper/templates/poddisruptionbudget.yaml
Labels: kind/k8s

#2133 K8S - Hydra - Fix the chart, update version
  k8s/hydra/Makefile
  k8s/hydra/README.md
  k8s/hydra/apptest/tester/Dockerfile
  k8s/hydra/apptest/tester/tests/basic-suite.yaml
  k8s/hydra/chart/hydra/Chart.yaml
  k8s/hydra/chart/hydra/templates/_helpers.tpl
  k8s/hydra/chart/hydra/templates/deployment.yaml
  k8s/hydra/chart/hydra/values.yaml
Labels: kind/k8s, documentation

#2148 Docker - peer-finder - Update base image and fix dependency
  docker/peer-finder/0/debian11/0.1/Dockerfile
  docker/peer-finder/0/debian11/0.1/LICENSE
  docker/peer-finder/0/debian11/0.1/peer-finder.go
  docker/peer-finder/templates/Dockerfile.template
  docker/peer-finder/versions.yaml
Labels: kind/docker

#2147 K8S - Consul, Kafka, Zookeeper - Update versions
  k8s/consul/Makefile
  k8s/kafka/Makefile
  k8s/kafka/apptest/tester/tests/kafka-exporter-test.yaml
  k8s/kafka/chart/kafka/templates/kafka-poddisruptionbudget.yaml
  k8s/zookeeper/Makefile
Labels: kind/k8s

#2132 K8s - InfluxDB - Upgrade to 2.6
  k8s/influxdb/Makefile
  k8s/influxdb/apptest/deployer/influxdb/templates/tester.yaml
  k8s/influxdb/apptest/tester/tests/basic-suite.yaml
  k8s/influxdb/chart/influxdb/templates/influxdb-secrets.yaml
  k8s/influxdb/chart/influxdb/templates/manifests.yaml
  k8s/influxdb/chart/influxdb/values.yaml
  k8s/influxdb/schema.yaml
Labels: kind/k8s

#2152 [hazelcast] k8s solution updates - 2023-02-27
  k8s/hazelcast/Makefile
  k8s/hazelcast/chart/hazelcast/templates/hazelcast-statefulset.yaml
Labels: kind/k8s

#2156 [joomla] k8s solution updates - 2023-02-27
  k8s/joomla/Makefile
Labels: kind/k8s

#2157 Docker - Jaeger-Operator - Update baseimage to c2d-debian11
  docker/jaeger-operator/1/debian11/1.40/Dockerfile
  docker/jaeger-operator/versions.yaml
Labels: kind/docker

#2158 Docker - Knative - Update version
  docker/knative/1/debian11/1.3/Dockerfile
  docker/knative/1/debian11/1.9/Dockerfile
  docker/knative/versions.yaml
Labels: kind/docker
