Repository GoogleCloudPlatform/click-to-deploy, pull requests merged in 2023-03, with the labels that each got.

#2151 K8S - Knative - Update version
  k8s/knative/Makefile
  k8s/knative/README.md
  k8s/knative/apptest/tester/Dockerfile
  k8s/knative/apptest/tester/tests/knative-serving.yaml
  k8s/knative/chart/knative/files/net-istio-configmap.yaml
  k8s/knative/chart/knative/files/sidecar-injector-configmap.yaml
  k8s/knative/chart/knative/templates/application.yaml
  k8s/knative/chart/knative/templates/cert-manager/cainjector.yaml
  k8s/knative/chart/knative/templates/cert-manager/cert-manager.yaml
  k8s/knative/chart/knative/templates/cert-manager/webhook.yaml
  k8s/knative/chart/knative/templates/crds/cert-manager-crd.yaml
  k8s/knative/chart/knative/templates/crds/eventing-crds.yaml
  k8s/knative/chart/knative/templates/crds/istio-crd.yaml
  k8s/knative/chart/knative/templates/crds/serving-crds.yaml
  k8s/knative/chart/knative/templates/istio/envoyfilters.yaml
  k8s/knative/chart/knative/templates/istio/ingressgateway.yaml
  k8s/knative/chart/knative/templates/istio/istio-configmap.yaml
  k8s/knative/chart/knative/templates/istio/istiod.yaml
  k8s/knative/chart/knative/templates/istio/roles.yaml
  k8s/knative/chart/knative/templates/istio/serviceaccounts.yaml
  k8s/knative/chart/knative/templates/istio/sidecar-injector-configmap.yaml
  k8s/knative/chart/knative/templates/istio/webhook.yaml
  k8s/knative/chart/knative/templates/knative/eventing/controller.yaml
  k8s/knative/chart/knative/templates/knative/eventing/knative-eventing-configmap.yaml
  k8s/knative/chart/knative/templates/knative/eventing/mtping.yaml
  k8s/knative/chart/knative/templates/knative/eventing/roles.yaml
  k8s/knative/chart/knative/templates/knative/eventing/serviceaccounts.yaml
  k8s/knative/chart/knative/templates/knative/eventing/webhook.yaml
  k8s/knative/chart/knative/templates/knative/serving/activator.yaml
  k8s/knative/chart/knative/templates/knative/serving/autoscaler.yaml
  k8s/knative/chart/knative/templates/knative/serving/controller.yaml
  k8s/knative/chart/knative/templates/knative/serving/domain-mapping.yaml
  k8s/knative/chart/knative/templates/knative/serving/knative-serving-configmap.yaml
  k8s/knative/chart/knative/templates/knative/serving/net-certmanager.yaml
  k8s/knative/chart/knative/templates/knative/serving/net-istio-configmap.yaml
  k8s/knative/chart/knative/templates/knative/serving/net-istio.yaml
  k8s/knative/chart/knative/templates/knative/serving/queue-proxy.yaml
  k8s/knative/chart/knative/templates/knative/serving/roles.yaml
  k8s/knative/chart/knative/templates/knative/serving/serviceaccounts.yaml
  k8s/knative/chart/knative/templates/knative/serving/webhook.yaml
Labels: kind/k8s, documentation

#2160 Docker - prometheus-operator - Fix hardcoded image
  docker/prometheus-operator/0/0.63/Dockerfile
  docker/prometheus-operator/templates/Dockerfile.template
Labels: kind/docker

#2153 [jaeger-operator] k8s solution updates - 2023-02-27
  k8s/jaeger-operator/Makefile
  k8s/jaeger-operator/apptest/tester/Dockerfile
  k8s/jaeger-operator/chart/jaeger-operator/templates/deployment/operator.yaml
  k8s/jaeger-operator/chart/jaeger-operator/templates/deployment/secret.yaml
  k8s/jaeger-operator/chart/jaeger-operator/values.yaml
  k8s/jaeger-operator/schema.yaml
Labels: kind/k8s

#2155 [prometheus-operator] k8s solution updates - 2023-02-27
  k8s/prometheus-operator/Makefile
  k8s/prometheus-operator/README.md
  k8s/prometheus-operator/deployer/Dockerfile
Labels: kind/k8s, documentation

#2161 K8S - Nginx - Use c2d-debian11
  k8s/nginx/Makefile
Labels: kind/k8s

#2162 Docker - Nuclio - Cleanup templates
  docker/nuclio/1/debian11/nuclio-controller/1.11/Dockerfile
  docker/nuclio/1/debian11/nuclio-dashboard/1.11/Dockerfile
  docker/nuclio/templates/nuclio_controller/Dockerfile.template
  docker/nuclio/templates/nuclio_dashboard/Dockerfile.template
Labels: kind/docker

#2164 [gitea] Docker images updates - 2023-03-02-131227
  docker/gitea/versions.yaml
Labels: kind/docker

#2165 [activemq] Docker images updates - 2023-03-02-144538
  docker/activemq/5/debian11/5.17/Dockerfile
  docker/activemq/templates/Dockerfile.template
  docker/activemq/versions.yaml
Labels: kind/docker

#2163 VM - MariaDB - Upgrade to 10.11 and Debian 11
  vm/chef/cookbooks/mariadb/attributes/default.rb
  vm/packer/templates/mariadb/packer.in.json
  vm/tests/solutions/spec/mariadb/ops_agent_spec.rb
  vm/tests/solutions/spec/mariadb/stackdriver_spec.rb
  vm/tests/solutions/spec/mariadb/version_spec.rb
Labels: kind/vm

#2074 VM - PostgreSQL - Upgrade Debian and PostgreSQL
  vm/chef/cookbooks/postgresql/attributes/default.rb
  vm/chef/cookbooks/postgresql/recipes/standalone.rb
  vm/packer/templates/postgresql-cluster/packer.in.json
  vm/packer/templates/postgresql/packer.in.json
  vm/tests/solutions/spec/postgresql-cluster/ops_agent_spec.rb
  vm/tests/solutions/spec/postgresql-cluster/stackdriver_spec.rb
  vm/tests/solutions/spec/postgresql/ops-agent-spec.rb
  vm/tests/solutions/spec/postgresql/stackdriver_spec.rb
Labels: kind/vm

#2167 [airflow] Docker images updates - 2023-03-03-102834
  docker/airflow/2/debian11/2.5/Dockerfile
  docker/airflow/versions.yaml
Labels: kind/docker

#2168 [falco] Docker images updates - 2023-03-03-140447
  docker/falco/0/debian11/0.34/Dockerfile
  docker/falco/versions.yaml
Labels: kind/docker

#2171 Docker - C2D-Debian - Fix libaprutil1
  docker/c2d-debian/11/debian11/Dockerfile
  docker/c2d-debian/templates/Dockerfile.template
Labels: kind/docker

#2166 VM - Django - Update Debian and MySQL
  vm/chef/cookbooks/apache2/recipes/mod_wsgi.rb
  vm/chef/cookbooks/django/recipes/standalone.rb
  vm/packer/templates/djangostack/packer.in.json
  vm/tests/solutions/spec/djangostack/c2d_startup_spec.rb
  vm/tests/solutions/spec/djangostack/ops_agent_spec.rb
  vm/tests/solutions/spec/djangostack/packages_spec.rb
  vm/tests/solutions/spec/djangostack/stackdriver_spec.rb
Labels: kind/vm

#2170 VM - Upgrade WordPress to Debian 11 and MySQL 8
  vm/chef/cookbooks/wordpress/attributes/default.rb
  vm/chef/cookbooks/wordpress/files/wordpress-multisite-setup
  vm/chef/cookbooks/wordpress/files/wordpress-setup
  vm/chef/cookbooks/wordpress/metadata.rb
  vm/chef/cookbooks/wordpress/recipes/common.rb
  vm/chef/cookbooks/wordpress/recipes/singlesite.rb
  vm/packer/templates/wordpress-multisite/packer.in.json
  vm/packer/templates/wordpress/packer.in.json
  vm/tests/solutions/spec/wordpress-multisite/c2d_startup_spec.rb
  vm/tests/solutions/spec/wordpress-multisite/ops_agent_spec.rb
  vm/tests/solutions/spec/wordpress-multisite/php_config_spec.rb
  vm/tests/solutions/spec/wordpress-multisite/stackdriver_spec.rb
  vm/tests/solutions/spec/wordpress/c2d_startup_spec.rb
  vm/tests/solutions/spec/wordpress/ops_agent_spec.rb
  vm/tests/solutions/spec/wordpress/php_config_spec.rb
  vm/tests/solutions/spec/wordpress/stackdriver_spec.rb
Labels: kind/vm

#2172 K8s - Hazelcast - Update mancenter track
  k8s/hazelcast/Makefile
  k8s/hazelcast/chart/hazelcast/templates/hazelcast-statefulset.yaml
Labels: kind/k8s

#2175 Docker - Dragonfly - Update baseimage
  docker/dragonfly/2/debian11/2.0/dragonfly-dfget2/Dockerfile
  docker/dragonfly/2/debian11/2.0/dragonfly-manager2/Dockerfile
  docker/dragonfly/2/debian11/2.0/dragonfly-scheduler2/Dockerfile
  docker/dragonfly/2/debian11/2.0/dragonfly-seed-peer2/Dockerfile
  docker/dragonfly/versions.yaml
Labels: kind/docker

#2173 VM - kong - version updated from 2.8.0 to 3.1.1
  vm/chef/cookbooks/kong/attributes/default.rb
  vm/chef/cookbooks/kong/recipes/default.rb
Labels: kind/vm

#2178 VM - Moodle - Update to 4.4.1, PHP 8.1, MySQL 8 and Debian 11
  vm/chef/cookbooks/moodle/attributes/default.rb
  vm/chef/cookbooks/moodle/files/moodle
  vm/chef/cookbooks/moodle/metadata.rb
  vm/chef/cookbooks/moodle/recipes/default.rb
  vm/packer/templates/moodle/packer.in.json
  vm/tests/solutions/spec/moodle/c2d_startup_spec.rb
  vm/tests/solutions/spec/moodle/ops_agent_spec.rb
  vm/tests/solutions/spec/moodle/php_config_spec.rb
  vm/tests/solutions/spec/moodle/stackdriver_spec.rb
Labels: kind/vm

#2177 VM - Ghost - Update to 5.37.0, MySQL 8 and Debian 11
  vm/chef/cookbooks/ghost/attributes/default.rb
  vm/chef/cookbooks/ghost/files/ghost
  vm/chef/cookbooks/ghost/recipes/default.rb
  vm/packer/templates/ghost/packer.in.json
  vm/tests/solutions/spec/ghost/c2d_startup_spec.rb
  vm/tests/solutions/spec/ghost/ops_agent_spec.rb
  vm/tests/solutions/spec/ghost/stackdriver_spec.rb
Labels: kind/vm

#2176 VM - Redash - Add docker-composer file, not included since version 9.x
  vm/chef/cookbooks/redash/recipes/default.rb
Labels: kind/vm

#2174 K8S - Joomla - Fix tests, add checkdb step
  k8s/joomla/README.md
  k8s/joomla/apptest/tester/Dockerfile
  k8s/joomla/apptest/tester/tests/common/joomla-suite.yaml
  k8s/joomla/apptest/tester/tests/external/exporter-external-suite.yaml
  k8s/joomla/apptest/tester/tests/external/joomla-external-suite.yaml
  k8s/joomla/chart/joomla/templates/_helpers/pods.tpl
  k8s/joomla/chart/joomla/templates/joomla-statefulset.yaml
Labels: kind/k8s, documentation

#2179 K8S - Joomla - Fix exporters
  k8s/joomla/Makefile
Labels: kind/k8s

#2183 VM - Moodle - Config required for setup
  vm/chef/cookbooks/moodle/recipes/default.rb
Labels: kind/vm

#2185 VM - WordPress - Disable xmlrpc feature
  vm/chef/cookbooks/wordpress/templates/wordpress-http.conf.erb
  vm/chef/cookbooks/wordpress/templates/wordpress-https.conf.erb
Labels: kind/vm

#2186 VM - OpenCart - Update to PHP 8 , Debian 11 and MySQL 8
  vm/chef/cookbooks/opencart/attributes/default.rb
  vm/chef/cookbooks/opencart/files/opencart
  vm/chef/cookbooks/opencart/files/opencart-utils
  vm/chef/cookbooks/opencart/metadata.rb
  vm/chef/cookbooks/opencart/recipes/default.rb
  vm/packer/templates/opencart/packer.in.json
  vm/tests/solutions/spec/opencart/c2d_startup_spec.rb
  vm/tests/solutions/spec/opencart/ops_agent_spec.rb
  vm/tests/solutions/spec/opencart/php_config_spec.rb
  vm/tests/solutions/spec/opencart/stackdriver_spec.rb
Labels: kind/vm

#2188 Docker- Neo4j - Update version
  docker/neo4j/4/debian11/4.4/Dockerfile
  docker/neo4j/5/debian11/5.5/Dockerfile
  docker/neo4j/5/debian11/5.5/docker-entrypoint.sh
  docker/neo4j/templates/neo4j4/Dockerfile.template
  docker/neo4j/templates/neo4j5/Dockerfile.template
  docker/neo4j/versions.yaml
Labels: kind/docker

#2189 Docker - Neo4j - Fix entrypoint
  docker/neo4j/5/debian11/5.5/docker-entrypoint.sh
  docker/neo4j/templates/neo4j5/docker-entrypoint.sh
Labels: kind/docker

#2191 K8S - Neo4j - Fix chart, update version
  k8s/neo4j-ce/Makefile
  k8s/neo4j-ce/README.md
  k8s/neo4j-ce/apptest/deployer/neo4j-ce/templates/tester.yaml
  k8s/neo4j-ce/apptest/tester/Dockerfile
Labels: kind/k8s, documentation

#2181 VM - kong - Version updated Debian 10 to 11
  vm/chef/cookbooks/kong/recipes/default.rb
  vm/packer/templates/kong/packer.in.json
  vm/tests/solutions/spec/kong/ops_agent_spec.rb
  vm/tests/solutions/spec/kong/stackdriver_spec.rb
Labels: kind/vm

#2192 K8S - Neo4j-ce - Filter the service's name
  k8s/neo4j-ce/Makefile
  k8s/neo4j-ce/chart/neo4j-ce/templates/neo4j-service.yaml
  k8s/neo4j-ce/chart/neo4j-ce/templates/neo4j-statefulset.yaml
Labels: kind/k8s

#2193 VM - InfluxDB - Update to 2.6
  vm/chef/cookbooks/influxdb/attributes/default.rb
  vm/chef/cookbooks/influxdb/files/influxdb
  vm/chef/cookbooks/influxdb/recipes/default.rb
Labels: kind/vm

#2195 VM - neo4j - Version updated from 4.4 to 5.5.0/ Debian updated from 10 to 11
  vm/chef/cookbooks/neo4j/attributes/default.rb
  vm/chef/cookbooks/neo4j/recipes/default.rb
  vm/packer/templates/neo4j/packer.in.json
  vm/tests/solutions/spec/neo4j/ops_agent_spec.rb
  vm/tests/solutions/spec/neo4j/stackdriver_spec.rb
Labels: kind/vm

#2197 K8S - Mariadb-galera - Update version, fix
  k8s/mariadb-galera/Makefile
  k8s/mariadb-galera/chart/mariadb-galera/templates/configmap.yaml
  k8s/mariadb-galera/chart/mariadb-galera/templates/statefulset.yaml
Labels: kind/k8s

#2198 VM - RabbitMQ - Upgrade to 3.11.10 and Debian 11
  vm/chef/cookbooks/rabbitmq/attributes/default.rb
  vm/packer/templates/rabbitmq/packer.in.json
  vm/tests/solutions/spec/rabbitmq/ops_agent_spec.rb
  vm/tests/solutions/spec/rabbitmq/stackdriver_spec.rb
Labels: kind/vm

#2194 VM - MySQL - Update to Debian 11 and MySQL 8
  vm/chef/cookbooks/concretecms/recipes/default.rb
  vm/chef/cookbooks/django/recipes/standalone.rb
  vm/chef/cookbooks/espocrm/recipes/default.rb
  vm/chef/cookbooks/ghost/recipes/default.rb
  vm/chef/cookbooks/joomla/recipes/default.rb
  vm/chef/cookbooks/mattermost/recipes/default.rb
  vm/chef/cookbooks/mautic/recipes/default.rb
  vm/chef/cookbooks/moodle/recipes/default.rb
  vm/chef/cookbooks/mysql/files/mysql8-root-allhosts-password-setup
  vm/chef/cookbooks/mysql/recipes/version-8.0-embedded.rb
  vm/chef/cookbooks/mysql/recipes/version-8.0-standalone.rb
  vm/chef/cookbooks/opencart/recipes/default.rb
  vm/chef/cookbooks/orocrm/recipes/default.rb
  vm/chef/cookbooks/pimcore/recipes/default.rb
  vm/chef/cookbooks/resourcespace/recipes/default.rb
  vm/chef/cookbooks/ruby/recipes/standalone.rb
  vm/chef/cookbooks/wordpress/recipes/common.rb
  vm/packer/templates/mysql/packer.in.json
  vm/tests/solutions/spec/mysql/c2d_startup_spec.rb
  vm/tests/solutions/spec/mysql/ops_agent_spec.rb
  vm/tests/solutions/spec/mysql/stackdriver_spec.rb
Labels: kind/vm

#2200 VM - Odoo - Version updated from 15.0 to 16.0/ Debian updated from 10 to 11
  vm/chef/cookbooks/odoo/attributes/default.rb
  vm/chef/cookbooks/odoo/recipes/default.rb
  vm/packer/templates/odoo/packer.in.json
  vm/tests/solutions/spec/odoo/ops_agent_spec.rb
  vm/tests/solutions/spec/odoo/stackdriver_spec.rb
Labels: kind/vm

#2203 VM - Zabbix - Version updated from 6.0 to 6.4/ Debian updated from 10 to 11
  vm/chef/cookbooks/zabbix/attributes/default.rb
  vm/chef/cookbooks/zabbix/recipes/default.rb
  vm/packer/templates/zabbix/packer.in.json
  vm/tests/solutions/spec/zabbix/ops_agent_spec.rb
  vm/tests/solutions/spec/zabbix/stackdriver_spec.rb
Labels: kind/vm

#2204 k8s - mediawiki - Fix healthchecks
  k8s/mediawiki/chart/mediawiki/templates/mediawiki-statefulset.yaml
Labels: kind/k8s, documentation

#2112 Docker - Tikv - update version
  cloudbuild-docker.yaml
  docker/tikv/6/debian11/6.5/Dockerfile
  docker/tikv/6/debian11/6.5/tikvtest_source/tikvtest.go
  docker/tikv/templates/Dockerfile.template
  docker/tikv/versions.yaml
Labels: kind/docker

#2209 K8S -RabbitMQ - Update version, replace init container
  k8s/rabbitmq/Makefile
  k8s/rabbitmq/README.md
  k8s/rabbitmq/schema.yaml
Labels: kind/k8s, documentation

#2207 VM - LAMP - Upgrade to Debian 11
  vm/chef/cookbooks/lamp/metadata.rb
  vm/chef/cookbooks/lamp/recipes/default.rb
  vm/packer/templates/lamp/packer.in.json
  vm/tests/solutions/spec/lamp/c2d_startup_spec.rb
  vm/tests/solutions/spec/lamp/ops_agent_spec.rb
  vm/tests/solutions/spec/lamp/php_config_spec.rb
  vm/tests/solutions/spec/lamp/stackdriver_spec.rb
Labels: kind/vm

#2210 VM - HA Proxy - Upgrade to 2.7 and Debian 11
  vm/chef/cookbooks/haproxy/attributes/default.rb
  vm/chef/cookbooks/haproxy/templates/default/haproxy.cfg.erb
  vm/packer/templates/haproxy/packer.in.json
  vm/tests/solutions/spec/haproxy/ops_agent_spec.rb
  vm/tests/solutions/spec/haproxy/stackdriver_spec.rb
Labels: kind/vm

#2213 Docker - Tikv - Fix repo name
  docker/tikv/versions.yaml
Labels: kind/docker

#2205 VM - Redmine - Version updated to 5.0.5/ Debian updated from 10 to 11
  vm/chef/cookbooks/redmine/attributes/default.rb
  vm/chef/cookbooks/redmine/files/redmine-startup
  vm/chef/cookbooks/redmine/recipes/default.rb
  vm/packer/templates/redmine/packer.in.json
  vm/tests/solutions/spec/redmine/c2d_startup_spec.rb
  vm/tests/solutions/spec/redmine/index_page_spec.rb
  vm/tests/solutions/spec/redmine/ops_agent_spec.rb
  vm/tests/solutions/spec/redmine/stackdriver_spec.rb
Labels: kind/vm

#2212 VM - Weblate - Upgrade to 4.16
  vm/chef/cookbooks/weblate/attributes/default.rb
  vm/chef/cookbooks/weblate/files/settings.py
  vm/packer/templates/weblate/packer.in.json
Labels: kind/vm

#2216 Docker - Update debian baseimages
  docker/hazelcast/5/debian11/hazelcast-mc/5.2/Dockerfile
  docker/hazelcast/5/debian11/hazelcast/5.0/Dockerfile
  docker/hazelcast/5/debian11/hazelcast/5.2/Dockerfile
  docker/hazelcast/versions.yaml
  docker/solr/9/debian11/9.1/Dockerfile
  docker/solr/versions.yaml
  docker/storm/2/debian11/2.4/Dockerfile
  docker/storm/templates/Dockerfile.template
  docker/storm/versions.yaml
  docker/superset/1/debian11/1.5/Dockerfile
  docker/superset/templates/Dockerfile.template
  docker/zookeeper/3/debian11/3.7/Dockerfile
  docker/zookeeper/3/debian11/3.8/Dockerfile
  docker/zookeeper/exporter/Dockerfile
  docker/zookeeper/versions.yaml
Labels: kind/k8s, kind/docker, documentation

#2215 VM - Joomla - Upgrade to 4.2.9 and PHP 8.1
  vm/chef/cookbooks/joomla/attributes/default.rb
  vm/chef/cookbooks/joomla/metadata.rb
  vm/chef/cookbooks/joomla/recipes/default.rb
  vm/tests/solutions/spec/joomla/php_config_spec.rb
Labels: kind/vm

#2221 Docker - Hazelcast - Remove MC sha256
  docker/hazelcast/5/debian11/hazelcast-mc/5.2/Dockerfile
  docker/hazelcast/templates/hazelcast-mc5/Dockerfile.template
  docker/hazelcast/versions.yaml
Labels: kind/docker

#2223 Docker - Solr - Remove sha checks
  docker/solr/9/debian11/9.1/Dockerfile
  docker/solr/templates/Dockerfile.template
  docker/solr/versions.yaml
Labels: kind/docker

#2222 VM - Piwik - version updated 4.14.1/ Debian 11 updated
  vm/chef/cookbooks/piwik/recipes/default.rb
  vm/packer/templates/piwik/packer.in.json
  vm/tests/solutions/spec/piwik/c2d_startup_spec.rb
  vm/tests/solutions/spec/piwik/ops_agent_spec.rb
  vm/tests/solutions/spec/piwik/stackdriver_spec.rb
Labels: kind/vm

#2219 VM - Kafka - Updated to 3.4.0
  vm/chef/cookbooks/kafka/attributes/default.rb
Labels: kind/vm

#2225 k8s - django - Update nginx track
  k8s/django/Makefile
Labels: kind/k8s

#2226 Docker - Superset - Update image
  docker/superset/2/debian11/2.0/Dockerfile
  docker/superset/2/debian11/2.0/docker-entrypoint.sh
  docker/superset/2/debian11/2.0/requirements.txt
  docker/superset/README.md
  docker/superset/exporter/Dockerfile
  docker/superset/templates/Dockerfile.template
  docker/superset/templates/exporter/Dockerfile.template
  docker/superset/templates/requirements.txt
  docker/superset/versions.yaml
Labels: kind/docker, documentation

#2227 K8S - Superset - Update version
  k8s/superset/Makefile
  k8s/superset/README.md
Labels: kind/k8s, documentation

#2232 VM - Couchdb - Debian version updated from 10 to 11
  vm/chef/cookbooks/couchdb/attributes/default.rb
  vm/packer/templates/couchdb/packer.in.json
  vm/tests/solutions/spec/couchdb/ops_agent_spec.rb
  vm/tests/solutions/spec/couchdb/stackdriver_spec.rb
Labels: kind/vm

#2228 VM - Jenkins - Debian updated from 10 to 11/ Jenkins version 2.387.1
  vm/packer/templates/jenkins/packer.in.json
  vm/tests/solutions/spec/jenkins/ops_agent_spec.rb
  vm/tests/solutions/spec/jenkins/stackdriver_spec.rb
Labels: kind/vm

#2230 VM - Lappstack - Debian version updated from 10 to 11
  vm/chef/cookbooks/lappstack/recipes/default.rb
  vm/packer/templates/lappstack/packer.in.json
  vm/tests/solutions/spec/lappstack/ops_agent_spec.rb
  vm/tests/solutions/spec/lappstack/stackdriver_spec.rb
Labels: kind/vm

#2229 VM - Nodejs - Debian updated from 10 to 11/ Nodejs 19.8.1 version updated
  vm/chef/cookbooks/nodejs/attributes/default.rb
  vm/packer/templates/nodejs/packer.in.json
  vm/tests/solutions/spec/nodejs/ops_agent_spec.rb
  vm/tests/solutions/spec/nodejs/stackdriver_spec.rb
Labels: kind/vm

#2234 VM - Ruby - Upgrade to 3.2.1
  vm/chef/cookbooks/ruby/attributes/default.rb
  vm/chef/cookbooks/ruby/recipes/default.rb
Labels: kind/vm

#2233 VM - Tomcat - Upgrade to 10.1.7
  vm/chef/cookbooks/tomcat/attributes/default.rb
  vm/packer/templates/tomcat/packer.in.json
Labels: kind/vm

#2231 VM - Percona - Fix apt repo
  vm/chef/cookbooks/percona/attributes/default.rb
Labels: kind/vm

#2235 [activemq] Docker images updates - 2023-03-31-085214
  docker/activemq/5/debian11/5.18/Dockerfile
  docker/activemq/5/debian11/5.18/docker-entrypoint.sh
  docker/activemq/versions.yaml
Labels: kind/docker

#2236 [airflow] Docker images updates - 2023-03-31-085220
  docker/airflow/2/debian11/2.5/Dockerfile
  docker/airflow/versions.yaml
Labels: kind/docker

#2241 [falco] Docker images updates - 2023-03-31-085406
  docker/falco/0/debian11/0.33/Dockerfile
  docker/falco/0/debian11/0.33/docker-entrypoint.sh
  docker/falco/versions.yaml
Labels: kind/docker

#2240 [drupal] Docker images updates - 2023-03-31-085329
  docker/drupal/10/php8/debian11/10.0/apache/Dockerfile
  docker/drupal/9/php8/debian11/9.4/apache/Dockerfile
  docker/drupal/9/php8/debian11/9.4/apache/docker-entrypoint.sh
  docker/drupal/9/php8/debian11/9.4/apache/makedb.php
  docker/drupal/9/php8/debian11/9.5/apache/Dockerfile
  docker/drupal/versions.yaml
Labels: kind/docker

#2245 [hydra] Docker images updates - 2023-03-31-085519
  docker/hydra/versions.yaml
Labels: kind/docker

#2246 [jaeger-operator] Docker images updates - 2023-03-31-085538
  docker/jaeger-operator/versions.yaml
Labels: kind/docker

#2243 [gitlab] Docker images updates - 2023-03-31-085436
  docker/gitlab/15/debian11/15.10/Dockerfile
  docker/gitlab/15/debian11/15.10/assets/generate-release
  docker/gitlab/15/debian11/15.10/assets/gitlab.rb
  docker/gitlab/15/debian11/15.10/assets/gitlab_sysctl.rb
  docker/gitlab/15/debian11/15.10/assets/setup
  docker/gitlab/15/debian11/15.10/assets/sshd_config
  docker/gitlab/15/debian11/15.10/assets/update-permissions
  docker/gitlab/15/debian11/15.10/assets/wrapper
  docker/gitlab/versions.yaml
Labels: kind/docker

#2249 [longhorn] Docker images updates - 2023-03-31-085645
  docker/longhorn/1/debian11/1.4/Dockerfile
  docker/longhorn/versions.yaml
Labels: kind/docker

#2250 [mediawiki] Docker images updates - 2023-03-31-085719
  docker/mediawiki/1/debian11/1.39/Dockerfile
  docker/mediawiki/versions.yaml
Labels: kind/docker

#2255 [zookeeper] Docker images updates - 2023-03-31-090042
  docker/zookeeper/3/debian11/3.7/Dockerfile
  docker/zookeeper/3/debian11/3.7/docker-entrypoint.sh
  docker/zookeeper/3/debian11/3.8/Dockerfile
  docker/zookeeper/versions.yaml
Labels: kind/docker

#2252 [solr] Docker images updates - 2023-03-31-085951
  docker/solr/versions.yaml
Labels: kind/docker

#2251 [neo4j] Docker images updates - 2023-03-31-085747
  docker/neo4j/4/debian11/4.4/Dockerfile
  docker/neo4j/versions.yaml
Labels: kind/docker

#2238 [crate] Docker images updates - 2023-03-31-085314
  docker/crate/5/debian11/5.2/Dockerfile
  docker/crate/templates/Dockerfile.template
  docker/crate/versions.yaml
Labels: kind/docker
