Repository GoogleCloudPlatform/click-to-deploy, pull requests merged in 2023-05, with the labels that each got.

#2300 K8S - Airflow - Rename pvs
  k8s/airflow/README.md
  k8s/airflow/schema.yaml
Labels: kind/k8s, documentation

#2315 [crate] Docker images updates - 2023-05-10-103027
  docker/crate/5/debian11/5.2/Dockerfile
  docker/crate/5/debian11/5.3/Dockerfile
  docker/crate/versions.yaml
Labels: kind/docker

#2317 [drupal] Docker images updates - 2023-05-10-103037
  docker/drupal/10/php8/debian11/10.0/apache/Dockerfile
  docker/drupal/9/php8/debian11/9.5/apache/Dockerfile
  docker/drupal/versions.yaml
Labels: kind/docker

#2321 [harbor] Docker images updates - 2023-05-10-103145
  docker/harbor/2/debian11/2.7/Dockerfile
  docker/harbor/versions.yaml
Labels: kind/docker

#2313 [airflow] Docker images updates - 2023-05-10-102946
  docker/airflow/2/debian11/2.6/Dockerfile
  docker/airflow/2/debian11/2.6/scripts/docker/install_airflow.sh
  docker/airflow/2/debian11/2.6/scripts/docker/install_mssql.sh
  docker/airflow/2/debian11/2.6/scripts/docker/install_mysql.sh
  docker/airflow/2/debian11/2.6/scripts/docker/install_pip_version.sh
  docker/airflow/2/debian11/2.6/scripts/prod/clean-logs.sh
  docker/airflow/2/debian11/2.6/scripts/prod/entrypoint_prod.sh
  docker/airflow/versions.yaml
Labels: kind/docker

#2318 [gitea] Docker images updates - 2023-05-10-103059
  docker/gitea/1/debian11/1.18/Dockerfile
  docker/gitea/versions.yaml
Labels: kind/docker

#2319 [gitlab] Docker images updates - 2023-05-10-103121
  docker/gitlab/15/debian11/15.11/Dockerfile
  docker/gitlab/15/debian11/15.11/assets/generate-release
  docker/gitlab/15/debian11/15.11/assets/gitlab.rb
  docker/gitlab/15/debian11/15.11/assets/gitlab_sysctl.rb
  docker/gitlab/15/debian11/15.11/assets/setup
  docker/gitlab/15/debian11/15.11/assets/sshd_config
  docker/gitlab/15/debian11/15.11/assets/update-permissions
  docker/gitlab/15/debian11/15.11/assets/wrapper
  docker/gitlab/versions.yaml
Labels: kind/docker

#2314 [cert-manager] Docker images updates - 2023-05-10-103016
  docker/cert-manager/1/debian11/1.11/Dockerfile
  docker/cert-manager/versions.yaml
Labels: kind/docker

#2323 [keycloak] Docker images updates - 2023-05-10-103229
  docker/keycloak/21/debian11/21.1/Dockerfile
  docker/keycloak/versions.yaml
Labels: kind/docker

#2332 [gitlab] Docker images updates - 2023-05-18-105531
  docker/gitlab/15/debian11/15.11/Dockerfile
  docker/gitlab/versions.yaml
Labels: kind/docker

#2335 [longhorn] Docker images updates - 2023-05-18-105801
  docker/longhorn/1/debian11/1.4/Dockerfile
  docker/longhorn/versions.yaml
Labels: kind/docker

#2331 [airflow] Docker images updates - 2023-05-18-105350
  docker/airflow/2/debian11/2.6/Dockerfile
  docker/airflow/versions.yaml
Labels: kind/docker

#2328 [gitea] k8s solution updates - 2023-05-17
  k8s/gitea/Makefile
Labels: kind/k8s

#2329 [rabbitmq] k8s solution updates - 2023-05-17
  k8s/rabbitmq/Makefile
Labels: kind/k8s

#2299 VM - Ceph - Update version to 17.2 and refactor startup scripts
  vm/chef/cookbooks/c2d-config/files/c2d-utils
  vm/chef/cookbooks/ceph/attributes/default.rb
  vm/chef/cookbooks/ceph/recipes/data-node.rb
  vm/chef/cookbooks/ceph/templates/default/etc-rsyncd.conf.erb
  vm/chef/cookbooks/ceph/templates/default/opt-c2d-scripts-ceph-admin-node.erb
  vm/chef/cookbooks/ceph/templates/default/opt-c2d-scripts-ceph-data-node.erb
  vm/packer/templates/ceph-admin-node/packer.in.json
Labels: kind/vm

#2343 Docker - Nuclio - Upgrade 1.11.16 -> 1.11.20
  docker/nuclio/1/debian11/nuclio-controller/1.11/Dockerfile
  docker/nuclio/1/debian11/nuclio-dashboard/1.11/Dockerfile
  docker/nuclio/versions.yaml
Labels: kind/docker
