Repository GoogleCloudPlatform/click-to-deploy, pull requests merged in 2023-01, with the labels that each got.

#2012 k8s - gitlab - Version updated from 15.4 to 15.6.3
  k8s/gitlab/Makefile
Labels: kind/k8s

#2018 VM - Cassandra - Upgrade Debian and add google-cloud-ops-agent
  vm/chef/cookbooks/cassandra/attributes/default.rb
  vm/chef/cookbooks/cassandra/metadata.rb
  vm/chef/cookbooks/cassandra/recipes/default.rb
  vm/packer/templates/cassandra/packer.in.json
  vm/tests/solutions/spec/cassandra/ops_agent_spec.rb
  vm/tests/solutions/spec/cassandra/stackdriver_spec.rb
Labels: kind/vm

#2030 Docker - Conjur - Update version
  docker/conjur/1/debian11/1.19/Dockerfile
  docker/conjur/1/debian11/1.19/entrypoint.sh
  docker/conjur/1/debian11/1.19/run_test.sh
  docker/conjur/1/debian11/1.19/sample_policy.yaml
  docker/conjur/templates/Dockerfile.template
  docker/conjur/versions.yaml
Labels: kind/docker, documentation

#2033 Docker- Activemq - Update version, fix vulnerabilities
  docker/activemq/5/debian11/5.17/Dockerfile
  docker/activemq/templates/Dockerfile.template
  docker/activemq/versions.yaml
Labels: kind/docker, documentation

#2021 VM - weblate - version updated from 4.11 to 4.15
  vm/chef/cookbooks/weblate/attributes/default.rb
  vm/chef/cookbooks/weblate/files/weblate
Labels: kind/vm

#2034 K8S - Mariadb - use mysql8:exporter
  k8s/mariadb-galera/Makefile
  k8s/mariadb/Makefile
Labels: kind/k8s

#2026 VM - Liferay - Version updated from 7.4.3.10 to 7.4.3.55
  vm/chef/cookbooks/liferay/attributes/default.rb
Labels: kind/vm

#2027 VM - Pretashop - Version updated from 1.7.8.4 to 1.7.8.8
  vm/chef/cookbooks/prestashop/attributes/default.rb
Labels: kind/vm

#2036 Docker - Argo - Update version
  docker/argo-workflows/3/debian11/3.4/Dockerfile
  docker/argo-workflows/templates/Dockerfile.template
  docker/argo-workflows/versions.yaml
Labels: kind/docker

#2028 VM - orocrm - Version updated from 5.0.1 to 5.0.4
  vm/chef/cookbooks/orocrm/attributes/default.rb
Labels: kind/vm

#2037 Docker- Argo - Fix libtasn
  docker/argo-workflows/3/debian11/3.4/Dockerfile
  docker/argo-workflows/templates/Dockerfile.template
Labels: kind/docker

#1997 VM - nagios - debian updated from 9 to 11 / add google-cloud-ops-agent/ updated nagios version from 4.4.6 to 4.4.9
  vm/chef/cookbooks/nagios/attributes/default.rb
  vm/packer/templates/nagios/packer.in.json
  vm/tests/solutions/spec/nagios/ops_agent_spec.rb
  vm/tests/solutions/spec/nagios/stackdriver_spec.rb
Labels: kind/vm

#2035 VM - concretecms - Version updated from 9.1.1. to 9.1.3
  vm/chef/cookbooks/concretecms/attributes/default.rb
Labels: kind/vm

#1998 VM - percona - Debian version update from 9 to 11/ add google-cloud-ops-agent
  vm/chef/cookbooks/percona/recipes/default.rb
  vm/packer/templates/percona/packer.in.json
  vm/tests/solutions/spec/percona/ops_agent_spec.rb
  vm/tests/solutions/spec/percona/stackdriver_spec.rb
Labels: kind/vm

#2031 K8S - Conjur - Update version, fix ingress
  k8s/conjur/Makefile
  k8s/conjur/README.md
  k8s/conjur/chart/conjur/templates/conjur/conjur-ingress.yaml
  k8s/conjur/chart/conjur/templates/conjur/conjur-tls.yaml
  k8s/conjur/chart/conjur/values.yaml
  k8s/conjur/schema.yaml
Labels: kind/k8s, documentation

#2025 K8S - prometheus - Update versions, remove Grafana
  k8s/prometheus/Makefile
  k8s/prometheus/README.md
  k8s/prometheus/apptest/deployer/prometheus/templates/tester.yaml
  k8s/prometheus/apptest/tester/Dockerfile
  k8s/prometheus/apptest/tester/tests/basic-suite.yaml
  k8s/prometheus/chart/prometheus/files/dashboards/capacity-planning.json
  k8s/prometheus/chart/prometheus/files/dashboards/cluster-health.json
  k8s/prometheus/chart/prometheus/files/dashboards/deployments.json
  k8s/prometheus/chart/prometheus/files/dashboards/k8s-cluster-rsrc-use.json
  k8s/prometheus/chart/prometheus/files/dashboards/k8s-node-rsrc-use.json
  k8s/prometheus/chart/prometheus/files/dashboards/k8s-resources-cluster.json
  k8s/prometheus/chart/prometheus/files/dashboards/k8s-resources-namespace.json
  k8s/prometheus/chart/prometheus/files/dashboards/k8s-resources-pod.json
  k8s/prometheus/chart/prometheus/files/dashboards/kube-dns.json
  k8s/prometheus/chart/prometheus/files/dashboards/kubelet.json
  k8s/prometheus/chart/prometheus/files/dashboards/nodes.json
  k8s/prometheus/chart/prometheus/files/dashboards/pods.json
  k8s/prometheus/chart/prometheus/files/dashboards/statefulset.json
  k8s/prometheus/chart/prometheus/templates/application.yaml
  k8s/prometheus/chart/prometheus/templates/dashboards-configmap.yaml
  k8s/prometheus/chart/prometheus/templates/grafana-configmap.yaml
  k8s/prometheus/chart/prometheus/templates/grafana-secret.yaml
  k8s/prometheus/chart/prometheus/templates/grafana-service.yaml
  k8s/prometheus/chart/prometheus/templates/grafana-statefulset.yaml
  k8s/prometheus/chart/prometheus/values.yaml
  k8s/prometheus/resources/prometheus-architecture.png
  k8s/prometheus/resources/prometheus-grafana-architecture.png
  k8s/prometheus/resources/service-accounts.yaml
  k8s/prometheus/schema.yaml
Labels: kind/k8s, documentation

#2040 K8S - Conjur - Update postgres
  k8s/conjur/Makefile
Labels: kind/k8s

#2024 VM - NGINX and Drupal - Upgrade solution, Debian and MySQL
  vm/chef/cookbooks/drupal/attributes/default.rb
  vm/chef/cookbooks/drupal/metadata.rb
  vm/chef/cookbooks/drupal/recipes/default.rb
  vm/chef/cookbooks/mysql/attributes/default.rb
  vm/chef/cookbooks/nginx/recipes/standalone.rb
  vm/chef/cookbooks/php81/attributes/default.rb
  vm/chef/cookbooks/php81/recipes/default.rb
  vm/packer/templates/drupal/packer.in.json
  vm/packer/templates/nginx/packer.in.json
  vm/tests/solutions/spec/drupal/ops-agent-spec.rb
  vm/tests/solutions/spec/drupal/php_config_spec.rb
  vm/tests/solutions/spec/drupal/stackdriver_spec.rb
  vm/tests/solutions/spec/nginx/ops_agent_spec.rb
  vm/tests/solutions/spec/nginx/stackdriver_spec.rb
Labels: kind/vm

#2042 K8S - Mariadb-galera - remove peerfinder
  k8s/mariadb-galera/Makefile
  k8s/mariadb-galera/README.md
  k8s/mariadb-galera/chart/mariadb-galera/config/on-start.sh
  k8s/mariadb-galera/chart/mariadb-galera/templates/configmap.yaml
  k8s/mariadb-galera/chart/mariadb-galera/templates/statefulset.yaml
  k8s/mariadb-galera/chart/mariadb-galera/values.yaml
  k8s/mariadb-galera/schema.yaml
Labels: kind/k8s, documentation

#2041 K8S - Postgresql - Update version
  k8s/postgresql/Makefile
  k8s/postgresql/README.md
  k8s/postgresql/apptest/tester/Dockerfile
Labels: kind/k8s, documentation

#2039 K8S - Prometheus - Replace init container
  k8s/prometheus/Makefile
  k8s/prometheus/README.md
  k8s/prometheus/chart/prometheus/templates/prometheus-statefulset.yaml
  k8s/prometheus/chart/prometheus/values.yaml
  k8s/prometheus/schema.yaml
Labels: kind/k8s, documentation

#2045 Docker - Django - Fix versions in templates
  docker/django/4/debian11/4.1/Dockerfile
  docker/django/exporter/Dockerfile
  docker/django/templates/Dockerfile.template
  docker/django/templates/exporter/Dockerfile.template
  docker/django/versions.yaml
Labels: kind/docker

#2047 VM - dolibarr - Version updated from 15.0.1 to 16.0.3
  vm/chef/cookbooks/dolibarr/attributes/default.rb
Labels: kind/vm

#2044 VM - Drupal - Fix startup script for MySQL 8
  vm/chef/cookbooks/drupal/files/drupal
Labels: kind/vm

#2049 K8S - Cert-manager - Update version
  k8s/cert-manager/Makefile
Labels: kind/k8s

#2050 VM - tomcat - Debian version updated from 10 to 11/ stackdriver replace by google-ops-agent
  vm/packer/templates/tomcat/packer.in.json
  vm/tests/solutions/spec/tomcat/ops_agent_spec.rb
  vm/tests/solutions/spec/tomcat/stackdriver_spec.rb
Labels: kind/vm

#2052 Docker - Falco - Update version
  docker/falco/0/debian11/0.33/Dockerfile
  docker/falco/0/debian11/0.33/docker-entrypoint.sh
  docker/falco/exporter/Dockerfile
  docker/falco/templates/Dockerfile.template
  docker/falco/templates/exporter/Dockerfile.template
  docker/falco/versions.yaml
Labels: kind/docker

#2067 [storm] Docker images updates - 2023-01-20
  docker/storm/versions.yaml
Labels: kind/docker

#2069 K8S - falco - Update version
  k8s/falco/Makefile
Labels: kind/k8s

#2053 [airflow] Docker images updates - 2023-01-20
  docker/airflow/2/debian11/2.5/Dockerfile
  docker/airflow/2/debian11/2.5/scripts/docker/install_airflow.sh
  docker/airflow/2/debian11/2.5/scripts/docker/install_mssql.sh
  docker/airflow/2/debian11/2.5/scripts/docker/install_mysql.sh
  docker/airflow/2/debian11/2.5/scripts/docker/install_pip_version.sh
  docker/airflow/2/debian11/2.5/scripts/prod/clean-logs.sh
  docker/airflow/2/debian11/2.5/scripts/prod/entrypoint_prod.sh
  docker/airflow/versions.yaml
Labels: kind/docker

#2064 [keycloak] Docker images updates - 2023-01-20
  docker/keycloak/20/debian11/20.0/Dockerfile
  docker/keycloak/versions.yaml
Labels: kind/docker

#2056 [crate] Docker images updates - 2023-01-20
  docker/crate/5/debian11/5.2/Dockerfile
  docker/crate/5/debian11/5.2/config/crate.yml
  docker/crate/5/debian11/5.2/config/log4j2.properties
  docker/crate/5/debian11/5.2/docker-entrypoint.sh
  docker/crate/versions.yaml
Labels: kind/docker

#2054 [argo-workflows] Docker images updates - 2023-01-20
  docker/argo-workflows/versions.yaml
Labels: kind/docker

#2055 [conjur] Docker images updates - 2023-01-20
  docker/conjur/1/debian11/1.19/Dockerfile
  docker/conjur/versions.yaml
Labels: kind/docker

#2058 [falco] Docker images updates - 2023-01-20
  docker/falco/versions.yaml
Labels: kind/docker

#2060 [gogs] Docker images updates - 2023-01-20
  docker/gogs/versions.yaml
Labels: kind/docker

#2061 [harbor] Docker images updates - 2023-01-20
  docker/harbor/2/debian11/2.7/Dockerfile
  docker/harbor/versions.yaml
Labels: kind/docker

#2073 VM - ConcreteCMS - Fixes for 9.1.3, Debian and PHP upgrade
  vm/chef/cookbooks/concretecms/attributes/default.rb
  vm/chef/cookbooks/concretecms/files/concretecms
  vm/chef/cookbooks/concretecms/metadata.rb
  vm/chef/cookbooks/concretecms/recipes/default.rb
  vm/tests/solutions/spec/concretecms/php_config_spec.rb
Labels: kind/vm

#2070 [gitea] Docker images updates - 2023-01-20-132007
  docker/gitea/1/debian11/1.18/Dockerfile
  docker/gitea/tests/functional_tests/gitea_test.yaml
  docker/gitea/versions.yaml
Labels: kind/docker

#2063 [hydra] Docker images updates - 2023-01-20
  docker/hydra/2/debian10/2.0/Dockerfile
  docker/hydra/tests/functional_tests/functional_test.yaml
  docker/hydra/versions.yaml
Labels: kind/docker

#2075 [django] Docker images updates - 2023-01-23-114627
  docker/django/4/debian11/4.1/Dockerfile
  docker/django/versions.yaml
Labels: kind/docker

#2077 Docker- Gitea - Update version
  docker/gitea/1/debian11/1.18/Dockerfile
  docker/gitea/templates/Dockerfile.template
  docker/gitea/versions.yaml
Labels: kind/docker

#2079 K8S - Gitea - Update version
  k8s/gitea/Makefile
Labels: kind/k8s

#2066 [spark] Docker images updates - 2023-01-20
  docker/spark/3/debian11/3.3/Dockerfile
  docker/spark/templates/3/Dockerfile.template
  docker/spark/versions.yaml
Labels: kind/docker

#2081 VM - joomla - Version updated from 4.1.0 to 4.2.6
  vm/chef/cookbooks/joomla/attributes/default.rb
Labels: kind/vm

#2080 VM - limesurvey - Version upgraded from 5.3.5 to 5.4.15
  vm/chef/cookbooks/limesurvey/attributes/default.rb
Labels: kind/vm

#2082 Docker - Mediawiki - Update version
  docker/mediawiki/1/debian11/1.38/Dockerfile
  docker/mediawiki/1/debian11/1.38/common_functions.sh
  docker/mediawiki/1/debian11/1.38/custom_settings.php
  docker/mediawiki/1/debian11/1.38/docker-entrypoint.sh
  docker/mediawiki/1/debian11/1.39/Dockerfile
  docker/mediawiki/1/debian11/1.39/common_functions.sh
  docker/mediawiki/1/debian11/1.39/custom_settings.php
  docker/mediawiki/1/debian11/1.39/docker-entrypoint.sh
  docker/mediawiki/templates/Dockerfile.template
  docker/mediawiki/versions.yaml
Labels: kind/docker

#2084 VM - joomla - Debian version updated from 10 to 11/ added cloud-ops-agent
  vm/packer/templates/joomla/packer.in.json
  vm/tests/solutions/spec/joomla/ops_agent_spec.rb
  vm/tests/solutions/spec/joomla/stackdriver_spec.rb
Labels: kind/vm

#2085 VM - limesurvey - Debian version updated from 10 to 11/ added google-cloud-ops-agent
  vm/chef/cookbooks/limesurvey/recipes/default.rb
  vm/packer/templates/limesurvey/packer.in.json
  vm/tests/solutions/spec/limesurvey/ops_agent_spec.rb
  vm/tests/solutions/spec/limesurvey/stackdriver_spec.rb
Labels: kind/vm

#2086 VM - dreamfactory - Version updated from 4.10.0 to 4.12.0/ debian updated from 10 to 11/ added google-cloud-ops-agent
  vm/chef/cookbooks/dreamfactory/attributes/default.rb
  vm/chef/cookbooks/dreamfactory/recipes/default.rb
  vm/packer/templates/dreamfactory/packer.in.json
  vm/tests/solutions/spec/dreamfactory/ops_agent_spec.rb
  vm/tests/solutions/spec/dreamfactory/stackdriver_spec.rb
Labels: kind/vm

#2089 Docker - Mediawiki - Fix curl
  docker/mediawiki/1/debian11/1.39/Dockerfile
  docker/mediawiki/templates/Dockerfile.template
Labels: kind/docker

#2083 K8S - Mediawiki - update tracks
  k8s/mediawiki/Makefile
Labels: kind/k8s

#2091 K8S - Nginx - update image
  k8s/nginx/Makefile
Labels: kind/k8s
