Repository GoogleCloudPlatform/click-to-deploy, pull requests merged in 2023-04, with the labels that each got.

#2257 [airflow] Docker images updates - 2023-04-05-103745
  docker/airflow/2/debian11/2.5/Dockerfile
  docker/airflow/versions.yaml
Labels: kind/docker

#2258 [argo-workflows] Docker images updates - 2023-04-05-103759
  docker/argo-workflows/3/debian11/3.4/Dockerfile
  docker/argo-workflows/versions.yaml
Labels: kind/docker

#2260 [django] Docker images updates - 2023-04-05-103847
  docker/django/4/debian11/4.1/Dockerfile
  docker/django/versions.yaml
Labels: kind/docker

#2262 [keycloak] Docker images updates - 2023-04-05-104054
  docker/keycloak/21/debian11/21.0/Dockerfile
  docker/keycloak/versions.yaml
Labels: kind/docker

#2265 VM - Zabbix - Fix Zabbix configuration paths
  vm/chef/cookbooks/zabbix/recipes/default.rb
Labels: kind/vm

#2266 VM - LimeSurvey - Upgrade to 5.6 and fix mysql 8 user setup
  vm/chef/cookbooks/limesurvey/attributes/default.rb
  vm/chef/cookbooks/limesurvey/files/limesurvey-utils
  vm/chef/cookbooks/limesurvey/recipes/default.rb
  vm/tests/solutions/spec/limesurvey/c2d_startup_spec.rb
Labels: kind/vm

#2267 K8S -Prometheus, Redis-ha - Add statefulsets name constraints
  k8s/prometheus/chart/prometheus/templates/_helpers.tpl
  k8s/prometheus/chart/prometheus/templates/alertmanager-statefulset.yaml
  k8s/prometheus/chart/prometheus/templates/prometheus-statefulset.yaml
  k8s/redis-ha/chart/redis-ha/templates/_helpers.tpl
Labels: kind/k8s

#2269 Docker- Keycloak - Use only version 21, remove library hacks
  docker/keycloak/18/debian11/18.0/Dockerfile
  docker/keycloak/19/debian11/19.0/Dockerfile
  docker/keycloak/20/debian11/20.0/Dockerfile
  docker/keycloak/21/debian11/21.0/Dockerfile
  docker/keycloak/README.md
  docker/keycloak/templates/Dockerfile.template
  docker/keycloak/versions.yaml
Labels: kind/docker, documentation

#2268 VM - MongoDB - Update Debian
  vm/packer/templates/mongodb/packer.in.json
Labels: kind/vm

#2272 VM - KubernetesSandbox - Upgrade k8s to version 1.27 and upgrade to Debian 11
  vm/chef/cookbooks/kubernetessandbox/attributes/default.rb
  vm/chef/cookbooks/kubernetessandbox/files/kubernetes-setup
  vm/chef/cookbooks/kubernetessandbox/recipes/default.rb
  vm/packer/templates/kubernetessandbox/packer.in.json
Labels: kind/vm

#2273 VM - PimCore - Upgrade to 10.5.20
  vm/chef/cookbooks/mysql/files/mysql8-root-localhost-password-setup
  vm/chef/cookbooks/mysql/recipes/install-and-configure-mysqld8.rb
  vm/chef/cookbooks/mysql/recipes/version-8.0.rb
  vm/chef/cookbooks/pimcore/attributes/default.rb
Labels: kind/vm

#2270 VM - SonarQube - Upgrade to 10.0 and setup custom password for admin user
  vm/chef/cookbooks/sonarqube/attributes/default.rb
  vm/chef/cookbooks/sonarqube/files/sonar-config-setup
  vm/chef/cookbooks/sonarqube/recipes/default.rb
  vm/packer/templates/sonarqube/packer.in.json
Labels: kind/vm

#2275 VM - Pimcore - Fix apache configuration
  vm/chef/cookbooks/pimcore/files/apache-pimcore-website.htaccess
  vm/chef/cookbooks/pimcore/files/pimcore
  vm/chef/cookbooks/pimcore/recipes/default.rb
Labels: kind/vm

#2274 K8S - Hydra - Fix psql statefulset
  k8s/hydra/README.md
  k8s/hydra/chart/hydra/templates/postgresql-statefulset.yaml
  k8s/hydra/chart/hydra/values.yaml
  k8s/hydra/schema.yaml
Labels: kind/k8s, documentation

#2277 K8S - Keycloak - update version
  k8s/keycloak/Makefile
  k8s/keycloak/README.md
Labels: kind/k8s, documentation

#2280 K8S - Cassandra - Update probes, fix hardcoded cluster seeds
  k8s/cassandra/apptest/tester/Dockerfile
  k8s/cassandra/chart/cassandra/templates/cassandra-statefulset.yaml
Labels: kind/k8s

#2279 K8S - Hydra - Fix deprecated apis
  k8s/hydra/chart/hydra/templates/application.yaml
  k8s/hydra/chart/hydra/templates/hpa.yaml
Labels: kind/k8s

#2278 VM - Liferay - Upgrade to 7.4.3.72 and Debian 11
  vm/chef/cookbooks/liferay/attributes/default.rb
  vm/chef/cookbooks/liferay/files/liferay-db-setup
  vm/chef/cookbooks/liferay/recipes/default.rb
  vm/packer/templates/liferay/packer.in.json
  vm/tests/config/liferay
  vm/tests/solutions/spec/liferay/c2d_startup_spec.rb
  vm/tests/solutions/spec/liferay/ops_agent_spec.rb
  vm/tests/solutions/spec/liferay/stackdriver_spec.rb
Labels: kind/vm

#2281 K8s - Gitea - Upgrade to 1.19
  k8s/gitea/Makefile
Labels: kind/k8s

#2283 [argo-workflows] Docker images updates - 2023-04-21-125854
  docker/argo-workflows/3/debian11/3.4/Dockerfile
  docker/argo-workflows/versions.yaml
Labels: kind/docker

#2288 [gitlab] Docker images updates - 2023-04-21-130217
  docker/gitlab/15/debian11/15.10/Dockerfile
  docker/gitlab/versions.yaml
Labels: kind/docker

#2282 [activemq] Docker images updates - 2023-04-21-125824
  docker/activemq/5/debian11/5.18/Dockerfile
  docker/activemq/versions.yaml
Labels: kind/docker

#2286 [drupal] Docker images updates - 2023-04-21-130014
  docker/drupal/10/php8/debian11/10.0/apache/Dockerfile
  docker/drupal/9/php8/debian11/9.5/apache/Dockerfile
  docker/drupal/versions.yaml
Labels: kind/docker

#2291 [harbor] Docker images updates - 2023-04-21-130327
  docker/harbor/2/debian11/2.8/Dockerfile
  docker/harbor/versions.yaml
Labels: kind/docker

#2290 [hydra] Docker images updates - 2023-04-21-130339
  docker/hydra/2/debian11/2.1/Dockerfile
  docker/hydra/versions.yaml
Labels: kind/docker

#2285 [conjur] Docker images updates - 2023-04-21-125951
  docker/conjur/1/debian11/1.19/Dockerfile
  docker/conjur/versions.yaml
Labels: kind/docker

#2292 [nuclio] Docker images updates - 2023-04-21-130801
  docker/nuclio/1/debian11/nuclio-controller/1.11/Dockerfile
  docker/nuclio/1/debian11/nuclio-dashboard/1.11/Dockerfile
  docker/nuclio/versions.yaml
Labels: kind/docker

#2287 [gitea] Docker images updates - 2023-04-21-130201
  docker/gitea/versions.yaml
Labels: kind/docker

#2295 K8S - Cassandra Dragonfly Drupal Joomla Magento Mariadb Mediawiki Wordpress -fix python and mysql-client packages
  k8s/cassandra/apptest/tester/Dockerfile
  k8s/dragonfly/apptest/tester/Dockerfile
  k8s/drupal/apptest/tester/Dockerfile
  k8s/joomla/apptest/tester/Dockerfile
  k8s/magento/apptest/tester/Dockerfile
  k8s/mariadb-galera/apptest/tester/Dockerfile
  k8s/mariadb/apptest/tester/Dockerfile
  k8s/mediawiki/apptest/tester/Dockerfile
  k8s/wordpress/apptest/tester/Dockerfile
Labels: kind/k8s

#2297 K8S - Neo4j Postgresql Zookeeper - Fix tests
  k8s/neo4j-ce/apptest/tester/Dockerfile
  k8s/postgresql/apptest/tester/Dockerfile
  k8s/zookeeper/apptest/tester/Dockerfile
Labels: kind/k8s

#2296 K8S - Falco Kafka - Fix tests
  k8s/falco/apptest/tester/tests/basic-suite.yaml
  k8s/kafka/apptest/tester/Dockerfile
Labels: kind/k8s
