Repository GoogleCloudPlatform/click-to-deploy, pull requests merged in 2023-06, with the labels that each got.

#2336 Docker - Neo4j - Upgrade to 5.8 and remove 4.x versions
  docker/neo4j/4/debian11/4.4/docker-entrypoint.sh
  docker/neo4j/5/debian11/5.5/Dockerfile
  docker/neo4j/5/debian11/5.8/Dockerfile
  docker/neo4j/5/debian11/5.8/docker-entrypoint.sh
  docker/neo4j/templates/neo4j4/Dockerfile.template
  docker/neo4j/templates/neo4j5/Dockerfile.template
  docker/neo4j/versions.yaml
Labels: kind/docker

#2013 Docker - prometheus-operator - Upgrade 0.63 -> 0.65
  docker/prometheus-operator/0/0.65/Dockerfile
  docker/prometheus-operator/templates/Dockerfile.template
  docker/prometheus-operator/versions.yaml
Labels: kind/docker

#2326 Docker - jaeger-operator - Add 1.45 version
  docker/jaeger-operator/1/debian11/1.45/Dockerfile
  docker/jaeger-operator/versions.yaml
Labels: kind/docker

#2342 [hazelcast] Docker images updates - 2023-05-29-124415
  docker/hazelcast/5/debian11/hazelcast-mc/5.3/Dockerfile
  docker/hazelcast/5/debian11/hazelcast-mc/5.3/mc-start.sh
  docker/hazelcast/5/debian11/hazelcast/5.2/Dockerfile
  docker/hazelcast/5/debian11/hazelcast/5.3/Dockerfile
  docker/hazelcast/5/debian11/hazelcast/5.3/get-hz-all-url.sh
  docker/hazelcast/5/debian11/hazelcast/5.3/jmx_agent_config.yaml
  docker/hazelcast/5/debian11/hazelcast/5.3/log4j2.properties
  docker/hazelcast/versions.yaml
Labels: kind/docker

#2337 Docker - Spark - Add 3.4 version
  docker/spark/3/debian11/3.4/Dockerfile
  docker/spark/3/debian11/3.4/metrics.properties
  docker/spark/3/debian11/3.4/start-spark.sh
  docker/spark/3/debian11/3.4/supervisor.conf
  docker/spark/3/debian11/3.4/test_job.py
  docker/spark/versions.yaml
Labels: kind/docker

#2346 Docker - solr - Update version to 9.2.1
  docker/solr/9/debian11/9.2/Dockerfile
  docker/solr/versions.yaml
Labels: kind/vm, kind/k8s, kind/docker, documentation

#2311 VM - Neo4j - Fix startup script password setup
  vm/chef/cookbooks/neo4j/files/neo4j
Labels: kind/vm

#1738 K8S - Add support for major version track and upgrade Jenkins
  k8s/activemq/Makefile
  k8s/c2d_deployer.Makefile
  k8s/jenkins/Makefile
Labels: kind/k8s

#2349 k8s - Update versions
  k8s/airflow/Makefile
  k8s/consul/Makefile
  k8s/django/Makefile
  k8s/falco/Makefile
  k8s/gitea/Makefile
  k8s/gitlab/Makefile
  k8s/gogs/Makefile
  k8s/harbor/Makefile
  k8s/hazelcast/Makefile
  k8s/hydra/Makefile
  k8s/influxdb/Makefile
  k8s/jaeger-operator/Makefile
  k8s/joomla/Makefile
  k8s/knative/Makefile
  k8s/neo4j-ce/Makefile
  k8s/postgresql/Makefile
  k8s/prometheus/Makefile
  k8s/rabbitmq/Makefile
  k8s/solr/Makefile
  k8s/spark/Makefile
  k8s/superset/Makefile
  k8s/wordpress/Makefile
Labels: kind/k8s

#2327 [k8s] Upgrade apps
  k8s/airflow/Makefile
  k8s/consul/Makefile
  k8s/django/Makefile
  k8s/gitea/Makefile
  k8s/gitlab/Makefile
  k8s/gogs/Makefile
  k8s/hydra/Makefile
  k8s/influxdb/Makefile
  k8s/jaeger-operator/Makefile
  k8s/joomla/Makefile
  k8s/neo4j-ce/Makefile
  k8s/postgresql/Makefile
  k8s/prometheus/Makefile
  k8s/rabbitmq/Makefile
  k8s/solr/Makefile
  k8s/superset/Makefile
  k8s/wordpress/Makefile
Labels: kind/k8s

#2378 Docker - Cert-Manager - Include source-code to the image
  docker/cert-manager/1/debian11/1.11/Dockerfile
  docker/cert-manager/1/debian11/1.11/components.csv
  docker/cert-manager/1/debian11/1.11/download-licenses.sh
  docker/cert-manager/templates/cert-manager1/Dockerfile.template
  docker/cert-manager/templates/cert-manager1/components.csv
  docker/cert-manager/templates/cert-manager1/download-licenses.sh
  docker/cert-manager/versions.yaml
Labels: kind/docker
