Repository GoogleCloudPlatform/click-to-deploy, pull requests merged in 2024-05, with the labels that each got.

#2656 VM - Cassandra updated to 4.1.4
  vm/chef/cookbooks/cassandra/attributes/default.rb
  vm/chef/cookbooks/cassandra/metadata.rb
  vm/chef/cookbooks/cassandra/recipes/default.rb
  vm/chef/cookbooks/cassandra/recipes/ospo.rb
Labels: kind/vm, ospo-wip

#2689 Docker - Prometheus-Operator - Bump to 0.74
  docker/prometheus-operator/0/debian11/0.74/Dockerfile
  docker/prometheus-operator/templates/Dockerfile.template
  docker/prometheus-operator/versions.yaml
Labels: kind/docker

#2666 VM - Influxdb updated to version 2.7.5
  vm/chef/cookbooks/influxdb/attributes/default.rb
  vm/chef/cookbooks/influxdb/metadata.rb
  vm/chef/cookbooks/influxdb/recipes/default.rb
  vm/chef/cookbooks/influxdb/recipes/ospo.rb
Labels: kind/vm

#2660 VM - NGINX - Bump version to 1.25.4
  vm/chef/cookbooks/nginx/attributes/default.rb
  vm/chef/cookbooks/nginx/metadata.rb
  vm/chef/cookbooks/nginx/recipes/ospo.rb
  vm/chef/cookbooks/nginx/recipes/standalone.rb
  vm/packer/templates/nginx/packer.in.json
  vm/tests/solutions/spec/nginx/packages_spec.rb
Labels: kind/vm

#2699 K8s - NGINX - Bump to 1.26
  k8s/nginx/Makefile
Labels: kind/k8s
