Repository GoogleCloudPlatform/click-to-deploy, pull requests merged in 2024-11, with the labels that each got.

#2789 [cassandra] VM images updates - 2024-11-08-093759
  vm/chef/cookbooks/cassandra/attributes/default.rb
Labels: kind/vm

#2791 [dreamfactory] VM images updates - 2024-11-08-093844
  vm/chef/cookbooks/dreamfactory/attributes/default.rb
Labels: kind/vm

#2793 [haproxy] VM images updates - 2024-11-08-093901
  vm/chef/cookbooks/haproxy/attributes/default.rb
Labels: kind/vm

#2796 [kafka] VM images updates - 2024-11-08-093926
  vm/chef/cookbooks/kafka/attributes/default.rb
Labels: kind/vm

#2799 [mautic] VM images updates - 2024-11-08-093952
  vm/chef/cookbooks/mautic/attributes/default.rb
Labels: kind/vm

#2802 [nodejs] VM images updates - 2024-11-08-094017
  vm/chef/cookbooks/nodejs/attributes/default.rb
Labels: kind/vm

#2801 [nginx] VM images updates - 2024-11-08-094009
  vm/chef/cookbooks/nginx/attributes/default.rb
Labels: kind/vm

#2804 [prestashop] VM images updates - 2024-11-08-094037
  vm/chef/cookbooks/prestashop/attributes/default.rb
Labels: kind/vm

#2808 [solr] VM images updates - 2024-11-08-094110
  vm/chef/cookbooks/solr/attributes/default.rb
Labels: kind/vm

#2807 [redmine] VM images updates - 2024-11-08-094102
  vm/chef/cookbooks/redmine/attributes/default.rb
Labels: kind/vm

#2794 [influxdb] VM images updates - 2024-11-08-093909
  vm/chef/cookbooks/influxdb/attributes/default.rb
Labels: kind/vm

#2792 [ghost] VM images updates - 2024-11-08-093853
  vm/chef/cookbooks/ghost/attributes/default.rb
Labels: kind/vm

#2790 [dokuwiki] VM images updates - 2024-11-08-093834
  vm/chef/cookbooks/dokuwiki/attributes/default.rb
  vm/chef/cookbooks/dokuwiki/recipes/default.rb
Labels: kind/vm

#2795 [joomla] VM images updates - 2024-11-08-093917
  vm/chef/cookbooks/joomla/attributes/default.rb
Labels: kind/vm

#2798 [mattermost] VM images updates - 2024-11-08-093944
  vm/chef/cookbooks/mattermost/attributes/default.rb
Labels: kind/vm

#2800 [moodle] VM images updates - 2024-11-08-094000
  vm/chef/cookbooks/moodle/attributes/default.rb
Labels: kind/vm

#2803 [odoo] VM images updates - 2024-11-08-094028
  vm/chef/cookbooks/odoo/attributes/default.rb
Labels: kind/vm

#2806 [redis] VM images updates - 2024-11-08-094054
  vm/chef/cookbooks/redis/attributes/default.rb
Labels: kind/vm

#2810 [weblate] VM images updates - 2024-11-08-094127
  vm/chef/cookbooks/weblate/attributes/default.rb
Labels: kind/vm

#2813 VM - Odoo - sha256sum changed for odoo 18.0
  vm/chef/cookbooks/odoo/attributes/default.rb
Labels: kind/vm

#2783 Add Labels and Annotations to cloudbuild and dockerfiles tools
  tools/dockertools.Dockerfile
  tools/dockerversioning/scripts/cloudbuild/main.go
  tools/dockerversioning/versions/versions.go
Labels: kind/docker, documentation

#2817 VM - Odoo - Updated sha256 checksum for odoo_18.0.20241107.tar.xz
  vm/chef/cookbooks/odoo/attributes/default.rb
Labels: kind/vm

#2818 Docker - Add service annotations to containers
  docker/activemq/versions.yaml
  docker/airflow/versions.yaml
  docker/argo-workflows/versions.yaml
  docker/c2d-debian/versions.yaml
  docker/cert-manager/versions.yaml
  docker/django/versions.yaml
  docker/drupal/versions.yaml
  docker/falco/versions.yaml
  docker/gitea/versions.yaml
  docker/harbor/versions.yaml
  docker/kafka/versions.yaml
  docker/keycloak/versions.yaml
  docker/prometheus-operator/versions.yaml
  docker/solr/versions.yaml
  docker/spark/versions.yaml
  docker/superset/versions.yaml
  docker/zookeeper/versions.yaml
Labels: kind/docker

#2811 [zabbix] VM images updates - 2024-11-08-094136
  vm/chef/cookbooks/zabbix/attributes/default.rb
Labels: kind/vm

#2822 Docker - Debian - Add latest tag to debian11
  docker/c2d-debian/versions.yaml
Labels: kind/docker

#2797 [liferay] VM images updates - 2024-11-08-093935
  vm/chef/cookbooks/liferay/attributes/default.rb
  vm/tests/solutions/spec/liferay/liferay_spec.rb
Labels: kind/vm
