Repository GoogleCloudPlatform/click-to-deploy, pull requests merged in 2024-02, with the labels that each got.

#2615 [keycloak] Docker images updates - 2024-01-31-104708
  docker/keycloak/23/debian11/23.0/Dockerfile
  docker/keycloak/versions.yaml
Labels: kind/docker

#2613 [hydra] Docker images updates - 2024-01-31-104646
  docker/hydra/versions.yaml
Labels: kind/docker

#2616 [mediawiki] Docker images updates - 2024-01-31-104737
  docker/mediawiki/1/debian11/1.39/Dockerfile
  docker/mediawiki/1/debian11/1.41/Dockerfile
  docker/mediawiki/1/debian11/1.41/common_functions.sh
  docker/mediawiki/1/debian11/1.41/custom_settings.php
  docker/mediawiki/1/debian11/1.41/docker-entrypoint.sh
  docker/mediawiki/versions.yaml
Labels: kind/docker

#2619 [spark] Docker images updates - 2024-01-31-104924
  docker/spark/versions.yaml
Labels: kind/docker

#2627 Docker - Jaeger-operator version updated to 1.53.0 and goland to 1.20
  docker/jaeger-operator/1/debian11/1.53/Dockerfile
  docker/jaeger-operator/versions.yaml
Labels: kind/docker

#2628 Docker - Knative version updated to 1.13.0
  docker/knative/1/debian11/1.10/Dockerfile
  docker/knative/1/debian11/1.13/Dockerfile
  docker/knative/versions.yaml
Labels: kind/docker

#2625 Docker - Drupal version updated to 10.1.8
  docker/drupal/10/php8/debian11/10.0/apache/Dockerfile
  docker/drupal/10/php8/debian11/10.0/apache/components.csv
  docker/drupal/10/php8/debian11/10.0/apache/source_code.txt
  docker/drupal/10/php8/debian11/10.1/apache/Dockerfile
  docker/drupal/10/php8/debian11/10.1/apache/components.csv
  docker/drupal/10/php8/debian11/10.1/apache/source_code.txt
  docker/drupal/9/php8/debian11/9.5/apache/Dockerfile
  docker/drupal/9/php8/debian11/9.5/apache/components.csv
  docker/drupal/9/php8/debian11/9.5/apache/source_code.txt
  docker/drupal/templates/Dockerfile.template
  docker/drupal/templates/components.csv
  docker/drupal/templates/source_code.txt
  docker/drupal/versions.yaml
Labels: kind/docker, ospo-wip

#2048 K8s - Kafka - Fix typo in instructions
  k8s/kafka/README.md
Labels: kind/k8s, documentation

#2630 VM - Jenkins - Add licenses to the image
  vm/chef/cookbooks/c2d-shared/resources/default.rb
  vm/chef/cookbooks/jenkins/metadata.rb
  vm/chef/cookbooks/jenkins/recipes/default.rb
  vm/chef/cookbooks/jenkins/recipes/ospo.rb
Labels: kind/vm

#2631 VM - Jenkins - Add CDDL components source
  vm/chef/cookbooks/jenkins/recipes/ospo.rb
Labels: kind/vm
