Repository GoogleCloudPlatform/click-to-deploy, pull requests merged in 2024-10, with the labels that each got.

#2770 K8s - Consul - BUMP to track 1.19
  k8s/consul/Makefile
Labels: kind/k8s

#2771 K8s - Harbor - BUMP to track 2.11
  k8s/harbor/Makefile
  k8s/harbor/chart/harbor/templates/chartmuseum/chartmuseum-dpl.yaml
  k8s/harbor/chart/harbor/templates/core/core-dpl.yaml
  k8s/harbor/chart/harbor/templates/trivy/trivy-sts.yaml
Labels: kind/k8s

#2772 Docker - Drupal - BUMP to version 10.3.6
  docker/drupal/10/php8/debian12/10.2/apache/Dockerfile
  docker/drupal/10/php8/debian12/10.2/apache/components.csv
  docker/drupal/10/php8/debian12/10.2/apache/docker-entrypoint.sh
  docker/drupal/10/php8/debian12/10.2/apache/makedb.php
  docker/drupal/10/php8/debian12/10.2/apache/source_code.txt
  docker/drupal/10/php8/debian12/10.3/apache/Dockerfile
  docker/drupal/10/php8/debian12/10.3/apache/components.csv
  docker/drupal/10/php8/debian12/10.3/apache/docker-entrypoint.sh
  docker/drupal/10/php8/debian12/10.3/apache/makedb.php
  docker/drupal/10/php8/debian12/10.3/apache/source_code.txt
  docker/drupal/versions.yaml
Labels: kind/docker

#2776 K8s - InfluxDB - Upgrade prometheus-to-sd container
  k8s/influxdb/Makefile
Labels: kind/k8s

#2774 K8s - Drupal - BUMP to track 10.3
  k8s/drupal/Makefile
  k8s/drupal/chart/drupal/templates/drupal-statefulset.yaml
  k8s/drupal/chart/drupal/templates/mariadb-statefulset.yaml
  k8s/drupal/schema.yaml
Labels: kind/k8s

#2778 VM - Cassandra - Bump to 4.1.7
  vm/chef/cookbooks/cassandra/attributes/default.rb
Labels: kind/vm

#2775 Docker - Django - BUMP to version 5.1.1 & debian updated to debian12
  docker/django/4/debian11/4.2/Dockerfile
  docker/django/4/debian11/4.2/docker-entrypoint.sh
  docker/django/5/debian11/5.0/components.csv
  docker/django/5/debian11/5.0/docker-entrypoint.sh
  docker/django/5/debian11/5.0/source_code.txt
  docker/django/5/debian12/5.1/Dockerfile
  docker/django/5/debian12/5.1/components.csv
  docker/django/5/debian12/5.1/docker-entrypoint.sh
  docker/django/5/debian12/5.1/source_code.txt
  docker/django/exporter/Dockerfile
  docker/django/templates/Dockerfile.template
  docker/django/templates/exporter/Dockerfile.template
  docker/django/tests/functional_tests/basic_test.yaml
  docker/django/versions.yaml
Labels: kind/docker

#2782 K8s - Gitlab - BUMP to track 17.5
  k8s/gitlab/Makefile
Labels: kind/k8s

#2781 K8s - ActiveMQ - BUMP to track 6.1
  k8s/activemq/Makefile
  k8s/activemq/README.md
  k8s/activemq/apptest/tester/Dockerfile
  k8s/activemq/apptest/tester/tests/basic-suite.yaml
  k8s/activemq/chart/activemq/templates/activemq-deployment.yaml
  k8s/activemq/chart/activemq/values.yaml
  k8s/activemq/schema.yaml
Labels: kind/k8s, documentation
