Repository GoogleCloudPlatform/click-to-deploy, pull requests merged in 2024-03, with the labels that each got.

#2629 K8s - Remove Custom Governance K8s app
  k8s/custom-governance/.gitignore
  k8s/custom-governance/Dockerfile
  k8s/custom-governance/README.md
  k8s/custom-governance/chart/custom-governance/.helmignore
  k8s/custom-governance/chart/custom-governance/Chart.yaml
  k8s/custom-governance/chart/custom-governance/logo.png
  k8s/custom-governance/chart/custom-governance/templates/application.yaml
  k8s/custom-governance/chart/custom-governance/templates/backend-config.yaml
  k8s/custom-governance/chart/custom-governance/templates/cron-create-report.yaml
  k8s/custom-governance/chart/custom-governance/templates/cron-deployment-status.yaml
  k8s/custom-governance/chart/custom-governance/templates/cron-sync-policies.yaml
  k8s/custom-governance/chart/custom-governance/templates/ingress.yaml
  k8s/custom-governance/chart/custom-governance/templates/managed-certificate.yaml
  k8s/custom-governance/chart/custom-governance/templates/oauth-secret.yaml
  k8s/custom-governance/chart/custom-governance/templates/web-deployment.yaml
  k8s/custom-governance/chart/custom-governance/templates/web-service.yaml
  k8s/custom-governance/chart/custom-governance/values.yaml
  k8s/custom-governance/cli_values_template.yaml
  k8s/custom-governance/cloudbuild-k8s.yaml
  k8s/custom-governance/images/IAM_IAP_user.png
  k8s/custom-governance/images/cluster_creation.png
  k8s/custom-governance/images/cluster_select.png
  k8s/custom-governance/images/custom-sa-cluster-1.png
  k8s/custom-governance/images/custom-sa-cluster-2.png
  k8s/custom-governance/images/custom-sa-cluster-3.png
  k8s/custom-governance/images/deployment_configuration.png
  k8s/custom-governance/images/iap-access-error.png
  k8s/custom-governance/images/oauth_step1.png
  k8s/custom-governance/images/oauth_step2.png
  k8s/custom-governance/images/oauth_step3.png
  k8s/custom-governance/images/service-account-1.png
  k8s/custom-governance/images/service-account-2.png
  k8s/custom-governance/images/service-account-4.png
  k8s/custom-governance/schema.yaml
  scripts/trigger-solution-tests.sh
Labels: kind/k8s, documentation

#2596 Update Tag Version to the latest non-deprecated one
  k8s/kafka/README.md
Labels: kind/k8s, documentation

#2634 Bump K8s version on documentation
  k8s/activemq/README.md
  k8s/cert-manager/README.md
  k8s/consul/README.md
  k8s/drupal/README.md
  k8s/falco/README.md
  k8s/gitea/README.md
  k8s/gitlab/README.md
  k8s/hazelcast/README.md
  k8s/jaeger-operator/README.md
  k8s/joomla/README.md
  k8s/mariadb-galera/README.md
  k8s/mariadb/README.md
  k8s/mediawiki/README.md
  k8s/memcached/README.md
  k8s/nginx/README.md
  k8s/nuclio/README.md
  k8s/prometheus-operator/README.md
  k8s/rabbitmq/README.md
  k8s/redis-ha/README.md
  k8s/sonarqube/README.md
  k8s/spark/README.md
  k8s/zookeeper/README.md
  scripts/update-k8s-readme.sh
Labels: kind/k8s, kind/docker, documentation

#2622 [zookeeper] Docker images updates - 2024-01-31-104952
  docker/zookeeper/3/debian11/3.8/Dockerfile
  docker/zookeeper/3/debian11/3.8/components.csv
  docker/zookeeper/3/debian11/3.8/source_code.txt
  docker/zookeeper/exporter/Dockerfile
  docker/zookeeper/templates/debian11/Dockerfile.template
  docker/zookeeper/templates/debian11/components.csv
  docker/zookeeper/templates/debian11/source_code.txt
  docker/zookeeper/templates/exporter/Dockerfile.template
  docker/zookeeper/versions.yaml
Labels: kind/docker, ospo-approved

#2618 [solr] Docker images updates - 2024-01-31-104920
  docker/solr/9/debian11/9.2/Dockerfile
  docker/solr/9/debian11/9.5/Dockerfile
  docker/solr/9/debian11/9.5/components.csv
  docker/solr/9/debian11/9.5/source_code.txt
  docker/solr/templates/Dockerfile.template
  docker/solr/templates/components.csv
  docker/solr/templates/source_code.txt
  docker/solr/versions.yaml
Labels: kind/docker, ospo-approved

#2614 [kafka] Docker images updates - 2024-01-31-104703
  docker/kafka/3/debian11/3.4/Dockerfile
  docker/kafka/3/debian11/3.4/components.csv
  docker/kafka/3/debian11/3.4/source_code.txt
  docker/kafka/3/debian11/3.6/Dockerfile
  docker/kafka/3/debian11/3.6/components.csv
  docker/kafka/3/debian11/3.6/scripts/create-message-topic-test.sh
  docker/kafka/3/debian11/3.6/scripts/create-topics.sh
  docker/kafka/3/debian11/3.6/scripts/docker-entrypoint.sh
  docker/kafka/3/debian11/3.6/scripts/overrides/0.9.0.1.sh
  docker/kafka/3/debian11/3.6/scripts/start-kafka.sh
  docker/kafka/3/debian11/3.6/scripts/versions.sh
  docker/kafka/3/debian11/3.6/source_code.txt
  docker/kafka/exporter/Dockerfile
  docker/kafka/templates/debian11/Dockerfile.template
  docker/kafka/templates/debian11/components.csv
  docker/kafka/templates/debian11/source_code.txt
  docker/kafka/templates/exporter/Dockerfile.template
  docker/kafka/versions.yaml
Labels: kind/docker, ospo-approved

#2612 [gogs] Docker images updates - 2024-01-31-104633
  docker/gogs/0/debian11/0.13/Dockerfile
  docker/gogs/0/debian11/0.13/components.csv
  docker/gogs/0/debian11/0.13/source_code.txt
  docker/gogs/templates/0.12/app.ini.env
  docker/gogs/templates/0.13/Dockerfile.template
  docker/gogs/templates/0.13/entrypoint.sh
  docker/gogs/templates/0.13/run_test.sh
  docker/gogs/templates/Dockerfile.template
  docker/gogs/templates/app.ini.env
  docker/gogs/templates/components.csv
  docker/gogs/templates/entrypoint.sh
  docker/gogs/templates/run_test.sh
  docker/gogs/templates/source_code.txt
  docker/gogs/versions.yaml
Labels: kind/docker, ospo-approved

#2610 [gitea] Docker images updates - 2024-01-31-104623
  docker/gitea/1/debian11/1.19/Dockerfile
  docker/gitea/1/debian11/1.19/components.csv
  docker/gitea/1/debian11/1.19/source_code.txt
  docker/gitea/1/debian11/1.21/Dockerfile
  docker/gitea/1/debian11/1.21/components.csv
  docker/gitea/1/debian11/1.21/source_code.txt
  docker/gitea/templates/Dockerfile.template
  docker/gitea/templates/components.csv
  docker/gitea/templates/source_code.txt
  docker/gitea/versions.yaml
Labels: kind/docker, ospo-approved

#2609 [falco] Docker images updates - 2024-01-31-104550
  docker/falco/0/debian11/0.34/Dockerfile
  docker/falco/0/debian11/0.34/components.csv
  docker/falco/0/debian11/0.34/source_code.txt
  docker/falco/0/debian11/0.36/Dockerfile
  docker/falco/0/debian11/0.36/components.csv
  docker/falco/0/debian11/0.36/docker-entrypoint.sh
  docker/falco/0/debian11/0.36/source_code.txt
  docker/falco/exporter/Dockerfile
  docker/falco/templates/Dockerfile.template
  docker/falco/templates/components.csv
  docker/falco/templates/exporter/Dockerfile.template
  docker/falco/templates/source_code.txt
  docker/falco/versions.yaml
Labels: kind/docker, ospo-approved

#2617 [nuclio] Docker images updates - 2024-01-31-104826
  docker/nuclio/1/debian11/nuclio-controller/1.13/Dockerfile
  docker/nuclio/1/debian11/nuclio-dashboard/1.11/Dockerfile
  docker/nuclio/1/debian11/nuclio-dashboard/1.13/Dockerfile
  docker/nuclio/1/debian11/nuclio-dashboard/1.13/components.csv
  docker/nuclio/1/debian11/nuclio-dashboard/1.13/source_code.txt
  docker/nuclio/templates/nuclio_controller/Dockerfile.template
  docker/nuclio/templates/nuclio_dashboard/Dockerfile.template
  docker/nuclio/templates/nuclio_dashboard/components.csv
  docker/nuclio/templates/nuclio_dashboard/source_code.txt
  docker/nuclio/versions.yaml
Labels: kind/docker, ospo-approved

#2623 Docker - Dragonfly version updated to 2.1.34
  docker/dragonfly/2/debian11/2.1/dragonfly-dfget2/Dockerfile
  docker/dragonfly/2/debian11/2.1/dragonfly-manager2/Dockerfile
  docker/dragonfly/2/debian11/2.1/dragonfly-manager2/components.csv
  docker/dragonfly/2/debian11/2.1/dragonfly-manager2/source_code.txt
  docker/dragonfly/2/debian11/2.1/dragonfly-scheduler2/Dockerfile
  docker/dragonfly/2/debian11/2.1/dragonfly-seed-peer2/Dockerfile
  docker/dragonfly/templates/dragonfly-dfget2/Dockerfile.template
  docker/dragonfly/templates/dragonfly-manager2/Dockerfile.template
  docker/dragonfly/templates/dragonfly-manager2/components.csv
  docker/dragonfly/templates/dragonfly-manager2/source_code.txt
  docker/dragonfly/templates/dragonfly-scheduler2/Dockerfile.template
  docker/dragonfly/templates/dragonfly-seed-peer2/Dockerfile.template
  docker/dragonfly/tests/functional_tests/manager_test.yaml
  docker/dragonfly/tests/functional_tests/seed-peer_test.yaml
  docker/dragonfly/versions.yaml
Labels: kind/docker, ospo-wip

#2639 K8s - Upgrade Apps
  k8s/argo-workflows/Makefile
  k8s/django/Makefile
  k8s/drupal/Makefile
  k8s/gogs/Makefile
  k8s/kafka/Makefile
Labels: kind/vm, kind/k8s

#2640 Docker - Airflow - Fix dependency for 2.8.2
  docker/airflow/2/debian11/2.6/Dockerfile
  docker/airflow/2/debian11/2.6/scripts/docker/install_airflow.sh
  docker/airflow/2/debian11/2.8/Dockerfile
  docker/airflow/2/debian11/2.8/scripts/docker/install_airflow.sh
  docker/airflow/templates/Dockerfile.template
  docker/airflow/templates/scripts/docker/install_airflow.sh
Labels: kind/docker

#2641 K8s - Airflow - Upgrade to 2.8
  k8s/airflow/Makefile
  k8s/airflow/apptest/tester/tests/apache-airflow.yaml
Labels: kind/vm, kind/k8s

#2645 K8s - Falco - Upgrade to 0.36
  k8s/falco/Makefile
  k8s/falco/apptest/tester/tests/basic-suite.yaml
Labels: kind/k8s

#2644 K8s - Gitea - Upgrade to 1.21
  k8s/gitea/Makefile
  k8s/gitea/chart/gitea/templates/gitea-secrets.yaml
  k8s/gitea/chart/gitea/templates/gitea-statefulset.yaml
Labels: kind/k8s

#2646 k8s - Spark updated to track 3.5
  k8s/spark/Makefile
Labels: kind/k8s

#2643 k8s - Solr updated to track 9.5
  k8s/solr/Makefile
  k8s/solr/apptest/tester/tests/solrCloud-test.yaml
  k8s/solr/chart/solr/templates/zk-statefulset.yaml
Labels: kind/k8s
