Repository GoogleCloudPlatform/click-to-deploy, pull requests merged in 2024-09, with the labels that each got.

#2729 Docker - Gitea - BUMP to version 1.22 & Debian updated to debian12
  docker/gitea/1/debian12/1.19/Dockerfile
  docker/gitea/1/debian12/1.19/components.csv
  docker/gitea/1/debian12/1.19/source_code.txt
  docker/gitea/1/debian12/1.22/Dockerfile
  docker/gitea/1/debian12/1.22/components.csv
  docker/gitea/1/debian12/1.22/source_code.txt
  docker/gitea/templates/Dockerfile.template
  docker/gitea/versions.yaml
Labels: kind/docker

#2732 Docker - cert-manager - Bump to 1.15
  docker/cert-manager/1/debian11/1.13/Dockerfile
  docker/cert-manager/1/debian11/1.13/components.csv
  docker/cert-manager/1/debian11/1.13/download-licenses.sh
  docker/cert-manager/1/debian12/1.15/Dockerfile
  docker/cert-manager/1/debian12/1.15/components.csv
  docker/cert-manager/1/debian12/1.15/download-licenses.sh
  docker/cert-manager/templates/cert-manager1/Dockerfile.template
  docker/cert-manager/versions.yaml
Labels: kind/docker

#2727 K8s - MariaDB and MariaDB Galera - Bump to 11.5
  k8s/MARKETPLACE_TOOLS_TAG
  k8s/mariadb-galera/Makefile
  k8s/mariadb-galera/chart/mariadb-galera/templates/statefulset.yaml
  k8s/mariadb/Makefile
  k8s/mariadb/chart/mariadb/templates/mariadb-primary.yaml
  k8s/mariadb/chart/mariadb/templates/mariadb-secondaries.yaml
  k8s/mariadb/chart/mariadb/templates/mariadb-secrets.yaml
Labels: kind/k8s

#2735 K8s - WordPress - Bump to 6.6 and MariaDB 11
  k8s/wordpress/Makefile
  k8s/wordpress/README.md
  k8s/wordpress/apptest/deployer/wordpress/templates/tester.yaml
  k8s/wordpress/apptest/tester/tests/common/db-suite.yaml
  k8s/wordpress/chart/wordpress/templates/_helpers/pods.tpl
  k8s/wordpress/chart/wordpress/templates/mariadb-secrets.yaml
  k8s/wordpress/chart/wordpress/templates/mariadb-services.yaml
  k8s/wordpress/chart/wordpress/templates/mariadb-statefulset.yaml
  k8s/wordpress/chart/wordpress/templates/wordpress-statefulset.yaml
  k8s/wordpress/scripts/backup.sh
  k8s/wordpress/scripts/restore.sh
Labels: kind/k8s, documentation

#2733 K8s - Cert-Manager - Bump to 1.15
  k8s/cert-manager/Makefile
Labels: kind/k8s, kind/docker

#2730 Docker - Gitlab - BUMP to 17.3.1 & debian updated to debian12
  docker/gitlab/17/debian12/17.3/Dockerfile
  docker/gitlab/17/debian12/17.3/assets/generate-release
  docker/gitlab/17/debian12/17.3/assets/gitlab.rb
  docker/gitlab/17/debian12/17.3/assets/gitlab_sysctl.rb
  docker/gitlab/17/debian12/17.3/assets/setup
  docker/gitlab/17/debian12/17.3/assets/sshd_config
  docker/gitlab/17/debian12/17.3/assets/update-permissions
  docker/gitlab/17/debian12/17.3/assets/wrapper
  docker/gitlab/tests/functional_tests/health_test.yaml
  docker/gitlab/versions.yaml
Labels: kind/docker

#2737 Docker - Superset - Bump to 4.0
  docker/superset/2/debian11/2.1/Dockerfile
  docker/superset/2/debian11/2.1/docker-entrypoint.sh
  docker/superset/2/debian11/2.1/requirements.txt
  docker/superset/3/debian11/3.0/docker-entrypoint.sh
  docker/superset/3/debian11/3.0/requirements.txt
  docker/superset/4/debian12/4.0/Dockerfile
  docker/superset/4/debian12/4.0/docker-entrypoint.sh
  docker/superset/exporter/Dockerfile
  docker/superset/templates/2/Dockerfile.template
  docker/superset/templates/2/requirements.txt
  docker/superset/templates/3/requirements.txt
  docker/superset/templates/4/Dockerfile.template
  docker/superset/templates/4/docker-entrypoint.sh
  docker/superset/tests/functional_tests/running_test.yaml
  docker/superset/versions.yaml
Labels: kind/docker

#2736 K8s - RabbitMQ - Bump to 3.13
  k8s/rabbitmq/Makefile
  k8s/rabbitmq/schema.yaml
Labels: kind/k8s

#2739 Docker - Superset - Add statsd exporter
  docker/superset/4/debian12/4.0/Dockerfile
  docker/superset/templates/4/Dockerfile.template
Labels: kind/k8s, kind/docker

#2741 Docker - Spark - Bump to 3.5
  docker/spark/3/debian11/3.5/Dockerfile
  docker/spark/3/debian11/3.5/metrics.properties
  docker/spark/3/debian11/3.5/start-spark.sh
  docker/spark/3/debian11/3.5/supervisor.conf
  docker/spark/3/debian11/3.5/test_job.py
  docker/spark/3/debian12/3.5/Dockerfile
  docker/spark/3/debian12/3.5/metrics.properties
  docker/spark/3/debian12/3.5/start-spark.sh
  docker/spark/3/debian12/3.5/supervisor.conf
  docker/spark/3/debian12/3.5/test_job.py
  docker/spark/templates/3/Dockerfile.template
  docker/spark/versions.yaml
Labels: kind/docker

#2743 Docker - Spark - Upgrade Zookeeper
  docker/spark/3/debian12/3.5/Dockerfile
  docker/spark/templates/3/Dockerfile.template
Labels: kind/docker

#2744 K8s - Spark - Update metrics driver to gcp logging
  k8s/spark/Makefile
Labels: kind/k8s

#2745 Docker - Gitea - BUMP to version 1.22.2
  docker/gitea/1/debian12/1.19/Dockerfile
  docker/gitea/1/debian12/1.19/components.csv
  docker/gitea/1/debian12/1.19/source_code.txt
  docker/gitea/versions.yaml
Labels: kind/docker

#2747 K8s - PostgreSQL - Bump to 16.4
  k8s/postgresql/Makefile
Labels: kind/k8s

#2748 K8s - Superset - Bump dependencies
  k8s/superset/Makefile
Labels: kind/k8s

#2749 K8s - Cassandra - BUMP to 4.1.5 and Metrics_Exporter t v0.9.2
  k8s/cassandra/Makefile
Labels: kind/k8s

#2750 K8s - Cassandra - Metrics_Exporter updated to v0.11.1-gke.1
  k8s/cassandra/Makefile
Labels: kind/k8s

#2742 Bump Kafka to 3.7.0 and Exporter to 1.8.0
  docker/kafka/3/debian12/3.6/Dockerfile
  docker/kafka/3/debian12/3.6/components.csv
  docker/kafka/3/debian12/3.6/scripts/create-message-topic-test.sh
  docker/kafka/3/debian12/3.6/scripts/create-topics.sh
  docker/kafka/3/debian12/3.6/scripts/docker-entrypoint.sh
  docker/kafka/3/debian12/3.6/scripts/overrides/0.9.0.1.sh
  docker/kafka/3/debian12/3.6/scripts/start-kafka.sh
  docker/kafka/3/debian12/3.6/scripts/versions.sh
  docker/kafka/3/debian12/3.6/source_code.txt
  docker/kafka/3/debian12/3.7/Dockerfile
  docker/kafka/3/debian12/3.7/components.csv
  docker/kafka/3/debian12/3.7/scripts/create-message-topic-test.sh
  docker/kafka/3/debian12/3.7/scripts/create-topics.sh
  docker/kafka/3/debian12/3.7/scripts/docker-entrypoint.sh
  docker/kafka/3/debian12/3.7/scripts/overrides/0.9.0.1.sh
  docker/kafka/3/debian12/3.7/scripts/start-kafka.sh
  docker/kafka/3/debian12/3.7/scripts/versions.sh
  docker/kafka/3/debian12/3.7/source_code.txt
  docker/kafka/exporter/Dockerfile
  docker/kafka/templates/exporter/Dockerfile.template
  docker/kafka/templates/kafka/Dockerfile.template
  docker/kafka/templates/kafka/components.csv
  docker/kafka/templates/kafka/scripts/create-message-topic-test.sh
  docker/kafka/templates/kafka/scripts/create-topics.sh
  docker/kafka/templates/kafka/scripts/docker-entrypoint.sh
  docker/kafka/templates/kafka/scripts/overrides/0.9.0.1.sh
  docker/kafka/templates/kafka/scripts/start-kafka.sh
  docker/kafka/templates/kafka/scripts/versions.sh
  docker/kafka/templates/kafka/source_code.txt
  docker/kafka/tests.sh
  docker/kafka/versions.yaml
Labels: kind/k8s, kind/docker

#2752 K8s - Kafka - Update to 3.8
  k8s/kafka/Makefile
Labels: kind/k8s

#2753 K8s - Superset - Bump redis-exporter to 0.63
  k8s/superset/Makefile
Labels: kind/k8s

#2755 Docker - Gitea - Add git
  docker/gitea/1/debian12/1.22/Dockerfile
  docker/gitea/templates/Dockerfile.template
Labels: kind/docker

#2756 K8s - Gitea - BUMP to 1.22
  k8s/gitea/Makefile
Labels: kind/k8s

#2757 K8s - Solr - BUMP to version 9.6
  k8s/solr/Makefile
Labels: kind/k8s

#2754 K8s - NGINX - Bump exporter to 1.3
  k8s/nginx/Makefile
Labels: kind/k8s

#2759 Docker - Zookeeper - Bump to 3.8.4 and Debian 12
  docker/zookeeper/3/debian12/3.8/Dockerfile
  docker/zookeeper/3/debian12/3.8/components.csv
  docker/zookeeper/3/debian12/3.8/docker-entrypoint.sh
  docker/zookeeper/3/debian12/3.8/source_code.txt
  docker/zookeeper/exporter/Dockerfile
  docker/zookeeper/templates/zookeeper/Dockerfile.template
  docker/zookeeper/templates/zookeeper/components.csv
  docker/zookeeper/templates/zookeeper/docker-entrypoint.sh
  docker/zookeeper/templates/zookeeper/source_code.txt
  docker/zookeeper/versions.yaml
Labels: kind/docker

#2760 K8s - Kafka - Bump exporter to 1.8
  k8s/kafka/Makefile
Labels: kind/k8s

#2761 K8s - Etcd - BUMP to 3.5.15
  k8s/etcd/Makefile
Labels: kind/k8s

#2758 K8s - Cassandra - Increased readiness probe values
  k8s/cassandra/chart/cassandra/templates/cassandra-statefulset.yaml
Labels: kind/k8s

#2762 K8s - Prometheus - Bump dependencies and prometheus to 2.54
  k8s/prometheus/Makefile
Labels: kind/k8s

#2763 Docker - Argo-Workflows - Bump to 3.5.10
  docker/argo-workflows/3/debian11/3.5/Dockerfile
  docker/argo-workflows/3/debian11/3.5/components.csv
  docker/argo-workflows/3/debian11/3.5/docker-entrypoint.sh
  docker/argo-workflows/3/debian11/3.5/source_code.txt
  docker/argo-workflows/3/debian12/3.5/Dockerfile
  docker/argo-workflows/3/debian12/3.5/components.csv
  docker/argo-workflows/3/debian12/3.5/docker-entrypoint.sh
  docker/argo-workflows/3/debian12/3.5/source_code.txt
  docker/argo-workflows/templates/Dockerfile.template
  docker/argo-workflows/versions.yaml
Labels: kind/docker

#2765 K8s - Argo Workflows - Bump dependencies
  k8s/argo-workflows/Makefile
Labels: kind/k8s

#2766 K8s - Joomla - BUMP to version 4.4
  k8s/joomla/Makefile
  k8s/joomla/chart/joomla/templates/mariadb-statefulset.yaml
Labels: kind/k8s

#2767 Docker - Prometheus-operator - BUMP to 0.77.1 and debian12
  docker/prometheus-operator/0/debian12/0.69/Dockerfile
  docker/prometheus-operator/0/debian12/0.77/Dockerfile
  docker/prometheus-operator/versions.yaml
Labels: kind/docker

#2768 K8s - Prometheus-operator - BUMP to track 0.77
  k8s/prometheus-operator/Makefile
Labels: kind/k8s

#2769 Docker - Harbor - BUMP to version 2.11.1
  docker/harbor/2/debian11/2.10/Dockerfile
  docker/harbor/2/debian11/2.7/Dockerfile
  docker/harbor/2/debian12/2.11/Dockerfile
  docker/harbor/2/debian12/2.7/Dockerfile
  docker/harbor/versions.yaml
Labels: kind/docker
