Repository GoogleCloudPlatform/click-to-deploy, pull requests merged in 2024-07, with the labels that each got.

#2668 VM - Redmine - Bump to 5.1.2 and Ruby 3.2
  vm/chef/cookbooks/redmine/attributes/default.rb
  vm/chef/cookbooks/redmine/recipes/default.rb
  vm/chef/cookbooks/redmine/recipes/ospo.rb
Labels: kind/vm

#2679 VM - Redmine and Ghost - Fixes for upgrades
  vm/chef/cookbooks/ghost/attributes/default.rb
  vm/chef/cookbooks/ghost/files/ghost
  vm/chef/cookbooks/ghost/recipes/default.rb
  vm/chef/cookbooks/redmine/files/redmine-startup
  vm/chef/cookbooks/redmine/recipes/default.rb
Labels: kind/vm

#2709 VM - Apache2 - licenses and source-code added into the image
  vm/chef/cookbooks/apache2/metadata.rb
  vm/chef/cookbooks/apache2/recipes/default.rb
  vm/chef/cookbooks/apache2/recipes/ospo.rb
Labels: kind/vm, ospo-wip

#2657 VM - Solr - Bump version to 9.5.0
  vm/chef/cookbooks/solr/attributes/default.rb
  vm/chef/cookbooks/solr/metadata.rb
  vm/chef/cookbooks/solr/recipes/default.rb
  vm/chef/cookbooks/solr/recipes/ospo.rb
Labels: kind/vm, ospo-wip

#2710 VM - Rabittmq - license and source-code added into the image
  vm/chef/cookbooks/rabbitmq/metadata.rb
  vm/chef/cookbooks/rabbitmq/recipes/default.rb
  vm/chef/cookbooks/rabbitmq/recipes/ospo.rb
Labels: kind/vm, ospo-wip

#2387 VM - Zabbix - Setup sftp-server after openssh upgrade
  vm/chef/cookbooks/openssh/files/default/upgrade-openssh.sh
Labels: kind/vm, kind/docker

#2708 VM - Erpnext - licenses and source-code added into the image
  vm/chef/cookbooks/erpnext/metadata.rb
  vm/chef/cookbooks/erpnext/recipes/default.rb
  vm/chef/cookbooks/erpnext/recipes/ospo.rb
Labels: kind/vm, ospo-wip
