Repository GoogleCloudPlatform/click-to-deploy, pull requests merged in 2025-01, with the labels that each got.

#2831 VM - Upgrade marketplace-vm-imagebuilder to v0.1.12
  vm/IMAGEBUILDER_TAG
Labels: kind/vm

#2814 K8s - Add annotation support for k8s containers
  k8s/app_v2.Makefile
  k8s/c2d_deployer.Makefile
  k8s/wordpress/Makefile
  k8s/wordpress/apptest/tester/Dockerfile
Labels: kind/k8s

#2834 K8s - Allow crane binary to be set
  cloudbuild-k8s.yaml
  k8s/c2d_deployer.Makefile
  k8s/wordpress/Makefile
Labels: kind/k8s

#2835 K8s - ActiveMQ - Add annotations
  k8s/activemq/Makefile
  k8s/activemq/apptest/tester/Dockerfile
Labels: kind/k8s

#2837 K8s - Argo-Workflows - Add annotations
  k8s/argo-workflows/Makefile
  k8s/argo-workflows/apptest/tester/Dockerfile
Labels: kind/k8s

#2839 K8s - Cert-Manager - Add annotations
  k8s/cert-manager/Makefile
  k8s/cert-manager/apptest/tester/Dockerfile
Labels: kind/k8s

#2840 K8s - Consul - Add annotations
  k8s/consul/Makefile
  k8s/consul/apptest/tester/Dockerfile
Labels: kind/k8s

#2809 K8s - Set up crane
  k8s/c2d_deployer.Makefile
Labels: kind/vm, kind/k8s

#2842 K8s - Django - Add annotations
  k8s/django/Makefile
  k8s/django/apptest/tester/Dockerfile
Labels: kind/k8s

#2843 K8s - Drupal - Add annotations
  k8s/drupal/Makefile
  k8s/drupal/apptest/tester/Dockerfile
  k8s/drupal/apptest/tester/tests/common/drupal-suite.yaml
  k8s/drupal/apptest/tester/tests/external/drupal-external-suite.yaml
  k8s/drupal/chart/drupal/templates/drupal-statefulset.yaml
  k8s/drupal/chart/drupal/templates/mariadb-secret.yaml
  k8s/drupal/chart/drupal/templates/mariadb-statefulset.yaml
Labels: kind/k8s

#2845 K8s - Falco - Add annotations
  k8s/falco/Makefile
  k8s/falco/apptest/tester/Dockerfile
  k8s/falco/apptest/tester/tests/basic-suite.yaml
Labels: kind/k8s

#2846 K8s - Gitea - Add annotations
  k8s/gitea/Makefile
  k8s/gitea/apptest/tester/Dockerfile
Labels: kind/k8s

#2848 K8s - InfluxDB - Add annotations
  k8s/influxdb/Makefile
  k8s/influxdb/apptest/tester/Dockerfile
Labels: kind/k8s

#2851 K8s - Joomla - Add annotations
  k8s/joomla/Makefile
  k8s/joomla/apptest/tester/Dockerfile
Labels: kind/k8s

#2853 K8s - MariaDB - Add annotations
  k8s/mariadb/Makefile
  k8s/mariadb/apptest/tester/Dockerfile
Labels: kind/k8s

#2857 K8s - Prometheus - Add annotations
  k8s/prometheus/Makefile
  k8s/prometheus/apptest/tester/Dockerfile
Labels: kind/k8s

#2860 K8s - Solr - Add annotations
  k8s/solr/Makefile
  k8s/solr/apptest/tester/Dockerfile
Labels: kind/k8s

#2861 K8s - Spark - Add annotations
  k8s/spark/Makefile
  k8s/spark/apptest/tester/Dockerfile
Labels: kind/k8s

#2855 K8s - NGINX - Add annotations
  k8s/nginx/Makefile
  k8s/nginx/apptest/tester/Dockerfile
Labels: kind/k8s

#2856 K8s - PostgreSQL - Add annotations
  k8s/postgresql/Makefile
  k8s/postgresql/apptest/tester/Dockerfile
Labels: kind/k8s

#2838 K8s - Cassandra - Add annotations
  k8s/cassandra/Makefile
  k8s/cassandra/apptest/tester/Dockerfile
  k8s/cassandra/apptest/tester/tests/basic-suite.yaml
Labels: kind/k8s

#2852 K8s - Kafka - Add annotations
  k8s/kafka/Makefile
  k8s/kafka/apptest/tester/Dockerfile
Labels: kind/k8s

#2858 K8s - Prometheus Operator - Add annotations
  k8s/prometheus-operator/Makefile
  k8s/prometheus-operator/apptest/tester/Dockerfile
Labels: kind/k8s

#2859 K8s - RabbitMQ - Add annotations
  k8s/rabbitmq/Makefile
  k8s/rabbitmq/apptest/tester/Dockerfile
Labels: kind/k8s

#2717 Fix workflow permissions
  .github/workflows/label.yml
Labels: kind/k8s, documentation

#2849 K8s - Jaeger Operator - Add annotations
  k8s/jaeger-operator/Makefile
  k8s/jaeger-operator/apptest/tester/Dockerfile
Labels: kind/k8s

#2844 K8s - etcd - Add annotations
  k8s/etcd/Makefile
  k8s/etcd/apptest/tester/Dockerfile
  k8s/etcd/chart/etcd/templates/statefulset.yaml
Labels: kind/k8s

#2847 K8s - Gitlab - Add annotations
  k8s/gitlab/Makefile
  k8s/gitlab/apptest/tester/Dockerfile
Labels: kind/k8s

#2650 Docker - Jaeger-Operator - Add annotations
  docker/jaeger-operator/versions.yaml
Labels: kind/k8s, kind/docker

#2870 K8s - Jaeger-Operator - Bump to 1.53
  k8s/jaeger-operator/Makefile
  k8s/jaeger-operator/apptest/tester/tests/basic-suite.yaml
Labels: kind/k8s

#2871 K8s - Falco - Bump exporter to 0.8
  k8s/falco/Makefile
Labels: kind/k8s

#2868 K8s - Django - Bump to 5.1 and nginx-exporter to 1.3
  k8s/django/Makefile
  k8s/django/chart/django/templates/django-statefulset.yaml
Labels: kind/k8s

#2850 K8s - Jenkins - Add annotations
  k8s/jenkins/Makefile
  k8s/jenkins/apptest/tester/Dockerfile
Labels: kind/k8s

#2714 K8s - Jenkins - Indicate minor version
  k8s/jenkins/Makefile
Labels: kind/vm, kind/k8s
